[2018-11-23 15:16] NatoBoram commented on #688
It's also missing support for `$IPFS_PATH` when creating its node via the snap package in [untagged-ceae97a7f71f0f172c01](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/untagged-ceae97a7f71f0f172c01).

[2018-11-23 16:01] NatoBoram opened #707 "Add package-lock.json to .gitignore"
When cloning the app, it seems like `package-lock.json` is present while it probably shouldn't, because it is changed when the package is built. It is a per-developer, developer-specific auto-generated file and should be discarded from the git repository.

As a side node, I think it would be appropriate to use [gitignore.io](https://www.gitignore.io/?templates=node,linux,macos,windows,visualstudio

[2018-11-23 19:59] phoniks commented on #601
This absolutely sounds like something I can tackle and I'd be really happy to be able to contribute. @olizilla I'll be on the lookout for that issue.  In the meantime, I'm going to follow @hacdias's instructions for enabling js-ipfs just to make sure I can get it running on my machine.

[2018-11-23 20:46] #650 closed

[2018-11-24 09:42] hacdias commented on #707
Hello @NatoBoram! Actually, `package-lock.json` was meant [to be committed into the repository](https://docs.npmjs.com/files/package-lock.json). It makes sure we all use the same version of each dependency.

[2018-11-24 09:46] hacdias commented on #680
I'll close this since the new version we're working on doesn't include this feature (it will be even better!).

[2018-11-24 09:46] #680 closed

[2018-11-24 09:46] #637 closed

[2018-11-24 09:47] hacdias commented on #637
We're now using the flag `--routing=dhtclient` by default to avoid consuming a lot of bw.

[2018-11-24 09:48] hacdias commented on #653
Closing in favour of #689 and #688

[2018-11-24 09:48] #653 closed

[2018-11-24 09:52] hacdias commented on #33
In a certain way added now. 😄

[2018-11-24 09:52] #33 closed

[2018-11-24 10:05] hacdias commented on #675
I'll close this as it is unrelated to the newer version we're working on. Thanks for checking @skomaromi!

[2018-11-24 10:05] #675 closed

[2018-11-24 10:19] hacdias commented on #689
@lidel I'm just unsure if this is an error of Desktop or an error or `js-ipfsd-ctl`. It seems the latter is having troubles recognizing the repository:

[2018-11-24 15:31] lidel opened #713 "Improve UX when $IPFS_PATH/api exists and API is offline"
The `$IPFS_PATH/api` file is used by a lot of developers to talk to remote nodes  (learning from ipfs-companion users). T

How to improve UX for "the API defined in `$IPFS_PATH/api` is offline" scenario?

Perhaps like this:

- IF `$IPFS_PATH/api` file exists and is different from the one in the `config` file
- AND IF multiaddr inside of `api` file points at remote API  which produces `ECONNREFUSED

[2018-11-24 16:36] NatoBoram commented on #707
I might be wrong, but it doesn't seem to work like that. Installing dependencies trough `npm i` changes `package-lock.json` and updates them.

![image](https://user-images.githubusercontent.com/10495562/48970652-f3fba900-efdc-11e8-8a6b-a59276238a82.png)

My guess would be that dependencies are supposed to be fixed inside `package.json` and there's nothing we can do about `package-lock.json`.

[2018-11-24 17:20] #688 closed

[2018-11-24 17:20] #689 closed

[2018-11-24 17:20] hacdias commented on #713
Reminder to self: https://github.com/ipfs-shipyard/ipfs-desktop/pull/711#pullrequestreview-178054088.

[2018-11-24 18:15] hacdias commented on #707
@NatoBoram if we use `npm ci` it will install the exact same dependencies without updating them: https://docs.npmjs.com/cli/ci. It's useful to use in test environments to make sure everything is the same.

[2018-11-25 00:57] lidel commented on #637
cc https://github.com/ipfs-shipyard/ipfs-webui/issues/848 in case someone experiences high bw usage when opening Web UI :)

[2018-11-25 01:12] lidel commented on #542
Obligatory disclaimer:

- In case someone notice "ipfs add" and "ipfs files write" commands return different CIDs –  [this is why](https://github.com/ipfs/support/issues/45#issuecomment-269296211) :)
- A lot changed since https://github.com/ipfs-shipyard/ipfs-desktop/issues/542#issuecomment-373913101: we switched Web UI to use `ipfs add && ipfs files cp` instead of `ipfs write`   (details: https:/

[2018-11-25 01:46] lidel commented on #700
I think we could try Jenkins (see the end of this comment) and if it does not work for us or require time commitment from infra team that blocks this endeavor then we could try Travis.

AFAIK in Travis we can configure secrets ourselves:

- People with admin privileges  to this repo (eg. me) will see the below form at https://travis-ci.org/ipfs-shipyard/ipfs-desktop/settings:

  - It enables us to

[2018-11-25 03:19] NatoBoram commented on #680
Oh! I'm looking forward for better ways to recognize my pins! :)

[2018-11-25 09:32] hacdias commented on #680
You'll be able to add as much files as you want! 😄

[2018-11-25 09:33] #676 closed

[2018-11-26 12:48] olizilla opened #714 "Add IPFS implementation selector to settings page"
We want to let users try out js-ipfs with the IPFS Desktop app, see:  #601

The main priority of IPFS Desktop is to provide a clear onboarding process for casual users, so v1 will ship with go-ipfs as the default implementation, but for those in the know, we can offer up a drop/down / select element in the IPFS Desktop settings page in the Web UI, see: https://github.com/ipfs-shipyard/ipfs-webui/p

[2018-11-26 12:50] olizilla commented on #714
@phoniks are you up for tackling this one? ✨ :shipit: ✨

[2018-11-26 15:33] lidel commented on #703
This should be fixed by https://github.com/ipfs-shipyard/ipfs-desktop/pull/709 – try the latest `master` :)

[2018-11-26 15:33] #703 closed

[2018-11-26 16:55] phoniks commented on #714
@olizilla - Stoked for the opportunity to pitch in.
@hacdias  - looking forward to your input.

I'll start with the implementing the toggle in webui and then work on the plumbing here in desktop.

[2018-11-26 17:43] hacdias commented on #714
Go ahead! If you need something, just ping me @phoniks 😄

@olizilla just a thought I have: right now, Web UI settings button is only active if the daemon is running and we have permission to access the configurations.

As time goes, Web UI's settings now also incorporate Desktop settings which will eventually get more robust and must be accessible even when the daemon is off.

We should think abou

[2018-11-27 01:06] waye750504 opened #715 "npm ERR from npm install"
Enviroment Setting :
ubuntu 18.04
NodeJs 11.2.0
Npm 6.4.1

Issud :

/bin/sh: 1: ipfs: not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! ipfs-desktop@1.0.0 build:webui:fetch-ipfs: `cross-env-shell "ipfs get $CID -o src/hooks/webui/app/"`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the ipfs-desktop@1.0.0 build:webui:fetch-ipfs script.
npm

[2018-11-27 01:09] phoniks commented on #714
@hacdias This is a pretty basic question, but how did you approach enabling the desktop options while you were developing the settings page in the webUI repo?  The two solutions I thought of were 1. commenting out the code that hides the component in SettingsPage.js, or 2. changing the fetch url for the desktop's web ui so that it fetches the development copy.  I figure you must have had this same

[2018-11-27 02:31] da2x opened #716 "Upgrade to ipfs-go 0.4.18"
The [ipfs-go 0.4.16 release](https://github.com/ipfs/go-ipfs/releases/tag/v0.4.18) was released 25 days ago and contains some interesting features like QUIC-support.

[2018-11-27 03:58] HelloWorldJackLiu commented on #703
@lidel
OK~Thanks!! :)

[2018-11-27 09:33] hacdias commented on #716
If you use the latest version from master, you'll have [go-ipfs 0.4.18](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/package.json#L88). We're planning the release soon!

[2018-11-27 09:33] #716 closed

[2018-11-27 13:06] rudgh1368 opened #718 "error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: linux
- **IPFS Desktop Version**: 3.0.10
- **Electron Version**: 3.0.10
- **Chrome Version**: 66.0.3359.181

**Error**

[code]

[2018-11-27 21:54] hacdias commented on #714
@phoniks to build the Web UI + Desktop together:

1. Clone `https://github.com/ipfs-shipyard/ipfs-webui` and `npm start` that
2. Replace `webui://-` by `http://localhost:3000` [here] (don't commit this line!)
3. Now `npm start` desktop

You'll probably also find interesting this [preload](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/src/hooks/webui/preload.js) file which is executed b

[2018-11-27 21:54] hacdias commented on #718
Closing in favor of #713

[2018-11-27 21:54] #718 closed

[2018-11-27 21:55] hacdias commented on #715
The error from `ipfs not found` is just a false alarm. Everything worked as expected. Although I've never seen `│ npm update check failed`. Is that the error you meant?

[2018-11-28 11:49] olizilla commented on #715
`npm update check failed` looks like an error occured while `npm` was checking to see if there is a newer version of `npm`.

@waye750504 I believe this error is an issue with `npm`. Try running the command suggested in the error:
[code]

[2018-11-28 12:08] olizilla commented on #707
The idea behind `package-lock.json` is to publish and share a complete dependency tree for the app between all developers. On a good day, running `npm i` from from a fresh clone should not cause any changes to the `package-lock.json`, but historically this has not always been true, particularly for deps that are platform specific.

I hear you @NatoBoram that it is suprising to find a file has been

[2018-11-28 13:23] olizilla opened #719 "Fix devtron app lint warnings"
I got [Devtron](https://electronjs.org/devtron) installed in the devtools of IPFS Desktop. To access it I had to:

- `npm i --save-dev devtron`
- Open the dev tools on the webui window and detach them, then close it... just to get the dev tools window to default to opening in detached mode.
- Use the keyboard shortcut to open the dev tools on the main menubar window. <kbd>⌥</kbd> + <kbd>⌘</kbd> +

[2018-11-28 13:28] olizilla opened #720 "Make external links open in the system browser."
It feel suprising that external links, to things like the go-ipfs github repo, open in another chromeless electron window. It would feel more natural if external links were opened in the default web browser for the system.

[2018-11-28 13:43] olizilla opened #721 "Can't use the app switcher to access IPFS Desktop"
Right now it's difficult to drag and drop files on IPFS desktop, as the app always runs in background, which is normal if it were just a menubar app. When the Web UI window is open, it would be useful to run it as a normal desktop app, so that we can use things like the macOS app switcher.

I want to tab to my OS file finder window, pick a selection of files, and drop them on the webui window, but

[2018-11-28 17:15] dfang opened #724 "npm start failed with Error: resource temporarily unavailable"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 3.0.10
- **Electron Version**: 3.0.10
- **Chrome Version**: 66.0.3359.181

**Error**

[code]

[2018-11-28 17:46] lidel commented on #724
hey @dfang I think the error is caused by a stale lockflile.

Automatic cleanup is being prepared in https://github.com/ipfs-shipyard/ipfs-desktop/pull/722 but until that lands, try:
- running `ipfs repo fsck`
- or manually removing `api` and `repo.lock` from your `$IPFS_PATH`

.. and starting ipfs-desktop again.

Let me know if this helped.

[2018-11-28 17:54] lidel commented on #713
(updated description to reflect what we learned during today's sync call)

[2018-11-30 00:18] #720 closed

[2018-11-30 18:31] phoniks commented on #714
Thanks @hacdias. Now, I'm facing something new, and it really just has to do with my ignorance about the underlying libraries. I'm at the point of trying to spawn a new daemon after the switch has been flipped and I realized that I'm not sure what I should provide as the path for the js implementation.  Would the same path work, and would it be preferable to reuse that directory (~/.ipfs)?  Is it

[2018-12-01 18:38] olizilla commented on #714
@phoniks good question! Yes `js-ipfs` is compatible with an `IPFS_HOME` directory created by `go-ipfs` if the default settings are used.`go-ipfs` supports some some experiemental features like using [BadgerDB as the data store](https://github.com/ipfs/go-ipfs/blob/2d94a3ffc8ec31abfbe17c68ce427406e4e7e707/docs/experimental-features.md#badger-datastore) that aren't compatible with `js-ipfs`, but apa

[2018-12-02 18:06] phoniks commented on #714
Thanks @olizilla that explanation really helped.  I thought for sure that figuring out that config variable
would be the last major hurdle toward completing this feature, but as it turns out I get an error whenever I pass a 'js' type in the createDaemon function and I'm not able to sort it out.  The error is:

`TypeError: Cannot read property 'config' of null
    at config (~/ipfs-desktop/src/util

[2018-12-02 20:32] phoniks commented on #714
Turns out it was a fairly obvious issue - the default flags being passed in to the ipfsd.start() call don't seem to be compatible with js-ipfs.  They were '--migrate=true' & '--routing=dhtclient'.  Not sure how these will affect node functionality, but now that I've got the this js node starting, I figure I'll just make a pull request and look for feedback on how these flags will affect the perfor

[2018-12-03 10:37] olizilla commented on #714
@phoniks good detective work! Please do open a PR, and you can put `wip:` at the start of the PR title so we all know it's a request for feedback. In general feel free to work through any ideas you have as  `wip` PRs.

[2018-12-04 10:27] olizilla opened #725 "Incorrect github alert for transitive dep on cryptiles"
The alert says we have an vulnrable version of cryptiles, but the fix for the issue has been backported and the CVE report has not been updated. The alert is outdated.

The alert: https://github.com/ipfs-shipyard/ipfs-desktop/network/alert/package-lock.json/cryptiles/open
The ipfsd-ctl issue:  https://github.com/ipfs/js-ipfsd-ctl/issues/312
and cryptiles PR where it is backported: https://github.c

[2018-12-05 11:19] olizilla opened #727 "Provide `ipfs` command line tools on install"
Atom.app provides the `apm` command when it is installed, as do many other apps. It would be rad if installing IPFS Desktop added the `ipfs` command to your PATH if it's not already present.

We already bundle the binaries, so it's just a matter of figuring out how to make them available.

[2018-12-05 11:37] lidel opened #728 "Remove the need for setting CORS headers"
## Summary

Right now IPFS Desktop is automatically adding CORS headers to `$IPFS_PATH/config`:

https://github.com/ipfs-shipyard/ipfs-desktop/blob/8f912ce816e2cd2e1c634fe8cdab54e2eb37cedf/src/utils/daemon.js#L59-L64

Without the above, Web UI won't load.
We should look into ways we can make it work without the need for touching `API.HTTPHeaders`, eg. see how IPFS Companion deals with the same pro

[2018-12-05 14:59] hacdias commented on #728
@olizilla perhaps we could make a proxy to communicate directly with the API on the main process and take advantage of the fact that IPFS Redux Bundle can use an `window.ipfs` object. Although, right now, [it is disabled in Web UI](https://github.com/ipfs-shipyard/ipfs-webui/blob/master/src/bundles/index.js#L27).

[2018-12-05 15:05] skomaromi opened #729 "Can't start on Ubuntu 18.10"
Fresh clone from GitHub, commit ```f06cc59```.

**Specifications**

- **OS**: linux
- **IPFS Desktop Version**: 3.0.10
- **Electron Version**: 3.0.10
- **Chrome Version**: 66.0.3359.181

**Error**

[code]

[2018-12-05 15:15] olizilla commented on #669
Updated this to 0.6 release. It sends a confusing signal to users if we say Desktop is 1.0 if it's using a sub 1.0 ipfs implementation.

[2018-12-05 15:17] olizilla commented on #50
WIP on adding spectron test in https://github.com/ipfs-shipyard/ipfs-desktop/pull/730

[2018-12-05 15:28] hacdias opened #732 "Remove React from the menubar"
As Oli said, probably the menubar would load faster without React. We used it initially because we thought we were going to have much more features embedded in the menubar itself.

[2018-12-05 15:37] lidel commented on #728
AFAIK Electron is using `postMessage`-like interface for communication between processes.
Take a look at [ipfs-postmsg-proxy](https://github.com/tableflip/ipfs-postmsg-proxy), it solves serialization issues in ipfs-companion around window.ipfs in page context talking to API running in separate webextension process.

[2018-12-05 16:11] hacdias commented on #668
Just as an update:

According to [Electron Build's Auto update page](https://www.electron.build/auto-update.html), they only support auto-update for these three formats (one for each major platform):

- macOS: DMG
- Linux: AppImage
- Windows: NSIS

[2018-12-05 17:34] lidel commented on #668
Sounds reasonable.
(Most of Linux distributions will want to maintain own package and install it via own package manager anyway)

[2018-12-07 07:56] Sarremans opened #735 "Crash on Raspberry pi 3"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: linux
- **IPFS Desktop Version**: 3.0.10
- **Electron Version**: 3.0.10
- **Chrome Version**: 66.0.3359.181

**Error**

[code]

[2018-12-07 15:46] hacdias commented on #729
Closing in favor of #713.

[2018-12-07 15:47] #729 closed

[2018-12-07 15:47] hacdias commented on #735
Closing in favor of #713

[2018-12-07 15:47] #735 closed

[2018-12-07 16:55] lidel commented on #642
Adding Tor support to IPFS Desktop is blocked by https://github.com/ipfs/notes/issues/37:

Then another security audit of ipfs-desktop itself needs to happen to ensure app-specific defaults don't cause leakage of private/identifiable information.

I would love to see Tor integration today, but this is too serious to ignore.

[2018-12-08 14:01] hacdias commented on #713
I believe we can close this now as #722 was closed!

[2018-12-09 18:50] lidel commented on #713
Just tested `master` @ 3b7c7812fa4ff717c4e16317ae6deefb5242c7e1  and having an empty `$IPFS_PATH` with `api` file alone produces this error:

[code]

[2018-12-09 19:01] lidel opened #739 "Improve UX when API port is already in use"
### Current State

If I already have something running on port `:5001` ipfs-desktop fails to start and generic error is displayed (3b7c7812fa4ff717c4e16317ae6deefb5242c7e1):

![2018-12-09--19-53-56](https://user-images.githubusercontent.com/157609/49701399-45ff1a00-fbec-11e8-9461-db9b792a6acd.png)

Actual error can be found in logs:
[code]

### Proposed Improvements

IPFS Desktop should detect `Er

[2018-12-09 22:45] hacdias commented on #713
@lidel that error might be caused [by this line](https://github.com/ipfs-shipyard/ipfs-desktop/commit/3b7c7812fa4ff717c4e16317ae6deefb5242c7e1#diff-3fb9ae4a7e04ebf3125d50d302b3531eR21) which will be removed as soon as the CORS PR (#738) is merged 😄 So it won't be a problem as we won't be testing the existence of any files.

[2018-12-12 20:38] david415 commented on #642
It is not correct to say that a security audit is needed before merging in the Tor integration code; please allow me to break down the reasoning behind my opinion in a way that is accessible to everyone and without using any meaningless vocabulary like opsec:

consideration 1: Traffic analysis resistance mechanisms such as Tor can under certain conditions prevent murders.

consideration 2: Traffic

[2018-12-13 23:48] hacdias commented on #728
Although our solution might not be considered perfect, we don't need to set the CORS headers anymore. I'm closing this!

[2018-12-13 23:48] #728 closed

[2018-12-14 01:20] lidel commented on #642
@david415 My intention was not to shut this discussion down, but to redirect it to the upstream issue (https://github.com/ipfs/notes/issues/37), where it could reach more people from go-ipfs team. If you read it the wrong way, I apologize (my English lacks finesse and I am guilty of using shortcut words).

To keep this on topic (desktop), and provide some missing context on this project:

IPFS Des

[2018-12-14 02:21] david415 commented on #642
Please take note that I can go back and forth like this forever. I have infinite patience for describing anonymity systems and having read and understood the academic literature. I might just be one of those rare individuals who can accurately describe how each traffic analysis resistance property is achieved.

It is not clear to me that you acknowledge that Tor integration immediately provides lo

[2018-12-14 09:33] hacdias opened #746 "ipfsd not stopped when quitting app from OS"
Yesterday I installed a binary with the latest version from master, on Windows, and I set it to startup on login. Since IPFS Desktop doesn't shutdown correctly when Windows turns off, I always get this message:

![image](https://user-images.githubusercontent.com/5447088/49991858-43008280-ff7a-11e8-8bb4-f0cbfef89e0b.png)

I didn't found, yet, a way to listen for Windows shutdown but there must be a

[2018-12-14 10:33] olizilla commented on #746
Also the app does not start cleanly after choosing the fsck option on osx. The menubar appears, but the node is displayed as offline. Quiting the app brings up the fsck dialog again, and then same proess repeats.

[2018-12-14 19:22] hacdias commented on #746
**NOTE TO SELF:** https://github.com/electron/electron/blob/master/docs/api/power-monitor.md

[2018-12-14 19:41] hacdias opened #749 "Screenshot doesn't work with multiple monitors"
Screenshots are not working on a multiple monitor setup. At least on Windows.

[2018-12-15 00:41] lidel opened #750 "2-3 mins before added content is reachable at public gateway"
@Gozala noticed UX issue with adding files via IPFS Desktop and trying to open them on the public gateway:
[code]

Still, regular user won't wait 2min for a cat picture to load :-)

Is there anything we can do to improve this and ensure content loads faster when added via  the GUI app?
My initial thought is to run async preload call after a file is added via IPFS Desktop.

[2018-12-15 00:45] Gozala commented on #750
Just to be clear I'm not sure if that's desktop issue or a network I'm on. Unfortunately I need to run now but I'll try to do some testing to see if there's any difference between desktop and plain go-ipfs, I'm inclined to think it's not the desktop issue.

[2018-12-17 10:01] hacdias commented on #746
So, there is no `shutdown` listener for Windows (see issue here: https://github.com/electron/electron/issues/12810). Will use it for Linux and macOS. For Windows I'll try to find a workaround.

[2018-12-17 10:18] olizilla commented on #750
@lidel i think this ties in with discussion around infra for the share app. https://github.com/ipfs/infra/issues/461#issuecomment-446685774

We could do more preloading, but I think we need to start with an agreement on what level of service is expected from the gateway nodes. I think we should push ahead with the ipfs-friends style reciprocal co-hosting ideas first.

I think this also highlights

[2018-12-17 10:43] hacdias opened #752 "Enable Auto Update before 0.6.0"
I disabled auto update checking on 1cfa4206673babba1b11d549cbc777e3909b04b4 because it was making Desktop startup fail since the latest available pre-release doesn't have a latest.yml file. We need to uncomment it before releasing 0.6.0.

[2018-12-17 10:45] hacdias commented on #746
### macOS and Linux

We can play with `shutdown` event from `PowerMonitor`. More info here: https://github.com/electron/electron/blob/master/docs/api/power-monitor.md#event-shutdown-linux-macos

### Windows

We can play with .NET code and make it listen for the shutdown event. There are libraries to include .NET code on Node.js such as [Edge](https://github.com/tjanczuk/edge).

---

I can work on

[2018-12-17 10:55] olizilla commented on #746
i'll experiement with the osx shutdown logic.

[2018-12-17 11:20] olizilla commented on #746
@hacdias before you get too deep into .NET code, have you tried listening to the `before-quit` event on windows?

[2018-12-17 11:23] olizilla opened #753 "Desktop ask to control System Events on macOS on first run"
On first run on macOS, we get this dialog

<img width="532" alt="screenshot 2018-12-17 at 11 22 13" src="https://user-images.githubusercontent.com/58871/50084194-063cc180-01ee-11e9-84fd-f1d53ce5357f.png">

We should see if we can remove the need for the System Events, as I don't think we're doing  anything that directly needs it.

[2018-12-17 11:36] olizilla commented on #746
i think the problem here is we can't guarantee that the ipfd will ever be shutdown cleanly. We should what we can to shut it down, but there will be times when it's just not possible.  Right now the `ipfs daemon` command will run just fine if there is an `api` file left over in the repo but ipfsd-ctl won't.

I think we have to go back to having desktop run some clean up logic if it finds the repo

[2018-12-17 11:51] olizilla commented on #746
Of note running `ipfs daemon` also works fine if there is a `repo.lock`  and  a `api` file  in the repo!

We should make ipfsd-ctl as robust as `ipfs  daemon` is!

[2018-12-17 12:10] olizilla commented on #746
@hacdias https://github.com/ipfs/js-ipfsd-ctl/issues/315 -  an issue for making ipfsd-ctl  as  robust as running `ipfs daemon` is. I think that would solve the core of our problem here.  We'd try and shutdown gracefully where possible, but the app should still start next time if we fail.

cc @lidel

[2018-12-17 14:13] hacdias commented on #746
@olizilla I think we should go for @Stebalien's proposal. I can work on adding that logic in Desktop. What do you think?

[2018-12-17 17:58] olizilla commented on #746
@hacdias yes, I think we should work around it for now. I think in the short term we have to deal with a either a repo.lock, an api file or both, so lets

- try to connect via ifpsd
- if it fails with an ECONNREFUSED
  - check if we've got an `api` file and no `version` file -> bail, as it's likely the user has a custom set up.
  - otherwise run ipfs repo fsk without prompting the user and try aga

[2018-12-18 04:46] Stebalien commented on #746
If it's not too much work, I believe this is the "most correct" approach as it will check if the repo is locked. `repo fsck` will remove the lockfile regardless.

[2018-12-18 08:40] hacdias commented on #746
@Stebalien @olizilla I wouldn't mind to run the daemon directly but it would feel that we're duplicating the logic os ipfsd-ctl when we could just fix the library.

[2018-12-18 08:49] hacdias commented on #753
Did you always get that or it was after a specific commit? On Windows it doesn't need any special permission. It doesn't even ask for Administrator permission unless you install it for the whole system.

[2018-12-18 09:10] olizilla commented on #746
Ipfsd-ctl deals with multiple configurations, so the change to add this feature to it needs some care. Please do create a PR to it you can see a clean way to add it. It may need an option to opt in to this behaviour or it might make more sense as a separate module that wraps ipfsd-ctl.

If that change proves more complicated, then it is fine for desktop to add a work atound; it's a more specific u

[2018-12-18 09:13] hacdias commented on #746
@olizilla I think for now it's better if we just do it here and see how https://github.com/ipfs/js-ipfsd-ctl/issues/315 goes. I can take a look at `ipfsd-ctl` afterwards. Altough, keep in mind the logic I'm writing

[2018-12-18 16:42] olizilla commented on #753
I get it when using desktop from the .dmg. I'll see what I can find out about it.

[2018-12-18 17:08] olizilla commented on #725
I've cleared the alert. This research is for posterity.

[2018-12-18 17:08] #725 closed

[2018-12-19 12:01] fsdiogo commented on #753
Before that I get this:
<img width="532" alt="oops" src="https://user-images.githubusercontent.com/33324750/50218408-c0b1fd00-0383-11e9-9256-423f6e5d671a.png">

We can easily open it by right-clicking the app icon on the `Applications` folder an click `Open`, but many people don't know about this.

Is there a plan to identify the app so the user doesn't get this?

[2018-12-19 12:03] hacdias commented on #753
@fsdiogo yes! https://github.com/ipfs-shipyard/ipfs-desktop/issues/66 😄

[2018-12-19 12:33] fsdiogo opened #756 "Menu bar always open in the main display"
In a dual display setup, the IPFS Desktop menu bar works great if clicked in the main display:

<img width="333" alt="main-monitor" src="https://user-images.githubusercontent.com/33324750/50220166-7c296000-0389-11e9-8a72-38f6c88d48a0.png">

But if clicked in the secondary display, it opens up in the main one, on the bottom right corner of the screen:

<img width="590" alt="second-monitor" src="htt

[2018-12-19 12:33] fsdiogo commented on #756
@hacdias can you check if this happens on windows too?

[2018-12-19 13:21] hacdias commented on #756
@fsdiogo those kind of icons (in the menubar) only show up on the main display on Windows so that problem doesn't exist here.

[2018-12-19 14:24] daviddias commented on #673
@hacdias drag and drop is not working for me on 0.6.0 pre-release. Was that feature removed?

[2018-12-19 15:01] fsdiogo commented on #756
Hmm, ok.. I'll take a look then!

[2018-12-19 15:02] lidel opened #757 "Snap install requires --dangerous flag"
Installs fine, but there is some metadata missing that triggers an error and needs to be bypassed with `--dangerous`:
[code]

[2018-12-19 15:20] lidel opened #758 "UX on Linux: needs additional click to access Web UI"
When I click on tray icon, a single-item context menu is displayed:

When I click on it the actual Menu opens as expected:

![2018-12-19_16-16](https://user-images.githubusercontent.com/157609/50228974-84919300-03a9-11e9-9fc9-8047fbff1f2a.png)
I've seen this glitch in past, but was fixed some time ago.
Not sure what could cause this.

@hacdias  Was electron version updated recently or something?
S

[2018-12-19 22:31] hacdias commented on #673
@daviddias yes, it was removed. But the steps to drag-n-drop are the same: open menubar -> Click on Files -> drop to the files window. The only difference is that the Files window is part of Web UI, hence separated from the main menubar window.

[2018-12-19 22:32] hacdias commented on #758
Not really sure if the version of Electron was updated. If comparing to 0.5.0, yes, it was updated. Although I've never heard of this issue before. When you click the first time the icons are colored or faded out?

[2018-12-20 09:40] hacdias commented on #757
Just a reference issue: https://github.com/electron-userland/electron-builder/issues/3187

[2018-12-20 11:05] #749 closed

[2018-12-20 12:32] olizilla commented on #756
related issue from deep history https://github.com/ipfs-shipyard/ipfs-desktop/issues/586

[2018-12-20 12:34] olizilla commented on #756
the fix for this will probably be in [hacdias/electron-menubar](https://github.com/hacdias/electron-menubar) https://github.com/hacdias/electron-menubar/issues/2

[2018-12-21 10:08] hacdias opened #762 "UX on Windows: needs additional click to navigate on Web UI"
When I open the Web UI and click on one of the menu options to navigate, I need to click it twice. Only happens on the first one:

![ex](https://user-images.githubusercontent.com/5447088/50337225-570f2b80-0508-11e9-98b8-5d03ccaabdfe.gif)

[2018-12-21 10:09] #724 closed

[2018-12-21 11:53] #752 closed

[2018-12-21 20:11] meiqimichelle commented on #753
+1 to @olizilla 's experience -- same thing happened to me, also downloaded as .dmg .

[2018-12-21 20:15] meiqimichelle commented on #756
Related, I expect. It's not that the menu always opens on the main display, but on my second screen it opens reliably on the left-middle.

![screenshot 2018-12-21 13 09 56](https://user-images.githubusercontent.com/4827522/50361845-68653180-0522-11e9-9e43-2fee2ec52ed4.png)

[2018-12-21 20:24] meiqimichelle opened #764 "Menubar icon disappears after 'turning off' IPFS"
I would have expected that there is a greyed-out menubar item that I could go to to fire up IPFS again, especially since the icon used in the interface is a "power button". Not sure if this is a bug, or expected behavior at the moment.

[2018-12-21 23:08] momack2 opened #765 "Improve UX for "auto add screenshot""
I love the auto-add screenshot function - but I think it could use some UX smoothing:
- When taking a screenshot, send a notification that users can click to see their screenshot in the desktop UI
- Right clicking a file in the desktop ui should also pop open it's option menu (to share, download, etc)
- Have a step between keyboard shortcut and selecting what to screenshot (full desktop, active wi

[2018-12-22 10:03] hacdias commented on #765
Hey @momack2! Glad you liked it and brought some feedback. I'm splitting this issue into two (this one here and https://github.com/ipfs-shipyard/ipfs-webui/issues/917 for Web UI's issues).

Yup, that can be done and I that was what was initially planned when this featured was introduced (like one year ago). But at the time there was a bug that didn't send notifications on Windows, but that is solv

[2018-12-22 10:04] hacdias commented on #764
Hey @meiqimichelle 😄 Right now, that's the expected behaviour. I wonder: why do you expect it to be greyed out instead of closing the app?

[2018-12-22 14:02] svitekpavel commented on #753
+1.

Also, from UX perspective the app is opened in background and put into Mac menu bar. However, the app in launch bar is not opened (there is not a dot under the icon - indicating the app is opened). I tried to open the app multiple times till I realised that I can access the app from menu bar. It would be great to see at least a message every time you try to open the app saying "IPFS Desktop i

[2018-12-22 14:09] svitekpavel opened #766 "Cannot use CMD+V shortcut to paste hash into QmHash field on top of app"
I tried using CMD+V shortcut to paste hash into the QmHash field on top of the application. The shortcut is not working however I have the value in clipboard (tried to paste in different apps).

The IPFS node is up and running and I am able to access sample hashes which are listed in the Explore section (Project Apollo Archives, An Ethereum Block, XKCD).

Expected behaviour:
Value from clipboard i

[2018-12-22 14:10] hacdias commented on #753
Well, we [only allow one instance at a time](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/src/index.js#L9-L18) and we tell the user if they try to launch Desktop more than one time. At least on Windows it is working, but I see macOS has different mechanisms. @olizilla @fsdiogo could you check that please?

[2018-12-22 14:13] hacdias commented on #766
Thanks @svitekpavel for this report. Hmm... this seems another macOS only issue. I can CTRL-V successfully on Windows.

@fsdiogo @olizilla could you check this one too, please? 😄

[2018-12-22 14:18] hacdias commented on #766
Some background/research info:
- https://github.com/electron/electron/issues/1902
- https://github.com/electron/electron/issues/916
- https://github.com/electron/electron/issues/3787

[2018-12-22 14:28] svitekpavel opened #767 ""Merkle Forest" link in Overview page changes the window content to Youtube"
**Description**
Open IPFS Desktop. Click on the "arrow" icon in top right corner, you are shown a "overview" page. You see a text "Connected to IPFS" and in a paragraph under this title you see text "Now, it's time to explore your node..."

There is a link "Merkle Forest" - a link to Youtube. The problem is that this link is opened directly in app window instead of opening Youtube in browser / sep

[2018-12-23 17:03] hacdias commented on #767
Thanks @svitekpavel! It will be fixed by #769

[2018-12-23 17:10] #767 closed

[2018-12-24 00:05] meiqimichelle commented on #764
Because all the other menubar apps I have do that /shrug -- I consider them all a 'quick launch' for that service.

[2018-12-24 00:07] meiqimichelle commented on #764
More detail...I *can* also quit all of them, but that is one of the options in the drop-down that always hangs around up there -- I have to do something extra to make it disappear from the menubar. So, in this case, if this is how I'm supposed to 'turn IPFS on and off', it seems like it would be much more convenient to access that from the menubar at any point. Otherwise, why *is* it a menubar app

[2018-12-24 19:14] TheChiefMeat commented on #767
I just installed the 0.6.0 pre-release, and all my preview gateway links still open up inside the IPFS Desktop application instead of opening instead my browser. I'm running on Windows 10.

[2018-12-25 01:04] TheChiefMeat commented on #767
@hacdias Ahh okay, no worries then. I think I'll install from source and try to find any bugs I can.

[2018-12-25 05:39] TheChiefMeat opened #772 "Black screenshots - master branch"
I just finished building the 0.6.0.exe from the master branch, and screenshots no longer work for me, I simply get black screenshots. I've tested this against the pre-release 0.6.0 build and screenshots work fine on that previous build.

Running Windows 10, dual monitors.

[2018-12-25 12:52] lidel commented on #724
@dfang this should be fixed in [v0.6.0](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.6.0)

[2018-12-25 18:03] hacdias commented on #772
Are you sure they work on pre-release 0.6.0 with **dual** monitors? Which OS are you using?

[2018-12-25 18:34] hacdias commented on #772
Oh, maybe something changed on Electron's API. The screenshot's code wasn't changed, but I updated the Electron version to 4.0. I'll check! THanks

[2018-12-25 18:42] TheChiefMeat commented on #772
No worries, I just did the exact same test on my other PC, Windows 10, dual monitors and the exact same issue is there; Black screenshots with master, fine on pre-release.

[2018-12-25 18:42] hacdias commented on #772
Yes, it doesn't need to be dual monitors. With a single one it doesn't work either. Nor CTRL-SHIFT-I shortcut...

[2018-12-26 09:31] hacdias commented on #772
@TheChiefMeat could you please check if #773 fixes the issue on your end?

[2018-12-26 09:55] TheChiefMeat commented on #772
Fixes it, well done :)

[2018-12-26 09:55] #772 closed

[2018-12-26 13:55] da2x opened #774 "600 peers, all locations are unknown"
Windows 10.1809, ipfs desktop 0.6.0

Every location is shown with a rainbow flag and “unknown”. I've currently got 600 peers.

The web UI does show locations for most peers.

[2018-12-27 03:14] da2x opened #776 "Crash when attempting to quit again"
1. Open the tray and click Quit
2. Wait, get impatient, reopen tray, and Quit again

Crash.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.6.0
- **Electron Version**: 3.0.13
- **Chrome Version**: 66.0.3359.181

**Error**

[code]

[2018-12-27 08:33] hacdias commented on #776
Hello @da2x! Sorry for hearing this. Did it ever started up IPFS? Was the logo glowing?

[2018-12-27 10:48] da2x commented on #776
@hacdias yes, I'd been using IPFS in the browser for a few hours. Then I wanted to quit the app (high CPU over several minutes). So opened the menu, clicked the quit icon, waited a minute, opened the menu again, and clicked quit again. The crash happen immediately following this. The state of IPFS was "exiting", so I don't really know whether it was running or not at the time.

[2019-01-02 10:31] chrisdbarnett opened #777 "App won't start"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: linux
- **IPFS Desktop Version**: 4.0.0
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

[2019-01-02 10:33] chrisdbarnett commented on #777
Never mind. Sorted. Quite obvious, already had node running in background hogging port 5001

[2019-01-02 10:33] chrisdbarnett commented on #777
Never mind. Sorted. Quite obvious, already had node running in background hogging port 5001

[2019-01-02 10:33] #777 closed

[2019-01-02 11:50] olizilla commented on #668
This was shipped in https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.6.0

This is based just on github releases and does includes a sha512 integrity check...

[code]

see: the `latest-osx.ym` file in https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.6.0

 @lidel could you raise a seperate issue for creating an independent IPFS based integrity check.

[2019-01-02 12:01] olizilla commented on #721
This is fixed in #760

[2019-01-02 12:01] #721 closed

[2019-01-02 14:57] olizilla commented on #774
Thanks for the heads up @da2x. The problem is in ipfs-geoip via ipfs-webui... https://github.com/ipfs/ipfs-geoip/issues/65

[2019-01-03 11:05] fsdiogo commented on #764
I agree with @meiqimichelle, that is the expected behaviour of menu bar apps in macOS.

[2019-01-03 11:33] olizilla commented on #774
Fix for this is on it's way https://github.com/ipfs/ipfs-geoip/pull/66

[2019-01-03 11:42] hacdias commented on #764
I also agree, that's how we worked previously.

Just a question: how do you exit a menubar app on macOS? Is there a right click menu?

[2019-01-03 12:06] fsdiogo commented on #764
Yes, there is a right-click:

![menu](https://user-images.githubusercontent.com/33324750/50636329-93517b80-0f4d-11e9-9f06-7901a7ad5a3d.gif)

[2019-01-03 12:11] hacdias commented on #764
@fsdiogo I think we can do that! It usually works the same way on Windows so I think it's a good bet

[2019-01-03 12:12] fsdiogo commented on #764
Agreed 👌

[2019-01-03 12:22] daviddias commented on #774
@olizilla merged and released https://github.com/ipfs/ipfs-geoip/pull/66 for you :)

[2019-01-03 12:32] daviddias commented on #774
Thank you for fixing it! :)

[2019-01-03 15:38] daviddias commented on #669
If helpful (aka not adding much more work for little benefit) consider proposing a timeline for the outstanding tasks and creating a pre-release test phase to ask our dearest community contributors to give it a spin.

[2019-01-03 15:50] #774 closed

[2019-01-03 15:54] hacdias commented on #679
I believe we should start by "Add to IPFS" from the Native File System. This effort (mainly Windows/macOS) should split around the team members who use which platform.

@olizilla I agree when you said the FUSE-mounting system is the most interesting. It is, but I think that an option to Add to IPFS fro the Native File Browser is simpler now. Although, by mounting it in the OS, the native file mana

[2019-01-03 15:56] hacdias commented on #700
Closing this as CI is set up.

[2019-01-03 15:56] #700 closed

[2019-01-03 16:01] hacdias commented on #663
@lockzero0 [we have a new release ready](https://github.com/ipfs-shipyard/ipfs-desktop/releases/latest)! Please try it out 😄

[2019-01-03 16:01] #663 closed

[2019-01-03 16:02] hacdias commented on #628
@magik6k could you test if you have this error with the [latest version](https://github.com/ipfs-shipyard/ipfs-desktop/releases/latest)?

[2019-01-03 16:03] hacdias commented on #54
We now have an automated release process. We just need Binary Signing (#66 #705). Closing this in favour of more up to date issues.

[2019-01-03 16:03] #54 closed

[2019-01-03 16:03] #693 closed

[2019-01-03 16:03] hacdias commented on #693
The new version has this error fixed 😄 Please try it out

[2019-01-03 16:11] hacdias commented on #529
@olizilla @fsdiogo @machawk1 ping 😄 Could one of you test if this is still happening?

[2019-01-03 16:17] machawk1 commented on #529
@hacdias I pulled, compiled, and ran the latest master 529a292bb32886caf9f170d161c11732b8970e3e .

I made sure to hide the menu bar per @whyrusleeping.

The positioning on macOS now seems correct.

![screen shot 2019-01-03 at 11 15 46 am](https://user-images.githubusercontent.com/2514780/50648397-1b815200-0f49-11e9-9df3-acbfce3c24b0.png)
![screen shot 2019-01-03 at 11 15 52 am](https://user-images

[2019-01-03 16:21] hacdias commented on #529
Thanks @machawk1! Closing this then 😄

[2019-01-03 16:21] machawk1 commented on #529
A quick followup. After writing the last comment, I relaunched using npm start and experienced some weird positioning behavior. This was tested on a two monitor setup with the left being vertically oriented.

@hacdias I would recommend not closing this issue just yet.

![screen shot 2019-01-03 at 11 19 54 am](https://user-images.githubusercontent.com/2514780/50648613-b2e6a500-0f49-11e9-8b4e-7180da

[2019-01-03 16:34] hacdias commented on #756
Ref: https://github.com/electron/electron/issues/13461

[2019-01-03 16:34] hacdias commented on #529
Ref.: https://github.com/electron/electron/issues/13461

[2019-01-03 16:48] hacdias commented on #668
@olizilla macOS auto updating won't work before #66

![image](https://user-images.githubusercontent.com/5447088/50650098-6fa32b00-0f77-11e9-8a2c-2cc883ebddaa.png)

[2019-01-03 17:11] hacdias commented on #668
Working on Windows

![image](https://user-images.githubusercontent.com/5447088/50651148-71222280-0f7a-11e9-86d9-c3582c4dc391.png)

Exited the app and relaunched it and there was the new version 😄

[2019-01-03 18:08] magik6k commented on #628
I'm assuming this should be done via the 'Files' screen. I can't add folders at all through there, it just fails with `Failed to add files to IPFS. Please try again.` - adding single file works fine. (running from source with `npm i` + `npm start`, node 11.5.0, npm 6.5.0)

[2019-01-04 10:35] jianhuaixie opened #780 "How to set the IPFS config in the source code"
I want to edit the source code to fix the IPFS config

[2019-01-06 16:25] #764 closed, assigned to hacdias

[2019-01-06 16:29] hacdias opened #781 "Clicking once on 'Quit' doesn't work"
Prior discussion: https://github.com/ipfs-shipyard/ipfs-desktop/pull/779#pullrequestreview-189448408

![image](https://user-images.githubusercontent.com/5447088/50738829-2c8fc480-11d0-11e9-90c5-f785d91d65ac.png)

It seems that we need to click twice on Linux to make it exit.

[2019-01-06 22:45] NatoBoram opened #782 "Add home and removable-media plug to the snap"
I launched IPFS-Desktop. At first I had plenty of errors, solved a bunch of them, but now I'm stuck.

Repo was probably migrated to badgerds at one point. `$IPFS_PATH` is set to `/mnt/HDD/IPFS`.

Permissions on `/mnt/HDD/IPFS` are the following :

[code]

A wild guess would be there's a problem with IPFS-Desktop's snap connections, preventing it from accessing user-defined `$IPFS_PATH`.

**Specifi

[2019-01-07 02:20] jianhuaixie commented on #780
I want to konw how to set the IPFS configuration in the source code.

[2019-01-07 04:30] da2x opened #783 "Self-destructed on auto-update from v0.6.0 to v0.6.1"
I just had v0.6.0 auto-upgrade to v0.6.1. Some unseemly terminal windows popped up on screen and disappeared almost immediately. The `resources` directory was removed during the update. The app is completely unusable after the update:

[code]

[2019-01-07 08:14] hacdias commented on #782
Hey! The user that's executing Desktop has permissions to access the repository?

[2019-01-07 08:33] hacdias commented on #780
We start the daemon using [IPFS Daemon Controller](https://github.com/ipfs/js-ipfsd-ctl) on [src/utils/daemon.js](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/src/utils/daemon.js). Not sure if it helps.

[2019-01-07 09:02] hacdias commented on #783
@da2x what OS are you using? It would be helpful to know. We're aware that it's working on Windows but not on macOS/Linux.

[2019-01-07 12:30] da2x commented on #783
This was on Windows 10.

[2019-01-07 14:42] hacdias commented on #783
That's strange. On my Windows 10 computer I received a notification saying the new version has been downloaded and that it would be installed after quitting the app. Then I closed the app, reopened, and there it was the new version. It didn't even show up any console window.

Did you also receive the notification?

[2019-01-07 14:45] hacdias opened #785 "Can't preview PDFs"
It seems that we can't preview PDFs inside Web UI on IPFS Desktop.

1. I tried activating the [plugins option](https://electronjs.org/docs/api/browser-window#new-browserwindowoptions) on Browser Window. That would also require changing `object` to `embed` on the PDF. I changed to `embed` and all I got was 'Couldn't load the plugin'.
2. Also tried `https://github.com/gerhardberger/electron-pdf-wind

[2019-01-07 14:54] da2x commented on #783
I didn’t receive any notifications, but I did indeed quit the app when the UAC dialog (unexpectedly, I might add) asked for permission to run an executable. I knew IPFS Desktop had recently added auto-update and I knew a new pre-release was out. I assumed that was what triggered the dialog.

The executable was unsigned so I could have run just about anything.

[2019-01-07 15:03] hacdias commented on #783
I didn't even get a UAC dialog. Which version were you using before?

[2019-01-07 16:32] hacdias commented on #678
![image](https://user-images.githubusercontent.com/5447088/50779933-9627d580-1299-11e9-8752-6177baf7fae3.png)

After searching, it seems somewhat easy to add a shortcut to both of those locations. Either 1 or 2. 2 is easier from my point of view, but hardest for a user to find.

It would call IPFS Desktop somewhat like:

[code]

And then everything would be handled inside our app. What do you guys

[2019-01-07 16:39] olizilla commented on #678
To clarify, does 2 refer to the "Share" menu, or the "Open with" menu or the top menu itself? My preference is strongly for the top menu, as in th demo gif in the issue description. I think every submenu level down we go we lose a huge chunk of users who will ever find it.

[2019-01-07 16:49] hacdias commented on #678
@olizilla 2 refers to the whole menu as a primary/first-level option. 1 is under Send To

[2019-01-07 18:38] billgavin opened #786 "启动报错"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.6.1
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

[2019-01-07 20:48] hacdias commented on #782
Could you try running `ipfs daemon --migrate=true --routing=dhtclient` manually and see if it works?

[2019-01-08 06:20] raguay opened #787 "Just Shutdown. Not sure why."
Please describe what you were doing when this error happened.
I was in the Station program getting ready to process some more information on Chrome when the dialog appeared saying there was an error in the application and it needs to restart.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.6.1
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

[2019-01-08 10:10] olizilla commented on #780
You can edit your IPFS config file that is stored at `$IPFS_HOME/config`. By defualt, that is the `~/.ipfs/confg`. You'll need to restart the app after saving changes to that file.

Are you trying to customise your IPFS node? Or are you trying to fix a bug with IPFS Desktop?

[2019-01-08 10:22] olizilla opened #788 "Release 0.7 💌✨ signed, sealed, delivered, I'm yours."
**Disclaimer:** the content of this main/first comment will be gradually updated with the current state and decisions related to this proccess.

## Checklist

- [x] Binary signing for macOS https://github.com/ipfs-shipyard/ipfs-desktop/issues/66
- [x] Binary signing for Windows https://github.com/ipfs-shipyard/ipfs-desktop/issues/705
- [x] Add tests for start up and shut down
- [x] Dont' error if

[2019-01-08 10:37] raguay commented on #787
Not sure. This is what happened:

1) I found out about IPFS on GitHub and installed the command line stuff. I
just followed the default install using ipfs-install on my macOS 10.14.2
system (MacBook Air). Everything seems to work except for the mount command.
2) Then, someone I am following on GitHub starred the IPFS-Desktop program.
I downloaded it and ran it.
3) Then, I saw about the Chrome plug

[2019-01-08 12:07] hacdias commented on #787
Well... if it didn't happen any more times, that's good. Although there might be a bug somewhere. We'll look into it!

If you're having troubles with PeerPad, I'd recommend you to ask here: https://github.com/ipfs-shipyard/peer-pad 😄

[2019-01-09 06:35] NatoBoram commented on #782
It seems that it's a limitation of snaps, I think they can't read outside of `$HOME` and `/media`. https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1643706

That leads to other problems like https://github.com/elopio/ipfs-snap/issues/16.

In my particular setup, `ipfs daemon --migrate=true --routing=dhtclient` would have worked since I was already using `ipfs` compiled from source prior to try

[2019-01-09 14:36] lidel opened #789 "Hardening Updates with Content-Addressing and IPNS"
We will create a proper threat model when Security WG is formed later in 2019, for now let's assume scenario  where malicious update gets published via GitHub Releases.

Potential mitigation:
1. Detect update happened and validate binary before it is run
2. Get the CID of the local file via `ipfs add --only-hash <local go-ipfs binary>`
3. Compare against `<expected CID fetched from IPFS>` (value s

[2019-01-09 20:36] Gozala opened #790 "Idea: Simplify daemon configuration from webui"
At the moment you have a pretty non user friendly way to configure webui that requires user to:

1. CORS are configured appropriately.
2. Daemon is running.
3. It uses default `5001` port.

And take appropriate actions usually requiring running things in terminal, and possibly entering some results back to webui.

### Idea

I like to propose improved flow. Desktop apps can register themself as han

[2019-01-10 01:53] raguay commented on #787
Okay. It ran fine for several days now. I'm closing it.

[2019-01-10 01:53] #787 closed

[2019-01-10 02:52] djdv commented on #678
@hacdias
Sorry for the delay, I totally missed the notification.
This is from an old project that basically just provided IPC from a Windows shell dll to a user program that wrapped the IPFS binary.

I intended on cleaning it up and releasing it but unfortunately got interrupted by IRL things at the time.
Although I still have the WIP versions at various stages.
I'll poke around and see if I can s

[2019-01-10 16:15] djdv commented on #678
@hacdias
Silly screencast alert:
https://www.youtube.com/watch?v=6PK87zlgG0M

I'm not sure if any of this is helpful, but may be a good starting point.
Transcription of the important things:
I implemented these COM interfaces as a DLL
https://docs.microsoft.com/en-us/windows/desktop/shell/how-to-implement-the-icontextmenu-interface
https://docs.microsoft.com/en-us/windows/desktop/api/shobjidl_core

[2019-01-11 21:35] da2x commented on #789
This is the model most software use for auto-update:

Code-sign the installer package with a known code signing certificate. Download the update and verify the signature before executing. Open an error page on the web if validation fails (URL hardcoded in the installed copy for this purpose - https://$url/?ver=$installed_ver&downloaded_hash=$downloaded_package_hash) that provides debugging informa

[2019-01-11 21:41] da2x commented on #783
I just reproduced it on the same system.

1. Download and run the v0.6.0 installer for Windows
2. Select install for all users during the installation
3. Choose to Run IPFS at the end of the installer
4. Wait until you get an update notification
5. Open C:\Program Files\IPFS Desktop in File Explorer
6. Quit IPFS Desktop
7. Click Okay on the UAC prompt
8. Watch as every file in C:\Program Files\IPF

[2019-01-11 22:32] hacdias commented on #783
@da2x thanks for the report. Could you also try with the single user installation, please?

[2019-01-11 22:43] da2x opened #791 "Misformatted IPv6 gateway URL"
1. Set IPFS' gateway address to /ip6/::1/tcp/8080
2. Restart IPFS Desktop
3. Open IPFS Desktop and open Status
4. Click Advanced to see the gateway address

Expected: `Gateway: http://[::1]:8080/`

Actual: `Gateway: http://::1:8080/`

![screenshot](https://user-images.githubusercontent.com/1102886/51063285-965a0500-15fa-11e9-968b-ab2b4b920a5c.png)

[2019-01-11 23:02] hacdias commented on #678
Hello @djdv! Thank you so much for the screencast. It was awesome! Although I was thinking on a, perhaps, simpler solution:

- During installation add the [registry key](https://docs.microsoft.com/en-us/windows/desktop/shell/context-menu-handlers) for a simple shortcut menu that would execute `...desktop.exe --add $filename`.
- During uninstallation that key would be removed.

Then we'd let IPFS D

[2019-01-12 01:16] djdv commented on #678
@hacdias
For sure!
MSDN actually recommends using those "verbs" over the "IContextMenu" interface if you don't need anything additional that they offer. The text is pretty demotivating imo but accurate 😆

The reasons for me choosing a context menu I think revolved around supporting "[folders](https://blogs.msdn.microsoft.com/oldnewthing/20110216-00/?p=11473)" (which are not just directories).
I fo

[2019-01-13 09:50] hacdias commented on #790
Hey @Gozala! Thanks for the feedback. However, I'm just confused about the following:

If you open the Web UI inside IPFS Desktop, you shouldn't need to take any manual action since it doesn't need to set up any CORS headers. Only if you want to open it in a browser.

IPFS Desktop does that for you.

Yes, that's the default, but if you change it, IPFS Desktop shall not have any troubles figuring o

[2019-01-14 08:44] daviddias opened #792 "Wonky after reboot/ran out of battery"
Please describe what you were doing when this error happened.

My laptop ran out of battery, when it rebooted it gave me the message to report an error

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.6.1
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

[2019-01-14 15:07] hacdias commented on #678
Cool!

@ipfs-shipyard/gui before working more on this, a question for y'all: after calling desktop with the file's path, I wanted to show a modal to ask the user where to save the file (in MFS). And I was wondering if that would be a separate window, or something to incorporate into Web UI. What do you think?

[2019-01-14 15:08] hacdias commented on #792
Thanks @daviddias. It seems to be a network error, although we don't want it to crash the app. And it's also related to our auto-updater which doesn't yet work on macOS, nor Linux, nor Windows "all-pc" install.

[2019-01-15 00:10] Gozala commented on #790
Hi @hacdias I think this issue was probably more appropriate at https://github.com/ipfs/ipfs-gui than here. That being said here additional details:

If IPFS daemon isn't running or non default configuration is used this is what you'd see when you open webui with companion extension:

<img width="852" alt="screen shot 2019-01-14 at 4 04 57 pm" src="https://user-images.githubusercontent.com/21236/5

[2019-01-15 00:16] Gozala commented on #790
Yes it does if you have it installed and if it is running. However, if desktop isn't running or is configured differently you'll see the screen shown in previous comment. And user needs instruction to launch `ipfs-desktop` (and if it's configured as default) it should all work out, if it's not then user needs to copy & paste commands from the instructions into terminal to get it working.

Which is

[2019-01-15 00:17] Gozala commented on #790
That only covers window provided by desktop and it does not cover companion or the https://webui.ipfs.io which is what my proposal was geared towards.

[2019-01-15 09:09] hacdias commented on #790
Hey @Gozala! I get your point, but I think you're probably confusing Web UI with our Desktop (menubar) app:

![image](https://user-images.githubusercontent.com/5447088/51169971-21f6be80-18a5-11e9-9271-1a17ebc3b216.png)

When you install IPFS Desktop, it also installs IPFS for you. If you install it and click, for example, on Status, it will open an Web UI window configured for you with no need for

[2019-01-15 12:05] lidel commented on #678
It may be tricky to get the destination picker UX right across all platforms, so perhaps the first  iteration could just add file to the root of MFS and open Web UI's Files with it?  It does not require new development and still lets user to organize files after "Add to IPFS".

[2019-01-15 13:58] hacdias commented on #678
@lidel completely agreed!

[2019-01-15 13:59] alanshaw commented on #678
+1

[2019-01-15 17:10] Gozala commented on #790
@hacdias I’m aware of that. I know that gui can be accessed through electron window that is open when you click it. However, I still would argue that it is important to address other user flows of accessing GUI through companion addon or a URL.

[2019-01-15 17:23] hacdias commented on #790
Yes, that's true. I'm just moving it out of this repository since it doesn't actually _fit_ here.

[2019-01-17 14:51] olizilla commented on #792
A data point... the 0.6.1 release is missing the `.dmg` file from the assets list. The `.dmg.blockmap` file is there, but no `.dmg`

<img width="1004" alt="screenshot 2019-01-17 at 14 49 33" src="https://user-images.githubusercontent.com/58871/51326472-210d8a80-1a67-11e9-89b9-49d7013f34ea.png">

See: https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.6.1

The 0.6.0 release has both. The

[2019-01-17 15:46] hacdias commented on #792
Yeah that must have been the issue @olizilla. Although the logs say it was uploaded:
https://travis-ci.org/ipfs-shipyard/ipfs-desktop/jobs/474937573#L733

Perhaps there was some issue at the time and I decided to clean up the release and removed the dmg without any intentions to do it, but I doubt of that.

[2019-01-17 15:48] olizilla commented on #792
@hacdias when does the draft release for the next version get created?

[2019-01-18 14:02] hacdias commented on #792
@olizilla we decide. If we want to have "live" binaries being built, we can create the draft and they'll be uploaded

[2019-01-22 12:35] olizilla commented on #66
Happy to say we're getting a first pass on "signed releases for macOS" in to the next release, in significantly less than 4 years after the initial proposal.

Of note, it is tricky. There are a bunch of hoops you have to jump through on the Apple Developer portal and more on the local keychain handling, and more again to wire it up to CI.

- You need to be the Apple Developer "Team Agent" to creat

[2019-01-23 09:47] olizilla commented on #66
I figured this out from a mix of
- https://www.electron.build/code-signing
- https://medium.com/@jondot/shipping-electron-apps-to-mac-app-store-with-electron-builder-e960d46148ec
- fumbling in the dark

[2019-01-23 10:14] skinofstars opened #799 "Desktop client using common development port 8080"
Port 8080 is a very common port for anyone running local web development servers, so having the UI listening on that port gives a high chance of conflict.

Why not use an out the way port (e.g. 41256) to avoid any chance of conflict.

[2019-01-23 10:46] hacdias commented on #799
What is it that is running on 8080? The gateway?

[2019-01-23 10:51] skinofstars commented on #799
Looks like it, yes

[2019-01-23 10:55] hacdias commented on #799
Oh, then it is not actually related to IPFS Desktop. It's the daemon running inside, which generally uses the repository at your home directory. You can change the configuration there (`$HOME/.ipfs/config`).

We could change it on development (`npm run start`), but it doesn't make sense to be changing an IPFS Repository configuration for one time runs. The other option would be to have a repositor

[2019-01-23 13:58] #799 closed

[2019-01-24 06:40] kungfooman opened #800 "React error on hash lookup"
I am new to IPFS and just testing around, e.g. I wanted to see what happens when I add dtube hashes:

https://video.dtube.top/ipfs/QmcpbcM7ogmN6SJWf3VTQcgtpyi3wykzqgMDiDdNjmCh12

But using the hash causes bugs:

![b3f3227e4ce0536b70a294d8bd8b5df1](https://user-images.githubusercontent.com/5236548/51659485-ecd82380-1faa-11e9-9b7a-ffe9270b0fde.png)

`Failed to resolve path`

[2019-01-26 07:40] daviddias opened #801 "Option to turn off the node without killing the app"
I would like to be able to _pause_ the node (take it offline) without killing the app.

[2019-01-26 09:16] hacdias commented on #801
Hey @daviddias! That was done in #779. We haven't released it yet, though.

[2019-01-26 09:16] #801 closed

[2019-01-28 09:10] hacdias opened #803 "Notifications on Windows don't stick in the action center"
Ref.: https://github.com/electron/electron/issues/3916

[2019-01-28 14:46] hacdias commented on #715
I'm closing this since we add no further response. @waye750504 if you still have this issue with the latest version, please re-open the issue.

[2019-01-28 14:46] #715 closed

[2019-01-28 14:47] hacdias commented on #707
As @olizilla explained, we shall keep using the package-lock.json, hence we're not adding it to the the ignored list

[2019-01-28 14:47] #707 closed

[2019-01-28 14:47] #48 closed

[2019-01-28 14:48] hacdias commented on #48
Will open an issue just for removing the repository

[2019-01-28 14:48] hacdias opened #806 "Remove the repository when uninstalling"
As per #48, I opened this issue for discussing the idea of removing the repository when uninstalling IPFS Desktop.

[2019-01-29 11:09] hacdias opened #807 "Handle ipfs://, ipns:// and dweb: system-wide"
We have kind of a bit stale issue (#35) about handling `ipfs://` at a system wide level. With the help of Electron Builder ([docs](https://www.electron.build/generated/platformspecificbuildoptions)) we can easily configure one or more schemes to be handled by our program. Ideas ideas!!

- Handle `ipfs://` URLs and show a dialog asking whether to open it in the gateway or explore in IPLD Explorer.

[2019-01-29 11:24] olizilla commented on #668
We've got a few open issues related to the electron-builder release and auto-update process:

- #792 macos update error
  - possibly becuase we stopped CI before it uploaded the .dmg
  - possibly becuase mac developer certs werent in place
- #783 windows update error
  - possibly becuase it was installed for all users of the system, but needs investigation.

There is this new regression where draf

[2019-01-29 13:47] hacdias commented on #807
Sure, let's keep `.ipfs` file support on a different PR! 😄 In the meanwhile, I'll open a PR about the scheme handler.

[2019-01-29 17:22] hacdias commented on #807
@ipfs-shipyard/gui working well on Windows. On macOS is working if Desktop is already running. Didn't test on Linux but it is not supposed to work yet.

Ref.: https://github.com/electron-userland/electron-builder/issues/1413

[2019-01-30 15:08] hacdias commented on #788
As @lidel said on IRC, I think we should tell people that Linux support is experimental and focus more on Windows and macOS for now.

We can continue providing the binaries, but since a lot of stuff can vary on linux, it is harder to support every different Desktop Environment. Also, usually Linux users are more technical and prone to have their own setup. But for Windows and macOS, generally ever

[2019-01-31 23:43] NatoBoram opened #814 "Error when auto-updating IPFS-Desktop installed from Scoop"
I rebooted my computer and IPFS-Desktop greeted me with an error message.

IPFS-Desktop was installed using [Scoop](https://scoop.sh).

**Specifications**

- **OS :** win32
- **IPFS Desktop Version :** 0.6.1
- **Electron Version :** 4.0.0
- **Chrome Version :** 69.0.3497.106

**Error**

[code]

[2019-02-01 15:22] hacdias commented on #814
Hey @NatoBoram! Sorry for hearing that. Just a question: were you connected to the Internet when that happened?

[2019-02-02 13:41] hacdias commented on #814
@NatoBoram thanks for the info. On the next version, hopefully, IPFS Desktop won't break with this kind of errors.

[2019-02-04 00:30] jbenet opened #817 "Explain how it works?"
Would be great to have a section on the readme (or elsewhere) that explains some particulars of how this app works. Specifically looking to know:

- where the config of the app is
  - looks like in OS defaults -- eg inside `~/Library/Application\ Support/IPFS\ Desktop` for macos
- how the app finds the local ipfs repo
  - looks like the app config file points to default installation spot via a str

[2019-02-04 11:17] #814 closed

[2019-02-05 09:05] hacdias commented on #817
Hey @jbenet! Those are, indeed, good questions. I've just added a [section to the README](https://github.com/ipfs-shipyard/ipfs-desktop#faq) answering those questions 😄

[2019-02-06 16:38] m-p-3 opened #820 "Only one usage of each socket address (protocol/network address/port) is normally permitted"
Right after installing the software, the application generate this error.

**Specifications**

- **OS**: Windows 10 Pro 64-bit
- **IPFS Desktop Version**: 0.6.1
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

Looks like I have something already using that port (Syncthing webUI). Any way to make it fallback on an alternative port? Or is there a way to specify a

[2019-02-12 10:13] #705 closed

[2019-02-12 10:13] hacdias commented on #705
Binary signing is set up and working. The next version will have Windows signed binaries.

[2019-02-12 10:13] hacdias commented on #66
Binary signing is set up and working. The next version will have macOS signed binaries.

[2019-02-12 10:13] #66 closed

[2019-02-12 14:44] balupton opened #823 "Crash on computer restart"
Please describe what you were doing when this error happened.

Restarted my computer. After login, there was a dialog reporting the following crash:

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.6.1
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

[2019-02-13 14:13] hacdias commented on #823
I'm closing this one as duplicate of #792

[2019-02-13 14:13] #823 closed

[2019-02-15 21:33] #817 closed

[2019-02-16 19:22] hacdias commented on #719
After going through Devtron's warnings, they're all fixed by now. Closing this!

[2019-02-16 19:22] #719 closed

[2019-02-16 19:38] hacdias commented on #51
After more than I year, let's close this. The README contains information about how the app works. Now, IPFS Desktop is a relatively simple app and doesn't seem to need 'help'/how-to-use info.

[2019-02-16 19:38] #51 closed

[2019-02-16 19:43] hacdias commented on #713
That case is already solved. I'm closing this for now since we've already added the necessary logic for the scenarios here described.

[2019-02-16 19:43] #713 closed

[2019-02-16 19:58] hacdias commented on #788
@olizilla I think we should release 0.7 next week after merging #826 so we can test the new features and ask users for feedback.

[2019-02-18 12:50] olizilla commented on #665
See also https://github.com/ipfs/go-ipfs/issues/4989

[2019-02-18 19:54] hacdias commented on #788
Just an update on this matter: we finally have signed binaries for both Windows and macOS. We also have a context menu option working well on Windows and `ipfs://`, `ipns://` and `dweb://` handlers working well on Windows and macOS (the latter only if IPFS Desktop is running).

I believe #776 was fixed with a commit I did during the past days, but let's not close it right now, just to make sure it

[2019-02-18 22:26] hacdias opened #830 "Screenshots names contain ':'"
Rename screenshots so they don't contain ':' on it which is incompatible with Windows file system.

[2019-02-19 09:45] #830 closed

[2019-02-19 10:11] olizilla opened #832 "Show desktop version and ipfs version"
Could we add

- desktop version number
- ipfs version number

to the context menu? So it's easy to find out what versions of things you have.

[2019-02-19 13:12] lidel commented on #665
I think now that https://github.com/ipfs-shipyard/ipfs-desktop/pull/828 is merged we got MVP  :)

[2019-02-19 13:12] #665 closed

[2019-02-20 14:03] #832 closed

[2019-02-21 00:04] momack2 opened #834 "When offline, trying to launch desktop creates an error"
I turned off wifi and tried to start ipfs desktop - both times it gave me a "this application quit due to an error, do you want to restart?" After I turned wifi back on, it started just fine.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.6.0
- **Electron Version**: 3.0.13
- **Chrome Version**: 66.0.3359.181

**Error**

[code]

[2019-02-22 08:38] jbenet opened #835 "Maybe suggest a command to kill the daemon?"
- Please describe what you were doing when this error happened.
- i tried shutting down ipfs-desktop, and then this message appeared. i closed it, reopend, and it kept appearing.
- looks like the shutting-down failed.
- i killed `ipfs` (`killall ipfs`), and then it resumed working fine.
- I think this case is detectable (process is already running), and can suggest a way to kill it (either give a

[2019-02-22 08:46] jbenet opened #836 "Maybe provide a way to configure which binary to use?"
[Advanced users](https://ipfs.io/ipfs/QmY2EtB8HPKkL87UyBR1tchrm8FhBQbrYrkNg3nPg56cBZ/1be2s7.jpg) will want to run newer and newer versions of `ipfs` (eg release candidates, etc).

While i'm perfectly comfortable replacing the binary at `/Applications/IPFS Desktop.app/Contents/Resources/app.asar.unpacked/node_modules/go-ipfs-dep/go-ipfs/ipfs` with a shell script that uses the `ipfs` in my `$PATH`,

[2019-02-22 10:07] olizilla opened #837 "Fatal error while trying to fsck the repo"
[code]

I used webui via desktop to update my cors settings. I tried to restart the daemon via the power button. after about 20s i got the "app error" dialog box. When i tried to restart, i got the same error.

Running ipfs-desktop from source with the same repo, i get the above error.

[2019-02-22 10:09] olizilla commented on #837
running `ipfs daemon` from the cli, starts without error.

[2019-02-22 10:17] olizilla commented on #834
Oh that sucks. That's our auto-update mechanism checking to see if there is a new release. I think it should be a simple fix to just ignore errors where we can't reach github.

[2019-02-22 10:18] olizilla commented on #834
@hacdias can you check it out. We should fix this before releasing.

[2019-02-22 10:22] hacdias commented on #834
Hey @momack2! I see you're still using 0.6.0. We have fixed this error already. Could you try installing the [latest version](https://github.com/ipfs-shipyard/ipfs-desktop/releases), please? 😄

[2019-02-22 10:26] olizilla commented on #834
Oh great news @hacdias !

[2019-02-22 16:23] hacdias opened #839 "Check for updates on context menu and cron"
WIP

[2019-02-22 18:06] Gozala opened #840 "Keep getting IPFS Desktop hash shutdown because of an error lately"
<img width="705" alt="screen shot 2019-02-22 at 10 03 31 am" src="https://user-images.githubusercontent.com/21236/53261652-684ff200-3689-11e9-998b-14e00b891d1d.png">

Not sure what exactly causes the crash, but I'm under impression that it usually happens in coffeeshops with spotty wifi.

[2019-02-22 18:08] Gozala commented on #840
I'm on Revision fc83788.

[2019-02-22 18:08] lidel commented on #691
\+ we should provide prebuilt standalone `.deb` and `.rpm` as best-effort approach to remaining Linux distros.

[2019-02-22 18:08] Gozala commented on #840
Is there some error log I can look into /  paste here ?

[2019-02-23 01:42] momack2 commented on #834
Thanks! Seemed to fix it. =]

[2019-02-23 01:42] #834 closed

[2019-02-23 11:06] hacdias commented on #840
Hey @Gozala! Probably you've version 0.6.0 which has some bugs when the internet connection is unstable. Please try installing the newest version:

https://github.com/ipfs-shipyard/ipfs-desktop/releases

Also, when you click 'Report the error to the developers', it will open a tab on your browser with a pre-filled issue with the information of the error and the version of IPFS Desktop you're runni

[2019-02-23 15:55] Gozala commented on #840
I did update after reporting and so far no crashes, I’ll assume it was fixed and will report new issue if it occurs again.

I tried that but it was actually opening Electron window with github in it with no details & I didn’t wanted to login there, maybe that is also artifact of that version. I’ll verify when I’m by computer

[2019-02-23 15:55] #840 closed

[2019-02-24 16:56] hoogw opened #843 "IPFS_PATH not used on macOS"
Mac, latest 0.4.18,
terminal run 'env', confirm that IPFS_PATH=/Volumes/d/ipfs_repo

However, when start ipfs-desktop
it supposed to use env IPFS_PATH=/Volumes/d/ipfs_repo ,
but it did not. It init a new default  $user/.ipfs repos.

I delete default  $user/.ipfs repos , try again, still not pick up the customized IPFS_PATH=/Volumes/d/ipfs_repo

I tried on windows, same issue.
It would NOT pick up

[2019-02-24 18:57] hoogw commented on #843
I try run
     ipfs daemon
It correctly pick up the IPFS_PATH=/Volumes/d/ipfs_repo

But ipfs desktop failed to do so.

use
      ipfs repo

list all help

     ipfs repo fsck ( will remove the repo.lock file)

make sure the your ipfs_repo directory does not have a repo.lock file.
If it exist, use ipfs repo fsck to remove it.

now you are ready to run  ipfs daemon, it will use your IPFS_PATH=/Volum

[2019-02-24 19:18] hoogw commented on #843
I can manually update config.json file, let it point to customized ipfs repo directory.
It works fine.

On windows,
                    C:\Users\your-user-name-here\AppData\Roaming\IPFS Desktop

open config.json

              update the path

"ipfsConfig": {
		"type": "go",
		"path": "D:\\ipfs_repo",
		"flags": [
			"--migrate=true",
			"--routing=dhtclient"
		],
		"keysize": 2048
	},

[2019-02-25 11:16] #839 closed

[2019-02-25 18:23] hoogw commented on #843
On Mac:

manually change ipfs_path repo,

(library is hidden directory, cmd+shift+. to show hidden)

$user/Library/Application Support/IPFS Desktop

Edit config.json

"path": "/Volumes/ipfs1/ipfs_repo",

Unfortunately, when I re-start ipfs-desktop, it auto over-write above change, to default
"path": "/Users/you/.ipfs",

This is a bug, need to fix, should be easy, because windows version of ipfs-de

[2019-02-25 18:58] hoogw commented on #843
version 0.7 rc Mac did not fix this bug,
Windows version does not have this bug.

[2019-02-26 12:03] hacdias opened #844 "Web UI and Desktop languages"
Right now, Desktop gets its language from the operating system its running on and passes it to the Web UI. Although, the user can change the language of the Web UI via its Settings, which does not affect the language of IPFS Desktop and then we get a mixed UI.

I've got some possible options to solve this issue:

| Option | Pros | Cons |
| ------ | ---- | ---- |
|  Change Desktop's language accord

[2019-02-26 12:19] lidel commented on #844
I believe the goal is to eventually reach translation parity.
To get there we _should_ surface missing translations, so potential contributors see what is missing.

I'd go with low hanging fruit: "Change Desktop's language according to Web UI's".
If desktop is missing language selected in Web UI, it should fallback to English strings.

If we want to go extra mile, Desktop could also display a mess

[2019-02-27 08:53] hacdias commented on #844
First part is done, we now need to drive the extra mile.

[2019-02-27 10:24] hacdias commented on #843
@hoogw what I understood from what you said is that IFPS_PATH environment variable is being ignored on macOS. Just a few points to clarify:

- IPFS_PATH is only used the first time IPFS Desktop runs. After that, its configuration is its source of truth.
- We're using [`ipfsd-ctl`](https://github.com/ipfs/js-ipfsd-ctl) which takes care of that. Also, we have tests for custom IPFS_PATH and they're p

[2019-02-27 10:33] hacdias opened #851 "Update on macOS needs to be manually restarted"
On macOS, after clicking on the notification about the available update, it doesn't seem to shut down IPFS Desktop to proceed with the installation. It currently requires the user to manually shut down IPFS Desktop so it updates.

Some reference issues that might help:

- https://github.com/electron-userland/electron-builder/issues/1604
- https://github.com/electron/electron/issues/3583

[2019-03-02 16:57] #782 closed

[2019-03-02 17:20] hacdias commented on #776
I'm closing this since I think it is closed on the latest pre-release. If any of this happens again, please let me know.

[2019-03-02 17:20] #776 closed

[2019-03-02 17:22] hacdias commented on #783
This issue on Windows won't happen again. I've also removed the system wide installation from the options and it will only be user specific. I've tested on 3 different machines from 3 different people and auto-update is working well. Closing this. If any other issue appears, please let us know ;)

[2019-03-02 17:22] #783 closed

[2019-03-02 17:25] hacdias commented on #788
Another update about the missing points:

@olizilla I think we should postpone this one due to the recent discussion.

Done on Windows. I can't try right now on macOS. Soon I can try to find out if it's feasible.

Can be easily done.

---

There seems to be an issue with macOS update not quitting the app.

[2019-03-02 17:38] hacdias commented on #820
@m-p-3 yeah, lots of stuff can run on that port. Please go to your repository configuration (by default on ´%userprofile%/.ipfs/config´) and change the Gateway Address ([docs](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#addresses)). Sorry for taking so long to reply

[2019-03-02 17:42] hacdias commented on #792
Closing this since we already solved this issue 😄

[2019-03-02 17:42] #792 closed

[2019-03-02 19:58] lidel commented on #785
We probably should avoid running plugins for security reasons.
Instead, a safer approach could be https://mozilla.github.io/pdf.js/

[2019-03-02 22:46] hacdias commented on #785
@lidel do you think this should go into Web UI or just IPFS Desktop?

[2019-03-03 14:30] lidel commented on #785
I believe preview logic should stay in Web UI.
In this case, PDF preview could get smarter: somehow check if there is native/plugin support for PDF in the browser, if not, lazy-load and run pdf.js, so the preview always works.

@olizilla do you feel the same?

[2019-03-04 03:38] m-p-3 commented on #820
Thanks for the info! I've managed to change Syncthing to use a different port instead and resolve the issue another way, but I'll add this to my personal documentation for the future.

[2019-03-04 03:38] #820 closed

[2019-03-04 08:22] hacdias commented on #785
I agree with you! Let's wait for Oli's word.

[2019-03-05 12:25] olizilla opened #857 "Visualise the status of the ipfs daemon and be robust to it not stopping."
If you leave the IPFS daemon running for a long time, trying to stop it can take a long time. The user has no clue what is going on, so it just seems like the app is stalled... I took a screen recording of a particularly suprising session, that stalled, then crashed, then installed an update

https://ipfs.io/ipfs/QmWEDikLypHaWYNJC3ftmGNkuZCogeSoMSnwAp7UaLyCdz/ipfs-desktop-no-node-status.mp4

The a

[2019-03-05 16:45] tiotrom opened #859 "On Manjaro Gnome Linux no desktop integration"
As said above. Installed properly. Works properly, but I do not see how to start it unless I "npm start" from the ipfs-desktop folder. Cheers!

[2019-03-05 19:12] tiotrom opened #860 "Add to AUR?"
Do you plan to add it as an AUR package?

[2019-03-06 03:12] tiotrom commented on #859
Ok, using appimage is better. Cheers!

[2019-03-06 08:10] hacdias commented on #860
@tiotrom just added to the list of wanted Package Managers so I'm closing this in favour of #691. Please notice that Linux support is experimental too and some things might not work in all distributions or not work at all.

[2019-03-06 08:10] #860 closed

[2019-03-06 08:10] hacdias commented on #859
@tiotrom which package did you install before?

[2019-03-06 11:58] tiotrom commented on #860
Thank you very much!

[2019-03-06 12:31] tiotrom commented on #859
I installed it via:
[code]
By the way it could help if on Linux you would create a .desktop file that goes into .local/share/applications - else the appimage does not integrate with the system. I know this is experimental for Linux. I hope you'll focus more and more on Linux :)

[2019-03-06 17:52] balupton commented on #792
Where do I download the fixed version?

[2019-03-06 18:04] hacdias commented on #792
@balupton on [releases page](https://github.com/ipfs-shipyard/ipfs-desktop/releases). We'll release 0.7.0 soon!

[2019-03-07 23:13] hacdias commented on #785
Ping @olizilla

[2019-03-08 10:15] #756 closed

[2019-03-08 10:34] hacdias opened #862 "Faster Protocol Handler"
So, we already have a protocol handler for ipfs, ipns and dweb protocols. Although I'd like to suggest something else.

- Right now, every time we open a link on those protocols, we call an electron app so it can just tell the OS to open a browser link. Not worth it. Too many resources. Slow.
- Faster idea? Create a static binary. In Go perhaps to do this.
- Would work on Windows since we can tell

[2019-03-11 10:43] hacdias commented on #529
Just tried to replicate this and it seems to be solved with #756.

[2019-03-11 10:43] #529 closed

[2019-03-12 12:07] hacdias commented on #857
![image](https://user-images.githubusercontent.com/5447088/54198811-5068d280-44bf-11e9-80cd-d78bdcf72db9.png)

I personally like the idea of keeping the power button and add a circle on its right telling the current state,

[2019-03-12 12:12] hacdias commented on #857
![image](https://user-images.githubusercontent.com/5447088/54199069-ea307f80-44bf-11e9-8175-3c2c60e9c358.png)

![image](https://user-images.githubusercontent.com/5447088/54199117-06342100-44c0-11e9-836b-bdab6178d8d7.png)

![image](https://user-images.githubusercontent.com/5447088/54199151-1946f100-44c0-11e9-9fee-cffb5dec5eac.png)

[2019-03-12 12:15] olizilla commented on #857
For the status, I'd go for a label + colored circle. We can add it to the status section in the menu. We can't rely on just a color change to communicate state to the user as many folks have some form of color blindness.

This is what docker does
<img width="316" alt="Screenshot 2019-03-12 at 12 08 57" src="https://user-images.githubusercontent.com/58871/54199101-f74d6e80-44bf-11e9-8dbc-bcbcb2e94b

[2019-03-12 12:26] olizilla opened #864 "Upgrade to go-ipfs 0.4.19"
Folks want the latest shiny. See https://github.com/ipfs-shipyard/ipfs-webui/issues/988

We need to unblock the [0.7 release](https://github.com/ipfs-shipyard/ipfs-desktop/issues/788) so we can get it to them!

[2019-03-12 13:13] hacdias opened #865 "Move to menubar menu only"
Most menubar apps have the same behaviour when using the right or left click and right now we have different actions for both. On left click, we open the real React menubar and with the right click we option a native menu with some options.

Since this goes against what most do, probably people would get confused and we thought about moving it only to a menubar menu app. With this we could simplif

[2019-03-12 14:29] fsdiogo commented on #857
@hacdias I'm also up for keeping the power button instead of a toggle.

This can be tricky as it may confuse users and seem like a button too:

<img width="574" alt="stat" src="https://user-images.githubusercontent.com/33324750/54207890-e9551900-44d2-11e9-8e0e-ceed2084081d.png">

[2019-03-12 14:36] fsdiogo commented on #865
On macOS it's not rare a menubar app having different actions for click, although I can agree that most users may be unaware of that capability.

Would the right click actions be aggregated somehow in the menubar?

[2019-03-12 14:38] lidel commented on #865
As a minimalist, I'm for making it a simple menu that looks native to the OS, but it is a big change.

@hacdias @fsdiogo are you able to add screenshots of the native menu under Windows/Mac?
I believe seeing it will make it easier for others to join this discussion.

[2019-03-12 14:39] hacdias commented on #865
@fsdiogo no, it would be the opposite way: just have the native menubar. It would be just simpler for everyone.

@lidel here's one on macOS: https://github.com/ipfs-shipyard/ipfs-desktop/issues/857#issuecomment-471975834

[2019-03-12 14:41] olizilla commented on #865
Docker for mac is a useful reference point for this (as a fellow OS intergration for a command line tool with a long-running process behind it)

<img width="424" alt="Screenshot 2019-03-12 at 14 40 22" src="https://user-images.githubusercontent.com/58871/54209031-ebb87280-44d4-11e9-8087-62bfd80e2043.png">

[2019-03-12 14:43] hacdias commented on #865
Docker on Windows:

![image](https://user-images.githubusercontent.com/5447088/54209190-3cc86680-44d5-11e9-97fe-39dda5cbc652.png)

[2019-03-12 14:46] olizilla commented on #865
In conversation with @ericronne it came up that the menubar UI was mostly still there becuase this app started life as a menubar app, and then we changed course.

I am in favour of using a system menubar (like the docker example above) for simplicity, and to make it feel more like a native app, and to remove the left/right click distinction, where left clicks gets you a fancy menu, and right click

[2019-03-12 14:54] hacdias commented on #865
A possible idea of what it could be (options would need to be tweaked):

![image](https://user-images.githubusercontent.com/5447088/54209916-7e0d4600-44d6-11e9-8518-ef483d856124.png)

We could mimic the status in the top as Docker Desktop do. We could perhaps hide the versions on a sub menu or About dialog.

And perhaps hiding "Configuration folder", "logs directory" and eventually "IPFS repositor

[2019-03-12 14:56] fsdiogo commented on #865
Oh ok, wasn't expecting that to be honest 😮

Well, it kind of makes sense as right now we don't get that much with the menu bar app, being Web UI the central point of it, so I think it's ok just having a native menu. I'm up for it 👍

[2019-03-12 14:57] hacdias commented on #865
@fsdiogo yeah, it might be a little sad (and I trully feel it since I've been working on this for a long time haha), but it just gets a better native feeling and simplifies everything

[2019-03-12 19:34] ericronne commented on #865
I'd add my vote in favor of "killing our darlings" in this case, and removing the custom menu …
![image](https://user-images.githubusercontent.com/9259185/54228688-adb94f80-44d0-11e9-89c6-fdee56b12cc1.png)
… in favor a native-os one.

The current behavior seems a little unorthodox, since the five primary menu options (Status, Files, Explore, &c) merely open the desktop app, with the chosen section

[2019-03-12 20:05] hacdias commented on #865
![image](https://user-images.githubusercontent.com/5447088/54232122-ddcd1680-4501-11e9-9125-06b53b2dbeac.png)

This is what I've been working for the last hour. Just to try it out. It would work. We'd still use Electron. It looks more native on macOS than on Windows because Chromium never used Windows' native context menu. But I don't believe that'd be an issue. Yes, the color icon is not aligned/

[2019-03-12 20:29] ericronne commented on #865
I'd suggest collapsing "Status / Files / Explore / Peers" into "Open IPFS Desktop" or something similar. Does this work for you?

![image](https://user-images.githubusercontent.com/9259185/54233734-8f0c8600-44db-11e9-9155-22d09e6e9c27.png)

[2019-03-12 20:58] hacdias commented on #865
@ericronne or "Open Web UI". But that'd be better to check with everyone 😄This is just an experiment, although it seems to be working well.

[2019-03-12 21:15] hacdias commented on #864
@olizilla only @daviddias has permission to update npm-go-ipfs-dep. We have pinged him some days ago on https://github.com/ipfs/npm-go-ipfs-dep/pull/30#issuecomment-469737899. We're just waiting for feedback.

[2019-03-12 21:48] ericronne commented on #865
Ah, taxononmy! (shakes fist)

[2019-03-13 00:00] hacdias commented on #678
A ref for macOS: https://developer.apple.com/app-extensions/

[2019-03-13 08:17] hacdias opened #867 ""Nativeness" of IPFS Desktop"
As of building #866, we clearly verify that the app could be much better/simpler if done natively or with something else than Electron that is even snappier/faster. This are just some "raw" ideas:

- Use a shared library in C++ or even the one in NodeJS (for IPFSD-CTL).
- On macOS create a regular Swift application. This would enable us to do the "Add to Context Menu" on macOS.
- On Windows, creat

[2019-03-13 09:28] cwaring commented on #867
Not entirely "native" but [DeskGap](https://deskgap.com/) could be a viable lighter-weight alternative too, it uses the OS webview rather than bundling chromium. Might we worth experimenting with.

[2019-03-13 09:34] hacdias commented on #867
@cwaring didn't know that! I'll keep an eye of them. They're still missing really important APIs for us such as Tray.

[2019-03-13 13:54] daviddias commented on #864
Not anymore :)

<img width="621" alt="image" src="https://user-images.githubusercontent.com/1211152/54284267-ed9b3800-459f-11e9-84dd-e5db1d593984.png">

@achingbrain @olizilla and @alanshaw should be able to do it too

[2019-03-13 13:58] olizilla commented on #864
Thanks @daviddias. I shall commence the publishing ritual.

[2019-03-13 15:44] hacdias commented on #678
On macOS it doesn't seem to be simple to do. That functionality seems to be called a Plugin and generally comes with a containing application even though the binaries are not related to each other.

The only option I found was to create a dummy CLI app and add an extension/plugin. Then compile and copy the `.appex` file to a PlugIns folder in the final `.dmg`. I wonder if in the future we couldn't

[2019-03-13 15:46] hacdias commented on #864
Niiiice. Thanks @daviddias!!

[2019-03-13 17:05] alanshaw commented on #864
`go-ipfs-dep@0.4.19` it is released!

[2019-03-14 09:18] olizilla opened #869 "Font weights are thinner in electron than chrome on macos"
I think this is https://github.com/electron/electron/pull/15007 but seems the fix hasn't landed yet, or needs chrome >= 70

perhaps electron@5 will fix it.

[2019-03-14 09:42] #732 closed

[2019-03-14 09:42] #857 closed

[2019-03-14 09:42] #864 closed

[2019-03-14 09:42] #865 closed

[2019-03-14 11:37] hacdias commented on #867
Dear friends, just updated the main comment. Please read through it and leave your comments. /cc @cwaring @olizilla @alanshaw @lidel @fsdiogo 😄

[2019-03-14 14:33] olizilla opened #871 "App fails to start after killing it. 2 status icons appear in menu bar"
- I ran desktop from source via `npm start`.
- I killed it with `ctrl+c`.
- I tried to start it again
- error!

<img width="208" alt="Screenshot 2019-03-14 at 14 29 19" src="https://user-images.githubusercontent.com/58871/54365028-fb1af580-4665-11e9-8a5e-abb544e515a0.png">

[code]

[2019-03-14 14:54] olizilla commented on #871
Closing. can't recreate.

[2019-03-14 14:54] #871 closed

[2019-03-14 15:41] olizilla commented on #788
@hacdias on "verify auto-update process" did you see https://www.electron.build/auto-update#debugging and https://github.com/electron-userland/electron-builder/issues/3053#issuecomment-401001573

[2019-03-14 16:37] lidel commented on #867
My concerns about switching from a single language/library to three would be related to PMing challenges:
- spreading ipfs-desktop team too thin, or
- overhead of the need to sync between implementations
  (especially if team grows and development/bugfixes are done by different people)

That being said, if we keep app's surface small, getting MVP in sync on all three platforms would be mostly a on

[2019-03-14 17:13] hacdias commented on #867
@lidel for me, the main feature of IPFS Desktop is to keep running IPFS in the background. Everything else are native integrations (drag'n'drop, add to context menu, protocol handling, etc...).

I can't see many features that could be considered 'attached' to what IPFS Desktop is. Perhaps if we added the possibility of running multiple versions/nodes yes, that would be required to be in all implem

[2019-03-14 17:18] olizilla commented on #851
@hacdias did you look in to the fix suggested here https://github.com/electron-userland/electron-builder/issues/1604#issuecomment-306709572

[2019-03-14 22:56] hoogw commented on #843
Good news, you fixed the problem on newest release. v0.7.0-rc.5.

Here is how to do notes:

If you want ipfs-desktop use new ipfs_repo, you have to do following

...............

Windows:

ipfs repo

          will list all help

ipfs repo stat

           will list current repo path ( which read from IPFS_PATH=D:/ipfs_repo environment variable)

            default is (c:/users/you/.ipfs)

Before

[2019-03-14 22:56] #843 closed

[2019-03-15 12:23] #851 closed

[2019-03-15 16:37] olizilla commented on #788
@hacdias 0.7 is go!

[2019-03-15 16:53] olizilla commented on #867
I'd like to improve the stability of what we have first. I think 0.7 is a good release, but I know we can make it better.

We're a small team with a large number of websites and apps to look after, so I'd rather we spend the next quarter improving what we have before we explore starting again.

I do totally take your point @hacdias that now we have reduced the scope of IPFS Desktop right down, it'

[2019-03-17 22:24] hacdias commented on #691
Brew cask just added as `ipfs`. See the [PR](https://github.com/Homebrew/homebrew-cask/pull/60498) for why it is not `ipfs-desktop`.

`brew cask install ipfs` for everyone.

[2019-03-18 10:28] hacdias commented on #807
Update: working on macOS.

[2019-03-18 13:41] hacdias opened #879 "Hijack Native Screenshots"
An idea: do like Dropbox on macOS and hijack the native shortcuts. It will be a bit hard to do but I believe it's doable. If there is no npm package for this, I'll work on one which will need to be a native module in C++... Well... But we can do it and I think it's a great idea. Then, see if it's possible on Windows.

What do you think?

/cc @olizilla @fsdiogo

[2019-03-18 21:44] hacdias commented on #788
I'm closing this since it was already released!! 😄

[2019-03-18 21:44] #788 closed

[2019-03-19 07:58] hacdias opened #880 "Release 0.8.0 🏯 'ipfs' on PATH and bug fixing"
After the huge release that 0.7.0 was (see #788), we need to start thinking about 0.8.0 😄 Here's the todo:

### What's left to be done

- [x] Add `ipfs` command line tools to the `PATH` (#727, https://github.com/ipfs-shipyard/ipfs-webui/pull/1016).
- [x] Figure out why we needed 'System Events' on macOS (#753).
- [x] Don't shutdown if there was an issue `fsck`ing the repository (#899, #835, #837).

[2019-03-19 09:00] DavidBurela opened #881 "Failed to add files to IPFS. Please try again. [0.7.1]"
Under 0.6.1 I was able to add files.
I upgraded to 0.7.0 this week, I can still see my previous files that were pinned, but I'm unable to add new files or folders as it simply gives the error message:
`Failed to add files to IPFS. Please try again.`

If I add from IPFS then it works fine.
I upgraded to 0.7.1 and it has the same error.
The `error.log` file is empty, so there are no logs I can attac

[2019-03-19 11:29] hacdias commented on #881
Hey @DavidBurela! Sorry for this. Just to make sure I understood correctly: the error is through the Web UI window right? Or is it through any other integration?

[2019-03-19 11:37] DavidBurela commented on #881
It is in the Web UI.
If I drag a file in, or I use the buttons to click "add file" or "add desktop", then it fails.
If I use the button to "add from IPFS" then it succeeds.

[2019-03-19 15:27] hacdias commented on #879
This reveals ti be more challenging than I thought. I created a [Gist with the code I wrote so far](https://gist.github.com/hacdias/10671e7a0a2707772a38bf5adf00e5ba). The main issue is that everything is running on the same thread and it seems the callback for the notifications is not being called. This would be easier written in Swift in a Native App. I'm wondering if it is worth it to keep worki

[2019-03-19 18:06] olizilla commented on #881
thanks for reporting it @DavidBurela, I've fixed the issue in ifps-webui and opened a PR to update ipfs-desktop to the new release in #883

[2019-03-19 18:07] olizilla commented on #881
see: https://github.com/ipfs-shipyard/ipfs-webui/pull/995 for details

[2019-03-19 21:01] hacdias commented on #881
@DavidBurela 0.7.2 just release with a fix for that: https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.7.2

😃

[2019-03-19 21:01] #881 closed

[2019-03-20 05:32] DavidBurela opened #884 "Using "add folder" does not add a folder correctly [0.7.2]"
- **OS**: win32
- **IPFS Desktop Version**: 0.7.2
- **Electron Version**: 4.0.8
- **Chrome Version**: 69.0.3497.128

Dragging a folder into the web ui, will add it correctly.
But clicking "add folder" seems to add an empty folder, that if you try to navigate into will result in it just continuously trying to load.

I have included a screencapture gif to show the bug.

![BF29E87D-D9A4-4005-914E-DF3

[2019-03-20 05:32] DavidBurela commented on #881
Thanks.
I can confirm now that clicking "add file" now works.

However clicking "add folder" seems to add an empty folder. I have created a new bug with screencapture to track it
https://github.com/ipfs-shipyard/ipfs-desktop/issues/884

[2019-03-20 05:36] DavidBurela opened #885 "Resizing the window causes a crash [0.7.2]"
With the Web UI, if you resize the screen at all, it will crash.
Includes maximising or draging a window edge to resize.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.7.2
- **Electron Version**: 4.0.8
- **Chrome Version**: 69.0.3497.128

**Error**

[code]

[2019-03-20 07:07] hacdias commented on #884
Hey again @DavidBurela! Once again, sorry. Yes, I can reproduce this 😞For me I get a "Failed to add to IPFS". I don't even get an empty folder. @olizilla @fsdiogo could you take a look at this one, please?

[2019-03-20 07:13] hacdias commented on #885
@DavidBurela I can't reproduce this one. Neither on a Mac, nor on Windows. Honestly EBADF seems like a file error that could happen anything for some sort of problem on the OS and that might not be related to IPFS Desktop.

Can you still reproduce it after closing and re-opening IPFS Desktop? If not, try going to (on IPFS Desktop): Advanced -> Open Configuration File. Did your editor open it corre

[2019-03-20 08:50] DavidBurela commented on #885
Very strange.
It was a fresh install (as I had been wiping everything from the .ipfs folder during installs to try and resolve the other bugs).
Restarting IPFS didn't resolve as it would still crash on every window resize.

But restarting the computer resolved it.
Maybe a file got a weird lock on it during the install, which got resolved after the restart.  Closing the issue.

[2019-03-20 11:05] olizilla commented on #884
interesting! I can't recreate this in Chrome 72 or Firefox 65, but I can on the 0.7.2 desktop release.

In chrome 72 via webui the same action leads to an add request with

[code]

and we get the response

[code]

When we add a folder called `foox` in ipfs-desktop via the folder input, we're sending

[code]
and we get the response

[code]

so it looks like the version of chromium in desktop has a

[2019-03-21 00:41] DavidBurela commented on #885
Reopening this bug.
It seems that after leaving it running for a while, the same issue has come back.  IPFS now instantly crashes if I resize the window.

I'm able to use all functions inside of IPFS web ui. adding files, exploring, viewing the config file, editing the config file. It all works. But as soon as I resize, it crashes with no error logs on disk.

[2019-03-21 09:30] hacdias commented on #885
@DavidBurela how many time would you estimate to be needed to replicate the issue? I've been running it for a few hours and I can still open Web UI and resize without issues

[2019-03-21 12:29] olizilla commented on #885
Thanks for digging into this @DavidBurela, and all your reports! Could you give us more info about your set up? What version of windows are you on? If you're ok with it, you could enable error reporting analytics from the settings page (its an advanced option, hidden by default behind the configure... details element), in case the error info manages to get before it dies, though I suspect it wont.

[2019-03-21 12:30] olizilla commented on #727
Can you tackle this next... it'd really help us with the "easy install" story for https://github.com/ipfs/website/pull/299

[2019-03-21 19:06] hacdias commented on #885
@olizilla it's to save the dimensions to the configuration file. That's what's causing ' bad file descriptor'. I just don't understand how the file descriptor gets 'bad' during execution unless something the OS is doing is wrong.

[2019-03-22 01:59] DavidBurela commented on #885
Latest version of Windows 10 (1809).
I have now enabled the advanced error reporting and triggered the resize crash a number of times. Hopefully some of them go through.

The error.log file is now showing errors, but nothing too helpful
`2019-03-22T01:55:22.102Z error: EBADF: bad file descriptor, close`

[2019-03-22 14:11] DavidBurela commented on #885
I haven't found any concreate ways to repo the bug.

The closest I've found is that if I leave it running in my system tray, then I go away for a few hours and my laptop goes to sleep. When I resume my laptop, if I open IPFS desktop and then try to resize, it will crash.  But doesn't happen every time.

[2019-03-22 19:36] lidel commented on #727
Some notes from IRC about `PATH` on Linux:

#### Symlinking to `/usr/local/bin` is possible only during install

After install ipfs-desktop runs under non-root user and cant write to `/usr/local/`

[code]

That being said, we should be fine with symlinking to `/usr/local/bin/ipfs` during install on Linux. Symlink may conflict with plain `go-ipfs` package, but if desktop user wants to run a differe

[2019-03-22 20:20] hacdias commented on #885
@DavidBurela please try the following: start IPFS Desktop; put laptop to sleep; open it again and see if the error occurs.

Hmm... that is even weirder. I also used a Windows 10 computer with the same version to try this out.

[2019-03-22 20:24] hacdias commented on #727
Thanks for bringing all the thoughts here @lidel. Another thing I want to mention is about Windows: on Windows we actually need to add a directory to the PATH since there's no default folder to put binaries into on Windows. And I'm not yet sure if we need elevated permissions during installation. Windows actually has two PATHs: a system-wide one and a user-specific one. I'll investigate a bit more

[2019-03-22 21:02] lidel commented on #727
I like the general idea from #836! What if we dont execute `node_modules/go-ipfs-dep/go-ipfs/ipfs` directly but introduce `node_modules/{some-ipfs-wrapper}/bin/ipfs`  and add that to the `PATH` instead?

- `ipfs` would be a small wrapper script that tries to execute `ipfs` from `PATH`, and if not there or if entry on `PATH` point at itself (due to symlink), then the script executes binary currentl

[2019-03-23 10:26] hacdias commented on #727
I personally enjoy the idea of having that wrapper around the `ipfs` binary. Just to make sure I understood: if there is a binary in `PATH`, we use it. If not, we use our binary.

On the first run, we could add "our" script to the `PATH` if no `ipfs` binary can be found. Otherwise, should we ask the user if they want to update (if it's a previous version) or not?

[2019-03-24 13:05] lidel commented on #727
Yes, before adding the bundled `ipfs` to `PATH` ipfs-desktop should check if it is already available.

I believe it should at least detect if default `ipfs` on `PATH` is in different version than the one shipped with ipfs-desktop. Just a simple warning (with options Continue, Exit) would do the trick: if user has multiple versions on `PATH` its probably power user that can sort it out  on their ow

[2019-03-25 09:32] ericronne opened #887 "Remove "Restart" option from menu when app isn't running"
I believe that the restart option is superfluous when the app isn't running. Start suffices, right?

![image](https://user-images.githubusercontent.com/9259185/54908799-97ec5700-4ee0-11e9-94e8-3f1ec5d0f78e.png)

[2019-03-25 09:43] hacdias commented on #887
Yup, you're right @ericronne! Thanks for noticing that 😄

[2019-03-25 10:56] #887 closed

[2019-03-25 17:06] hacdias commented on #727
Ref for myself: https://nsis.sourceforge.io/Path_Manipulation#Warning

[2019-03-27 11:42] hacdias commented on #727
@olizilla did you have the chance of reading @lidel's comments?

Overall I like the wrapper idea, although it adds the complexity of adding a directory to the PATH which is not straightfoward

[2019-03-28 21:38] NatoBoram opened #890 "Can't access UI in Elementary OS"
#### Versions

* `ipfs-desktop_0.7.2_amd64.deb`
* `ipfs-desktop_0.7.2_amd64.snap`

#### Operating System

[code]

#### Problem

Elementary OS doesn't have a system tray. It was previously there :

![image](https://user-images.githubusercontent.com/10495562/55195047-b6bd4880-5181-11e9-9f09-89140e48fc05.png)

When starting the program, it briefly flashes in the dock, but I don't have any right-click

[2019-03-30 21:54] zebul opened #891 "Report a Bug launches ipfs-webui instead of ipfs-desktop on GitHub Repo"
"report a bug" on the bottom left of the IPFS Desktop UI launches "https://github.com/ipfs-shipyard/ipfs-webui/issues" instead of "https://github.com/ipfs-shipyard/ipfs-desktop/issues"

Suggest that "report a bug" link in ipfs-desktop should launch issues page for ipfs-desktop repo.

IPFS Desktop: Revision 6366d10

[2019-03-31 10:28] lidel commented on #890
https://github.com/elementary/os/issues/102#issuecomment-406659497 contains useful background:

Discussion in https://github.com/elementary/wingpanel/issues/96  goes more in depth on this and lists alternative APIs but IPFS Desktop may not be able to use them directly: we require upstream support in Electron, which is a known issue:

- [Appindicator as replecement for legacy tray icon on GNOME](ht

[2019-03-31 11:58] hacdias commented on #891
Hello @zebul! That's a good question: "IPFS Desktop UI" is actually the Web UI from the link you mentioned. So I think the link is correct. Although, what do y'all think? /cc  @olizilla @lidel

[2019-04-01 10:26] poseidonplan opened #892 "2019-04-01T09:46:39.098Z error: Error: 36:68: execution error: “System Events”遇到一个错误：不能获得“login item "IPFS Desktop"”。 (-1728)"
2019-04-01T09:46:39.098Z error: Error: 36:68: execution error: “System Events”遇到一个错误：不能获得“login item "IPFS Desktop"”。 (-1728)

macOS report this error. and can't use ipfs in the cmd.

[2019-04-01 12:44] sergeevabc opened #893 "Doesn't work with Bandwidth Reporter disabled"
Windows 7 x64 -> ipfs-desktop-setup-0.7.2.exe

Tray icon says ```IPFS is running```, but clicking upon Status/Files/Settings outputs ```Is your IPFS daemon running? Failed to connect to the API```. However I see ```ipfs.exe``` within processes listed in Windows Task Manager.

I have read advices below such as “allow cross-origin”, but provided command ```ipfs config --json API.HTTPHeaders.Access-C

[2019-04-01 17:28] zebul commented on #891
@hacdias Thank you for your reply.  I created this issue because I noticed a bug in IPFS Desktop that I could not replicate in the Web UI.  I assumed that I should post an issue under the IPFS Desktop repo but the "report a bug" link took me to ipfs-webui.  Below is a summary of the issue.  Should I go ahead and create an issue in ipfs-desktop?

Issue: Navigation error "path not available" in Expl

[2019-04-02 07:43] hacdias commented on #893
That's curious. I can't reproduce your issue on Windows 10. Have you changed any configuration/did you have a repository before installing IPFS Desktop? Or this is your first time installing IPFS?

[2019-04-02 09:40] sergeevabc commented on #893
@hacdias, first time user, yes. Even turned off built-in Windows firewall just in case. It is regrettable there is no bootstrapping log to provide for easier troubleshooting since ```…\IPFS Desktop\logs``` is empty and other two log-like files contain vague information as follows.
[code]

[2019-04-02 10:28] olizilla commented on #891
@zebul thanks for the screen recording, that's super helpful. I'll take a look.

[2019-04-03 10:05] olizilla commented on #727
Great stuff! To check we are on the same page, I don't think we should change the definition of the users `PATH`. I have mine tweaked and it's manged by git, so having a process change it would be a suprise. I don't think thats what is being suggested here, but I just wanted to check.

I strongly agree that we should keep this simple, and for the default case where `ipfs` is not on the PATH alread

[2019-04-03 17:36] hacdias commented on #893
Are you using Windows Subsystem for Linux? How did you run `ipfs` command if IPFS Desktop doesn't provide the CLI (yet)? You seem to already have IPFS running on your computer somehow.

[2019-04-03 18:30] sergeevabc commented on #893
@hacdias, -_-
My OS was stated clearly in the beginning, it is Windows 7, it has no Linux Subsystem.
And I never run any ipfs commands via command-line interface.
What I did is switched off IPFS Desktop, went to its logs folder and shared its contents with you.

[2019-04-04 11:47] tjayrush opened #895 "IPS desktop died"
Please describe what you were doing when this error happened.
I started IPFS desktop more than a week ago, and then literally forgot it was running. Appearently, it runs in the background or as a tray icon. Last night it crashed. No idea why, but I did notice for the first time in X weeks that my Mac tried to 'auto-upgrade' the OS (it failed because other programs were running). Maybe that's relat

[2019-04-05 08:18] hacdias commented on #727
So, let's come to an agreement of what we need to do to close this issue.

@olizilla

You don't agree on changing the `PATH` right? I agree we shouldn't change in on macOS and Linux and just add it to `/usr/local/bin`. On Windows we are required to.

Does it bundle `npm` with it? We don't know if the users have it. I agree that once Windows is supported by `iim`, we should install it if the user h

[2019-04-05 08:35] hacdias commented on #893
How did you run that? We don't provide the `ipfs` CLI.

Could you try killing all ipfs-related processes in taskmgr and restart IPFS Desktop, please?

[2019-04-05 08:45] olizilla commented on #727
@hacdias please review the code in atom that does this. You get to decide how it works on windows. I recommend checking how some other apps do it. As much as possible the process should be the same on macOS vs Linux, so there are fewer variations to test.

[2019-04-05 09:17] hacdias commented on #727
@olizilla on Windows it seems they just don't add anything to the PATH.

On macOS, they add it on the first run. [See here.](https://github.com/atom/atom/blob/1acf91383cff3853aab2cf6b581dd6ca145b8475/src/command-installer.js#L74).

On Linux, they add it during installation. [See here.](https://github.com/atom/atom/blob/cbcad274a7cb68774b9467decc7dee39c13d8e19/script/lib/install-application.js#L131

[2019-04-05 10:25] olizilla commented on #727
Get the simplest thing working first. We're gonna need tests for the 3 different paths. Link to a shellscript that gives us enough indirection to change how it works later / update the binary without needing to update the link.

[2019-04-06 00:46] NatoBoram commented on #893
Confirmed here, it doesn't work out of the box anymore.

[code]

![image](https://user-images.githubusercontent.com/10495562/55662589-bc9ad580-57e2-11e9-9636-b50f038956f8.png)

Also, those two commands...

[code]

Here's their output :

[code]

[code]

However, IPFS Companion's WebUI **does** work.

Here's the logs I've got :

[code]

[2019-04-06 09:39] hubbs129 commented on #48
Hi all,

how do I reverse the "ipfs init" command (on Mac's terminal)? I want to get a new hash.

[2019-04-06 10:28] hacdias commented on #48
@hubbs129 do you mean a new peer ID?

[2019-04-06 10:54] hacdias commented on #893
Just installed a fresh VM with Windows 10 Pro, downloaded right from GitHub releases and no issues whatsoever. I'm really confused with what might be happening. Maybe a firewall issue?

Used this binary:

https://github.com/ipfs-shipyard/ipfs-desktop/releases/download/v0.7.2/ipfs-desktop-setup-0.7.2.exe

Screenshot from VM:

![image](https://user-images.githubusercontent.com/5447088/55668461-9c126

[2019-04-06 13:39] hacdias commented on #895
@tjayrush hello! Sorry for that. That issue was fixed already. Please upgrade to v0.7.2: https://github.com/ipfs-shipyard/ipfs-desktop/releases 😃

[2019-04-06 13:39] #895 closed

[2019-04-07 13:14] tjayrush commented on #895
Thanks.

[2019-04-08 04:39] NatoBoram commented on #893
Ugh, what a pain. I have no idea what can cause this, I'm running a fresh build that I installed literally three days ago. Even in my old Windows installation, it stopped working a few weeks ago.

[2019-04-08 08:05] hubbs129 commented on #48
Hi @hacdias, thanks for getting back to me.
Basically the answer is yes. I have now found where my IPFS folder is on my mac (I'm a n00b) and all I need now a new peer ID, because I accidentally deleted the one I have created.

regards,
H.

[2019-04-08 08:11] hacdias commented on #893
Yeah, this is a weird situation. Do you know more or less in which version it stopped working? Did it stop working with an already existing IPFS repo?

[2019-04-08 08:12] hacdias commented on #48
@hubbs129 if you don't mind losing the files on your IPFS repository, just close IPFS Desktop, delete `~/.ipfs`, and restart IPFS Desktop.

[2019-04-08 08:30] hubbs129 commented on #48
OK I have found my Peer ID thanks to this command "ipfs id" :)

Thanks !

[2019-04-08 08:32] hubbs129 commented on #48
@hacdias
I have another question if you don't mind. I have a peer ID who's contents I want to check out, how do I do this?

[2019-04-09 11:54] olizilla commented on #884
@hacdias can you take a look at this?

[2019-04-09 12:01] olizilla commented on #880
rather than a roadmap, lets update this issue to give it a pet name, and define just what is going in, like we did in https://github.com/ipfs-shipyard/ipfs-desktop/issues/788

[2019-04-09 16:39] olizilla commented on #837
nope. desktop is rad and i love it.

[2019-04-09 16:39] #837 closed

[2019-04-09 21:06] hazae41 opened #898 "Feature: Add command line access"
It would be useful if we could access the go-ipfs command line from the app

[2019-04-09 21:37] hacdias commented on #898
Hello @Hazae41! Do you mean adding `ipfs` to the PATH so you can access it through the command line? If so, it's in the works and this is a duplicate of #727 😄

[2019-04-09 21:46] #835 closed

[2019-04-09 22:07] hacdias opened #901 "Auto launch on login on macOS"
- Auto launch on login on macOS uses Apple Script and asks to control System Events. This cannot be suppressed unless we use another method.

[2019-04-09 22:08] hacdias commented on #753
Closed in favour of #901

[2019-04-09 22:08] #753 closed

[2019-04-09 22:09] hacdias commented on #892
@poseidonplan please ignore the error.

IPFS will be available on cmd on the next version ;)

[2019-04-09 22:09] #892 closed

[2019-04-09 22:10] #901 closed

[2019-04-09 23:08] agentofuser opened #902 "Crash on connection error"
I didn't do anything in particular. Went out to dinner, came back and the app had crashed and showed me the dialog to report the error. I think my internet connection had a hiccup in that time, because an unrelated git clone also failed.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.6.1
- **Electron Version**: 4.0.0
- **Chrome Version**: 69.0.3497.106

**Error**

[code]

[2019-04-10 03:57] NatoBoram commented on #893
Nope. It just stopped working after an update. I tried both an existing repo and without a repo, with badgerds and flatfs, installed from Scoop and installed from the installer, and now from a fresh Windows 10 installation.

[2019-04-10 07:09] hacdias commented on #902
Duplicate of #895, #776 and #787. Please update to the latest version 😃

[2019-04-10 07:09] #902 closed

[2019-04-10 07:19] hacdias commented on #893
I tried the exact same situations and didn't have any issue. Let's bring someone else! @djdv, could you please try to see if you can reproduce this issue? Thanks 😃

[2019-04-10 16:05] Hazae41 commented on #898
No, sorry, I mean a command line in the GUI itself

[2019-04-10 17:55] djdv commented on #893
Okay so, without ipfs-desktop. I was unable to connect to the webui using my `go-ipfs` daemon, but these where unrelated (https://github.com/ipfs-shipyard/ipfs-webui/issues/1008, https://github.com/ipfs-shipyard/ipfs-webui/issues/1009) and already mentioned above. It had to do with my custom configuration.

I installed an instance of latest version of Windows (10 1903 18362.53), installed ipfs-des

[2019-04-10 19:16] NatoBoram commented on #893
Oh, that worked for me. I though I had enabled everything after creating the node, but it looks like it wasn't the case.

So... Shouldn't IPFS Desktop try to launch this command in the background if it can't connect to the node?

[2019-04-10 19:57] djdv commented on #893
In my case, I went from a non-existing ipfs-config, and let ipfs-desktop initialize the profile. It seems like if you have an existing profile, nothing is modified.
https://github.com/ipfs-shipyard/ipfs-desktop/blob/19a8793cc7e7b8ccbbce794fad46ca23fa450d00/src/utils/daemon.js#L55-L57

So currently, you either need a modern default config already, or you have to set those values yourself.

It seems

[2019-04-10 20:14] NatoBoram commented on #893
So just adding that command to the interface, where the two others are, should be enough.

[2019-04-10 20:22] sergeevabc commented on #893
@NatoBoram, “that command, that command”, let’s say it loud and clear:
`ipfs config --json Swarm.DisableBandwidthMetrics false`

[2019-04-10 21:38] hacdias commented on #898
@hazae41 how'd you suggest us to do so?

[2019-04-10 22:23] hazae41 commented on #898
Maybe a new page in the webui
or a new window

[2019-04-10 22:52] hacdias commented on #893
Thanks for debugging this @djdv. I think that the best option is to show in Web UI some kind of message in this situations instead of blacking out. What do you think @olizilla?

We could, perhaps, make Web UI "tell" Desktop somehow of this issue, and ask the user their permission to automatically change the configuration instead of them doing it manually.

[2019-04-10 22:53] hacdias commented on #898
But why would you need this if you'll be able to access it through the command line?

[2019-04-11 12:29] agentofuser commented on #902
Thank you! I'm going with `brew cask install ipfs` now to help keep things up to date :)

[2019-04-11 17:26] hazae41 commented on #898
We can access the IPFS configuration through the webui, why not the command line?

[2019-04-12 21:24] hacdias commented on #898
I don't know to which point it would make sense to have a command line interface available through a web page when you can just use it on your terminal. Could you please explain some use cases?

/cc @ipfs-shipyard/gui

[2019-04-14 05:44] hazae41 commented on #898
Well sometimes end-users need to allow HTTP origins and they are given commands to type

[2019-04-16 08:49] olizilla commented on #898
The cases where the web ui shows an example shell command, are those times where the web ui can't do the action required. The user _must_ use the command line to do them, as the http api  is unavailable either due to CORS config or the daemon not running.

It might be neat to have a power user feature that lets you try out IPFS commands in the browser. We could use that as an opportunity to teach

[2019-04-16 14:28] olizilla opened #907 "Add opt-in npm-on-ipfs support"
As per discussions over on https://github.com/ipfs-shipyard/npm-on-ipfs/issues/94 we'd like make it easy for ipfs-desktop users to try out [npm-on-ipfs](https://github.com/ipfs-shipyard/npm-on-ipfs), and co-host modules that they install.

- [ ] Offer a prompt to install the `ipfs-npm` command line tools
- [ ] alias it as `npm` or `yarn`

[2019-04-16 14:34] olizilla commented on #907
There are some UX challenges to solve here.

- Should be easy to opt in to using `ipfs-npm` in place of `npm`. Perhaps checkbox in the settings page is the simplest initial implementation
- Should be easy to undo. If you want to reset back to regular  `npm` then you should be able to just uncheck the box.

I'm sure there are more. @hacdias @ericronne drop any thoughts you have here!

[2019-04-16 14:35] hacdias commented on #907
I agree with the checkbox in settings. Also, I think that on a first run, if we detect that Node.js is installed, we could actively prompt the user.

[2019-04-18 08:56] olizilla commented on #785
@hacdias can we just use an iframe for pdf previews?

[2019-04-19 05:43] DavidBurela commented on #885
I've been trying to repo it, but it has been rock solid and won't doesn't crash.
Lets put it down to some temporary oddity and hope it doesn't come back.

[2019-04-19 05:43] #885 closed

[2019-04-19 06:34] olizilla commented on #885
Thanks for keeping an eye on it @DavidBurela

[2019-04-19 07:28] hacdias commented on #785
@olizilla yes, but that would need us to rely on Electron's PDF viewer through plugins. It doesn't work though. It's an issue since 3.0.0 that hasn't been fixed yet: https://github.com/electron/electron/issues/12337 😞

[2019-04-21 21:19] hacdias commented on #907
So I was implementing this and an issue surged: I was thinking about aliasing `ipfs-npm` as `npm` and to do so I thought about replacing /usr/local/bin/npm with our script. Although this would create a loop on ipfs-npm where it'd call itself forever when looking up for npm.

We could set an `alias` on the user profile but this would require (1) finding the shell they're using and (2) finding a way

[2019-04-22 11:29] hacdias commented on #727
So, we now have this enabled on _all_ packages we ship except AppImage. It isn't possible with AppImage unfortunately. At least I haven't found a way to do so.

Although I've found an interesting solution that could help us making the process more uniform on Linux and macOS. If we did it on runtime, we could use [this package (`sudo-prompt`)](https://www.npmjs.com/package/sudo-prompt) to ask for p

[2019-04-22 14:48] lidel commented on #727
@hacdias I must agree, unifying everything around `sudo-prompt` sounds like a neat way to  simplify codebase and remove Linux maintenance burden.

The only ask for Linux runtime would be to remove the "surprise factor" caused by sudo call.
We could
- make it opt-in via tray menu (disabled by default on Linux)
- explicitly ask during first time app starts ("_Do you want to add `ipfs` to your `PATH`

[2019-04-22 14:59] PaulCombal opened #912 "IPFS has errored, because 8080 is already in use"
I just downloaded the AppImage from the Readme, and it won't connect to IPFS because, as described in the log, my port 8080 is already in use.

[code]

This port is very common and is even used by Skype, so maybe you could use another port if 8080 is taken?

Thank you

[2019-04-22 15:19] hacdias commented on #727
@lidel yes, the point was to ask first and merge this on #906. What do you think?

[2019-04-22 21:23] hacdias opened #914 "IPFS Desktop settings on Web UI"
IPFS Desktop settings must be visible on Web UI even when the node is disabled. Right now it doesn't happen because when the node isn't active, the settings page is deactivated.

/cc @fsdiogo @olizilla

[2019-04-23 18:24] olizilla commented on #914
It might seem obvious but can you explain _why_ this is needed. Also, please move this to ipfs-webui as that is where the work will have to be done.

[2019-04-25 17:35] #898 closed

[2019-04-26 18:05] #727 closed

[2019-04-27 23:57] hacdias commented on #912
Hello @PaulCombal! Thanks for reporting this. Perhaps we could ask the user which ports they'd like to use if those are not available. IPFS uses some different ports for different endpoints (such as 8080 for the gateway and 5001 for the API). Would you, as an user, prefer to be asked which ports to pick or let us pick a random port?

@lidel what do you think about this?

[2019-04-28 08:17] hacdias commented on #786
@billgavin that issue was fixed in the latest versions. Please install a newer one! 😃

[2019-04-28 08:17] #786 closed

[2019-04-28 08:17] hacdias commented on #781
@lidel is still an issue?

[2019-04-28 08:31] hacdias opened #917 "Update to Electron 5"
Electron 5 doesn't bring many breaking changes, but brings performance improvements. See https://electronjs.org/releases/stable#release-notes-for-v500

Waiting for https://github.com/sindresorhus/electron-serve/pull/10.

[2019-04-28 16:17] hacdias commented on #880
@olizilla could you check this issues, please:

- https://github.com/ipfs-shipyard/ipfs-webui/pull/1016
- https://github.com/ipfs-shipyard/ipfs-webui/pull/1023
- https://github.com/ipfs-shipyard/ipfs-webui/pull/1024

Also, how's the upload/1MB issue?

[2019-04-28 20:04] PaulCombal commented on #912
I guess your tool is designed to be used by non-developers, who have no idea what a port is. I think the best idea would be to try other ports until one is found, without prompting the user.

For power users, maybe leaving the option to override the port with an environment variable or a config file would be a great idea though.

For example Skype, again, would never ask you which port you want to

[2019-04-29 06:27] olizilla commented on #880
Nice work! Very clear. The bad news is, there is a regression in go-ipfs 0.4.20 that means you can't add multiple individual files https://github.com/ipfs/go-ipfs/issues/6254 so either we wait, or roll back to 0.4.19... I'll see if there is an eta on another release for go-ipfs in the pipe.

Excting about electron 5 release, good work following up on the dep updates we need there.

[2019-04-29 07:09] hacdias commented on #880
@olizilla in our code (webui), do we use the add command for more than one file at once? I thought we didn't. If we don't, that wouldn't be an issue, right?

Also, about waiting, I think: if it takes more than a week, we should rollback. Otherwise, we should wait.

[2019-04-29 08:03] olizilla commented on #880
We use `ipfs.add` with an array of files dropped, or files selected in the file picker. Those use-cases fail if you drop or select more than 1 thing when using 0.4.20 now.

[2019-04-29 08:07] olizilla commented on #880
see: https://github.com/ipfs/go-ipfs/issues/6254
also waiting on a release of ipfs-http-client with https://github.com/ipfs/js-ipfs-http-client/pull/980 in for the 1MB upload issue

[2019-04-29 09:47] hacdias opened #920 "Save config and reload daemon automatically"
We can add a function to IPFS Desktop bundle to tell IPFS Desktop to restart the daemon when changes are made to the settings.

[2019-04-29 14:56] lidel commented on #912
I agree with @PaulCombal:
- Regular user should not be bothered, it should "just work".
- Power user can always edit JSON on Settings and restart the app.

@olizilla thoughts? I assume on Mac you never seen any user friendly apps asking which port to use :)

[2019-04-29 15:31] lidel commented on #781
Unable to reproduce with latest `master`.
Probably got fixed at some point since January.

[2019-04-29 15:31] #781 closed

[2019-04-30 09:43] #917 closed

[2019-04-30 10:50] lidel commented on #739
Continued in https://github.com/ipfs-shipyard/ipfs-desktop/issues/912

[2019-04-30 10:50] #739 closed

[2019-04-30 16:05] Stebalien commented on #912
FYI, you can specify the `0` port and go-ipfs will pick a new one every time. However, we don't have a good way to ask go-ipfs which port it's using. Our tests scrape daemon status text for `Gateway ... listening on ADDR`.

[2019-04-30 21:37] hacdias commented on #912
But, should this only be done the first time it is run? Or every time if there is a port being used already? I think there are pros and cons of each approach. For beginners/non-developers, it'd be nice if they'd never need to care. For more advanced users, it'd be bad to be changing the ports without their consent. What do you all think?

[2019-04-30 21:38] hacdias commented on #893
Fixed on https://github.com/ipfs-shipyard/ipfs-webui/pull/1024 :smiley:

[2019-04-30 21:38] #893 closed

[2019-05-01 12:54] PaulCombal commented on #912
Isn't this why we should let them override the port to use in a config file / environment variable?
I think the UI should show somewhere that the error  'Port XXXX already in use', with a link to documentation on how to override a port (eg: a github readme)

At least that's the way I imagine things

[2019-05-01 15:18] hacdias commented on #912
Hmm... the problem is: for us to use a random port, we have to change the config so IPFS knows it should start in a random port. Although, how would we distinguish the following two scenarios:

1. The user stars IPFS Desktop for the first time. Ports already busy. We update the settings to random. Works. Happy user.
2. An advanced user, for some reason, has a busy port. We override theirs, by chan

[2019-05-02 11:04] PaulCombal commented on #912
I imagined those scenarios:

The override settings is not set:
- Use a random port (eg: try range 8080 - 8100)

The override setting is set to port X:
- Use port X

In both cases if no port can be used or the X port is already taken, then an error message should show.
I do not see a case where a first launch would cause this logic to fail.

[2019-05-08 11:33] henrypijames opened #922 "How to "pin" in current version?"
I am aware a UX overhaul is underway to update the pinning/seeding feature. But in the mean time, for the current version (0.7.2), I can't find how to pin/seed someone else's file/site.

[2019-05-09 08:39] hacdias commented on #922
Hey @henrypijames! Currently, there's no way through the GUI to add pins unfortunately. We're on talking on Web UI (https://github.com/ipfs-shipyard/ipfs-webui/issues/1025) to bring the pins to the Files page so you have easy access to them in the future.

[2019-05-10 12:26] lidel commented on #907
This feels risky. Quick sanity check: is **moving binaries belonging to other packages installed in the system** is better than **adding a directory in front of `PATH` variable**?
Think about scenario when someone uninstalls `npm`. Our proxy be removed.

Unless I am, missing something,
adding a directory to the front of `PATH` seems the only "safe" way to override.

[2019-05-10 16:31] hacdias commented on #907
@lidel I agree that it is risky changing binaries. For now, we decided just to install `npm-on-ipfs` package and tell the user to use `ipfs-npm` instead of regular `npm/yarn` commands. This needs some more thought because changing the variable PATH is not as easy as it seems since it might depend a lot on the shell the user is using.

On Windows it's relatively easy and we already do it to add IPF

[2019-05-11 18:15] DavidBurela commented on #907
Something to think about, is that a common developer pattern on Windows is to use WSL (Windows Subsystem for Linux).

I have IPFS Desktop installed on Windows and use it for my general use. But then I open WSL Ubuntu and use the Node development tools in there. It has access to all of the local disk and ports.  So just detecting PATH= on Windows is not enough, but needs to be more generic.

[2019-05-11 22:04] hacdias commented on #907
@DavidBurela WSL is still running on a separate "world" so it will also be harder for us to detect the presence of Node.js on those situations. What if the user has 3 different distributions, all with Node.js and then they also have Node installed on Windows itself? What would you do?

[2019-05-12 14:39] DavidBurela commented on #907
I think I misread how it was going to be detected. My thoughts were that all of the environments had access to the IPFS node running on localhost, so that can be used.

But after re-reading I realised that IPFS-Desktop simply looks up if it has access to npm, and if it does it tries to run `npm install -g npm-on-ipfs` (or prompts user to manually do it).

You can ignore my notes.

[2019-05-13 15:50] hacdias commented on #884
Note to self: https://github.com/electron/electron/issues/839

[2019-05-14 12:56] jkonecny12 opened #928 "Fresh install on Fedora 30 won't start"
Fresh installation on Fedora 30 desktop. The application won't even start.

This error message is the only thing I'm able to find:

[code]

If you need more info, you can ask.

BTW the file is really missing.

EDIT: I forgot to mention that I used rpm package for installation.

[2019-05-14 12:59] jkonecny12 commented on #928
Adding another log:
[code]

[2019-05-14 15:57] jonmaim opened #929 "Interaction between provided ipfs-go cli and desktop ui ?"
On MacOs, the `ipfs-go` is present here: `/Applications/IPFS\ Desktop.app/Contents/Resources/app.asar.unpacked/node_modules/go-ipfs-dep/go-ipfs/ipfs`

Is it possible to add files with the provided `ipfs-go` cli and see changes in desktop ui ?

[2019-05-15 09:03] olizilla commented on #929
In the next release of ipfs-desktop, it will add the `ipfs` to your PATH, so that you can do exactly that. The desktop app will also be able to keep the command line tool up to date for you.

https://github.com/ipfs-shipyard/ipfs-desktop/issues/880

[2019-05-15 09:12] olizilla opened #930 "Restart ipfs daemon when network address changes"
If you start IPFS on network A, and then move to network B, there is nothing in libp2p or go-ipfs to automatically detect that and update the swarm addresses you are announcing.
See:
- https://github.com/ipfs/community/issues/408#issuecomment-490032167

IPFS Desktop could detect a network change and restart the deamon automatically.

[2019-05-15 21:09] ericronne commented on #907
This might be a good chance to co-opt @fsdiogo's [help system](https://github.com/ipfs-shipyard/ipfs-webui/pull/983). Each IPFS Experiment could be automatically installed upon release, and the user notified upon app launch, and offered the option to disable it, e.g. …

![image](https://user-images.githubusercontent.com/9259185/57809732-b2e28700-772b-11e9-96fb-e607ae497c9f.png)

**Settings could b

[2019-05-16 13:09] ericronne commented on #907
And a less obtrusive, opt-in option …
![image](https://user-images.githubusercontent.com/9259185/57856064-d5b77e80-77b1-11e9-8b40-622febaaa09a.png)

[2019-05-17 14:51] #929 closed

[2019-05-19 15:49] achingbrain opened #931 "Secret REPL"
Is there a secret REPL in IPFS desktop?  I'd love to be able to open a console and start using an ipfs instance that's configured to talk to the background daemon.

[2019-05-20 10:27] olizilla commented on #931
There isn't, but I was thinking of making a not so secret one. Initially I was thinking of making it part of protoschool, but I'm rethinking webui as developer tooling for IPFS, so I've been tooling around with adding a REPL there. I'm gonna move this issue to the webui repo.

See also: https://github.com/ProtoSchool/protoschool.github.io/issues/214

[2019-05-20 12:54] sneak commented on #807
question - if ipfs-desktop is running a local ipfs daemon (with gateway), shouldn't it be rewriting ipfs: and ipns: URLs to localhost:8080/{ipfs,ipns} instead of the public gateway?

[2019-05-20 21:49] lidel commented on #807
AFAIK it is by design, to make links always work (even when your local node is shut down).
If you have [ipfs-companion](https://github.com/ipfs/ipfs-companion/) browser extension it will redirect to your local node and public gateway won't get hit.

[2019-05-21 07:52] hacdias commented on #807
Yeah, we did it that way to make sure they were always available. _But_ we can detect if the daemon is on, and if so, use the local gateway.

[2019-05-24 09:46] olizilla opened #933 "Dont show a dialog box to ask if the user wants replace the ipfs command"
It would be jarring to see a dialog box when ipfs-deskopt auto-updates. We are working on a experiements UI for the settings page which we could add a "let desktop manage the `ipfs` command`.

First step is to disarm the dialog box. While in there, please ensure that we gracefully handle a situation where the user doesn't have polkit available on linux... we should just skip trying to check for `i

[2019-05-24 09:54] olizilla commented on #933
Dialog boxes are for terrible failure cases where we haven't had the time to come up with something better. Imagine you are getting some work done, and desktop auto-updates, and then BONG a dialog box, unbidden, appears and steals focus.

[2019-05-24 10:19] hacdias commented on #933
Just some notes:

Our auto-update always requires manual action to be triggered. Also, the dialog is shown once, not every update.

Nice, we already have that. But it's nice to have a better documented section.

We only show the dialog about polkit if the user tells IPFS Desktop explicitly to add IPFS to the PATH and it doesn't have polkit.

[2019-05-24 10:23] olizilla opened #936 "Test with go-ipfs 0.4.21-rc3"
Let's give the desktop a work out with go-ipfs 0.4.21-rc3. It's important to report any issues to the go team while the release is still in the rc phase, or to let them know that all is well.

[2019-05-24 11:55] olizilla opened #938 "Allow devs to try out beta versions before we make a general release"
Let's use the release channels feature of electron-builder. https://www.electron.build/tutorials/release-using-channels

It'd be great if I could toggle a setting in the app, to opt-in to recieving beta updates.

In the app config we could opt-ing in to alpha updates.

[2019-05-24 16:28] #933 closed

[2019-05-25 02:52] JonahAragon opened #940 "Ability to set custom public gateway"
I'd like the ability to define a custom gateway in the settings like you can with the IPFS Companion browser extension, so the link copied when a file/screenshot is shared or when "view on IPFS gateway" doesn't have to be from `share.ipfs.io` or `ipfs.io` respectively.

[2019-05-25 02:55] JonahAragon commented on #879
If it would be easier, a keyboard shortcut to just upload whatever's currently in the clipboard would be incredibly handy alternative to this. I take all my screenshots to the clipboard anyways so it'd just be one extra thing to do to share it if I needed to, and then it could be applied to other files as well, uploading copied stuff from the Finder, or even adding text in the clipboard to a txt f

[2019-05-25 07:46] hacdias commented on #879
@JonahAragon uuh, that's a great idea! I like it 💡 What do you think @olizilla?

[2019-05-25 10:00] lsji07 opened #941 "IPFS Node fails When setting storage location"
Please describe what you were doing when this error happened.

Previously I was running a CLI go-ipfs node. I had to get my ipfs storage to be in my D:\IPFS folder. I run a "small" SSD as my main drive that IPFS woud rapidly fill it (47GB plus currently)

I have to create a IPFS_PATH with value D:\IPFS for a cli node in system variables.

Installed the desktop ipfs software and get this error. See

[2019-05-25 10:10] hacdias commented on #941
Does it work if you don't set IPFS_PATH?

[2019-05-25 12:54] lsji07 commented on #941
No. I have tried both on fresh installations.

After the intial failure the node doesn't restart or seem to be controlled by the Desktop/menu restart/stop anymore.

Uninstalling and reinstalling doesn't work either as above.

The node shows up as in fault and that is it. I can start a node up separately but the desktop interface doesn't control it etc obviously other than webui reporting.

[2019-05-26 07:50] hacdias commented on #941
Hmmm... I just tried on a clean installation and there are no issues whatsoever on Windows 10. Could you please share the contents of `%appdata%/IPFS Desktop/error.log`?

[2019-05-26 10:15] lsji07 commented on #941
https://pastebin.com/aRSKYi95

[2019-05-27 07:34] hacdias commented on #941
@lsji07 I can't reproduce it either, so I'm closing this. Thanks for the report though. If it ever happens again, feel free to reopen 😄

[2019-05-27 07:34] #941 closed

[2019-05-27 08:06] hacdias commented on #940
Hmm, `View on IPFS gateway` is truly part of IPFS Web UI. @olizilla I think this would be easy to implement on Web UI. Shall we move the issue there?

[2019-05-31 13:07] #884 closed

[2019-05-31 13:30] #930 closed

[2019-05-31 13:32] olizilla opened #944 "Pass through ipfs-desktop version number to analytics bundle"
Right now the desktop analytics show the webui version number (e.g. 2.4.4), rather than the desktop version number (e.g. 0.7.3). It's be helpful to wire it through so that desktop passed it's version number through so the webui analytics bundle could use it.

[2019-05-31 14:06] #920 closed

[2019-05-31 15:28] #944 closed

[2019-06-03 08:15] olizilla commented on #938
To start making use of this after the next release, we'd set the package version in master to be `0.9.0-alpha`. When we were ready to test out a release, we'd set it to `0.9.0-beta`, and then release by setting it to `0.9.0`.

- We need to make  it so we can configure `autoUpdater.channel` at run time.
- It should always default ot `latest` aka "stable".
- minimum viable: make it so I can opt in t

[2019-06-03 08:24] olizilla commented on #938
@hacdias wait a minute... the main goal here is to be able to publish release candidates without having everyone auto-update to that version... i was just re-reading the docs  https://www.electron.build/tutorials/release-using-channels

So I am assuming that if we don't do  anything, we can publish 0.8.0-rc.1 and existing installs *will not* auto-update to that version.

Is that your understanding

[2019-06-03 08:49] hacdias commented on #938
@olizilla by reading the documentation, yes, it seems that if we publish `0.8.r-rc.1`, it won't be installed automatically.

Although, we have the option `allowPrerelease` enabled (https://www.electron.build/auto-update.html) because we're not marking any releases as actual releases on GitHub releases. I know those are different things, but I wonder if they are related somehow.

And yes, we can ce

[2019-06-03 08:53] olizilla commented on #938
I take that to mean that it'll download pre-releases updates if the user currently has a pre-release. that seems like a reasonable default.

[2019-06-03 09:00] hacdias commented on #938
@olizilla that is for GitHub releases. We have it set to `true` because all our releases are marked as pre-releases.

[2019-06-03 09:11] olizilla commented on #938
oh noes! if we explicitly set it to true, then everyone gets the alpha releases. From reading the docs, it looks like it only cares about the version string, not the github release "pre-release" flag.  Do you recall  why you set it  to true in the  first place? Did you see an issue with auto-update not fetching "stable versions like 0.7.0 because the release was fagged as pre-release?

[2019-06-03 09:17] hacdias commented on #938
@olizilla yes, that's the reason we set it to true. And it makes sense to be related to flagging as pre-releases because it is a `GitHub provider only` feature.

[2019-06-03 10:02] #936 closed

[2019-06-03 11:56] hacdias commented on #938
@olizilla just releases 0.8.0-rc.1 and 0.7.3 detects it as an update. What I suggest:

1. Let `allowPrerelease` use the defaults.
2. Release 0.8.0-rc.2.
3. See if 0.8.0-rc.1. **It should.**
4. Release 0.8.0.

Although this misses one big important point: we're not testing if now the stable finds the rc or not... We could, perhaps, unrelease 0.8.0-rc.1 and release 0.7.4 and try it out.

[2019-06-03 12:31] hacdias commented on #938
Wait! We're using `latest` channel too for our releases. Even for pre-releases. Perhaps we could:

- Enable channels (https://www.electron.build/tutorials/release-using-channels#electron-builder), then pre-releases would stay on a different channel.
- Keep `allowPrerelease` on `true`. This **is** related to our flagging on GitHub prereleases. If let it default, a user on latest channel won't be ab

[2019-06-03 13:07] olizilla commented on #938
@hacdias as i understand it `latest` is supposed to mean `stable`, and the default for `allowPrerelease` is supposed to mean that folks with a stable release will only update to the next stable release, while folks with a beta releast would update to either the next beta or the next stable release. That sounds good.

[2019-06-04 07:34] #880 closed

[2019-06-04 07:34] hacdias commented on #880
[v0.8.0](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.8.0) is out! 🎉

[2019-06-04 12:58] AkshitV commented on #780
I have a similar query,
I wanted to make my own private ipfs network and needed to change the default bootstrap nodes to my own nodes,
i tried eddititng daemon.js at line 79:
          config.Swarm.ConnMgr.HighWater = 300
I changed the value to a new value to a new value, **but its not getting reflected in .ipfs/config file**
That is just an example, i want to change config.Bootstrap to my own nod

[2019-06-04 13:21] olizilla commented on #780
Edit `.ipfs/config` directly then restart the daemon

[2019-06-04 13:24] olizilla commented on #938
So it turns out that release channels are **not a thing** when using electron-builder with github, which we only discovered by going through the electron-builder source. huzzah.

To avoid deplyed apps from auto-updating, we enable the pre-release flag on the github release. When we are happy with them, we create a release with the pre-release flag disabled. electron-builder ignores all other signa

[2019-06-04 13:24] #938 closed

[2019-06-04 14:13] AkshitV opened #950 "Making a private network using ipfs desktop, it doesn't have a swarm.key right ?"
Ipfs desktop runs without swarm key right ?
i could check that in config, under Identity it also has PrivKey, whats this for and why do i not have this, when i make a private network right ?
is think this is used to find the location of files right ? correct me if i am wrong ,
why does a private network not have this ?
does this mean that a private network is working without a priv key of every pe

[2019-06-04 19:54] olizilla commented on #668
Auto updating via github releases is working now. Release marked as "pre-release" are excluded from auto-updates.

[2019-06-04 19:54] #668 closed

[2019-06-05 17:00] hacdias commented on #628
This bug was fixed on the latest version! Closing 😃

[2019-06-05 17:00] #628 closed

[2019-06-06 00:17] lidel commented on #691
Note that we now [provide](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/README.md#install) a generic Tar package (`.tar.xz`) for Linux.
It should make packaging for a specific distro easier (no need for manual build).

[2019-06-06 10:45] hacdias opened #951 "Release 0.9 📦 npm-on-ipfs & wild files 🦌"
# Release Notes

- Web UI: [`v2.5.1`](https://github.com/ipfs-shipyard/ipfs-webui/releases/tag/v2.5.1)
- IPFS: [`go-ipfs v0.4.22`](https://github.com/ipfs/go-ipfs/releases/tag/v0.4.22)

The 0.9.0 version now allows you to navigate, not only your own files and pins, but the whole `/ipfs` and `/ipns` universe. Just type a path and you're good to go. We've also improved many existing features and squ

[2019-06-06 12:06] olizilla opened #952 "Don't auto-restart if user chose to stop the daemon"
The daemon now auto-restarts when the network changes, which works well. Alas it works too well. I'm sat near 2 networks that keep going down, so I've asked ipfs-desktop to stop the daemon, but it keeps starting back up when my network changes.

If the user stops the daemon, it should remain stopped. Chaning network should not restart it.

[2019-06-06 12:33] #952 closed

[2019-06-07 23:28] gcavalcantes opened #954 "Crashed while idle on another desktop"
Launched IPFS desktop for the first time and it opened normally. I moved the IPFS Desktop window to another desktop after pressing **WIN + TAB**. It crashed while idle after about 60 seconds of me working on another desktop.
My internet speed is really bad at the moment. It might have something to do with this.
Also, the specifications below shows "win32". My Acer Aspire 5 laptop is running Window

[2019-06-09 07:45] hacdias commented on #954
Hey @gcavalcantes! Thanks for the report. I don't think the error is in any way related to the fact you were working on another desktop. This seems an error related to auto update mechanism and some network failure. Although, that was supposed to have been fixed on 0.7.0.

Could you show me `%appdata%/IPFS Desktop/errors.log`?

Also, please update to 0.8.0 https://github.com/ipfs-shipyard/ipfs-des

[2019-06-10 02:50] miguelito9 opened #955 "Unable access files"
I've installed latest ipfs desktop (go-ipfs v0.4.21) on Win7 XP with an external drive as described in last entry at
https://discuss.ipfs.io/t/how-to-setup-ipfs-desktop-with-repository-in-external-hd/5490/2
I’m running a VPN exiting Iceland with the IPFS Desktop behind a router. Others are having trouble accessing my files. For example the file https://ipfs.io/ipfs/QmdMkoevxiyexeM21jAgKDrjrZ6G8Dqv

[2019-06-10 07:56] hacdias commented on #955
Hey @miguelito9, thanks for the report. Unfortunately, it doesn't seem to be your fault. @olizilla and I have also been having some issues with that.

It seems there is an issue already open on `go-ipfs` repository (https://github.com/ipfs/go-ipfs/issues/6385). I'll wait for feedback.

[2019-06-10 08:13] hacdias opened #956 "Tray Icon - Colors, more info?"
Right now, IPFS Desktop tray icon is coloured. That goes against some guidelines and "what we usually" see on macOS. If we notice, when using the dark theme, we get white icons, and when using the light theme, we get dark/coloured icons.

The same applies for the most recent version of Windows 10, where there are effectively two themes (light and dark). System icons honour that, although since it

[2019-06-10 09:26] hacdias opened #957 "npm-on-ipfs experiment feedback"
Tell us what you think about `npm-on-ipfs` experiment on IPFS Desktop. Thumbs up if you liked it, thumbs down if not, comments for everything else.

[2019-06-10 16:14] edu-cated opened #988 "Prompt to set IPFS_PATH During Installation"
**Is your feature request related to a problem? Please describe.**
The .ipfs folder becomes very large and is better suited to a storage drive than the operating system's drive, where possible.  A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Prompt newbies to pick their storage drive for this purpose during install

[2019-06-10 18:51] ghbjklhv opened #958 "[Feature] Add Proxy Support"
**Feature**: Add [Proxy](https://www.wikipedia.org/wiki/Proxy_server) Support
**Why?**: Adding proxy support may enable users to route connections through another server  to provide better anonymity. Plus, it would enable users to utilize IPFS with [TOR](https://www.wikipedia.org/wiki/Tor_(anonymity_network)).

_________________

Want to support this issue? Post a [bounty on it]()! We accept bount

[2019-06-11 00:55] lidel commented on #956
The same "dark" and "light" icon variants could be used in [ipfs-companion](https://github.com/ipfs/ipfs-companion/) in Firefox
(it supports [`theme_icons`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_action))

[2019-06-11 00:55] lidel commented on #956
The same "dark" and "light" icon variants could be reused in [ipfs-companion](https://github.com/ipfs/ipfs-companion/) in Firefox
(it supports [`theme_icons`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_action))

[2019-06-11 13:09] ericronne commented on #956
+1 to following the apple [guidelines](https://developer.apple.com/design/human-interface-guidelines/macos/extensions/menu-bar-extras/) and using a monochromatic "template image" for the menu bar.

[2019-06-11 15:27] khinsen opened #959 "Permission denied on macOS (ipfs-on-path feature)"
Please describe what you were doing when this error happened.

1. Download .dmg file
2. Open it and drag `IPFS Desktop.app` to `$HOME/Applications`
3. Double-click `IPFS Desktop.app`

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-06-11 15:30] khinsen commented on #959
At first sight, IPFS seems to work fine in spite of this error. The only function that doesn't work is adding the `ipfs` binary to the system path. Trying it raises the same error as reported above.

[2019-06-11 16:37] hacdias commented on #959
That's the only information you get from the error?

[2019-06-11 19:19] khinsen commented on #959
First I get this dialog box:
![Screen Shot 2019-06-11 at 21 18 08](https://user-images.githubusercontent.com/94934/59300037-6ccb0580-8c8e-11e9-91b6-77d898cafc5f.png)
Clicking on "Report the error" is what created this issue. I tried "Open logs", but that merely opens a directory full of funny files in Finder.

[2019-06-11 19:22] khinsen commented on #959
I have a laptop with a near-identical configuration, so I tried installing IPFS Desktop there as well. No error message there. No idea what triggers the error on my desktop machine.

[2019-06-12 22:06] hacdias commented on #959
Yeah, definitely a weird error. I'll try to see if I can pull out something from this log.

[2019-06-12 22:38] #907 closed

[2019-06-13 03:01] diegotco opened #960 "Error in a Macbook"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-06-13 10:12] hacdias commented on #960
Duplicate of #959

[2019-06-13 10:12] #960 closed

[2019-06-13 10:16] hacdias commented on #959
@khinsen @diegotco what are the permissions for `/usr/local/bin`?

@khinsen are they the same on both computers?

[2019-06-13 16:51] diegotco commented on #959
How can I check that permmissions? :(

[2019-06-13 17:03] FruityWelsh opened #961 "Doesn't run on startup after reboot"
I have the launch on startup option selected, but I have to manually start it after every reboot.

distro = kubuntu 19.04

[2019-06-13 17:28] khinsen commented on #959
On the machine where I get the error message:
[code]
On the machine without any error:
[code]

So there is some difference in Apple's extended permissions, but the basic Unix permissions are the same. Note that I installed IPFS Desktop via the account "administrateur", but I run it under my personal account that has no administrator privileges.

[2019-06-13 17:30] khinsen commented on #959
@diegotco Open `Terminal.app` (under `/Applications/Utilities`), paste the command `ls -ld /usr/local/bin` into it, and press Return.

[2019-06-13 17:31] diegotco commented on #959
Thanks: Here it is :)

drwxr-xr-x  15 root  wheel  480 Jun  9 08:22 /usr/local/bin

[2019-06-13 18:39] hacdias commented on #961
Thanks for the report @FruityWelsh! Please remember linux support is experimental

[2019-06-17 23:20] gcavalcantes commented on #954
Hi sorry for the delay in response.
I couldn't find any erros.log file. But here's the content from the **error.txt** file:

[2019-06-18 07:56] Alexdiffff opened #962 "error at windows startup"
this issues ocurred everytime starting Windows 10, even restart.
![Annotation 2019-06-18 123613](https://user-images.githubusercontent.com/46273530/59663407-2cf9a600-91d9-11e9-8b23-94e850efa471.jpg)

[2019-06-20 14:02] hacdias commented on #962
Can you click "report the error" or "Open logs" to check what the real problem was?

[2019-06-21 09:36] hacdias commented on #954
Weird, the file should be `error.log` and not `.txt`. Also, the error described on the logs (could not find a registry value) doesn't even seem related to networking... Could you try updating to the latest version (0.8.0) and leave it running some days and see if we can reproduce this?

[2019-06-21 09:39] hacdias commented on #959
yeah, the permissions look vaguely the same so that shouldn't be the problem. Oh, wait. @khinsen did you install it through a different account on the computer where it works?

@diegotco did you install with the same account you're using or you did the same as @khinsen?

[2019-06-21 12:45] khinsen commented on #959
@hacdias On both computers, I work with a plain user account and switch to an administrator account for installing software.

[2019-06-21 22:41] diegotco commented on #959
I have no idea hehe. I had installed this: https://screencast.com/t/Y9UZs0ddJ

And this on Firefox and Chrome: https://screencast.com/t/cmDtBiie

[2019-06-22 20:05] henrikcoll opened #964 "crashes on windows right after install and when i re-open it."
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

Seems like it can't open C:\Users\Henrik Næss\AppData\Local\Programs\ipfs-desktop\resources\app.asar.unpacked\out\late\ipfs-on-path\scripts\install.ps1 I tried opening it my self (b

[2019-06-24 10:10] hacdias commented on #959
For both of you, does this happen _all the times_?

[2019-06-24 14:41] diegotco commented on #959
Nope, that happened just once

[2019-06-24 14:42] hacdias commented on #964
I think I might now what the issue is. I'll take a look at the code. `The term 'C:\Users\Henrik' is not recognized as the name`. It seems to be breaking on the spaces, although it shouldn't.

[2019-06-24 15:40] FruityWelsh commented on #961
This also doesn't work on KDE spin of fedora. It makes me think it is a least specific to KDE.

[2019-06-24 18:37] khinsen commented on #959
It happened on the first startup, and then whenever I try to install the IPFS command-line tools. Otherwise IPFS Desktop works just fine, and I don't really need the command-line tools since I have go-ipfs installed anyway.

[2019-06-25 03:32] NatoBoram commented on #957
Oh. Now that's something I want to try... but I got https://github.com/ipfs/go-ipfs/issues/6467. Can you link more info about that? How to enable it, what it does, and how to use it?

[2019-06-25 08:44] hacdias commented on #957
@NatoBoram the feature is coming on the next release 😃 Not yet here. This is a discussing issue for those who use IPFS Desktop to leave some feedback about the feature. You can manually build IPFS Desktop if you want to have it right now (`npm run build`).

[2019-06-25 14:40] diegotco commented on #959
@hacdias Happened to me again, today. Reason: I had to reset my Macbook, then, I do clic on Launchpad and... https://screencast.com/t/BLN555bQ1V

[2019-06-27 00:49] gcavalcantes commented on #954
Hi. I upgrade to version 0.8.0 and ran it for a few days. Everything is running fine and I could not reproduce the error.

[2019-06-27 11:35] hacdias commented on #962
I'm closing this since most likely it is the same as #964.

[2019-06-27 11:35] #962 closed

[2019-06-27 14:16] #964 closed

[2019-06-29 06:43] resslerruntime opened #966 "Error with IPFS"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-06-30 13:28] hacdias commented on #959
I wonder if it is happening due to permissions, such as https://github.com/ipfs-shipyard/ipfs-desktop/issues/966. Next time it happens, could you click 'Report the error'? That'd give us much more detail.

@diegotco can you check the content of `~/Library/Application Support/IPFS Desktop/error.log`?

[2019-06-30 18:57] diegotco commented on #959
@hacdias Can you provide me with your public PGP key in order to send you my error.log file?

[2019-07-01 06:50] hacdias commented on #959
@diegotco https://keybase.io/hacdias/pgp_keys.asc?fingerprint=4dc16358711be325fb3633cf2e80d38374cd55aa

[2019-07-01 09:53] diegotco commented on #959
Done! :)

[2019-07-01 14:10] hacdias commented on #959
@diegotco your error is clearly related to permissions when making the symlink:

[code]

@khinsen could you also check `~/Library/Application Support/IPFS Desktop/error.log`?

[2019-07-01 15:13] diegotco commented on #959
@hacdias I had to re installed the Mac OS but I have all the permissions

How can I change this?

[2019-07-02 06:57] hacdias commented on #959
@diegotco we'll hopefully fix this on your end. Although I find it weird why some people have permissions and some don't.

@khinsen could you confirm it's the same error you're facing?

[2019-07-03 05:56] khinsen commented on #959
@hacdias I get exactly the same error. So it seems that IPFS Desktop assumes that the user has write access to `/usr/local/bin`. I think this is not true on a fresh macOS installation, but it has been a long time since I did one, so I am not 100% sure. Many people make `/usr/local` recursively writable, or change ownership to their user account, in the course of installing [Homebrew](https://brew.

[2019-07-03 06:47] hacdias commented on #966
Duplicate of #959

[2019-07-03 06:47] #966 closed

[2019-07-03 06:51] hacdias commented on #959
@khinsen what we add to `/usr/local/bin` is the `ipfs` binary, not the application binary. Basically we're doing the following:

- On Windows, we just add the path to the `PATH` because we have permission to do so.
- On Linux, we don't do it automatically. The user needs to manually toggle it in the settings and permission will be asked.
- On macOS, we add it to `/usr/local/bin` automatically beca

[2019-07-03 08:17] khinsen commented on #959
@hacdias Your proposal sounds just fine!

[2019-07-11 04:55] markjspivey opened #971 "error during first launch"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-07-13 13:32] hacdias commented on #971
Thanks for the report. That's a duplicate of #959

[2019-07-13 13:32] #971 closed

[2019-07-14 09:14] hacdias commented on #954
I'm closing this for now. If you ever get any other error, please lemme know!

[2019-07-14 09:14] #954 closed

[2019-07-14 09:50] hacdias commented on #912
The easiest way to go, in my opinion, is to set new installations configurations for port 0 so it is set randomly. What do you think @lidel @olizilla?

I can't figure out a way to use a random port **only** when the defaults aren't available. That would require us to revert the options on shut down _and_ somehow know that the user has changed the configuration.

Perhaps the best is to bootstrap wi

[2019-07-14 09:51] hacdias commented on #956
@ericronne any suggestion to distinguish between an online and offline node with a monochromatic image?

[2019-07-14 14:00] hacdias opened #973 "CI Failing"
CI is failing, mostly Travis with time outs downloading Web UI or go-ipfs from the gateway.

[2019-07-14 15:41] hacdias opened #974 "IPFS not getting (always) killed when sutting down"
I'm having lots of issues of IPFS not getting actually killed when shutting down IPFS Desktop. IPFS Companion shows it as running with 0 peers and I need to kill it via `killall ipfs`.

[2019-07-14 17:59] hacdias opened #975 "Way to easily resolve ipfs/ipns paths"
So I had one idea: one of the commands I've been running most recently is `ipfs name resolve`. I think it would be a nice addition (perhaps with a shortcut even) something like this:

1. Press shortcut or option in menu
2. Paste/write path
3. OK
4. Get the resolved path and option to copy to clipboard

I don't think this should go into the Web UI itself since it should be something simple and fast

[2019-07-15 10:58] lidel commented on #975
Note there are:
- `name resolve` –  resolves IPNS path to an immutabe IPFS path
- `resolve` – replaces any content path with direct CID

Example:

[code]

Is there a good use case for having quick access to each?
@hacdias why are you doing manual `name resolve` so often?

[2019-07-15 10:59] #959 closed

[2019-07-15 11:03] hacdias commented on #975
@lidel didn't know about `resolve`. It seems the js-http-api-client doesn't support it (perhaps that's why I didn't knew it :O). Thanks!

I've been wanting to know the latest hash of `/ipns/xkcd.hacdias.com`. I've now made a simple script to pin it every day locally, but yeah, that was the reason. And I thought it might be could help more people. Not sure.

It could be a dialog with two buttons. O

[2019-07-15 12:23] khinsen commented on #959
Thanks for fixing this!

[2019-07-15 12:25] hacdias commented on #959
Thanks for reporting! 😃 Will be available on the next release

[2019-07-15 16:29] hacdias opened #982 "Add copied files to IPFS"
Forked from https://github.com/ipfs-shipyard/ipfs-desktop/issues/879#issuecomment-495833072

[2019-07-15 16:29] hacdias commented on #982
See: https://github.com/electron/electron/issues/9035.

[2019-07-15 16:30] lidel commented on #912
It would be pretty bad if we default to random port by default (UX regression for users who did not have any issues before).

I think it should be possible to do a quick check of port availability during the startup, just like we check for `~/.ipfs/api` or leftover locks.

If remote API endpoint is not set (lack of `~/.ipfs/api`) we read the port from config (and default to `8080` if config does n

[2019-07-15 17:22] PaulCombal commented on #912
Option B seems Ok to me. I believe adding a "Don't ask me again" checkbox is very important in this case.

[2019-07-15 19:24] ericronne commented on #956
Taking a 👀now!

[2019-07-15 21:52] ericronne commented on #956
Here's a design which better aligns with the rule book, and helps bring desktop more closely into alignment with the browser extension. When running, the framing semicircles break out of their mask and become full circles (ready for connection, symbolically :)

Pls critique!

![image](https://user-images.githubusercontent.com/9259185/61251431-1420d980-a720-11e9-9bad-ff9810e037f5.png)

[2019-07-15 22:33] hacdias commented on #912
I think the option B with a 'Dont ask me again' as @PaulCombal suggested would be the better option. Although I didn't want to bother users about this.

[2019-07-15 22:34] hacdias commented on #956
I like the idea! Ping @olizilla @lidel!

Could you send me the source files so I can try them out? To see how they work out with dark/light themes.

[2019-07-16 14:05] ericronne commented on #956
@hacdias do you know the size parameters? In order to make this look the best, i may want to recreate it on a pixel grid. Also what format would you like? thx!

[2019-07-16 14:38] hacdias commented on #956
@ericronne:

Please do the following:

- `off-big.png` - 512x512px
- `off.png` - 22x22px
- `off@2x.png` - 44x44px
- `off@2.5x.png` - 66x66px
- `off@3x.png` - 88x88px
- `offTemplate.png` - 22x22px black&alpha channels only
- `offTemplate@2x.png` - 44x44px black&alpha channels only
- `offTemplate@2.5x.png` - 66x66px black&alpha channels only
- `offTemplate@3x.png` - 88x88px black&alpha channels only

[2019-07-16 15:04] ericronne commented on #956
Is this overlay box created separately, with code?

[2019-07-16 15:05] hacdias commented on #956
Yes!

[2019-07-16 15:30] ericronne commented on #956
Hm this desktop screen grab measures 30 x 33 …
![image](https://user-images.githubusercontent.com/9259185/61307552-28aeb180-a7b4-11e9-90b3-81388d96aa22.png)

and the chrome extension clocks in at about 28 x 32 …
![image](https://user-images.githubusercontent.com/9259185/61307661-58f65000-a7b4-11e9-86b5-fa0994816167.png)

Does the size include "padding"? The menubar itself seems to be 44 …
![image]

[2019-07-16 15:31] hacdias commented on #956
The sizes I gave you are for IPFS Desktop and they **must** contain padding. Trust me on the sizes! You have an high-dpi screen (2x) that's why you measure 44px and not 22px which is the base 😃

[2019-07-16 15:31] hacdias commented on #956
For IPFS Companion I don't know. @lidel must know :)

[2019-07-16 16:16] hacdias commented on #956
Also, the template images **must** be only black and alpha channel. The grays must be made of alpha changes in the black color. Just a FYI if you didn't know 😃

[2019-07-16 19:02] ericronne commented on #956
How do the `off` images differ from the `offTemplate` ones? All are grayscale/black, right?

[2019-07-16 19:44] ericronne commented on #956
Also where are the `big` icons used? 512x512 is a mighty big "icon" 😮

[2019-07-16 22:31] hacdias commented on #956
The big ones are for Windows and Linux - you can make them a bit smaller if you want. Anyways if you're using something vectorial, we just need to export to the right sizes. Not really a big deal. 😄

A note about template files: all colours must be a mix of black and opacity! Using grays will only make an opaque image that doesn't work. Just black and alpha. The non-template ones are coulored.

[2019-07-16 22:52] hacdias commented on #956
@ericronne if you're using Sketch and if it makes it easier for you, you can just send me the Sketch file with all artboards (on/off black&alpha/coloured) and I can export them to the right sizes.

[2019-07-17 01:18] ericronne commented on #956
I think i need to better understand where each of the images will be displayed. My new design is really best suited to very small implementations. Is there a way for me to see where each icon is used, so i can get the proper context? Sorry, i'm guessing that could be a lot of legwork for you. 😬

And yep, i'm creating vectors in sketch. Black fills, alphas for "gray."

[2019-07-17 07:04] hacdias commented on #956
Hey Eric. Despite the big size, it will be displayed on a small taskbar icon too. I know it doesn't need to be that big, but I'll take a look at electron's documentation and provide you with better sizes. But I assure you they will only be shown on taskbar/menubar.

[2019-07-17 10:14] hacdias commented on #956
@ericronne so I have been trying and experiment and I've got the right sizes I need! Please let me know if you have any doubts.

### For macOS

On macOS, the icons **must** include padding. The base size is 22x22px which is the size of a 'square' in the menubar. The [current offline icon](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/assets/icons/tray/black.png). So, the files for macO

[2019-07-17 11:05] olizilla commented on #988
We had this in a previous version of ipfs-desktop. @hacdias what are your thoughts on this?

I think it would be good to let users choose where their ipfs home directory is, but it also adds some friction to getting started. Perhaps desktop could make it easier to move your IPFS_HOME dir after you've got some use out of it.

[2019-07-17 15:36] hacdias commented on #988
What if we added an option under Advanced to move the current IPFS repository to another location?

By adding it during installation, we could just prompt the user saying something like "ipfs repository will be created at your home directory (`path`). Do you want to put it somewhere else?" with the option "Keep it" and "Another place" (with better words for that).

It would be a bit annoying for t

[2019-07-17 16:12] ericronne commented on #956
Ok! Here's a [full set](https://drive.google.com/drive/u/0/folders/1rbAGNa6_8ToLo-FkCMYyAYUZL32rUV1S).
- I dumped them onto the google drive, since the names didn't match icons i see on the master branch
- [Sketch file](https://drive.google.com/open?id=1Jm1l0xaP9mtR97X-PaXzGzbYPtZmegRB) is there, too (bc Open Source!)
- I'd love to see know how the colored icons are applied, so that i can ensure p

[2019-07-17 16:29] hacdias commented on #956
@ericronne not a major thing, but since I didn't know if I have permission to edit the Sketch file, the coloured ones must not have the 'Template' part on the name:

![image](https://user-images.githubusercontent.com/5447088/61393179-52e99780-a8b8-11e9-8665-c5eb6c46d496.png)

I have made some updates on the sizes here:

https://github.com/ipfs-shipyard/ipfs-desktop/issues/956#issuecomment-51219339

[2019-07-17 16:36] ericronne commented on #956
Removed `Template` from the names of colored-icon artboards. You should be able to edit the sketch file, just lmk if you do, so that i can keep my local file up to date, thx!

[updated sketch file](https://drive.google.com/open?id=1Jm1l0xaP9mtR97X-PaXzGzbYPtZmegRB)

[2019-07-19 11:15] jianhuaixie opened #992 "electron-builder -m"
⨯ Application entry file "out/index.js" in the "/Users/mac/Documents/ipfs-desktop/dist/mac/IPFS Desktop.app/Contents/Resources/app.asar" does not exist. Seems like a wrong configuration.  stackTrace=

[2019-07-19 13:56] lidel commented on #956
@ericronne I really like semicircles as indicator of node being online (ready for connection).
In the browser we need PNG with alpha channel (not every vendor support SVG) in sizes: 16, 24 and 32

Details: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_action#Choosing_icon_sizes

ps. The badge with a number will probably go away (we will display only t

[2019-07-19 14:46] lidel commented on #975
Hm..  IPFS Companion has an option to resolve & copy direct CID of the path in the current tab:

Is this what you needed?

[2019-07-19 17:12] hacdias commented on #975
@lidel yeah! I think that since Companion has it, we should not add it to Desktop then. I'll close this.

Perhaps we should add some way on IPFS Desktop to incentive the use of Companion. And if not using the default ports, a way to open something in the browser that tells Companion to use that config. We should create an issue about that!

Closing this in the meanwhile!

[2019-07-19 17:12] #975 closed

[2019-07-20 06:59] hacdias commented on #992
Hello @jianhuaixie! To build, you should run `npm run build`. What are you trying to do?

[2019-07-22 13:24] tycooperaow opened #993 "Error in installing IPFS desktop on windows"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-07-22 17:38] #912 closed

[2019-07-22 17:40] hacdias commented on #993
Duplicate of #964. Is fixed for the next release! Sorry for the trouble

[2019-07-22 17:40] #993 closed

[2019-07-22 21:03] #807 closed

[2019-07-24 06:33] hacdias commented on #973
It seems IPFS Companion is moving from an hard-coded Web UI version to using the bundled version with the implementation (see https://github.com/ipfs-shipyard/ipfs-companion/issues/736). Moving on that path here would solve this CI issue.

Although, IPFS Desktop depends on IPFS Web UI even when the daemon is offline: it needs the settings page to be always available so we can't just load it from t

[2019-07-24 08:29] olizilla commented on #973
The highest priority is to improve the response time from the gateway.

[2019-07-24 08:35] hacdias commented on #973
@olizilla in the meanwhile, I'll probably update `ipfs-or-gateway` to make multiple tries (maybe 3 and configurable) because it sometimes works right after trying again, which is weird IMO, but I'll try that.

[2019-07-24 08:55] hacdias commented on #955
I'm closing this as this is not directly related to IPFS Desktop and the issue was mitigated in the recent versions of the gateway

[2019-07-24 08:55] #955 closed

[2019-07-24 08:58] hacdias commented on #714
Closing this in favor of #601

[2019-07-24 08:58] #714 closed

[2019-07-24 09:03] #869 closed

[2019-07-24 09:28] lidel commented on #973
@hacdias it could also fallback to other trusted public gateway, eg. https://cloudflare-ipfs.com, to mitigate scenarios where only our GW is broken

[2019-07-24 10:37] olizilla commented on #869
@hacdias did this get fixed?

[2019-07-24 10:50] shareven opened #995 "[ipfsd]Cannot find the IPFS executable"
i downloaded ipfs-desktop v0.8.0 source code , then npm i &&npm start :
![屏幕快照 2019-07-24 下午6 46 33](https://user-images.githubusercontent.com/25793040/61788083-c274ff00-ae43-11e9-87f4-8d979d93cdfb.png)
error: [ipfsd]Cannot find the IPFS executable

[2019-07-24 13:31] hacdias commented on #869
It seems the linked PR was merged and released in the meanwhile

[2019-07-24 13:32] hacdias commented on #995
Did `npm install` run successfully? It seems the binary wasn't downloaded during `npm i`.

[2019-07-25 06:13] shareven commented on #995
i rm -rf node_modules  && npm i .show the error:
<img width="1119" alt="屏幕快照 2019-07-25 下午2 10 29" src="https://user-images.githubusercontent.com/25793040/61850106-fef93700-aee5-11e9-81da-527cdbabd151.png">

FetchError: request to https://dist.ipfs.io/go-ipfs/versions failed, reason: connect ETIMEDOUT 174.37.154.236:443
Download failed!

PING 174.37.154.236 is Request timeout

[2019-07-25 06:22] shareven commented on #995
but when i use browser ,i can get the response;
![屏幕快照 2019-07-25 下午2 21 45](https://user-images.githubusercontent.com/25793040/61850723-8f844700-aee7-11e9-8332-83c6461998a5.png)

[2019-07-25 07:11] hacdias commented on #995
That's the issue and is not directly related to IPFS Desktop. We've noticed the gateway is timing out for certain computers (something related with DNS cache) on certain circumstances - as you see the browser worked, while it didn't work on the terminal.

That's basically what's happening on CI: it works every time on AppVeyor but Travis always fails to download with time outs.

/cc @olizilla

[2019-07-25 08:15] shareven commented on #995
now npm start is ok, but the window is blank.
<img width="721" alt="屏幕快照 2019-07-25 下午4 11 14" src="https://user-images.githubusercontent.com/25793040/61857702-3b815e80-aef7-11e9-935e-b03afc255e19.png">

[2019-07-25 08:56] hacdias commented on #995
Yeah, that's because of the error during `npm install`. Otherwise it'd work well. For now I don't have any recommendation despite trying again. Could you try using Cloudflare's DNS? https://developers.cloudflare.com/1.1.1.1/setting-up-1.1.1.1/

[2019-07-25 19:06] Babaloncryptolog opened #997 "Clicked on set path in desktop UI and got this error."
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-07-25 21:27] ericronne commented on #956
Picking this up again … here's another approach, where i've tried to solve a couple of issues with the previous design.

This version:
- Uses only black and white, no gray. (Most tray icons seem to go this route.)
- Is more eye catching / harder to miss
- Makes on and off more visually distinct from each other

![image](https://user-images.githubusercontent.com/9259185/61909918-ec3c2d80-aef8-11e9-

[2019-07-25 22:19] hacdias commented on #997
Duplicate of #964.

[2019-07-25 22:19] #997 closed

[2019-07-25 22:22] hacdias commented on #956
Love them! I think they'll work really nicely on macOS. Just to remember that we need some coloured form for Windows and Linux.

[2019-07-26 12:29] ericronne commented on #956
Yep onnit

[2019-07-26 14:18] ericronne commented on #956
**[Updated files!](https://drive.google.com/drive/u/0/folders/1rbAGNa6_8ToLo-FkCMYyAYUZL32rUV1S)** LMK if anything's awry. Would love to see how these look in the various implementations. 🤞

[2019-07-26 15:32] hacdias commented on #956
Thanks @ericronne! They look fantastic! Could you just update the icons to this nomenclature, please? https://github.com/ipfs-shipyard/ipfs-desktop/issues/956#issuecomment-512193391

[2019-07-26 20:07] ericronne commented on #956
@hacdias i've modified the names of the existing files on the gdrive, but i don't have the bandwidth for additional granular production work. Could we post a help wanted for that, perhaps?

[2019-07-27 06:04] hacdias commented on #956
@ericronne don't worry! I can make the missing ones!

[2019-07-28 21:18] hacdias commented on #956
So on macOS I think it just looks beautiful 😃

| | Light | Dark |
| ---|---|---|
| On | <img width="231" alt="Screenshot 2019-07-28 at 23 01 41" src="https://user-images.githubusercontent.com/5447088/62012851-ba8ec500-b18b-11e9-96cb-0c210ee7abba.png">| <img width="211" alt="Screenshot 2019-07-28 at 23 01 34" src="https://user-images.githubusercontent.com/5447088/62012850-ba8ec500-b18b-11e9-88eb-a6

[2019-07-28 22:05] marsrvr opened #1000 "PowerShell not found"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-07-29 00:53] shareven opened #1001 "connecting ipfs from one computer to another computer has error,"
I used ipfs-desktop (non-LAN) on two computers, connecting ipfs from one computer to another computer, err:Could not connect to the provided peer. Can you tell me why?

[2019-07-29 06:31] hacdias commented on #1000
It indicates you don't have powershell installed, which is strange taking in account all the latest versions have it. Which Windows version do you have?

[2019-07-29 12:27] lidel commented on #956
## In Browser toolbar (ipfs-companion)

@ericronne not sure how useful this is here, but I tried it in ipfs-companion (swapped the icon and disabled badge) next to uBlock and 1Password extensions in the browser toolbar

#### Brave (original)

![2019-07-29--14-21-27](https://user-images.githubusercontent.com/157609/62048072-3cbece00-b20c-11e9-8161-d4e241add840.png)
![2019-07-29--14-21-13](https://u

[2019-07-29 14:50] marsrvr commented on #1000
Microsoft Windows [Version 10.0.18362.239]
(c) 2019 Microsoft Corporation. All rights reserved.

They may have changed the API on you.

Sent from Mail for Windows 10

From: Henrique Dias
Sent: Sunday, July 28, 2019 11:31 PM
To: ipfs-shipyard/ipfs-desktop
Cc: Bob Clark; Author
Subject: Re: [ipfs-shipyard/ipfs-desktop] Attempting to run the installer.(#1000)

It indicates you don't have powershell i

[2019-07-29 16:03] hacdias commented on #1000
I just tried on a clean install of Windows 10 and it works flawlessly. Could you check if `powershell.exe` is on your PATH? Open `cmd` and type `powershell.exe`, please.

[2019-07-30 21:37] rogersachan opened #1003 "Update to Electron 6"
https://electronjs.org/releases/stable#release-notes-for-v600

Not many changes, but this is the first time electron has released at the same time as the latest chromium stable.

[2019-08-01 18:45] fliiteAI opened #1004 "OSX Catalina Beta failure to launch or install"
Running Version 10.15 Beta (19A512f) of OSX

Neither the zip version nor the DMG version of IPFS will install or run.   Attempting to run installer ipfs-desktop-0.8.0.dmg and the application from the following zip archive from releases ipfs-desktop-0.8.0-mac.zip .  System complains from DMG version:

![image](https://user-images.githubusercontent.com/50529112/62318775-67e62f00-b451-11e9-8761-80c4d

[2019-08-01 20:43] hacdias commented on #1004
Thanks for reporting this. I wonder if this is caused because we're not using the latest SDK which should be compatible with the latest macOS version. I'll take a look at this.

If you have Node.js installed, could you try running it manually from the command line?

- Clone
- `npm i && npm start`

[2019-08-01 20:45] hacdias commented on #922
Will close this as it will be included in the next version!

[2019-08-01 20:45] #922 closed

[2019-08-02 09:00] hacdias commented on #1003
Reopening this since our testing framework doesn't work with the newest Electron version yet. Ref.: https://github.com/electron-userland/spectron/issues/404

[2019-08-03 15:53] lsji07 opened #1013 "IPFS Desktop Fails"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.7.3
- **Electron Version**: 4.0.8
- **Chrome Version**: 69.0.3497.128

**Error**

[code]

[2019-08-04 07:07] KK-OS opened #1014 "Command failed: powershell"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-08-04 07:31] hacdias commented on #1013
Hey @lsji07! Please upgrade to the latest version: https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.8.0

[2019-08-04 07:31] #1013 closed

[2019-08-04 07:32] hacdias commented on #1014
Hey @KK-OS! Thanks for the report. What were you doing when that happened?

[2019-08-06 14:35] #988 closed

[2019-08-06 14:54] #1003 closed

[2019-08-07 10:04] #758 closed

[2019-08-07 10:05] hacdias commented on #758
This doesn't happen anymore 😃

[2019-08-07 10:29] hacdias commented on #618
@djdv what's the state of MFS mount?

[2019-08-07 12:08] andrasfuchs opened #1019 "Feature request: Publish websites with IPFS"
I suppose the node's Public folder is intended to be public by default. It would be logical to make that folder public by publishing it as a node's IPNS folder so that it could be accessed through the <IPFS gateway>/ipns/<peer ID> URL.

If you want to do that now, you need to call `ipfs name publish <new hash of the folder>` every time you change the content of your Public folder manually. It woul

[2019-08-07 13:01] andrasfuchs opened #1020 "Feature request: More information about the hash lookup"
If I enter an IPFS hash into the search field on the Explore page and click on the Explore button I got the result rather quickly if I'm lucky, but more often than not I need to sit there looking at the (nice looking) pumping-rotating three dots.

![image](https://user-images.githubusercontent.com/910321/62624728-02e47a80-b924-11e9-82d4-3510c968bbbf.png)

It would be nice to have continuous update

[2019-08-07 14:30] djdv commented on #618
@hacdias
Current status is being tracked here:
https://github.com/ipfs/package-managers/issues/74

At the moment I'm making an effort to develop versions of the concepts demoed before, in a way that can be merged into `go-ipfs` gradually. I'd like to have some kind of read support under an experimental flag ASAP.

I wrote a big summary [here](https://github.com/ipfs/package-managers/issues/74#issu

[2019-08-08 12:57] hacdias commented on #1019
@andrasfuchs what do you mean by "Public folder"?

[2019-08-08 13:29] #974 closed

[2019-08-08 22:06] andrasfuchs commented on #1019
@hacdias Ahh, sorry, I think I made a mistake when I supposed that my "Public" folder was created by the node by default during its installation. I probably forgot that I created that manually a year ago or so when I installed IPFS desktop for the first time.

Anyway, my suggestion changes a little then, but still, it would be nice, if I could select one folder that would be handled by IPFS deskto

[2019-08-09 07:25] hacdias commented on #1019
Hey! I know there is a discussion about simplifying the process of publishing websites aka using IPNS. ~I can't find the issue now~ Here it is:

https://github.com/ipfs/ipfs-gui/issues/69

I'll just update the title of this issue!

[2019-08-09 12:47] hacdias commented on #956
@ericronne do we have any updates on this? I absolutely love the look of the icons on macOS, but we certainly need to see what to do on Windows and Linux. I still think that adding a white background and padding could be great on Windows and Linux, just like Keybase does:

**(Please see the icons against a colored background to see the difference)**

**macOS**

![icon-keybase-menubar-regular-black

[2019-08-09 12:50] hacdias commented on #1001
How did you try to connect to another peer? Through `ipfs swarm connect`?

[2019-08-10 03:59] Ridler13 opened #1027 "Installation error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-08-10 04:05] Ridler13 commented on #1027
Error after install

[2019-08-10 07:25] hacdias commented on #1027
Duplicate of #964. Fixed for the next release!

[2019-08-10 07:25] #1027 closed

[2019-08-11 19:31] emanresu-web opened #1028 "error during first Launching"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.8.0
- **Electron Version**: 5.0.2
- **Chrome Version**: 73.0.3683.121

**Error**

[code]

[2019-08-11 19:32] emanresu-web commented on #1028
[error Launching IPFS.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/3490359/error.Launching.IPFS.log)

[2019-08-11 20:10] hacdias commented on #1028
Duplicate of #959. Fixed for the next release!

[2019-08-11 20:10] #1028 closed

[2019-08-11 20:15] emanresu-web commented on #1028
Thx for the update%$

Sent from ProtonMail Mobile

On Sun, Aug 11, 2019 at 1:10 PM, Henrique Dias <notifications@github.com> wrote:

[2019-08-12 04:21] shareven commented on #1001
<img width="1028" alt="屏幕快照 2019-08-12 下午12 20 01" src="https://user-images.githubusercontent.com/25793040/62845557-8e328700-bcfb-11e9-9143-ed03b6786a84.png">

[2019-08-12 13:57] ericronne commented on #956
Hi. I'll try to pick this up again today or tomorrow.

[2019-08-12 21:04] hacdias commented on #1001
Hmm... I see. We just call `ipfs.swarm.connect()` on the backstage here. Tomorrow I'll try out to see if I can replicate.

[2019-08-12 21:26] ericronne commented on #956
So many icon formats, yowza. Here's another take on the concept: a little beefier, and with a dashed outline for the "off" state (windows and firefox incarnations). I've approximated the sizing; it's difficult to tell from the other icons. Also the Windows icons, in particular, seem to be pixel perfect. Pixel-level crispness is not easy to achieve with this cube :/  If this seems more promising, i

[2019-08-13 06:47] hacdias commented on #956
@ericronne I also like these. Just one thing to note: on windows, as I said before, we **can't** detect **dark/light** mode on the taskbar. So we need an icon that works on both situations: dark and mode.

[2019-08-13 08:36] hacdias commented on #1001
@shareven so I just tried today and had the exact same error! Turns out and I didn't allow the inbound and outbound connections on the firewall to that port!

Please make sure you have a firewall exception for 49206 on the machine you're trying to connect to! Hope it helps.

[2019-08-13 11:38] ericronne commented on #956
Ah. So how do the other logos in the screenshots know which art to apply?

[2019-08-13 11:56] hacdias commented on #956
@ericronne good question. Can't find any info about it, but those icons are from the Operating System itself. There might be a way to support it, but Electron doesn't support it right now (I've opened an issue about that).

[2019-08-13 17:06] autonome commented on #1001
Probably a core implementation thing, but can the error say that the port was blocked and note the port number? Should be possible to know that we could connect to the IP address, but just not to that port.

[2019-08-13 17:45] hacdias commented on #1001
@autonome we can't say the port is blocked because the error might be caused by something else and not actually a firewall blocking.

If you're talking about the underneath error, i.e., given by `ipfs.swarm.connect()`, it must be changed within the implementation. If you're talking about the error we show to the user, we can absolutely change it.

I think I just avoided adding the peer address bec

[2019-08-14 01:14] ericronne commented on #956
@hacdias i dropped four svg files onto the **[g-drive](https://drive.google.com/drive/u/0/folders/1rbAGNa6_8ToLo-FkCMYyAYUZL32rUV1S)**: 2 with white bgs ("windows") and 2 without. If you are able to give them a test implementation, we'll see how they look. Again, sorry for providing only the vectors, but i'm a little  _s  t  r   e   t   c   h  e  d_ atm 😞

[2019-08-14 07:58] hacdias commented on #956
No problem, you can just update the sketch file and let me know. That way I can easily export to the right sizes.

---

On macOS they look great, as usual:

| | Light | Dark |
| ---|---|---|
| On |<img width="291" alt="Screenshot 2019-08-14 at 08 42 13" src="https://user-images.githubusercontent.com/5447088/63003438-07eb8180-be70-11e9-9de7-dc2f199cf435.png">|<img width="291" alt="Screenshot 2019-0

[2019-08-14 13:43] lidel commented on #956
Just noticed unfotunate https://github.com/features/package-registry/signup:

[![2019-08-14--15-40-26](https://user-images.githubusercontent.com/157609/63025646-f030ef00-bea9-11e9-9e5d-17dcd22701c9.png)](https://github.com/features/package-registry/)

:upside_down_face:

[2019-08-14 15:09] ericronne commented on #956
Thanks so much for your patience to date @hacdias ❤️!

Yes simpler seemed wise to me, too. Files representing a less detailed take on the windows icons are   **[on the drive](https://drive.google.com/drive/u/0/folders/1rbAGNa6_8ToLo-FkCMYyAYUZL32rUV1S)**. The [sketch file](https://drive.google.com/open?id=1i0cv6IVCjiGm9dpNBYRAFdaFxNzMKlmb) is there, too.

Windows …

| | Light | Dark |
| ---|---|--

[2019-08-14 17:04] hacdias opened #1034 "Co-host websites"
During this week's weekly call, we went over the co-hosting feature of IPFS Desktop. I decided to hide it for now from the UI and it won't be featured in 0.9.0 release notes.

So, we should introduce a section in Settings to add and remove websites from the co-hosting list. It can even be coordinated with IPFS Companion! What if:

1. On Web UI we can manage the websites that get co-hosted.
2. On C

[2019-08-14 18:48] autonome commented on #1034
This is fantastic, can't wait to see this ship in some form.

It might be worth identifying users' primary motivations for co-hosting websites, and doing some UX flows based on those. It would give a frame of reference for what you build, and what the language should be to describe it.

[2019-08-14 23:36] enOehTsIsihT commented on #951
v0.9.0-beta.1 has black screen issue.

OS : win 7

[2019-08-15 07:46] hacdias commented on #951
Just tested on a clean install of Windows 10 and could not reproduce. Is this the screen you're talking about?

<img width="1440" alt="Screenshot 2019-08-15 at 08 46 01" src="https://user-images.githubusercontent.com/5447088/63080509-2c5f6080-bf39-11e9-8714-d6fe5202efa5.png">

[2019-08-15 12:25] enOehTsIsihT commented on #951
![black screen issue](https://user-images.githubusercontent.com/11388444/63093910-7415d480-bf99-11e9-8dc6-2655754de2d9.jpg)
If Microsoft .NET Framework is 4.5.2, the issue could be reproduced.

After updating Microsoft .NET Framework, ipfs-desktop work fine now.

[2019-08-15 12:50] hacdias commented on #951
@enOehTsIsihT probably an issue regarding Electron or Electron Builder then (or just .NET Framework...). Will take a look.

[2019-08-15 13:15] lidel commented on #1034
I really like the idea of persisting the list in a configuration file on MFS.

Been thinking about doing that for other node-bound features in ipfs-companion as well, and it feels what we will decide here will establish practice for other apps to follow.

Some ideas below:

### Introduce `{MFS}/.config/` directory

A lot of Linux apps uses `~/.foo`  for storing configuration, however that pollutes

[2019-08-15 16:01] hacdias commented on #1034
Heey! So, I agree with you and also think the option **(B)** is the best one to go to. The 12 hours refreshing interval looks good to me too. How'd we coordinate between Desktop & Companion? Or each one would check every 12 hours without coordinating to each other?