[2015-06-05 12:33] jbenet opened #3 "menu bar improvements"
the menu bar should give some info on the node, like:
- say what ports it's on (swarm, gateway, api)
- stats (maybe under a sub-menu):
  - uptime
  - # of peers connected
  - bandwidth numbers

and maybe it should have some more options:
- "Open" should be "Open Web Console" or "Open Web UI" or "Open Admin Console" or something...
- "Open Web Console in Browser" (opens in a normal browser, just in

[2015-06-05 12:35] jbenet opened #4 "menu bar icon on osx is huge"
![](https://www.evernote.com/l/AMZ0s9p76vpLQ7A5AF7PsInkQpd94-lGWg8B/image.png)

ScreenCat uses
- https://github.com/maxogden/screencat/blob/master/img/Icon.png
- https://github.com/maxogden/screencat/blob/master/app.js#L9

will need to switch based on platform, as Linux wants a large colorful icon.

[2015-06-05 12:35] jbenet opened #5 "app icon on osx is the normal electron icon"
![](https://www.evernote.com/l/AMY44SGUnfJFZZOh34RIPAPK2_J13YD5WR4B/image.png)

would be nice if it was the large ice IPFS logo

[2015-06-05 15:50] bcomnes commented on #5
The dock icon requires packaging tricks iirc.  https://github.com/moose-team/friends/blob/master/pkg.js + https://github.com/moose-team/friends/blob/master/package.json#L89 are good examples of this

[2015-06-05 15:52] bcomnes commented on #4
http://electron.atom.io/docs/v0.27.0/api/native-image/#high-resolution-image has the details on this.

[2015-06-05 22:11] #4 closed

[2015-06-05 22:12] jbenet commented on #4
we can probably do a `@2x` too

[2015-06-05 22:35] bcomnes commented on #3
I couldn't find a way to dynamically update the tray menu contents last I checked but I'm totally :+1: on these stats.  https://github.com/maxogden/menubar Fakes a menu using html/css and is dynamically updatable if we can't dynamically update the native menu system.

[2015-06-05 22:40] bcomnes opened #8 "Windowing/Tray UX"
Thinking this would best work as primarily a Tray app (e.g. Menu bar for OS X, Notification Tray Windows/Linux).
- [x] App permanently lives in the tray at all times
- [x] When the app window is open, a dock/task bar icon will open.
- [x] When the app window is closed, the dock/task bar icon is hidden, and the app lives in the tray.
- [x] Enable silent launching to the tray so that people can add

[2015-06-06 00:15] jbenet commented on #8
SGTM

SGTM

SGTM

SGTM

I think that the menubar item should stay there and let you turn IPFS daemon on and off. menubar/tray item stays (unless you ask it to not show)). the logo can change to reflect whether ipfs is running or not, more grayed out when it's off, or whatever.

[2015-06-06 00:17] jbenet commented on #3
html menu means we can draw whatever we want, [which is nice](https://www.youtube.com/watch?v=pBWcRqPesws)

otoh, native menus are more ok with people. im down for whatever, if we do html, we should use it creatively.

[2015-06-06 00:31] bcomnes commented on #8
Ohh good point.  Offline access to files is important as is quick access to starting/stopping the daemon when peering is inappropriate.

[2015-06-06 01:05] jbenet commented on #8
oh we could also have a "daemon online but disconnected" mode.

[2015-06-12 15:04] krl commented on #8
Most of these things were already addressed, but only seems to work properly when the app is run as a package. This should be ok imo.

open:
![open](https://cloud.githubusercontent.com/assets/59379/8132870/fcd72378-1124-11e5-8972-3307910a1e71.png)

minimized:
![minimized](https://cloud.githubusercontent.com/assets/59379/8132877/053c5182-1125-11e5-93b1-4a6899b7d1bb.png)

closed:
![closed](https://c

[2015-06-13 00:12] jbenet commented on #8
seems to work on osx, too. \o/ gj

- considering whether it should use a repo _in_ the app bundle? (so when people trash ipfs, it deletes everything? but then again maybe not. not sure, maybe best to keep it in default location)  cc @bcomnes thoughts?

- it's using my `$HOME` repo (`~/.ipfs`), but not clashing with a daemon i have running... (maybe the electron-app daemon is failing to bind ports

[2015-06-13 00:16] bcomnes commented on #8
¯\_(ツ)_/¯  I think keeping node data in the app bundle is the wrong place to keep it.  I like using `~/.ipfs` but  we may consider using system sanctioned locations for data like `~/Library/Application Support`

[2015-06-13 00:55] jbenet commented on #8
We could let the user choose when it launches, maybe between:

[2015-06-13 21:50] krl commented on #3
You can update the context menu, but that also closes the menu for the user, for now i'm doing something like this:

![menu](https://cloud.githubusercontent.com/assets/59379/8146104/ee13c03c-1226-11e5-96bc-b9758b390b32.png)

@jbenet

[2015-06-13 22:01] krl commented on #5
this could actually have beon solved by moving the logo from dev-deps into regular deps in #9

I cannot test macosx myself at this point

[2015-06-13 22:01] krl commented on #5
@bcomnes We are using the very same packaging script now

[2015-06-13 23:01] jbenet commented on #5
Actually, this looks to be fixed after using the `pkg.js` script:

![](https://www.evernote.com/l/AMaC5-pB6xBNY7Lv9B6YYA_VSIkqRouagx4B/image.png)

maybe we should use a different name than "electron-ipfs" -- maybe "IPFS Node - Alpha" or "IPFS Node" ?

[2015-06-13 23:01] jbenet opened #10 "name of app?"
![](https://www.evernote.com/l/AMaC5-pB6xBNY7Lv9B6YYA_VSIkqRouagx4B/image.png)

maybe we should use a different name than "electron-ipfs" -- maybe "IPFS Node - Alpha" or "IPFS Node" ?

[2015-06-13 23:02] jbenet commented on #5
https://github.com/ipfs/electron-app/issues/10

[2015-06-13 23:02] #5 closed

[2015-06-14 00:00] jbenet commented on #3
@krl good stuff!

- "run daemon" is not very intuitive for end users. This is a tricky UI, because we want to give people the idea of "turning something On and Off". maybe "connect to swarm" could be grayed out when daemon is offline.

Maybe something like:

[code]
Hmm not sure.  Maybe:

![](https://www.evernote.com/l/AMbjAGTTLV5Cua9dCEuOur_f0zGRqKpqoKAB/image.png)

(Experimenting. probably want a

[2015-06-14 00:01] jbenet commented on #3
btw, we can use arbitrary web page as a menu. see https://github.com/maxogden/ScreenCat

[2015-06-14 10:55] krl commented on #3
jbenet: in osx that is, it seems like linux/windows support for this is not in. i could look at enabling that, but do we want to go that path?

[2015-06-14 10:55] krl commented on #3
i'm really into your designs though.

[2015-06-14 10:57] krl commented on #3
An alternative in the meantime i just thought of colud be using radio buttons.

( ) offline
( ) run local node
( ) run connected node
----
[ ] check for updates

[2015-06-14 11:59] jbenet commented on #3
@krl i think we'll get a lot more mileage out of an HTML window.

[2015-06-14 13:24] krl commented on #3
from: https://github.com/atom/electron/blob/master/docs/api/tray.md

Platform limitations:

    On OS X clicked event will be ignored if the tray icon has context menu.
    On Linux app indicator will be used if it is supported, otherwise GtkStatusIcon will be used instead.
    App indicator will only be showed when it has context menu.
    When app indicator is used on Linux, clicked event is ign

[2015-06-14 13:36] krl commented on #3
hmm actually: https://github.com/atom/electron/pull/1741

I'll investigate this.

[2015-06-15 15:39] bcomnes commented on #3
Those mockups look amazing!  I don't know how to do the cool dropbox style window arrow, but everything else looks totally doable and nice.

[2015-06-17 01:07] jbenet commented on #3
@bcomnes on the transparency, we could actually have a nice space background instead of making it transparent, which gets us 50% of the way there.

@krl do you need frontend help to make all this look super nice? If it's not your thing we can find someone who is good at it. (we should allocate resources optimally)

[2015-06-17 07:53] jbenet opened #12 "osx: quiting app does not always kill ipfs"
go-ipfs is notoriously annoying to kill, because it tries to shut down gracefully first.

- i think `electron-app` or `node-ipfsd-ctrl` should make sure ipfs is killed by waiting + checking.
- separately, we should make go-ipfs _always_ respect sigterm. https://github.com/ipfs/go-ipfs/issues/1384

[2015-06-17 19:11] krl commented on #3
Yeah, i'm not spending a lot of time on the design now, just getting something that looks decent and that works. I think having a designer go over it would be ideal.

[2015-06-17 19:55] whyrusleeping commented on #3
how would the drop 'down' thing work for people (like me) who have their tray at the bottom of the screen?

[2015-06-17 21:01] jbenet commented on #3
drop up! /o\

On Wed, Jun 17, 2015 at 12:55 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-06-18 13:58] krl commented on #3
Ok, the stats shown in your example, is there a way to actually get them from the api, or from the client without daemon running?

[2015-06-18 21:49] jbenet commented on #3
@krl maybe we should add an `ipfs repo stat` command

[2015-06-18 23:24] jbenet commented on #12
another note, if the electron-app crashes (or is force quit) it doesnt also bring down the `ipfs daemon`. it looks like `ipfsd-ctl` is liberating its process child or something (i.e. normally osx will kill children when parent proc dies)

[2015-06-21 17:54] krl commented on #12
this is now addressed in node-ipfsd-ctl, except maybe the crash issue. i'll investigate

[2015-06-21 17:54] krl commented on #10
changed to IPFS Node in #13

[2015-06-21 17:57] krl commented on #3
+1 repo stat command

[2015-06-21 22:52] jbenet commented on #10
@krl great! we should probably keep the issues open until stuff is fully merged.

[2015-06-22 01:25] jbenet commented on #3
@krl let's try getting it in this next sprint for you.

[2015-06-22 21:40] bcomnes opened #14 "Autoupdate Electron App"
- [ ] Implement Electrons built in updater: https://github.com/atom/electron/blob/master/docs/api/auto-updater.md
- [ ] Figure out linux and windows solutions
- [ ] Distribute bins via IPFS itself

[2015-06-24 14:44] krl opened #15 "Start the app and daemon on Login"
An opt-in option for platform-specific startup scripts.

[2015-06-24 19:48] jbenet commented on #15
The original comment was https://github.com/ipfs/electron-app/pull/13#discussion_r32900249

not sure if we mean the same thing ("persist instance between reboots"). i just mean an option for the daemon to be launched on startup

[2015-06-24 21:31] whyrusleeping opened #16 "Need installer binary"
not high priority, but we eventually need a single binary that will install ipfs and the electron shell app.

[2015-06-29 16:47] krl opened #17 "Better UX on node init"
Display a close-button and an associated platform-specific screenshot.

@jbenet, could you shoot one from osx?

[2015-07-09 03:02] jbenet opened #19 "Better handling of already running ipfs daemon"
![](http://gateway.ipfs.io/ipfs/Qmf1yUmCUH9uAdrmU21nCxUZihHV8YbH1v5G1JAmhyHs6Z/cap.png)

[2015-07-09 03:02] jbenet commented on #19
i think it was when i started this node while a background daemon was running?

[2015-07-28 22:01] whyrusleeping opened #20 "windows installer"
as a followup to #16, we can use https://github.com/atom/grunt-electron-installer to build a windows installer for us, it looks pretty nice and should help a lot with getting people to have ipfs installed.

[2015-07-29 21:03] whyrusleeping commented on #20
This one looks better: https://github.com/maxogden/electron-packager

[2015-08-03 07:38] diasdavid opened #21 "`open console`"
The 'open console' currently opens the webui. Is this different than opening in the browser? Or, is it really a 'console' that we want to call it?

![image](https://cloud.githubusercontent.com/assets/1211152/9032842/f7758994-39c2-11e5-9fc5-bea1e31fb04d.png)

![image](https://cloud.githubusercontent.com/assets/1211152/9032864/273669fa-39c3-11e5-9fb9-e308d8243e4e.png)

[2015-08-03 17:16] diasdavid opened #22 "Electron app accounts itself for the peer count"
When wifi is off and there is no way for it to discover another peer (nor there was another peer running locally), the electron app always shows 1 as the number of peers connected.

![image](https://cloud.githubusercontent.com/assets/1211152/9043192/05301cd8-3a14-11e5-8ee0-16bed5612b5a.png)

[2015-08-04 16:28] diasdavid opened #23 "Can't upload files in electron app console (webui works fine)"
Throws this error:

[code]

[2015-08-05 09:18] #21 closed

[2015-08-05 09:20] diasdavid commented on #10
The IPFS app doesn't show anymore in the dock, only in menubar. Closing this one.

[2015-08-05 09:20] #10 closed

[2015-08-05 09:23] diasdavid commented on #16
you mean like a .pkg that does both?

Currently electron does the IPFS install through ipfsd if IPFS is not installed yet, is that good enough?

[2015-08-05 09:36] diasdavid opened #24 "initialize.jsx"
What is the purpose of https://github.com/ipfs/electron-app/blob/master/js/initialize.jsx ? Doesn't seem to be used, I've just removed it and tested the app again and it did everything. Could someone clarify?

[2015-08-05 09:57] jbenet commented on #24
Isn't it used when you first install the app, when you dont have a repo?

[2015-08-05 10:04] diasdavid commented on #24
Doesn't seem like it. I've killed+deleted everything , started it again and never saw that screen. Also can find any reference in the code that would invoke any of the code there.

[2015-08-05 10:05] diasdavid opened #25 "How to close the app, if started through the .app ?"
Can't find a way to close the app, if started through the `IPFS.app`, had to kill it through Activity Monitor. Am I missing something or we don't have that yet?

[2015-08-05 10:15] jbenet commented on #25
this thing is like a zombie

[2015-08-05 10:17] jbenet commented on #16
i think the github.com/ipfs/distribution pages we discussed will be good enough

[2015-08-05 10:18] jbenet commented on #16
and yeah, we'll have an OSX .pkg installer there for the ipfs toolchain.

we need to figure out the semantics of having `ipfs` available locally and from the installed node_modules... it could get confusing

[2015-08-05 10:18] diasdavid commented on #24
my bad. got it :)

![image](https://cloud.githubusercontent.com/assets/1211152/9083623/fde5b498-3b6b-11e5-9ce9-7242ffe362f8.png)

[2015-08-05 10:18] #24 closed

[2015-08-05 10:21] jbenet commented on #23
:cry:

[2015-08-06 06:24] diasdavid opened #26 "drag&drop to upload"
Following: https://github.com/atom/electron/issues/2433

ref:  https://github.com/atom/electron/blob/master/docs/api/tray.md#event-drop-files

[2015-08-06 06:51] diasdavid opened #28 "Add ~~`right click`~~ `alt click` for settings and quit"
with -> https://github.com/atom/electron/blob/master/docs/api/tray.md#event-right-clicked

[2015-08-06 09:26] jbenet commented on #26
sweet! :+1:

[2015-08-08 09:50] diasdavid commented on #20
We currently ship .exe for Windows (`npm run dist-all`) but it would be nice if we would have a 'installer dialog' like Windows users are used to.

![image](https://cloud.githubusercontent.com/assets/1211152/9149962/46f99858-3dc3-11e5-9ccb-9d6521f0cbc6.png)

Or maybe nowadays with Win 8.1, Win 10 and their app store the convention is different. Is there some Windows users that can advise?

[2015-08-08 11:45] jbenet commented on #20
cc @gatesvp

[2015-08-08 13:36] diasdavid commented on #26
- [X] drop and upload a file to IPFS
- [ ] drop a collection of files (needs multipart to be fixed on node-ipfs-api -> https://github.com/ipfs/node-ipfs-api/pull/35)
- [ ] make a nice UI for file upload

[2015-08-08 16:35] whyrusleeping commented on #20
the electron package will build that installer dialog

[2015-08-08 16:41] whyrusleeping commented on #26
can we not use https://github.com/feross/drag-drop for this?

[2015-08-08 18:11] diasdavid commented on #26
@whyrusleeping not quite. We want to be able to drop to the `tray icon`, which isn't an html element.

It's working though, electron has some nice features that enable it (check drag-drop branch). Just missing a nice UI with bars and stuff spinning while it uploads (+ unicorns) and also a 'multi files' upload at the same time.

[2015-08-08 19:44] gatesvp commented on #20
While I won't argue with a Windows Installer, it's kind of a weird set up
in the Windows world.

IPFS on Windows should run as a service, kind of like BitTorrent. However
right now, it is only available as a command line app. So what do we
bundle? If the installer runs IPFS as a service, then maybe we can set up a
shortcut to the "localhost" in a browser.

If we want IPFS as just a CLI tool, then

[2015-08-08 23:01] jbenet commented on #20
some quick thoughts:

---

@whyrusleeping

oh yeah? nice

---

@gatesvp

Yeah, this repo (electron-app) makes a tray-hosted service. try it out!

[2015-08-09 06:16] diasdavid opened #29 "Capture `screenshot` events"
with http://electron.atom.io/docs/v0.30.0/api/global-shortcut/

[2015-08-09 06:57] jbenet commented on #29
:camera: :city_sunset: :+1:

[2015-08-09 07:38] diasdavid commented on #26
[x] Copy to the clipboard
[x] Show on the menubar

Need to make this look good

![image](https://cloud.githubusercontent.com/assets/1211152/9153952/47c8b9f0-3e7a-11e5-83b1-749c3fbcc423.png)

[2015-08-09 16:15] whyrusleeping commented on #29
that seems sketchy to me..

[2015-08-11 02:33] jbenet commented on #29
why?

[2015-08-11 02:50] jbenet commented on #26
I'll design something tomorrow.

On Sun, Aug 9, 2015 at 9:38 AM, David Dias <notifications@github.com> wrote:

[2015-08-11 08:31] diasdavid commented on #26
Thank you @jbenet :)

All the code is in this branch, the current design looks like this:
![image](https://cloud.githubusercontent.com/assets/1211152/9193442/cc591544-4013-11e5-9e94-a0414ae0945d.png)
The blue charging bar is while it uploads a file

[2015-08-11 08:32] diasdavid commented on #25
- [ ] Merge `subcomandante` into ipfsd-ctl
- [ ] Add something to the UI to quit the app

[2015-08-11 08:33] diasdavid commented on #17
@krl could you describe this a bit more?

[2015-08-11 08:33] diasdavid commented on #12
Referenced here: https://github.com/ipfs/electron-app/issues/25#issuecomment-129768231

[2015-08-11 09:13] diasdavid opened #31 "Keyboard shortcuts"
I would like to have the electron app listening to 2 keyboard shortcuts:
- listen to {cmd, ctrl}+i+d - If a piece of text is selected and if that piece of text is a valid hash, it gets downloaded
- listen to {cmd, ctrl}+i+u - If a file or a group of files are selected, those files get uploaded

Does someone have opinions/thoughts on this? Maybe other hotkeys for better UX?

---

### Todo

- [ ] `c

[2015-08-11 09:57] krl commented on #17
This was from a conversation with @jbenet, that we wanted platform specific screenshots to show users where the icon should show up in the taskbar.

[2015-08-11 10:52] diasdavid commented on #28
Actually, following the pattern found in other apps. It should be `alt+click` and not `right click`

[2015-08-11 11:06] diasdavid commented on #28
PR to free key+click events https://github.com/maxogden/menubar/pull/50

[2015-08-11 12:44] jbenet commented on #28
:+1:

[2015-08-11 12:52] jbenet commented on #31
veyr much :+1: to this.

one thing: may not be able to do `+i+{d,u}` because those are letters, not modifiers. afaik keyboards dont like that?

[2015-08-11 12:56] diasdavid commented on #3
@jbenet what are your thoughts on a `settings`/`preferences` page, UI'wise?

[2015-08-11 13:01] jbenet commented on #3
@diasdavid yeah we can do settings. what are the things we would have there?

[2015-08-11 13:06] diasdavid commented on #3
Some that I have in my mind
- repo/folder
- ports
- reset Node (updating key pair)
- start on boot
- bandwith used
- language
- link to help
- user

[2015-08-11 14:04] whyrusleeping commented on #29
we're going to capture every single screenshot someone takes on their computer? maybe as like an extreme multiclick opt in... but otherwise that seems a bit invasive.

[2015-08-11 14:07] diasdavid commented on #29
@whyrusleeping other apps are currently doing that, as an `opt-in` of course. We can have a special keyboard shortcut for ipfs screenshots, but capturing the natural events from the events is more convenient to the user (+ Mac OS screenshots are really cool)

[2015-08-11 15:31] jbenet commented on #25
@diasdavid subcomandante is now in node-ipfsd-ctl and all works well.

[2015-08-11 15:58] diasdavid commented on #12
Fixed with https://github.com/ipfs/electron-app/commit/70efae8101b0033f78e74c9a4a9b6570f43de856 thanks to @jbenet `subcomandante` woo!

[2015-08-11 15:58] #12 closed

[2015-08-11 16:08] jbenet commented on #29
oh what, somehow i missed that. @diasdavid i think that's pretty sketchy. we can allow the user to change the key combinations, and they can set that up. i think that's how Skitch and friends work?

[2015-08-11 16:14] diasdavid commented on #29
Well, cloudapp, couldup and dropbox capture everything. Custom keyboard shortcut is fine too

[2015-08-12 09:00] diasdavid commented on #25
Done on PR https://github.com/ipfs/electron-app/pull/32

[2015-08-12 09:00] #25 closed

[2015-08-12 10:43] diasdavid commented on #22
Seems fixed with fix of `ipfsd-ctl`  (subcomandante stuff)

<img width="352" alt="screen shot 2015-08-12 at 12 41 28" src="https://cloud.githubusercontent.com/assets/1211152/9222140/a3348de2-40ef-11e5-9fa4-cb4e4c86ee2f.png">

[2015-08-12 10:43] #22 closed

[2015-08-12 11:02] diasdavid commented on #31
More than one 'non modifier key' ref: https://github.com/atom/electron/issues/2486

[2015-08-12 11:26] daviddias opened #33 "Add crash-reporter to get feedback from Users"
-> http://electron.atom.io/docs/v0.30.0/api/crash-reporter/

[2015-08-12 11:28] diasdavid opened #34 "Stop using `open` in favor of `shell.openExternal(url)`"
https://github.com/ipfs/electron-app/blob/master/app/controls/open-browser.js#L4

to

http://electron.atom.io/docs/v0.30.0/api/shell/#shell-openexternal-url

[2015-08-12 11:30] diasdavid opened #35 "Do we want `ipfs://` to be capture at the OS level?"
@jbenet?

How to do it in electron - http://electron.atom.io/docs/v0.30.0/api/protocol/

[2015-08-12 13:34] jbenet commented on #33
:+1:

[2015-08-12 20:08] diasdavid commented on #31
Ok, can't do 2 key codes

Going for:
`ctrl+alt+u` = upload selected
`ctrl+alt+s` = screenshot upload
`ctrl+alt+d` = download hash selected

[2015-08-12 21:25] diasdavid commented on #23
The only fs.createReadStream is on this function of the Bundle:

[code]

[2015-08-12 21:27] diasdavid commented on #23
In `console` mode, this `file` is empty:

https://github.com/ipfs/webui/blob/master/js/pages/files.jsx#L78
`[14147:0812/231317:INFO:CONSOLE(895)] "adding file: ", source: http://127.0.0.1:5001/ipfs/QmS2HL9v5YeKgQkkWMvs1EMnFtUowTEdFfSSeMT4pos1e6/bundle.js (895)`

[2015-08-13 03:56] jbenet commented on #23
I believe this is fixed for you now

[2015-08-13 08:24] diasdavid opened #36 "`File size is greater than possible` error introduced with node-ipfs-api@2.1.4"
![image](https://cloud.githubusercontent.com/assets/1211152/9245554/4bae43d6-41a5-11e5-8361-f34e415a4801.png)

//cc @mappum @jbenet

[2015-08-13 08:30] diasdavid commented on #26
Added multiple file upload on the branch `settings` PR -> https://github.com/ipfs/electron-app/pull/32 Let's follow all of this there

[2015-08-13 08:30] #26 closed

[2015-08-13 10:24] #36 closed

[2015-08-13 10:26] jbenet commented on #36
:hearth:

[2015-08-18 12:25] diasdavid commented on #23
Needs https://github.com/ipfs/webui/pull/75 to be merged and released

[2015-08-19 03:31] jbenet commented on #23
ipfs/webui#75 merged. release is trickier-- need to PR against go-ipfs.

(we should think about how to do upgrades without requiring compilation. easy options for now:

- require config change (ew)
- give user a big warning page, (and user can chose to "install it" to allow it henceforth.) (very tricky UX for security)
- sign the root, check for our sig. (this is cool)

[2015-09-01 19:09] Dignifiedquire opened #37 "Build.sh assumes globally installed browserify"
Not mentioned in the readme, and let's the `npm run start` script hang. Should probably just use a local one

[2015-09-01 19:25] harlantwood commented on #37
This should probably be fixed by changing `browserify` in [build.sh](https://github.com/ipfs/electron-app/blob/f2a547dac0accd35a38115eab9dfb4028a21dcbf/build.sh#L4-L5) to `node_modules/.bin/browserify`.

[2015-09-01 19:29] Dignifiedquire commented on #37
agreed

[2015-09-01 19:54] harlantwood commented on #37
PR: #38.

[2015-09-01 21:51] #37 closed

[2015-09-01 21:51] diasdavid commented on #37
Thank you for catching and fixing that :)

[2015-09-11 16:46] jeffd opened #39 "Unable to launch on Mac OS 10.11 (El Capitan)"
I tried getting a clean checkout running on 10.11 GM (15A282b) and the app fails to launch. I haven't been able to find any good leads as to why it's not launching. The debug.log file does not have any useful  information. Any tips on how to go about figuring out what might be causing this?

### debug.log
[code]

### Shell Output
[code]

### Console.app Output
[code]

[2015-09-11 17:04] jeffd commented on #39
Disregard, I didn't realize it was a menu bar app. I got it working. :-)

<img width="352" alt="screen shot 2015-09-11 at 10 03 35 am" src="https://cloud.githubusercontent.com/assets/2890/9821019/6a5fd956-586c-11e5-8248-71c7d6831a2a.png">

[2015-09-11 17:04] #39 closed

[2015-09-12 14:55] diasdavid commented on #39
@jeffd Thank you for sharing the feedback. Would you like to submit a PR to the README explaining that it is a tray application? I'm sure it would help others :)

[2015-09-12 18:46] jbenet commented on #39
We should probably have a splash screen that comes up and points to the icon or something

—
Sent from Mailbox

On Sat, Sep 12, 2015 at 10:55 AM, David Dias <notifications@github.com>
wrote:

[2015-09-13 07:16] diasdavid commented on #39
@jbenet we have a 'welcome/config' page that pops up if no IPFS installation is detected, so that the user can pick its location to install one, if the users already has IPFS installed, it simply loads. We can add one more check to see if it is the first time loading the app to point the user there too.

[2015-09-19 08:26] Dignifiedquire opened #41 "4.0 Support"
At the moment trying to run it under node >= 4.0 results in this failure:

[code]

[2015-09-22 14:35] rabble opened #44 "Build via npm i fails"
Pulling current master out of github and following the instructions fails.

MacBook-Pro ~/code/ipfs/electron-app (git: master)
▸ npm i

npm WARN engine hawk@3.1.0: wanted: {"node":">=0.10.32"} (current: {"node":"0.10.31","npm":"2.1.4"})
npm WARN engine hawk@3.1.0: wanted: {"node":">=0.10.32"} (current: {"node":"0.10.31","npm":"2.1.4"})
npm WARN engine hawk@3.1.0: wanted: {"node":">=0.10.32"} (curr

[2015-09-22 14:38] rabble commented on #44
Nevermind, delete this, it's just due to npm not being updated. Sorry about that.

[2015-09-22 14:38] #44 closed

[2015-09-22 15:55] rabble opened #45 "Adjusting package.json?"
Hi,

So i went to build electron-app and i found i had to add the following to package.json to get it to build.

,
    "react": "0.13.1",
    "silence-chromium": "2.0.0",
    "indent-string": "1.2.2",
    "har-validator": "1.8.0",
    "ncp": "2.0.0",
    "nugget": "1.5.4",
    "node-uuid": "1.4.3",
    "pretty-bytes": "1.0.4",
    "shelljs": "0.4.0",
    "extract-zip": "1.1.1",
    "standard": "5.

[2015-09-23 10:57] jbenet commented on #45
did you run `npm install` at the beginning?

@diasdavid any ideas here?

[2015-09-23 12:15] diasdavid commented on #45
@rabble which version of npm are you running? Some of the dependencies you added are dependencies of electron-app deps.

Even having to install `standard` to make it build doesn't seem right to me

[2015-09-28 21:14] Dignifiedquire opened #46 "Name bikeshedding"
`electron-app` is boring, lets find something cool and awesome :)

[2015-09-28 21:26] ion1 opened #47 "Autostart the node"
Users might wonder why they have to start the node. “Did I not just start IPFS already?”

[2015-09-28 21:28] dignifiedquire opened #48 "Investigate Uninstaller Options"
- Stop the daemon
- Remove app
- Optionally clear `~/.ipfs`

[2015-09-28 21:28] jbenet opened #49 "Delete Node and Uninstall IPFS"
We need both a "Delete Node" and "Uninstall IPFS" (which implies "Delete Node").
- [ ] maybe accessible from Settings, once that exists)
- [ ] asks user to confirm, saying something like `"This will delete all IPFS data (1.3 GB)"`
- [ ] stops the node
- [ ] deletes the data
- [ ] "Uninstall IPFS" shuts down application and removes itself completely

[2015-09-28 21:28] jbenet commented on #48
oh whoops sorry just made https://github.com/ipfs/electron-app/issues/49

[2015-09-28 21:29] jbenet commented on #49
dupe of #48

[2015-09-28 21:29] #49 closed

[2015-09-28 21:29] jbenet commented on #48
We need both a "Delete Node" and "Uninstall IPFS" (which implies "Delete Node").
- [ ] maybe accessible from Settings, once that exists)
- [ ] asks user to confirm, saying something like `"This will delete all IPFS data (1.3 GB)"`
- [ ] stops the node
- [ ] deletes the data
- [ ] "Uninstall IPFS" shuts down application and removes itself completely

[2015-09-29 01:50] jbenet commented on #46
some suggestions:
- Station
- IPFS App
- IPFS Node
- IPFS
- IPApp
- INode

[2015-09-29 04:43] bcomnes commented on #46
I would stick with capital IPFS.  It's simple, and differentiates itself from the cli with capital letters.  If ambiguity between the two becomes an an issue, maybe a codename like Station would be good.

I would keep the word node away from anything not specifically related to ipfs code written for node since its super confusing whenever I see that word in this project.

[2015-09-29 12:22] RichardLitt commented on #46
The capital // lowercase ambiguity will swiftly become an issue. Station is a good suggestion.

[2015-09-29 12:50] Dignifiedquire commented on #46
I like station as well.

[2015-09-29 22:15] gatesvp commented on #20
Looked at the screenshots for all these and this process makes sense. Do we have these binaries built anywhere so that I can test them out? Or are we waiting for them to get built?

[2015-09-29 23:08] whyrusleeping commented on #20
@gatesvp we need windows help! (could you stop by irc for a chat?)

[2015-09-29 23:09] whyrusleeping commented on #20
(although, not entirely related to this repo)

[2015-10-02 18:30] CaioAlonso commented on #19
+1
![Screenshot](http://i.imgur.com/MTjySiL.png)
These are the steps that I did:
1. ```$ ipfs daemon```
2. ```$ npm start```
3. Turn IPFS Node on
4. Ctrl-C the daemon

[2015-10-02 21:23] jbenet commented on #19
this thing runs its own daemon. you dont need to run it yourself. it's port clashing

also, we need a waaaay better error for that. ugh

[2015-10-02 22:14] CaioAlonso commented on #19
@jbenet yes, a simple port conflict shouldn't crash it.

[2015-10-05 19:19] dignifiedquire opened #50 "Add test setup"
## "Frontend" (browser processes)

This is about testing react components in isolation. To run the tests we should use [karma](http://karma-runner.github.io/0.13/index.html) and spawn a chrome process (close enough to electrons chromium instances). Interesting modules and notes
- https://github.com/sheepsteak/react-shallow-testutils
- https://github.com/percyhanna/rquery
- https://github.com/jhnns

[2015-10-06 17:38] dignifiedquire opened #51 "Create Help Page"
There should be some form of help/documentation page inside the app, so people can understand what the app is doing and how to use it.

[2015-10-06 17:39] Dignifiedquire commented on #46
`station` is sadly taken on npm already, we could go with `ipfs-station` or use a scoped package. I also contacted the author of the package: https://github.com/Marak/station/issues/3 if he would be willing to give the name up.

[2015-10-06 20:10] jbenet commented on #46
I'd prefer using ipfs-station as a pkg name to scope all our modules. But we can still just use "Station" if we want to in the UI/ux (both "station" and "IPFS Station" sound great)

—
Sent from Mailbox

On Tue, Oct 6, 2015 at 10:39 AM, Friedel Ziegelmayer
<notifications@github.com> wrote:

[2015-10-06 22:15] Dignifiedquire commented on #41
Should be fixed as far as I can tell

[2015-10-06 22:15] #41 closed

[2015-10-08 14:27] Mithgol commented on #35
Note: the results of the discussion at ipfs/go-ipfs#1678 seem to be in favour of the `fs:/ipfs/...` scheme.

[2015-10-09 14:37] ion1 commented on #35
Note that:

* `fs:/ipfs/foo` has no authority and has the path `/ipfs/foo`.
  * A relative link to `/ipfs/bar` becomes `fs:/ipfs/bar`.
* `fs://ipfs/foo` has the authority `ipfs` and the path `/foo`.
  * A relative link to `/ipfs/bar` becomes **`fs://ipfs/ipfs/bar`**.
* `fs:///ipfs/foo` has an empty authority and the path `/ipfs/foo`.
  * A relative link to `/ipfs/bar` becomes `fs:///ipfs/bar`.

Th

[2015-10-09 19:05] jbenet commented on #35
(though yes, it should be handled heuristically as a "fix" as you describe)

[2015-10-09 19:05] jbenet commented on #35
Thanks for reminding.

Though one additional thing: we could have the browser tooling rewrite (or
redirect):

[code]
so that:
[code]

The reason i keep pressing on this is that no matter what the specs say,
and no matter the browser behavior, nor how hard _we_ try to teach people
to use `fs:/` or `fs:///` or whatever, _lots_ of people will write `fs://`,
and will use `fs;//` in links, and so on.

[2015-10-09 20:08] ion1 commented on #35
Will `/ipfs/ipfs/…` paths ever come into existence if any `fs://ipfs/<hash>` address is rewritten as the first thing? Any relative URLs should be handled after that has happened.

[2015-10-11 05:55] jbenet commented on #35
dont think so.

[2015-10-12 17:24] RichardLitt commented on #51
Sweet!

[2015-10-12 19:35] #34 closed

[2015-10-12 19:37] dignifiedquire opened #52 "Add documentation"
- [ ] Components
- [ ] File structure
- [ ] Used libraries

[2015-10-12 19:38] Dignifiedquire commented on #47
Done in `master`

[2015-10-12 19:38] #47 closed

[2015-10-12 19:38] Dignifiedquire commented on #45
Should be fixed in `master`

[2015-10-12 19:38] #45 closed

[2015-10-12 19:39] Dignifiedquire commented on #23
@diasdavid can we close this?

[2015-10-12 19:39] Dignifiedquire commented on #17
Done in `master`

[2015-10-12 19:39] #17 closed

[2015-10-12 19:40] Dignifiedquire commented on #8
@bcomnes @jbenet can you please check the latest version, and update the issue accordingly?

[2015-10-12 19:41] Dignifiedquire commented on #3
@diasdavid @jbenet let's extract individual items from here into separate issues.

[2015-10-12 20:41] Dignifiedquire opened #53 "[packaging] Do not fork bomb"
At the moment starting the packaged version (at least on OS X) results in the app fork bombing the machine. Ideas, helps and suggestions are very welcome!

[2015-10-12 20:43] Dignifiedquire commented on #46
Done in https://github.com/ipfs/station/commit/5a123c2c9ed0fe3ec86aad336417ddbefdea9243

[2015-10-12 20:43] #46 closed

[2015-10-12 20:45] Dignifiedquire commented on #29
I suggest that by default we capture all screenshots and add a setting where one can disable it.

[2015-10-12 20:47] dignifiedquire opened #54 "Setup automated release process"
- Bump version (major/minor/patch)
- Generate packages
- Generate changelog
- Commit and push to github
- Upload packages and changelog to github releases pages

[2015-10-12 20:49] dignifiedquire opened #55 "Make settings persistent"
At the moment there is nothing to persist the settings between sessions. We need to add something, probably a simple text file or something more advanced? Suggestions?

[2015-10-12 20:49] Dignifiedquire commented on #55
This is needed for #29

[2015-10-12 21:12] diasdavid commented on #29
I like that @Dignifiedquire :)

[2015-10-12 21:13] diasdavid commented on #17
:tada:

[2015-10-12 21:20] diasdavid commented on #23
Getting this error with the new electron versions

[code]

Ideas why?

[2015-10-12 21:46] Dignifiedquire commented on #23
Not really, I think somewhere where are not cleaning up properly, but I wasn't able to track down where exactly.

[2015-10-12 21:50] luisbebop opened #56 "npm install gives epeerinvalid warning"
`npm WARN EPEERINVALID react-file-drop@0.1.5 requires a peer of react@^0.13 || 0.14.0-beta1 but none was installed.`

node v4.1.1
npm 3.3.6

[2015-10-12 21:51] Dignifiedquire commented on #56
The install is not failing, it's just a warning. Reference issue: https://github.com/sarink/react-file-drop/issues/3

[2015-10-12 21:53] luisbebop commented on #56
Thanks

[2015-10-12 22:20] whyrusleeping opened #57 "dependencies not installed with 'npm install'"
I cloned the repo down and followed the setup instructions and still needed a few things:
- `rimraf`
- `babel`
- electron
  - command not found. I did 'npm install electron' and it still didnt work.

There may be more, but I'm stuck on the electron issue.

[2015-10-12 22:28] Dignifiedquire commented on #57
Those are all installed but not globally, did you check node_modules/.bin/ ?

also try the scripts advertiesed in the readme i.e `npm start`

[2015-10-12 22:53] whyrusleeping commented on #57
yeah, i ran:
[code]

And it failed because rimraf wasnt installed, so i did `npm install rimraf` and ran `npm start` again, then it complained about not having babel installed so i ran `npm installed babel`, then it threw a different error about not having `node_modules/.bin/concurrent` so i ran `npm install concurrently` and ran `npm start` again, and then it complained about not being able to fi

[2015-10-12 22:57] Dignifiedquire commented on #57
That's very odd, did the `npm install` throw any errors? What node and npm version and what os are you running?

[2015-10-12 23:06] whyrusleeping commented on #57
npm version 3.3.6, node version 0.12.2

npm install spat out a couple warnings about how js-beautify should be installed with -g and a couple other similar ones.

And it also says that react-file-drop requires a peer of react, but none was installed. (also a warning).

[2015-10-13 04:01] diasdavid commented on #57
@whyrusleeping try doing `npm install` with node 4.2.0 (if you use [n](http://npmjs.org/n), just do `n latest`)

[2015-10-13 04:02] diasdavid commented on #47
:+1:

[2015-10-13 04:03] diasdavid commented on #56
@Dignifiedquire maybe add this to a installation notes in the README?

[2015-10-13 04:04] diasdavid commented on #55
I would say that we could use `mfs`, but since it won't be there by default until 0.4.0, a simple obj in a known location, with other config objs (like npm's one), should be good enough :)

[2015-10-13 04:23] whyrusleeping commented on #57
wait, i need to go from node 0.12.2 to version 4.2.0 ?

[2015-10-13 04:28] diasdavid commented on #57
@whyrusleeping node 0.12.7, then iojs 1.x.x, 2.x.x, 3.x.x and then back to node in 4.0.0 and how will be node only onwards. Docs for all the versions https://nodejs.org/docs/ (plus vid for more context https://vimeo.com/138937671)

[2015-10-13 04:36] bcomnes commented on #57
While we are at it though, @whyrusleeping sheds light on an important detail:  the scripts reference .bin paths explicitly!  This is no good since npm hoists `node_modules/.bin` to the front of the $PATH when executing this scripts.  Explicitly targeting these executables is not only more verbose, but possibly gets in the way of letting npm do it's job.

Lets get that fixed real quick.

[2015-10-13 04:44] whyrusleeping commented on #57
dude, i just cant javascript very well

[2015-10-13 05:08] whyrusleeping commented on #57
alright, install node 420 and ran npm install and npm start. same issue.

[2015-10-13 05:20] whyrusleeping commented on #57
deleted the repo, recloned, and got farther:
[code]

[2015-10-13 06:43] Dignifiedquire commented on #57
That sounds like a bug in https://github.com/ipfs/ipfs-geoip but I'm totally unclear as to why that only happens on your machine and not on mine. Stupid question, did you stop your ipfs daemon before?

[2015-10-13 06:44] Dignifiedquire commented on #57
@bcomnes I'm sorry I'm not seeing how referencing `node_modules/.bin` is more verbose than referencing `node_modules/module-name/path/to/bin`.

[2015-10-14 01:30] bcomnes commented on #57
npm adds `node_modules/.bin` to the PATH during the execution of npm scripts. so you don't need to add that in the script itself.  Simply reference the tool in `.bin` as if it were in your path.  That being said, I was having issues with the prod script and npm not finding these in its path.  I dont understand whats going on yet.

[2015-10-14 03:26] bcomnes commented on #29
Anyone know how this will interact with other apps capturing screenshots?  Dropbox comes to mind.

[2015-10-14 07:17] jbenet commented on #29
i really don't. @whyrusleeping is right -- this is a privacy problem. I think we should do what many other apps do and create a shortcut that you can use (separate), but which you can rebind to override your normal one. That way the user is in control.

eg i have https://github.com/jbenet/ipfs-screencap bound to `CMD+SHIFT+2` on OSX

[2015-10-14 08:02] Dignifiedquire commented on #57
Okay, so the issue with that is yes it works most of the times, but I had a lot of issues with this assumption especially with `npm@2` where this would simply not work and I had to install these globally to solve the issue.

[2015-10-14 08:02] Dignifiedquire commented on #57
@whyrusleeping did you get any further?

[2015-10-14 08:34] jbenet commented on #55
:+1: for keeping the station config on the ipfs node itself.

one important thing to consider is that the repo in 0.4.0 gets closer to being just ipfs objects. once it is all one ipfs graph, we have a node represented fully in ipfs which means there's just encryption missing so that you can instantiate your node in any computer by just having one string (a hash + a key)

[2015-10-14 08:37] Dignifiedquire commented on #55
Would love it to be on the ipfs node! @jbenet how close to a usable version of `mfs` and or 0.4.0 are you timewise?

[2015-10-14 08:51] jbenet commented on #54
See also https://github.com/ipfs/distributions <--- (we need to ship this damn thing. @RichardLitt have you taken a look at the frontend of this?)

[2015-10-14 08:51] jbenet commented on #54
and :+1: to all of the above

[2015-10-14 08:55] Dignifiedquire commented on #54
Also for reference:
* https://github.com/ajoslin/conventional-changelog
* https://github.com/stevemao/conventional-github-releaser

[2015-10-14 09:01] jbenet commented on #53
lol :( :-1:

[2015-10-14 09:15] jbenet commented on #55
You can use `0.4.0` already -- just need to compile it.

am surprised gobuilder doesn't build it, maybe there's no tag for it.

[2015-10-14 09:18] jbenet commented on #55
i just pushed a tag for it, maybe gobuilder will build it for you.

[2015-10-14 09:19] jbenet commented on #55
gobuilder broke more: https://gobuilder.me/github.com/ipfs/go-ipfs/cmd/ipfs/log/436733ccb7429cf9 keep an eye on https://github.com/ipfs/go-ipfs/issues/1660

[2015-10-14 09:21] jbenet commented on #8
Need to verify it works fine on:
- [ ] Linux - @krl ?
- [ ] OSX - @diasdavid ?
- [ ] Windows - @gatesvp @Mithgol ?

(what's your OS @Dignifiedquire @bcomnes ?)

[2015-10-14 09:25] Dignifiedquire commented on #8
I have OS X and window in a vm

[2015-10-14 16:15] RichardLitt commented on #54
@jbenet not yet, added to list of things to do this sprint.

[2015-10-14 17:00] diasdavid commented on #8
works fine for me on OSX (and sent a shout to some more devs that are big fans of React and WebPack :)

[2015-10-14 17:49] Dignifiedquire commented on #14
Looks like this works cross platform: https://github.com/EvolveLabs/electron-updater

[2015-10-14 17:50] Dignifiedquire commented on #54
This should take into consideration #14

Also this looks interesting, but is sadly OS X only: https://github.com/jenslind/electron-gh-releases

[2015-10-14 18:48] Dignifiedquire commented on #53
@jbenet found the reason, it is you :stuck_out_tongue_closed_eyes: https://github.com/jbenet/node-subcomandante/issues/2

[2015-10-15 05:57] Mithgol commented on #8
I assume we are talking about https://github.com/ipfs/station

As its README recommends, I've cloned the repo and run `npm install`.

I've watched it running for an hour and installing 869 dependencies in `node_modules\.staging` and then I've forced it to quit because I had to go.

Ideas:

* Maybe it should be recommended to run `npm install --production` instead of `npm install`.

* Maybe a pre-b

[2015-10-15 06:06] whyrusleeping commented on #8
@Mithgol a prebuilt binary will be provided for users once the project is ready for release.

[2015-10-15 06:23] Mithgol commented on #8
The file `package.json` also assumes a non-Windows system where it uses [`NODE_ENV=production some_command`](https://github.com/ipfs/station/blob/8328642c6fead515d5ed2fc634d8d31a6bebef78/package.json#L72-L74) because that syntax ([AFAIK](http://www.urbandictionary.com/define.php?term=afaik "as far as I know")) is not supported by the command line of Windows.

[2015-10-15 14:45] bcomnes commented on #8
https://github.com/ForbesLindesay/win-spawn is a commonly recommended way to route around that issue, however I find that it doesn't always noop on unix systems like its supposed to.  It could be a matter of just squashing a bug though, I haven't had a chance to really look into it.

[2015-10-16 21:41] Dignifiedquire commented on #54
Some work has been done for the code part: https://github.com/ipfs/station/blob/master/CONTRIBUTING.md

[2015-10-17 14:44] dignifiedquire opened #60 "Update stats on window show"
At the moment depending on the timeout position there is a delay between opening the profile screen and the stats updating. We should listen for the window `show` event and update the stats at that point.

[2015-10-18 11:41] jbenet opened #61 "Include screenshots in Readme + github Releases"
would be nice to include screenshots in the readme, as well as each of the github releases.

[2015-10-18 11:41] jbenet commented on #61
oh, readme already has one screenshot, :+1:

[2015-10-18 17:36] VictorBjelkholm commented on #57
Just cloned the repo and can reproduce this with the same steps.

Full output
[code]

[2015-10-18 17:58] diasdavid commented on #57
@VictorBjelkholm try updating your npm to version 3, as @Dignifiedquire said:

[2015-10-18 17:58] whyrusleeping commented on #57
updated and tried again and got the same error as @VictorBjelkholm

[2015-10-18 18:01] whyrusleeping commented on #57
removed my `.ipfs` folder and reran it, it worked until i clicked console, at which point it crashed:
[code]

[2015-10-18 19:11] VictorBjelkholm commented on #57
Hm, reinstalled npm to version 3.3.8 (although I don't understand why 2.X wouldn't work?) and starts ok but doesn't run. Seems like `socket.io` is missing from **views** somehow... Also, daemon not running, not sure if it's connected with socket.io issue.

[code]

[2015-10-19 19:10] Dignifiedquire commented on #51
- Sync from ipns when available
- Ship initial version so it's always available

[2015-10-19 19:22] Dignifiedquire opened #65 "Add open file capabilities"
Will not actually open it but rather ask you if you have want to add the file to ipfs.

[2015-10-19 19:33] dignifiedquire opened #66 "Binary signing for macOS"

[2015-10-19 20:42] Dignifiedquire commented on #66
@jbenet how long do you think this will take you? Is it realistic to get this done for 1.0?

[2015-10-19 20:43] Dignifiedquire commented on #53
Fixed :)

[2015-10-19 20:43] #53 closed

[2015-10-19 20:44] Dignifiedquire commented on #29
There is an open PR on electron to make this a whole lot easier: https://github.com/atom/electron/pull/2963 so I suggest we wait for that to be merged.

[2015-10-19 20:45] Dignifiedquire commented on #51
1. Create a directory called `docs`
2. Create a window that renders those docs using a markdown renderer inside a nice help window
3. Add ipfs sync capabilities to allow auto updates of those docs

[2015-10-19 20:46] Dignifiedquire commented on #23
Closing as this should work now, please reopen with details if still an issue

[2015-10-19 20:46] #23 closed

[2015-10-19 21:47] jbenet commented on #66
i'm not sure. i'll look into it, but this week is basically shot for me. if you need it this week, then no. next week is likely. then there's apple's review process. i think it's much faster now, but it used to take a week or something.

[2015-10-19 22:03] Dignifiedquire commented on #66
That's fine, I'll do the prerelease unsigned this week and want to wait at least one week anyway before the real release.

[2015-10-19 23:03] Dignifiedquire commented on #66
Ref https://github.com/maxogden/electron-packager/issues/163

[2015-10-19 23:07] Dignifiedquire commented on #54
Lots of good ideas here: https://github.com/Aluxian/Facebook-Messenger-Desktop/blob/master/gulpfile.coffee

[2015-10-21 20:26] kyledrake opened #68 "Bundle correct go-ipfs version when generating the bundle"
With Ubuntu 15.04:

[code]

[2015-10-21 20:27] Dignifiedquire commented on #68
ping @jbenet I don't have  linux machine around atm and it sounds like it's an issue with the forking again :(

[2015-10-21 20:33] ion1 commented on #68
[code]

When Linux doesn’t understand the executable file format, it tries to run it through sh, resulting in the confusing syntax error. From strace:

[code]

[2015-10-21 20:51] Dignifiedquire commented on #68
@ion1 might that be that the go-ipfs binary packaged on my osx is not compatible with linux?

[2015-10-24 05:19] diasdavid commented on #57
station doesn't stay on for long, crashing for me:

[code]

[2015-10-24 09:34] Dignifiedquire commented on #57
@diasdavid  :(
* Could you post the log from `app.log`
* Did this happen "randomly" or when you were doing something in the UI?
* Which version did you have checked out when this happened?
* Can you please try with the latest one (I tried improving the exception logging in there)

[2015-10-24 09:39] Dignifiedquire commented on #57
I was able to reproduce, it seems it only happens when initializing a new node and then connecting

[2015-10-24 09:52] Dignifiedquire commented on #57
This is the error I got https://gist.github.com/Dignifiedquire/dd288f9332e11ac797a6 as far as I can tell the underlying issue is a `ECONNRESET` but I don't know where it is coming from and why it's happening

[2015-10-24 18:40] bcomnes commented on #57
Fresh install, getting unresolved peer dependency issues with npm3.

[code]

[2015-10-24 18:44] whyrusleeping commented on #57
@bcomnes i get that every time too, but i ignored it since it was a warning.

[2015-10-27 08:06] jbenet commented on #14
nice, :+1:

[2015-10-27 09:08] jbenet commented on #68
need to package the right binary for the right platform. `npm install go-ipfs` does this correctly for your local arch. maybe https://github.com/ipfs/npm-go-ipfs should expose a function to be able to install a specific go-platform.

[2015-10-27 19:59] bcomnes commented on #14
Nice find!

[2015-10-28 16:12] namick commented on #56
For me the install is failing:
[code]
I can get it to install and work correctly if I edit `node_modules/react-file-drop/package.json` and `node_modules/redbox-react/package.json`  removing the `-beta1` and `-rc1` respectively.

[2015-10-28 16:23] Dignifiedquire commented on #56
If you upgrade to `npm@3` the install will work

[2015-10-28 20:46] diasdavid commented on #56
@Dignifiedquire might be worth to add that info to the README.md, seems that there is a considerable amount of people hitting the npm 2 vs 3 problem

[2015-10-28 23:30] namick commented on #56
npm 3 works for me.  Thanks.  I updated the README in a PR.

[2015-11-09 14:49] G-Ray opened #106 "Crash on Archlinux with ipfs 0.3.9"
Installation process is fine. But any subsequent launch will output :

[code]

[2015-11-09 15:12] Dignifiedquire commented on #106
@diasdavid looks like something in the api is not being parsed as it should be.

[2015-11-09 19:53] Dignifiedquire commented on #106
I've done some updates, could you please try again with the latest version (make sure to run `npm install`  before you try)

[2015-11-09 20:41] diasdavid commented on #106
@Dignifiedquire don't forget to upgrade to ipfs-api 2.7 :)

[2015-11-09 20:53] G-Ray commented on #106
Thanks! This time I get :
[code]

[2015-11-15 16:08] xicombd opened #121 "Unable to run app on OS X El Capitan"
Hey there!

I'm having trouble running the app on OS X El Capitan. The tray icon appears for 2 seconds but it crashes right after.

Below is the result log of doing `npm start`:
[code]

My node and npm versions are:
 - node: `v4.2.2`
 - npm: `v3.3.12`

I tried removing `node_modules` and npm install a few times and the result has been always the same.

Am I missing something?

Thanks!

[2015-11-15 20:47] Dignifiedquire commented on #121
Thanks for the report, what exact version have you tried running? (git sha) It looks like this is the same error as in #106

[2015-11-15 21:01] xicombd commented on #121
Yeah, my mistake, I noticed this a few days ago and forgot to git pull today somehow.

It's fixed now, sorry for bothering!

[2015-11-15 21:01] #121 closed

[2015-11-15 21:02] Dignifiedquire commented on #121
Great thanks for the feedback and enjoy :)

[2015-11-21 03:02] almereyda commented on #57
Same here:

[code]

with electron, rimraf and babel globally installed. Worked also with soley electron-prebuit installed, too.
Is

[code]

maybe also worth a new issue? Querying for `hash` didn't reveal an existing one.

[2015-12-01 08:41] swang opened #135 "Problem running on Mac OSX 10.9.4 Mavericks"
Node -> 4
npm -> 2.14.2
I copy the instructions in the README, but when I exec `npm run start` I get:

[code]
I tried debugging this myself, but it seems like the ip being passed into ipfs-geoip running the lookup function is `::1` which seems to be the ipv6 loopback address. Converting this using `aton4` makes it return 0.

I've tried looking around ipfs for documentation of this problem but coul

[2015-12-01 09:29] Dignifiedquire commented on #135
Thanks, this should be fixed in https://github.com/ipfs/ipfs-geoip/pull/4, will try to get a release out asap to fix this.

[2015-12-11 15:25] Dignifiedquire opened #145 "Shutting down using ctrl+c does not cleanup the menubar instance (OS X)"

[2015-12-18 10:02] fazo96 opened #151 "Ability to add and open apps"
Continuing discussion on https://github.com/fazo96/ipfs-boards/issues/78

I think something really nice to have would be a simple way to:

- add an App which would be a standard static website or one that talks to the IPFS API or local gateway
- Open said app from station, either opening a window in the browser or an electron window (maybe let the user choose)

This would be the easiest way to boo

[2015-12-19 20:30] Dignifiedquire commented on #145
Found some more details: https://gist.github.com/Dignifiedquire/f4a47f17109aaea92a70 but no idea what this means

[2015-12-19 20:31] Dignifiedquire commented on #145
@diasdavid ping if you could take a look at let me know if you have any ideas

[2015-12-19 20:57] diasdavid commented on #145
just tried a new clean install again and still throws for me :(

[2015-12-19 23:04] Dignifiedquire commented on #145
Okay the reason is that `ipfsd.local` does not work as expected. When running a daemon on another terminal the error goes away. Needs more investigation

[2015-12-20 00:24] Dignifiedquire commented on #145
Found some more details, as to the issues. It seems that the daemon has not finished starting when killing it, and that causes issues and the relevant hanging. After the daemon has launched stopping station poses no issues anymore.

[2015-12-20 06:51] diasdavid commented on #145
@Dignifiedquire I would love to help you debug this ctrl+c thing, but first I would need to be able to run the daemon as good as you and so far I still have the problem of it crashing as well as: https://github.com/ipfs/station/issues/106 and https://github.com/ipfs/station/issues/106 .

I believe it would be a good strategy to fix the packaging of the right IPFS binary with station and create a s

[2015-12-20 08:02] Dignifiedquire commented on #145
Similar error when pressing stop in the uI

[code]

[2015-12-20 08:28] Dignifiedquire commented on #145
The errors are coming from `ipfs-geoip` dropping it's usage for now until I can fix it

[2015-12-20 08:42] #56 closed

[2015-12-20 08:42] #145 closed

[2015-12-20 08:43] dignifiedquire opened #153 "Window drag and drop file upload is broken"
Probably the same issue as https://github.com/sarink/react-file-drop/issues/5

[2015-12-20 08:44] Dignifiedquire commented on #106
Can you please try out the latest master and let me know if this still happens?

[2015-12-20 08:44] Dignifiedquire commented on #135
Can you please try out the latest master and let me know if this still happens?

[2015-12-20 09:24] Dignifiedquire commented on #57
Please try again with latest `master`.

[2015-12-20 10:36] fazo96 commented on #106
It works for me on latest Arch Linux, running latest `master` using `npm start`

Log:

[code]

[2015-12-21 17:41] almereyda commented on #57
Confirmed for Node 5.3.0 + npm latest + clean cache.
No success with Node 4.2.3 + npm latest.

always rm -rf'ed the node_modules
on Fedora 22, GNU/Linux 4.2.6

On 20 December 2015 at 10:24, Friedel Ziegelmayer <notifications@github.com>
wrote:

[2015-12-21 17:45] Dignifiedquire commented on #57
@almereyda what do you mean with "confirmed for node 5.3.0", that the same issue exists or that it works?
And what does not work on node 4?

[2015-12-21 19:27] almereyda commented on #57
Just closed the tabs for the node 4 one: some `Z_BUF_ERROR` unzip error in tgz `tar.unpack`.
Was about to send a tweet regarding the increased availability of ipfs station for Fedora and probably others, linking back to this conversation.

[2015-12-23 19:46] almereyda opened #154 "FUSE automount"
As https://github.com/ipfs/go-ipfs/blob/master/docs/fuse.md mentions, we can use the daemons `--mount` option to hook IPFS into the filesystem. As a station user, I want to be able to use the FUSE options as exposed via the config at http://127.0.0.1:5001/ipfs/QmR9MzChjp1MdFWik7NjEjqKQMzVmBkdK3dz14A6B5Cupm/#/config

Which scenario like this is supported by it?

[2016-01-21 17:35] swang commented on #135
I can install it now from OSX, but I had to upgrade node to 4.2.2 due to errors with caniuse. It works fine after I do that.

[2016-01-21 17:35] #135 closed

[2016-01-29 05:35] MrChrisJ opened #165 "Raspberry Pi ARM Binaries"
Hey is it possible to get this working for the Arm processors. I would like to add this to the Fullnode project. I did try installing but as expected was met with errors.

[2016-01-29 06:15] whyrusleeping commented on #165
@MrChrisJ could you provide an error log from the build? I have several raspberry pi's I can spin up to help debug this for you. (we can even probably add a special raspberry pi build to dist.ipfs.io)

[2016-02-19 18:54] dignifiedquire commented on #165
@MrChrisJ I just pushed a version to master that should work with npm@2 please give it a try

[2016-02-19 19:35] MrChrisJ commented on #165
Hey @dignifiedquire thanks very much. I did get v3 working, still getting these errors on the Pi:
https://gist.github.com/MrChrisJ/14e9cc728cf608dcd97a

I have Station working on OS X just fine. I installed it minutes ago after your commit.

[2016-02-19 20:04] dignifiedquire commented on #165
@MrChrisJ the error means it's not able to connect to the npm registry. probably some network issue on the config side of your box

[2016-02-19 20:17] MrChrisJ commented on #165
@dignifiedquire ooops ```sudo killall tor```, let's see how this goes :). I did originally get a different error though on the next stage but it's downloading now. Thanks for your time.

[2016-02-19 23:46] MrChrisJ commented on #165
After a bit of fiddling I did get working. The application will run for about 10-20 mins before crashing:
https://gist.github.com/MrChrisJ/61ff07629cb4c79bcfd5#file-20160219-ipfs_station_crashing_rpi2-txt

I will try to install it again to see if there was a problem with any of the packages.

[2016-02-22 12:16] #153 closed

[2016-02-23 00:21] MrChrisJ commented on #165
I have tried the new download and I am back to the same error as before. This looks like something to do with NPM and the Pi so I have asked some colleagues who are familiar with NodeJS:
https://gist.github.com/MrChrisJ/14e9cc728cf608dcd97a
https://gist.github.com/MrChrisJ/61ff07629cb4c79bcfd5#file-error-trying-to-install-ipfs-station

That is with all the Proxy settings checked in the system as w

[2016-02-23 07:58] ralphtheninja commented on #165
@MrChrisJ This sounds like it's related to npm and not station. Have you tried installing anything else with npm?

[2016-02-23 08:05] ralphtheninja commented on #165
Well the `ECONNRESET` sounds related to npm and your connection, not the crash.

[2016-02-25 12:45] bzz commented on #61
:+1: for github releases or a link from README to any other type of binary distributions

[2016-04-05 03:38] ARezaK opened #213 "Timeout on 'npm install'"
Using osx I've been unable to complete 'npm install'. Using a verbose tag I receive this error:

npm info retry will retry, error on last attempt: Error: socket hang up

Just for fun I updated package.json to the latest versions and I had no error doing an npm install. Npm start wouldn't work though for probably obvious reasons. Anything I can do to narrow down the problem?

[2016-04-05 04:09] diasdavid commented on #213
@ARezaK that seems like a `npm` error. which version of `npm` are you using?

[2016-04-05 14:18] ARezaK commented on #213
npm -v gives me
3.8.5

[2016-04-05 14:38] diasdavid commented on #213
can you install modules in other projects?

[2016-04-05 18:01] ARezaK commented on #213
sure can. Tried out a couple different projects and everything worked fine. And I mentioned in op that if I update the package.json to the latest versions it seems to break the project but npm install works.

[2016-04-09 15:01] ARezaK commented on #213
Do you know if its possible to isolate what npm package its hanging up on?

[2016-04-13 14:55] ARezaK commented on #213
Looks like the last pull request fixed the problem

[2016-04-13 14:55] #213 closed

[2016-04-17 22:49] dignifiedquire opened #232 "Upgrade to 0.4"
`master` has the wrong `package.json`dependencies atm (ref #231) due to the shrinkwrap file nothing bad will happen but we should upgrade nonetheless

[2016-06-02 09:30] swang commented on #60
Hi, I would like to work on this, should this thing only poll when the profile screen gets opened or should it still continue to poll in the background like it seems to do now?

[2016-06-02 09:48] swang opened #281 "station cannot compile on node v6.0 until babel is updated"
See: babel/babel#3448:

Until station is updated accordingly, running `npm run build` in node v6.0 will cause errors: https://gist.github.com/swang/6ac9c3bd5c20ead6540e4cad6719ae66

The solution I used is to revert back to node v5.0 using nvm. babel released 6.9.x but npm still seems to only have 6.5.x.

[2016-06-02 11:28] dignifiedquire commented on #281
I've been running babel in other projects fine with node 6 after updating to the latest versions on npm. So it's just a matter of upgrading things here.

[2016-06-02 11:32] dignifiedquire commented on #60
Looking forward to it :) below a hopefully better description of what should ideally happen

- It should not poll while the window is hidden to minimize the background activity when not used.
- On window `show` it should update, and then start the polling.
- When the window is closed the polling should be stopped

[2016-06-03 19:09] dignifiedquire commented on #281
@swang I have a PR in progress that will fix this: #282 Just need to update some dependencies first to make sure all things are smooth and up to date.

[2016-10-06 22:59] dignifiedquire commented on #232
Done

[2016-10-06 22:59] #232 closed

[2016-10-06 23:00] dignifiedquire commented on #281
Babel is updated to the latest version, works fine now with node 6

[2016-10-06 23:00] #281 closed

[2016-10-10 17:05] RichardLitt opened #409 "Image broken in README"
<img width="871" alt="screen shot 2016-10-10 at 1 04 50 pm" src="https://cloud.githubusercontent.com/assets/910753/19244389/28294832-8eea-11e6-8eb9-34375ae3cd96.png">

[2016-10-10 17:06] RichardLitt commented on #409
Looks like the issue is that this is down: https://ipfs.io/ipfs/QmaufMhYVWPKwhC1jSb4qHBxgiahrq9ct2hgqk5cZxeE7s

[2016-10-15 16:08] satra opened #411 "cannot run on macOS"
following the instructions in README, results in a blue screen

(on macOS sierra, node/npm 6.8.1)

![image](https://cloud.githubusercontent.com/assets/184063/19411427/b2584844-92cf-11e6-879c-87a038a7021b.png)

[2016-10-15 16:12] satra commented on #411
and clicking on `Start Node` crashes the app.

[code]

[2016-10-17 19:01] dignifiedquire commented on #409
This was pinned on the gateways :/ not a good sign it went away. cc @whyrusleeping @lgierth

[2016-10-18 17:47] whyrusleeping commented on #409
@dignifiedquire that hash doesnt show up at all in pinbots pin log. Are you sure it got pinned?

[2016-10-18 17:49] dignifiedquire commented on #409
pretty sure, but it was pre 0.4.0

[2016-10-18 17:50] dignifiedquire commented on #409
but maybe I also imagine things :/ will see if it is cached on one of my nodes and reprovide when I am back home

[2016-10-18 17:52] whyrusleeping commented on #409
SGTM. also hit me up with any hashes you'd like backed up. I'm pinning every hash i can find on my home server

[2016-10-29 22:22] 14lox opened #425 "OSX install issues."
OSX: `10.11.6 (15G1004)`
node: `v6.9.1`
npm: `3.10.8`

`$ npm install`
[code]

`$ npm start`

[code]

[2016-10-30 01:03] 14lox commented on #425
Hmmm, weird. I tried it again in a different location and now it works. (The very first time I tried to install I had an older version of Node, so that was probably it - it got confused). Closing.

[2016-10-30 01:03] #425 closed

[2016-12-20 20:04] #8 closed

[2017-01-17 14:00] Kuurusch commented on #411
In my case something went wrong during the installation process:

0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.11.3
3 info using node@v0.12.7
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart ipfs-station@1.0.0-alpha.1
6 info start ipfs-station@1.0.0-alpha.1
7 verbose unsafe-perm in lifecycle true
8 info ipfs

[2017-03-08 15:50] wanderer opened #506 "Doesn't detect ipfs deamon running on latest update"
After upgrade to latest ipfs version station broke. It can't seem to detect the deamon

[2017-03-08 15:53] #506 closed

[2017-03-26 04:31] bcomnes commented on #14
Cleaning up old issues I opened.  I don't really have the bw for this right now, so feel free to reopen or recreate if you still want this issue.

[2017-03-26 04:31] #14 closed

[2017-04-07 21:19] luiscarrasco commented on #411
Anybody got this working on OSX?

[2017-05-08 13:30] flyingzumwalt opened #508 "Add a package builder that generates installers for Win, Mac and Linux"
Everyday users want to use a native OS installer to install apps. In order to support this, we need to use a package builder like [electron-builder](https://www.npmjs.com/package/electron-builder) to generate those installers.

What to do:
- [ ] Add an electron package builder like [electron-builder](https://www.npmjs.com/package/electron-builder) that gan generate installers for Windows, Mac and

[2017-06-13 11:04] reutopiaer commented on #411
Same problem!
[code]
GVA info: Successfully connected to the Intel plugin, offline Gen9
error: Uncaught Exception: non-zero exit code 1
  while running: ~/station/node_modules/subcomandante/subcom 95616 ~/station/node_modules/go-ipfs-dep/go-ipfs/ipfs daemon

  Error: no version file in repo at ~/.ipfs

[2017-06-15 12:17] Kubuxu commented on #411
As a workaround instead of that try running `ipfs repo init`. The `ipfs` binary wrapper should be somewhere in the `node_modules`.

[2017-10-11 09:30] diasdavid opened #510 "Move to ipfs-shipyard?"
Now we have an org to incubate projects that not part of the core implementation of the protocol or discussion of the spec. That org is [ipfs-shipyard](https://github.com/ipfs-shipyard) created from https://github.com/ipfs/pm/issues/448

Short description:

Anyone opposing?

[2017-11-10 17:33] #510 closed

[2017-11-10 17:33] diasdavid commented on #510
Done :)

[2017-11-22 06:54] bogdoslav commented on #20
Hello! I have created insttaller for windows: https://github.com/bogdoslav/ipfs-windows-installer
Firewall rules and windows start-up task created during install.
Please test and give a feedback.

[2017-11-22 09:34] lidel commented on #20
Another piece of the puzzle: https://github.com/marcin212/ipfs-gui
It does not touch firewall, but provides basic GUI via tray icon:

[2017-11-22 16:01] diasdavid commented on #409
Works now :)

[2017-11-22 16:01] #409 closed

[2017-11-25 19:35] diasdavid commented on #411
Hi there! Station is alive and well again thanks to @hacdias 👏🏽👏🏽👏🏽👏🏽👏🏽👏🏽👏🏽

![image](https://user-images.githubusercontent.com/1211152/33234042-c0289496-d217-11e7-802a-f950d4238776.png)

Try it out again and let us know if you hit an issue. Meanwhile, I'm closing this one :)

[2017-11-25 19:35] #411 closed

[2017-11-25 19:38] diasdavid commented on #508
This is now possible thanks to the work @thisconnect did on js-ipfsd-ctl.  @hacdias does this sound like something you can tackle as well? You can find docs on packaging left by @thisconnect here: https://github.com/ipfs/js-ipfsd-ctl#packaging

[2017-11-28 14:05] hacdias commented on #508
So, this is related to #512. Dear CI master @VictorBjelkholm, the command to build the distributables is:

[code]

You just need to change the `arch` and `platform` flags to build for the desired platforms and arches. The output will be saved on:

[code]

If it simplifies your life, there is the `publish` command you can use: https://electronforge.io/cli/publish.

[2017-11-29 11:52] VictorBjelkholm commented on #508
@hacdias started working on this here: https://github.com/ipfs-shipyard/station/pull/514 still a work in progress.

[2017-12-01 11:41] diasdavid opened #515 "Update to latest js-ipfsd-ctl to use go-ipfs@0.4.13 by default"

[2017-12-01 12:54] #515 closed

[2017-12-01 12:54] hacdias commented on #515
Done 😄

[2017-12-01 23:16] hacdias commented on #57
I think we should close this because this doesn't happen anymore. /cc @diasdavid

[2017-12-01 23:17] #57 closed

[2017-12-01 23:38] hacdias commented on #28
Settings and Exit will be available as a context menu once #516 is merged. I'm closing this. 😄

[2017-12-01 23:38] #28 closed

[2017-12-02 06:30] diasdavid commented on #57
Woot! thank you @hacdias !! :)

[2017-12-04 17:57] machawk1 opened #517 "Trouble building on macOS"
macOS 10.13.1
node v8.9.1
npm 5.5.1
station aa8b8630fc2e688693176c4ae06d5e3db13d9e77

Clone the repo, then cd'd into it, per the README.

<details>
<summary>npm install finished with some caveats</summary>
<pre>

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be re

[2017-12-04 18:47] VictorBjelkholm commented on #517
Seems you're missing xcode which is necessary for native modules to be built on OSX. Maybe you could try this:

[code]

From https://github.com/nodejs/node-gyp/issues/569

[2017-12-04 18:53] diasdavid commented on #517
Good to see you around @machawk1 :) Make sure to check out the new design branch too https://github.com/ipfs-shipyard/station/pull/516

[2017-12-04 19:08] machawk1 commented on #517
@VictorBjelkholm That solved the issue and now I am able to install and run Station! Perhaps this information should be in the README.

@diasdavid That's actually what brought me back here! I saw @hacdias's demo video and wanted to give the project another spin.

[2017-12-04 19:08] #517 closed

[2017-12-04 19:08] hacdias opened #518 "feat: pin files"
Some people (such as @flyingzumwalt and @mishmosh), would like to pin files. A great feature for later 😄

[2017-12-04 19:17] diasdavid commented on #518
I would love it too! :D The use case I was thinking was for PeerPad  https://github.com/ipfs-shipyard/peerpad/issues/90

[2017-12-04 20:08] machawk1 opened #521 "Station crashes when "open directory" dialog is canceled"
macOS 10.13.1
Commit b7e2db666e967b08932a4e3ef7baab7cb16596e3 of **redesign** branch.

Selecting the "folder" icon from the menu UI then hitting the cancel button causes Station to crash with the error
[code]
![station](https://user-images.githubusercontent.com/2514780/33573738-b96a02e0-d904-11e7-9600-8860a9db6c12.gif)

[2017-12-04 20:11] hacdias commented on #521
Thank you!! I'll take care ASAP!

[2017-12-04 20:14] hacdias commented on #521
Fixed!

[2017-12-04 20:14] #521 closed

[2017-12-04 20:15] machawk1 commented on #521
Pulled and verified. Thanks for the quick turnaround.

[2017-12-04 21:52] machawk1 opened #522 "UI: Station popup should hide when context deselection is requested"
In macOS, a common UX pattern is to select (full mousedown-then-mouseup) a menu item, which shows the popup even when the mouse is no longer pressed. Clicking elsewhere when this popup is open closes the popup. For example:

![out](https://user-images.githubusercontent.com/2514780/33577915-bc36a790-d912-11e7-9b57-3b2f96132039.gif)

Station does not allow this "deselection" though. When the Station

[2017-12-04 23:14] hacdias commented on #522
We know... I think we're only forcing this to enable drag and drop. On Windows, it is also default to hide the window/popup when you click outside of it. What do you think @diasdavid?

[2017-12-04 23:18] hacdias opened #523 "feat: add bandwidth stats to the right pane"
~Add stats to the right pane when https://github.com/ipfs/js-ipfs-api/pull/639 is closed 😄~

https://github.com/ipfs/js-ipfs-api/pull/639 is merged. Will focus on this after we merge #516.

[2017-12-04 23:23] machawk1 commented on #522
@hacdias Here's another datapoint from [Pushbullet](https://www.pushbullet.com/) menu bar app:

![out](https://user-images.githubusercontent.com/2514780/33581715-ea93c944-d91f-11e7-8575-2d846b780a86.gif)

The "stickiness" is only exhibited here when drag-and-drop is expected, otherwise the popup behaves conventionally and disappears when the context is lost.

[2017-12-04 23:25] hacdias commented on #522
@machawk1 yup, we could do that *but* since the left pane defaults to Files, it would always be expected to drag'n'drop unless we had some kind of button to enable drag'n'drop.

[2017-12-04 23:33] machawk1 commented on #522
@hacdias What if there were some toggle switch, disabled by default, that allowed a user to keep the Station UI visible? This would be useful in cases where they drag-and-drop files en-masse from a variety of locations but less so for one-offs, where they might use the "+" or folder buttons in the bottom right.

Something akin to "pinning" (like a browser tab, though this is a bad term choice due

[2017-12-05 08:33] diasdavid commented on #523
https://github.com/ipfs/js-ipfs-api/pull/639 merged and released :)

[2017-12-05 08:34] diasdavid commented on #3
The only item missing after #516 is merged is https://github.com/ipfs-shipyard/station/issues/523

[2017-12-05 09:35] hacdias opened #524 "expandable addresses on right pane"
^ that 😄

[2017-12-05 09:38] hacdias opened #525 "feat: init on startup"
A feature that might be useful is to start Station after starting up the OS.

[2017-12-05 09:39] #3 closed

[2017-12-05 10:02] diasdavid commented on #106
@G-Ray mind giving this another try? So many things have been updated :)

[2017-12-05 10:11] G-Ray commented on #106
Sorry @diasdavid I'm not using Arch anymore

[2017-12-05 10:15] diasdavid commented on #106
closing this one then. Thanks! :)

[2017-12-05 10:15] #106 closed

[2017-12-05 13:44] VictorBjelkholm commented on #48
@hacdias does merging https://github.com/ipfs-shipyard/station/pull/514 make all this cleaning to happen?

[2017-12-05 14:14] hacdias commented on #48
Yup, since the installer will also produce an uninstaller.

[2017-12-05 14:20] VictorBjelkholm commented on #48
@hacdias cool! We should not close this until we can have a uninstaller that can completely clean up after Station, like removing the repository after asking for confirmation from the user.

[2017-12-05 16:47] machawk1 opened #527 "Provide a friendlier message if another daemon is already running on startup"
I often have an IPFS daemon running to interface with other IPFS tools. When launching station, I receive an alert that an instance of the daemon is already running but the message contains the text that one would normally expect on the command-line and not a message typically displayed from a GUI app.

Replicate:
1. Start an IPFS daemon on the system
1. `npm start` from the root of the station wo

[2017-12-05 16:57] machawk1 opened #528 "UI: Adjust menubar icon size to have consistent height among other icons"
<img width="629" alt="screen shot 2017-12-05 at 11 55 19 am" src="https://user-images.githubusercontent.com/2514780/33619415-346a56da-d9b3-11e7-9964-8f9f804dcf79.png">

In an effort to make station appear as fluidly integrated as a system application as possible, one facet that stands out is the height of the menubar icon in comparison to other icons on macOS. Note the difference in height of the

[2017-12-05 17:11] whyrusleeping opened #529 "placement of dropdown with disappearing task bar is odd"
![screen shot 2017-12-05 at 9 11 03 am](https://user-images.githubusercontent.com/1243164/33620274-46b7721c-d99c-11e7-8a59-f9c0b445457d.png)

[2017-12-05 17:19] whyrusleeping opened #530 "number of objects shared keeps going up"
The text below "Your Node" keeps increasing, not sure why.

[2017-12-05 17:25] hacdias commented on #529
Hey @whyrusleeping, this issue should be opened on https://github.com/maxogden/menubar, please. 😄

[2017-12-05 17:31] machawk1 commented on #529
@whyrusleeping What OS is this? I don't experience the clipping on macOS 10.13.1 that you showed.

<img width="891" alt="screen shot 2017-12-05 at 12 27 22 pm" src="https://user-images.githubusercontent.com/2514780/33621085-b29ceb0e-d9b7-11e7-86f2-e4d689517492.png">

The empirical placement paradigm seems to be that popups are left left with the icon or use some a callout-style triangle to associa

[2017-12-05 17:40] hacdias commented on #48
Sure!

[2017-12-05 23:33] machawk1 opened #532 "UI: Add functionality to IPFS icon within popup"
I have found myself wondering a few times whether the little IPFS cube in the popup window has functionality associated with it that simply is not working. My guess is that it is there for decoration, which only facilitates this confusion. I can imagine some really useful functionality being tied to this icon but at the moment, it hurts more than it helps.

![screen shot 2017-12-05 at 6 29 55 pm](

[2017-12-06 00:07] whyrusleeping commented on #529
Its probably because i set my menubar to autohide.

[2017-12-06 07:20] diasdavid commented on #530
It is geoip doing lookups. It should stop at some point

[2017-12-06 10:06] #523 closed

[2017-12-06 16:41] machawk1 opened #534 "No way to quit Station"
#32 introduced a way to quit Station in the GUI but with the redesign there no longer seems to be a means to do this. Unless I'm missing something, the IPFS node can be stopped but Station cannot be quit from within the UI.

/cc @diasdavid

[2017-12-06 18:58] #534 closed

[2017-12-06 19:24] hacdias commented on #529
Same happens on Windows when the taskbar is set to autohide.

[2017-12-06 20:47] hacdias commented on #530
I think we close this since it was already answered 😃

[2017-12-06 20:47] #530 closed

[2017-12-06 21:24] hacdias commented on #55
Which kind of settings are being talked about here? I don't think this is applicable to what we've now so it could be closed. /cc @diasdavid

[2017-12-06 21:25] hacdias commented on #19
Already a bit better than what it was in 2015. Although, there is still a lot of room to improvement. Will continue this on #527.

[2017-12-06 21:25] #19 closed

[2017-12-07 08:46] hacdias commented on #29
What's the state of this issue? Is this feature still wanted? 😄

[2017-12-07 08:48] hacdias commented on #528
Since I can't really test this, I'd like to ask if you or @diasdavid could take a look at this?

[2017-12-07 08:58] #55 closed

[2017-12-07 14:15] #60 closed

[2017-12-07 14:18] diasdavid commented on #29
It should not be enabled by default and if enabled, it should let the user pick a custom key shortcut for it to activate.

[2017-12-07 14:19] diasdavid commented on #528
I believe that what @machawk1 is suggesting is for you to add a bit of padding to the cube :)

[2017-12-07 14:22] hacdias commented on #528
Yeah, I know, but I don't know when will be enough. But I'll update it today 😄

[2017-12-07 14:25] #16 closed

[2017-12-07 14:25] #20 closed

[2017-12-07 14:27] hacdias commented on #508
Let's just leave this opened until Packaging is fully working.

[2017-12-07 14:36] hacdias commented on #528
I've just updated the icons. Could you check how they look now, please? 😄

[2017-12-07 14:46] hacdias commented on #508
Sooooo! Since @diasdavid merged #514, Jenkins is actually building the right stuff! And the binary for Windows is running flawlessly and I'm very happy with it!!! Thanks @VictorBjelkholm!!!

I'll check on Linux Mint in just a moment and update this line here.

Although, there is this "problem" on Windows:

![image](https://user-images.githubusercontent.com/5447088/33720835-1aa96320-db5d-11e7-9108-

[2017-12-07 15:00] VictorBjelkholm commented on #508
@hacdias woah! That's great news! Hm, signing will be a bit trickier to solve right now, as we don't have secrets-management in jenkins yet but it's planned already because we have other builds that will need it as well.

I think this same problem happens in macOS (you'll need to right-click and then click open instead of double-click, otherwise you get a similar dialog) so maybe not a blocker for

[2017-12-07 15:05] hacdias commented on #508
@VictorBjelkholm okay then. Soooo, the only problem are the Linux builds! Those don't add an icon nor anything to the path. I'll try to figure out why.

[2017-12-07 15:16] machawk1 commented on #528
That's better but the height of the IPFS cube (dotted blue) is still the largest icon in my menu bar by a few pixels (max height of others in red).

<img width="711" alt="screen shot 2017-12-07 at 10 13 03 am" src="https://user-images.githubusercontent.com/2514780/33722177-475830e8-db37-11e7-8c7b-6b3471450eb6.png">

49274abcc1f7bbdff8c33067d71044764a0ca53f

[2017-12-08 12:30] hacdias commented on #528
I reduced them by 18.5% (I got this value by calculating the difference in the image you sent 😄 thanks). Could you check them now, please?

[2017-12-08 14:45] machawk1 commented on #528
LGTM

<img width="492" alt="screen shot 2017-12-08 at 9 44 26 am" src="https://user-images.githubusercontent.com/2514780/33770631-6b90376a-dbfc-11e7-871c-b554f4c63555.png">

[2017-12-08 14:45] #528 closed

[2017-12-08 15:10] hacdias commented on #528
Sweet!

[2017-12-08 15:21] hacdias commented on #532
I don't know which functionality it could eventually be attached to. Do you have any idea @machawk1 @diasdavid?

[2017-12-08 15:52] hacdias commented on #527
What about this:

![image](https://user-images.githubusercontent.com/5447088/33773456-d73cfe66-dc2f-11e7-9cc6-cc953afbe353.png)

[2017-12-08 15:54] machawk1 commented on #532
@hacdias How about initially using it to toggle the running state of the daemon? Colorized = running, wireframe = not. Even if this was redundant of the other functionality in the window, it gives some purpose to the icon beyond decoration.

[2017-12-08 15:55] machawk1 commented on #527
:+1: That would be a good initial step.

Also, havea->have a :)

[2017-12-08 15:55] hacdias commented on #527
Just updated the image ^^

[2017-12-08 15:59] machawk1 commented on #527
Much more succinct and to the point.

Is there any plan on eventually allowing the user to use their pre-existing IPFS installation?

[2017-12-08 16:02] hacdias commented on #527
I was thinking about the same thing when fixing this issue, I'll create another issue about that.

[2017-12-08 16:03] #527 closed

[2017-12-08 16:03] hacdias opened #542 "Let Desktop use pre-existing IPFS installation or already running daemon"
Ref.: https://github.com/ipfs/js-ipfsd-ctl/issues/182

/cc @machawk1 @diasdavid

[2017-12-08 16:06] machawk1 commented on #542
It might also be good to advertise a way for other tools to leverage Station's IPFS installation. I am thinking of this in the context of https://github.com/oduwsdl/ipwb, which initially checks IPFS_PATH then defaults to ~/.ipfs if it hasn't been set. For other tools to leverage Station's IPFS, both the binary and the repo, might require an API on Station's end to ensure that Station gets all of t

[2017-12-11 14:59] diasdavid commented on #508
@VictorBjelkholm @hacdias can we start adding the working builds (Windows and Mac OS X) to https://dist.ipfs.io/ ?

[2017-12-11 15:03] diasdavid commented on #52
@hacdias mind tacking a stab at this?

[2017-12-11 15:03] diasdavid commented on #518
@hacdias can you prioritize this feature?

[2017-12-11 15:29] VictorBjelkholm commented on #508
Manually verified ones, I don't see a problem with that.

However, automatic releases (from jenkins point of view) is missing trusted workers and dealing with secrets from within build jobs. Also, from Stations point of view, we would need to have some sort of testing before automatically release things.

[2017-12-11 15:44] hacdias commented on #508
Only Windows and macOS builds are working correctly right now, right?

[2017-12-11 15:45] hacdias commented on #518
Pin files like the way pinbot pins files? Or just have a different panel where we can pin the files to have their links handy?

[2017-12-12 11:10] flyingzumwalt commented on #518
Oh wow -- are you thinking of having station run pinning services, so I could just run station on a machine if I want to have a pinning service, and then have tools like peerpad use that as my preferred pinning service? That would be immediately useful. @hacdias read the related discussions in  ipfs-shipyard/peerpad#90 if you haven't yet. That should help you get a sense of the functionality we wa

[2017-12-12 14:23] diasdavid commented on #518
Exactly that! I knew you would like this feature, @flyingzumwalt :)

@hacdias that would be the ideal first version, a pane where users could pin hashes and add labels to them.

[2017-12-12 14:47] hacdias commented on #52
Hey, yes, I can do this. Should I put it all on README? Or do you have any structure in mind?

[2017-12-12 22:38] hacdias commented on #518
Okay, so we'll start by doing a pane where users can pin hashes and add labels to them. Will try to start this tomorrow (or Thursday maximum) and will open a PR. After the first 'version' is completed, we can move to a pinning service.

@flyingzumwalt all help is welcome 😄

[2017-12-14 09:23] diasdavid commented on #508
As per @VictorBjelkholm :

[code]

We are ready to make a release! @hacdias would you like to do the honors? -> https://github.com/ipfs-shipyard/station/releases/tag/untagged-50a0768f417fccfc1ed1

[2017-12-14 09:32] diasdavid commented on #508
Do we need Apple and Windows developer accounts to get the releases signed?

[2017-12-14 09:33] hacdias commented on #508
@diasdavid about Windows, check this link: https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-a-code-signing-certificate

[2017-12-14 09:36] diasdavid commented on #508
@lgierth would love your thoughts here (Release Signing)

[2017-12-14 10:10] hacdias commented on #508
@VictorBjelkholm you can set the script to remove the `.nupkg` files since they aren't needed.

[2017-12-14 10:14] hacdias commented on #508
Linux builds are only working with `sudo`. Permissions are wrong. Can it be a build related thing?

[2017-12-14 10:51] hacdias commented on #508
I really want to check this today and let this finished today. I'm not sure if I will be able to do so, but I'll try. Will update this this afternoon.

[2017-12-14 10:54] hacdias commented on #508
@diasdavid can you check if the latest macOS build works?

[2017-12-14 11:21] diasdavid commented on #508
Had to give perms for it to run on the Security pane of System Preferences, but yeah, it works!

<img width="847" alt="image" src="https://user-images.githubusercontent.com/1211152/33989854-ec69480e-e0c0-11e7-91a8-dd7cdfa5b806.png">

[2017-12-14 14:03] hacdias commented on #508
Nice! The only problem then is on debian.

[2017-12-14 15:35] hacdias commented on #508
So, I solved the problem on debian but i need your help @VictorBjelkholm:

See this:

https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fstation/detail/master/5/pipeline/15#step-51-log-23

Can you set postinst.sh permissions to be 755 before starting the build? 😄

[2017-12-14 15:39] VictorBjelkholm commented on #508
Huh, that error is new. Before the builds were successful but the resulting
.deb was broken, now the build is broken.

I'll try to change the permissions and see what we get.

Sincerely,
Victor Bjelkholm
(+34) 674 415 961

On Thu, Dec 14, 2017 at 4:35 PM, Henrique Dias <notifications@github.com>
wrote:

[2017-12-14 15:40] hacdias commented on #508
Don't worry, you just need to change the perms of that file. That file is the fix for the debian package 📦

[2017-12-14 17:09] lgierth commented on #508
Puh good question -- prior discussions: ipfs/distributions#51

We have a demand for signing web extensions too.

[2017-12-15 19:25] hacdias commented on #508
@VictorBjelkholm hello! How's the state of this?

[2017-12-17 10:17] hacdias commented on #508
@VictorBjelkholm ping.

[2017-12-17 10:34] hacdias commented on #52
Ping @diasdavid

[2017-12-17 12:01] hacdias opened #544 "Tests"
Write... tests!

[2017-12-17 12:29] VictorBjelkholm commented on #508
solved in c2e703c17b6b99fb18db06c7202ea82a7058a23e

[2017-12-17 15:43] #522 closed

[2017-12-17 17:44] hacdias commented on #532
@machawk1 Then, the wireframe version wouldn't be used since we have a different screen for when the daemon it's not running. Unless we removed that screen and used something else. Just got an idea!

[2017-12-17 21:05] diasdavid commented on #52
All in the README.md for now :)

[2017-12-17 22:26] #532 closed

[2017-12-17 22:38] diasdavid commented on #544
ref also: https://github.com/ipfs-shipyard/station/issues/50

[2017-12-21 09:45] hacdias commented on #508
@diasdavid @VictorBjelkholm I think the version from master is ready to be shipped and I'm not aware of any bugs it might have. What do you think?

[2017-12-21 13:28] VictorBjelkholm commented on #508
@hacdias if everything has been tested with those specific binaries, then I say go for it! 👍 My only reservation is towards automatic builds + publish without having any automatic tests.

[2017-12-21 13:28] hacdias commented on #508
@VictorBjelkholm we can skip automatic builds for now until we have tests 😄

@diasdavid let's do this?

[2017-12-21 13:47] diasdavid commented on #508
What's the real blocker with automatic builds?

[2017-12-21 15:56] #52 closed

[2017-12-21 17:27] hacdias opened #560 "Two buttons for the same thing"
Right now we have two different buttons doing the same thing: turning the daemon on and off.

![image](https://user-images.githubusercontent.com/5447088/34267228-03f7c42e-e674-11e7-84fe-c9e7bc02c2b1.png)

Should they be kept? IMO, we should remove the one from the bottom since it's repetitive. Although, it's more clear what it does than the one from the top right.

/cc @diasdavid

[2017-12-21 21:31] diasdavid opened #561 "New name! Propose and vote in your favourite! Date of decision is Dec 30, 2017"
It has dawned on us that IPFS Station is not the best name for this project. _IPFS Station_ doesn't communicate what this repo is about and it also doesn't get better when we announce an update on twitter, IRC or Reddit about the latest _IPFS Station_.

With this in mind and similar to what we did to find a name for [IPFS Compation](https://github.com/ipfs-shipyard/ipfs-companion/issues/225), we o

[2017-12-21 21:31] diasdavid commented on #561
Keep `IPFS Station`

[2017-12-21 21:32] diasdavid commented on #561
`IPFS App`

[2017-12-22 02:26] lgierth commented on #561
Voted 👎 on IPFS App because it feels a tad to generic. IPFSdroid is also an IPFS app, and in a slightly different context, any app built with IPFS is an IPFS app.

[2017-12-22 02:27] lgierth commented on #561
`IPFS Desktop`

[2017-12-22 13:39] hacdias commented on #31
Gonna start this 😄

[2017-12-22 17:29] hacdias commented on #31
Updated the main comment https://github.com/ipfs-shipyard/ipfs-station/issues/31#issue-100265996

[2017-12-22 23:25] hacdias commented on #29
Done on #562. The shortcut cmd/ctrl+alt+s is always enabled. Should there be an option to activate/deactivate?

[2017-12-23 12:27] lidel commented on #29
Yes, there should be an UI for changing or at least deactivating keyboard shortcuts, otherwise we will make random people sangry (sad+angry 🙃).

(tl;dr will now commence)

When it comes to shortcuts, it is very likely we will run into problems on different platforms / machines.

Combinations that are unused on linux/macOS may be hijacked by default on MS Windows (example: https://github.com/lidel/

[2017-12-24 15:19] hacdias commented on #29
@lidel unfortunately, Electron doesn't have a way to add different default shortcodes for each operating system. And even when we add a shortcut, it may fail silently if there is already another shortcut with those keys. This way, I cannot know if there is some program already using that shortcut.

Right now I'm only letting the user enable/disable `CTRL/CMD+ALT+S` for the screenshot. In the futur

[2017-12-24 15:21] hacdias commented on #61
I think we can close this @diasdavid

[2017-12-24 15:45] #61 closed

[2017-12-24 19:04] lidel commented on #29
Yup, sounds good 👍

[2017-12-26 18:31] #15 closed

[2017-12-26 18:31] #29 closed

[2017-12-26 18:31] #525 closed

[2017-12-26 18:52] hacdias commented on #31
@diasdavid what if you did `CTRL+C` on your hash and then `CTRL+ALT+D` to download the copied hash? (The same for uploading the files).

[2017-12-26 21:10] hacdias opened #565 "Fix Logging"

[2017-12-26 21:58] hacdias commented on #565
Closed with 663fc49064f68bc9ea85b0f29fc3bc269cd52bf4

[2017-12-26 21:58] #565 closed

[2017-12-27 14:23] hacdias commented on #35
What's the state of this issue?

[2017-12-27 14:29] lgierth commented on #35
The electron API linked in the opening comment is *not* for capturing at the OS level. If you can find a good way to captue protocols at the OS level, sure, go for it!

[2017-12-27 14:38] hacdias commented on #35
@lgierth on Windows and macOS we could use this:

https://electronjs.org/docs/api/app#appsetasdefaultprotocolclientprotocol-path-args-macos-windows

[2017-12-27 17:15] daviddias opened #569 "Publishing to the AppStore"
Lot's of valuable learnings here https://hackernoon.com/electron-on-the-appstore-pain-tears-iii-ship-it-a8c6bb141ece, we should take them all in mind for our release process.

[2017-12-27 18:16] hacdias commented on #31
Download the last copied hash is now working 😄 I don't know if we should let this opened or not. I can't find any "positive" information about reading files from the clipboard on Electron. /cc @diasdavid

[2017-12-27 18:20] diasdavid commented on #31
👏🏽👏🏽👏🏽

[2017-12-27 18:20] #31 closed

[2017-12-28 12:44] hacdias commented on #529
On Windows, though, when you put the cursor above the application, the taskbar hides again so there's no problem at all. It doesn't happen on macOS too @whyrusleeping ?

[2017-12-28 18:22] machawk1 commented on #529
The menu bar where the station icon resides cannot be hidden nor auto-hidden, @hacdias .

[2017-12-28 18:43] machawk1 commented on #561
`IPFS Commander`

[2017-12-28 18:48] machawk1 commented on #561
I also want to provide another perspective cf. @lgierth that many Mac apps are Something.app (e.g., Calculator.app, Calendar.app) but outside of built-in Apple apps, I rarely see it used (e.g., one doesn't say, "VLC.app" . `IPFS Desktop` is good and expresses the desktop interface...even though Station is a task-/menu-bar based interface.

[2017-12-28 18:53] machawk1 commented on #560
Is there sufficient distinction in the UI whether each button closes IPFS station or quits the IPFS daemon? I see the cube and I think "IPFS interaction" whereas a Power Symbol on an app would indicate closing the app itself (albeit, it cannot be "toggled" again to turn the app back on like hardware).

[2017-12-29 15:58] #560 closed

[2017-12-30 15:57] hacdias commented on #518
Done people! Check it out!

[2017-12-30 16:13] diasdavid commented on #518
@hacdias gifs or it didn't happen :)

[2017-12-30 16:14] hacdias commented on #518
@diasdavid

## Pin a new hash

[![https://gyazo.com/cc95c17262a58052d43230cb756f5c09](https://i.gyazo.com/cc95c17262a58052d43230cb756f5c09.gif)](https://gyazo.com/cc95c17262a58052d43230cb756f5c09)

# Search

[![https://gyazo.com/7e1d694d77174bd6c3493812c11318ab](https://i.gyazo.com/7e1d694d77174bd6c3493812c11318ab.gif)](https://gyazo.com/7e1d694d77174bd6c3493812c11318ab)

# Animation while pinning

[2017-12-30 16:25] hacdias commented on #51
@diasdavid is this supposed to be done? If so, what should this Help page contain?

[2017-12-30 16:31] diasdavid commented on #51
This is a really old proposal (Oct 2015). Yes, docs are great but even greater is making sure that the IPFS GUI is cohesive so that part of the documentation is just UX.

[2017-12-30 16:35] hacdias commented on #51
Oh, I thought this was more about a end-user help page. For devs, we already started writing some stuff: https://github.com/ipfs-shipyard/ipfs-station#file-structure

[2017-12-30 16:36] RichardLitt commented on #51
Ah, word. Yeah. In that case, David is probably right. Some basic text may help, though. The most use might be gotten out of drawing up some wireframes or user flows, and then implementing them in the GUI.

[2017-12-30 16:38] diasdavid commented on #51
In any case, @hacdias already did some valuable work to fulfil the need you described, @RichardLitt , check it out here https://github.com/ipfs-shipyard/ipfs-station#file-structure

[2017-12-30 16:40] hacdias commented on #51
Should we close this?

[2017-12-30 16:45] #68 closed

[2017-12-30 16:45] diasdavid commented on #518
@hacdias wanna add as gifs all the features that Station has to the README and close this issue?

[2017-12-30 16:46] diasdavid commented on #544
Track in #50

[2017-12-30 16:46] #544 closed

[2017-12-30 16:46] lgierth commented on #518
Great! Suggestion: let's make these fully-qualified paths, a la /ipfs/QmFoo

[2017-12-30 16:47] hacdias commented on #518
Will do that @lgierth @diasdavid. I'll close this afterwards.

[2017-12-30 17:12] whyrusleeping commented on #518
Well now we need to add pin annotations support to the api, this looks really nice :)

[2017-12-30 17:35] hacdias commented on #518
@diasdavid @lgierth @whyrusleeping  Look at this beautiful brand new README full of gifs: https://github.com/ipfs-shipyard/ipfs-station/blob/master/README.md

[2017-12-30 17:35] #518 closed

[2017-12-30 17:46] hacdias commented on #508
So, we don't have testes yet, but I do think the current version (on `master`) is stable enough to be released into [dist.ipfs.io](https://dist.ipfs.io). I tested it on Linux (Mint) and Windows and both versions worked fine. @diasdavid [tried on macOS](https://github.com/ipfs-shipyard/ipfs-station/issues/508#issuecomment-351683571).

Despite not having the automatic builds, we can build the packag

[2017-12-30 22:11] jbenet commented on #518
Looking great! :)

[2018-01-01 10:57] diasdavid commented on #518
@hacdias love it!!

[2018-01-04 17:08] diasdavid commented on #561
# We have a winner 🏆

<img width="774" alt="image" src="https://user-images.githubusercontent.com/1211152/34575167-a6708684-f171-11e7-9d3b-56cdff188836.png">

Thank you all that participated in this discussion :) @lgierth you can claim your prize (a nice chocolate) the next time we hangout 🍫

[2018-01-09 01:21] nothingismagick opened #576 "npm install WARN deprecations"
With all the fuss over at NPM the other day, I thought I would post the modules that complain during the `npm install`. I am somewhat alarmed about the **minimatch** version from 2014...

I am running node v8.9.1 and npm v5.6.0.

[code]

[2018-01-09 18:13] alexgarciac opened #577 "npm start on mac osx 10.13.1 high sierra"
hi, I followed the instructions but it did not work. from the shell I get
✔ Checking your system
✔ Locating Application
✔ Preparing native dependencies: 1 / 1
✔ Launching Application
2018-01-09 19:11:41.562 Electron[59234:27504278] *** WARNING: Textured window <AtomNSWindow: 0x7ff74ed8b790> is getting an implicitly transparent titlebar. This will break when linking against newer SDKs. Use NSWindow

[2018-01-09 20:12] nothingismagick commented on #576
So it seems that most of the problems are upstream. I checked with `npm ls [package]` and got these results (edited for brevity, my comments after `#`)

[code]

**Fazit:**

- package `electron-prebuilt-compile' should be updated in the dev deps to
    `"electron-prebuilt-compile": "^1.8.1"`
- package `electron-compilers` needs some love - i.e. the maintainers notified that **jade** is now known as

[2018-01-09 21:45] hacdias commented on #577
Hello @alexgarciac! Never saw that error before 😞 @diasdavid could you try it out on your mac, please?

[2018-01-09 21:52] #561 closed

[2018-01-09 21:55] hacdias commented on #576
Hello @nothingismagick! Thanks for noticing this. Just updated `electron-prebuilt-compile` to 1.8.1. This dependency must be set for a specific version and not a range. That's something Electron Forge needs.

About the other dependencies, I suggest you to do the same as you did for go-ipfs-dep and open an issue there 😄

[2018-01-09 21:56] hacdias commented on #576
I'm not sure if we should leave this open since it is not directly related to issues of `ipfs-desktop`. What do you think?

[2018-01-09 22:04] nothingismagick commented on #576
Closing with pleasure and glad to help out.

[2018-01-09 22:04] #576 closed

[2018-01-10 05:27] machawk1 commented on #577
I pulled 2aa8e947c4d34c8b34c38267ab1affc3c470afc7 and got the same output as @alexgarciac but see the menu bar icon.

[code]

macOS v10.13.2
node v8.9.4
npm v5.6.0

![screen shot 2018-01-10 at 12 26 20 am](https://user-images.githubusercontent.com/2514780/34757080-fb71aaa8-f59c-11e7-8176-992a699fa730.png)

[2018-01-10 07:20] hacdias commented on #577
Could you try removing [this lines](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/src/index.js#L228-L246) and execute the code again?

[2018-01-10 15:22] alexgarciac commented on #577
No, did not work. I deleted the lines from the index.js started the app and then nothing happened so I had to ctrl-c.

✔ Checking your system
✔ Locating Application
✔ Preparing native dependencies: 1 / 1
✔ Launching Application
2018-01-10 16:19:19.251 Electron[2434:518158] *** WARNING: Textured window <AtomNSWindow: 0x7fd255ce1f40> is getting an implicitly transparent titlebar. This will break whe

[2018-01-10 15:36] hacdias commented on #577
That is strange. I'll probably open an issue on electron today. Did you
update macOS since the he last time you tried ipfs-desktop?
On Wed, 10 Jan 2018 at 15:22, alexander <notifications@github.com> wrote:

[2018-01-10 15:57] alexgarciac commented on #577
I actually updated yesterday. I have 10.13.2 (17C88) I will test this in a linux mint box and let u know if it works.

[2018-01-10 16:04] hacdias commented on #577
Actually, by the error message we can see our seems to be sighing only
affecting Mac OS. But give it a shot. 👍
On Wed, 10 Jan 2018 at 15:57, alexander <notifications@github.com> wrote:

[2018-01-10 16:38] alexgarciac commented on #577
I am on linux mint. running on a vbox from my mac. npm version 3.5.2, nodejs 9.4.0 now I get

npm ERR! Linux 4.10.0-38-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE
npm ERR! ipfs-desktop@0.3.0 start: `electron-forge start`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the ipfs-desktop@0.3.0 start script 'elect

[2018-01-10 16:41] hacdias commented on #577
Could you send the log, please? That error doesn't say much 😞

[2018-01-10 16:45] hacdias commented on #577
@alexgarciac could you try deleting `node_modules` folder and running `npm install` again? Just to make sure native dependencies were built with the correct version of node.

[2018-01-10 16:52] hacdias opened #581 "Save daemon logs"
Save the daemon logs to somewhere in the universe.

[2018-01-10 17:13] VictorBjelkholm commented on #581
Hopefully, the log entries can end up where a user expects the logs to be.

- Unix: syslog
- OSX: Console
- Windows: EventLog (I think?)

[2018-01-10 17:49] lgierth opened #582 "Make hashes into fully-qualified paths"
E.g. `QmSomeFile` => `/ipfs/QmSomeFile`, or maybe even `ipfs://QmSomeFile`. The less users have to convert between various ways of representing hashes/paths, the less likely they get confused or frustrated.

[2018-01-10 18:07] hacdias opened #583 "Open files on click"

[2018-01-10 18:11] alexgarciac commented on #577
how can I get the log? npm start --save log but does not make any difference.

[2018-01-10 18:16] alexgarciac commented on #577
working!!!! as funny as it may sound rebooting was enough.... anyway it is working now.

[2018-01-10 18:22] hacdias opened #584 "Peers and Pin Page Performance"
To improve this we can do kind of an infinite scroll on this page so Desktop doesn't need to render hundreds of peers at once.

[2018-01-10 19:55] whyrusleeping opened #586 "Something seems broken on macOS"
<img width="718" alt="screen shot 2018-01-10 at 11 52 35 am" src="https://user-images.githubusercontent.com/1243164/34792441-dcdc7cb6-f5fc-11e7-91d5-be0a8e824721.png">

Note the large black box at the bottom of my screen. Thats the app. Any ideas?

[2018-01-11 00:39] hacdias commented on #586
I see macOS is getting too much broken #577. I'll see what I can do.

[2018-01-11 00:40] hacdias commented on #577
@alexgarciac nice!

@machawk1 any developments from your side?

[2018-01-11 00:42] machawk1 commented on #577
@hacdias I was unable to replicate the UI issue @alexgarciac mentioned and wanted to confirm that for the sake of testing on macOS. All is well and functional on my end.

[2018-01-11 00:43] hacdias commented on #577
But you both still get the warning @machawk1 @alexgarciac?

[2018-01-11 00:46] machawk1 commented on #577
Just re-pulled and ran via `npm start` from 2e6d0980ae519f3dccbc929eb979bd42bbe6a1da.

This warning is still present:
`2018-01-10 19:45:51.160 Electron[23725:1481990] *** WARNING: Textured window <AtomNSWindow: 0x7fcc52de7a60> is getting an implicitly transparent titlebar. This will break when linking against newer SDKs. Use NSWindow's -titlebarAppearsTransparent=YES instead.`

[2018-01-11 00:49] machawk1 commented on #586
Things seem to be ok on my (macOS 10.13.2) end:

![screen shot 2018-01-10 at 7 48 17 pm](https://user-images.githubusercontent.com/2514780/34803074-3b42ed5c-f63f-11e7-927a-f1ac4da955c8.png)

[2018-01-11 00:57] whyrusleeping commented on #586
Ah, i've got this error message in the logs:
[code]

[2018-01-11 00:59] machawk1 commented on #586
@whyrusleeping That's the same warning reported in #577. Even with this warning, I still do not get the all-black display that you do.

[2018-01-11 01:01] whyrusleeping commented on #586
@machawk1 do you have your taskbar set to autohide?

[2018-01-11 01:03] machawk1 commented on #586
By taskbar I presume you mean "menubar" on macOS, @whyrusleeping, in which case, I was unaware that it was possible to even hide the menu bar. I know it's possible on both Linux and Windows but as far as I am aware, the menubar is omnipresent.

[2018-01-11 01:05] whyrusleeping commented on #586
System Settings -> General -> 'Automatically Hide and Show menu bar'

<img width="541" alt="screen shot 2018-01-10 at 5 05 31 pm" src="https://user-images.githubusercontent.com/1243164/34803498-7f5a75b2-f628-11e7-9fb0-0dbc0f5c0f96.png">

[2018-01-11 01:08] machawk1 commented on #586
Whoh, ok. That's news to me.

I hid my menubar, restarted ipfs-desktop and I get the same odd placement as @whyrusleeping but my panel is populated.
![screen shot 2018-01-10 at 8 06 55 pm](https://user-images.githubusercontent.com/2514780/34803562-f2e49f08-f641-11e7-9de2-2a72e8eaa28e.png)

[2018-01-11 08:12] hacdias commented on #586
@whyrusleeping could you try running it directly from master and not from the binary? That way, you can open the developer console (using F12) and check if there are any errors. 😄

[2018-01-11 08:15] hacdias commented on #577
Okay. I'll close this issue then. The discussion about that warning will continue on Electron's repository. Ref.: https://github.com/electron/electron/issues/11150.

[2018-01-11 08:15] #577 closed

[2018-01-11 08:20] hacdias commented on #582
If I understand correctly, we would make that change on Peer ID and Peers since they are the only places where we are showing hashes. Wouldn't it make the interface a bit more cluttered?

[2018-01-11 09:34] hacdias opened #588 "Remove repo.lock if not running"
Before starting the node, check if it is already running and, if not, remove the `repo.lock` file.

Do after #542

[2018-01-11 09:39] hacdias opened #589 "Daemon randomly crashing on Ubuntu"
/cc @VictorBjelkholm

[2018-01-11 09:41] olizilla opened #590 "No files listed on new install with existing repo"
Just installed IPFS Desktop (Amazing work, it is rad!). I've got an existing repo, and the node stats show i'm sharing a bunch of things

![screenshot 2018-01-11 09 38 55](https://user-images.githubusercontent.com/58871/34818660-62b90e56-f6b3-11e7-8ea9-e9c8af66aca7.png)

But the files panel shows an empty list, which is surprising.

![screenshot 2018-01-11 09 38 59](https://user-images.githubuserc

[2018-01-11 09:50] hacdias commented on #590
The Files panel only works for files you've uploaded with Station. Do you think we should show the files you are *sharing* on your node even if you didn't upload them?

Let's say you opened a link with your gateway. Then, the file gets added to your repo, right? If we show everything in there, you'll be seeing stuff you didn't add to the repo yourself.

I'm not sure if it makes sense for you, but

[2018-01-11 10:03] olizilla commented on #590
Totally makes sense. This is only gonna appear for existing users, and I I think it's probably more confusing to see that I'm sharing 180MB that I can't see, so I'd vote for making the entire repo browsable. That way people can review and choose what they host.

This could be tackled as part of the IPFS Dashboard, and have way to open it from Desktop. But in that case the label "Files" is misleadi

[2018-01-11 10:08] olizilla commented on #590
Perhaps a simple change would be to add divider to the files section pane, with "Recently added" at the top, and empty in the case of a new install, and then the files from the existing repo listed out below the divider.

[2018-01-11 10:10] olizilla commented on #590
@hacdias I've been meaning to get stuck into the IPFS Desktop code, so I'll put together a PR for you to take a look at with that idea in.

[2018-01-11 10:11] hacdias commented on #590
Sure! I think it's a great idea 😄 Will wait for the PR then.

[2018-01-11 15:40] olizilla commented on #590
Ok, so if you've not uploading anything via desktop, but you have files in your repo, as an incremental improvement I'm proposing something like this

**mockup**
![ipfs-desktop-recently-added-files](https://user-images.githubusercontent.com/58871/34832753-a8d9bfca-f6e5-11e7-80e3-e34d647c44a2.png)

[2018-01-11 16:10] hacdias commented on #590
@olizilla looking at that interface it seems to bit too... hmm... "heavy" you know? You can only see two files per "category". Would there be an option to hide the "all files" section? What do you think about diving it in two columns instead of two rows?

[2018-01-11 16:38] olizilla commented on #590
I'm imagining that the "Recently added" section would grow as you add files to it. We could collapse the "All files" section if there are any recently added ones.

[2018-01-11 17:18] hacdias commented on #590
I'm just not sure if we can retrieve the files we have on the repository programmatically. I couldn't find a command for it. The `ipfs files ls` command is for the Mutable File System.

[2018-01-11 22:21] lgierth commented on #582
Later we should also make the PeerIDs into fully-qualified paths, but for now it'd be best to just to it for content.

Reason to wait with the PeerIDs is that the multiaddrs are still using the `/ipfs` namespace. We want to migrate that to `/p2p` (ipfs/notes#201), but until then it'd be best to just omit it here, so we don't unneccessarily confuse users ("doesn't /ipfs mean content?").

[2018-01-12 12:16] hacdias commented on #582
But right now we aren't even showing the hash of the files/contents. Only Peers'. But we can leave this a future note.

[2018-01-12 16:33] olizilla opened #593 "Make pinning hashes more intuitive"
Right now, the pin hash feature requires the user to enter an optional title and a hash and click the check mark to confirm.

![screen shot 2018-01-12 at 16 14 11](https://user-images.githubusercontent.com/58871/34884124-a5a9b5ac-f7b3-11e7-8869-b71f59a6185f.png)

It's not obvious from the UI that the user needs to fill anything out in the green bar.

We can make this more intuitive by:
- Make it l

[2018-01-13 18:05] hacdias commented on #593
Hey @olizilla! You're right: the current interface is not the best and doesn't speak for itself. Would you mind to do some kind of sketch to show the way you think the form should be? 😄

[2018-01-15 15:24] #583 closed

[2018-01-16 10:38] hacdias commented on #590
@olizilla this isn't using MFS. After being able to bundle the new file system on WebUI, I'll then start using MFS here.

Currently, this only adds a file to IPFS and then saves its hash on an internal state which is the wrong thing to do. By using MFS, we can have the files accessible through all of the interfaces without any trouble. 😄

[2018-01-16 22:04] hacdias opened #597 "Save PIN data in MFS"
Ref.: https://github.com/ipfs/go-ipfs/issues/4586

[2018-01-17 07:56] hacdias opened #598 ""Edit Config" should point to the WebUI"
Right now, **Edit Config** button on Settings opens the `config` file with the default editor. To make this a whole experience, it could be opened in the WebUI where we can actually change the settings.

[2018-01-17 11:21] mattseh opened #599 "Addresses under Info is not ordered"
When viewing the Info pane, the Addresses field sometimes updates for me, changing the order of the 4 addresses my node has. The actual addresses don't change, just the order. Maybe this is because they're coming from an unordered datastructure? Could they be sorted before being displayed?

[2018-01-19 12:11] hacdias commented on #590
Current state:

![image](https://user-images.githubusercontent.com/5447088/35150297-d46290e0-fd11-11e7-818e-0a14e02d41e0.png)

[2018-01-19 13:51] hacdias commented on #590
@akrych check this screenshot ^^ You can now click on folders to open them as you suggested when you tried it!

[2018-01-19 21:38] Cole128 opened #600 "Pinned hashes don't show up"
I have just started using IPFS Desktop, and noticed that my pinned hashes weren't listed in the Pin tab. But when I run `ipfs pin ls` in the command line I get several hashes, including non-default ones. These hashes were pinned before I used IPFS desktop, but shouldn't it still see them?
EDIT: I'd like to add that hashes pinned through IPFS desktop show up in the command line, just not the other

[2018-01-20 08:50] hacdias commented on #600
Hello @Cole128! I'm preparing a PR (#596) with a lot of bug fixes and I'll add this one to the list 😄 The problem is that, right now, we are using a file to match the tags to the hashes and only the hashes you pinned using Desktop will be on that file, but it will change soon!

[2018-01-20 14:17] Cole128 commented on #600
Thanks, that sounds great. Is there any way for me to get notified when that happens?

[2018-01-20 14:25] hacdias commented on #600
Yeah, sure. I just can't give you a ETA about that PR.

[2018-01-20 16:19] hacdias commented on #593
@olizilla any updates on this? 😄

[2018-01-20 20:23] Cole128 commented on #600
Alright, I just don't want to miss it. As long as you add to a mailing list or something.
colecmac@gmail.com

[2018-01-21 12:29] lidel commented on #593
I suggest we should wait for canonical icons for pin actions: https://github.com/ipfs-shipyard/ipfs-ui-style-guide/issues/3#issuecomment-358105234

[2018-01-21 22:10] daviddias opened #601 "Support for js-ipfs"
When to expect js-ipfs support?

[2018-01-22 08:30] hacdias commented on #601
Right now, Desktop uses some endpoints that are not available on js-ipfs yet, such as: `repo.stats` and `stats.bw`.

[2018-01-25 11:15] victorb opened #602 "Pin files on other nodes"
Usually when I add something to IPFS, I add it to my local peer, save the hash, ssh into pollux (one of our storage hosts) and pin the hash there as well.

Would be nice to have this flow supported on ipfs-desktop, as I'm sure I'm not alone in doing this.

I know the focus of ipfs-desktop is currently not on "power users" but to be as user friendly as possible, but opening up this issue for remind

[2018-01-26 10:50] hacdias commented on #50
Spectron --> https://github.com/electron/spectron

[2018-01-26 18:49] hacdias commented on #50
**State of the thing:** Taking [this branch](https://github.com/ipfs-shipyard/ipfs-desktop/tree/feat/components/src) as the state from which we should start writing tests, we've got many different components to test:

- **components** which Simple React components which seem to be relatively easy to test
- **controls** which are subdivided in two:
	- **main** process handlers.
	- **renderer** proc

[2018-01-26 19:02] PaddedGamer opened #603 "IFPS desktop doesn't work on Ubuntu?"
Do I need to turn off IFPS companion? Because my IFPS desktop server isn't working at all. I currently have 843 peers on IFPS companion. But zero people on my IFPS desktop.

The peer ID, location information is completely broken. I installed it using the .deb file on Ubuntu 16.04.

![ifps is broken](https://user-images.githubusercontent.com/6026744/35455701-d0fecee8-0287-11e8-8d36-6eed70125efe.png

[2018-01-26 19:15] hacdias commented on #603
Hey @PaddedGamer! Right now, IPFS Desktop can't connect to already existent daemons. Could you try switching off all the daemons you have running and then restarting Desktop?

The last time I tried those binary, it was working on Linux Mint (haven't tried directly on Ubuntu).

[2018-01-26 19:40] PaddedGamer commented on #603
I just restarted my PC after shutting down daemon and then ran the application. Unfortunately, it hasn't resolved the issue.

[2018-01-26 20:08] hacdias commented on #603
Let's debug then: could you set the env variable DEBUG to `'desktop'` before running Desktop? And if it doesn't show anything that looks like errors, you can also open the developer tools inside Desktop with CTRL-SHIFT-I.

[2018-01-26 20:27] lidel commented on #542
Another data point from me :)

On one of my workstations I run go-ipfs under Docker.
Due to this my `~/.ipfs` has only one text file named  `~/.ipfs/api` with multiaddr of remote node:

[code]

This setup seems to break startup of ipfs-desktop:

[code]

I guess ipfs-desktop should  detect `~/.ipfs/api` and connect to remote node 🚀

[2018-01-26 21:53] PaddedGamer commented on #603
What command do I run in order to set the env variable? Sorry for asking, but I'm just not failure with the terminal command. I tried opening the developer tools using the shortcut and nothing opened up.

[2018-01-26 22:18] machawk1 commented on #602
This goes hand-in-hand with interacting with other IPFS daemons from IPFS-Desktop, be it the one installed on the system independent on IPFS-Desktop (e.g., tell the system daemon to pin it) or a remote daemon through its API endpoint.

[2018-01-27 05:16] PaddedGamer commented on #603
I accidentally found a solution to the problem. I had to delete my .ipfs folder entirely and then reboot the application.

Basically, what never happened was the installer. When I installed the .deb file, it didn't give a first time setup menu. Deleting the config folder forced the application to give me a first time setup installer.

[2018-01-27 05:16] #603 closed

[2018-01-27 07:58] hacdias commented on #603
I see. Although, it was supposed to work with an already existent installation! I'll try to figure out what might have been wrong.

[2018-01-27 20:54] #588 closed

[2018-01-27 20:54] #590 closed

[2018-01-27 20:54] #599 closed

[2018-01-28 00:27] Cole128 commented on #600
Thanks, I'll download it.

[2018-01-28 00:34] Cole128 commented on #600
It still doesn't show hashes I've pinned through the command line. 😞

[2018-01-28 07:16] hacdias commented on #600
Let's reopen this then. I'll check it when I get back to my computer.

[2018-01-28 07:34] hacdias commented on #600
@Cole128 right now, there are two issues I can identify that can be related to your problem:

1. `indirect` pins are now shown.
2. The list isn't refreshed at a defined interval.

[2018-01-28 14:59] Cole128 commented on #600
@hacdias Ok, that sounds like it would cause my issue for sure. It should be recursive pins only, with the list updating every few seconds if you're on the pinned tab or update immediately when you switch to the tab, right?

[2018-01-28 18:53] hacdias commented on #600
@Cole128 oops... I misspelled "not" and wrote "now". It was supposed to show recursive **and** direct pins right now. But it isn't refreshing at a constant rate. I'll open a PR for this and ask you to try it out 😄

[2018-01-28 18:58] Cole128 commented on #600
@hacdias Alright, sounds great! Although I have a question about showing indirect pins: Why would you want to? My understanding is that indirect pins are just the hashes for blocks, the hashes for subsections of files that you've pinned.

You can't access these hashes directly (you get an error), they are only for usage by the nodes. As a user, I find that they clutter a pinned list because I only

[2018-01-28 18:59] hacdias commented on #600
@Cole128 yeah, it makes sense. So what I'm going to do is to refresh the pins every 1 or 2 seconds so it is always updated 😄

[2018-01-28 19:12] Cole128 commented on #600
Alright, sounds good. When you said makes sense were you referring to what I was saying about indirect pins, or what I said about refreshing?

[2018-01-28 19:15] hacdias commented on #600
Both 😄

[2018-01-28 19:27] Cole128 commented on #600
Awesome! I love being able to help contribute to projects I like, and to actually talk to devs. Thank you for taking the time. Whenever you create the PR or a new version that fixes this, just send it my way and I'll happily test it out!

[2018-01-28 20:16] hacdias commented on #600
@Cole128 😃 Take a look at #606

[2018-01-29 11:14] #597 closed

[2018-02-06 10:47] #600 closed

[2018-02-06 10:50] hacdias commented on #581
@VictorBjelkholm I'm willing to create a simple package to automatically log stuff to syslog and Event Logger on Windows. But... is it worth it? Right now, we can get all of the info by setting the DEBUG environment variable.

The use case I can see is when the end-user installs trough the installer, but that way how could MacOS users get the logs?

And there doesn't seem to be any good syslog pac

[2018-02-23 19:21] wintuxx opened #610 "repo.lock does not delete automatic after closing ipfs-desktop"
Hello!

After closing and restarting ipfs desktop i get a error that ipfs is still running.

i find out, that the problem is the repo.lock in the ipfs directory. Will it not delete after closing ipfs-desktop.

My System is Windows 10

[2018-02-23 22:21] VictorBjelkholm commented on #610
@hacdias ipfs-desktop is using ipfsd-ctl right? Might be because graceful stop is missing: https://github.com/ipfs/js-ipfsd-ctl/pull/205 Similar issues is happening on the tests for ipfs/js-ipfs, that the repo is not properly closed.

[2018-02-24 08:16] hacdias commented on #610
Yes, it is using ipfsd-ctl. I'm a Windows 10 user myself and I also have that problem! Although, I pushed a "fix" to delete that file if it wasn't locked to prevent this issue. But it was after the 0.3.0 release.

[2018-03-14 22:22] 6543 opened #611 "Option to only start Frontend"
How can i start ipfs-desktop without starting the ipfs daemon?

because i have ipfs running alrady as daemon (https://github.com/6543/ipfs_daemon)

[2018-03-14 22:28] bedri opened #612 "OpenSUSE Tumbleweed - Some unexpected error occurred and we couldn't handle it."
Hello,
I am getting this error in a window and cannot run the application. I compiled it from source and also installed it from rpm package but the result is the same. I also checked .config/ipfs-desktop/logs/error.log but that error.log file does not exist at all. The full error message in the window opened is given below:

Thank you in advance.

[2018-03-14 22:31] dryajov commented on #611
This would require https://github.com/ipfs/js-ipfsd-ctl/issues/182 to be completed.

[2018-03-14 23:35] lidel commented on #611
Also, this seems to be a duplicate of https://github.com/ipfs-shipyard/ipfs-desktop/issues/542 :)

[2018-03-15 15:46] olizilla opened #613 "Cannot add folder more than a single level deep"
Adding a folder with a sub folder with a file

[code]

leaves me with the upload progress bar. I can still click around the app. It feels like the upload is in progess, just taking a really really long time, like > 10 minutes to upload a 200 byte file that happens to be 2 dirs deep.

[2018-03-15 16:02] olizilla opened #614 "App crashes on during init when no ~./ipfs dir exists"
Steps

- Remove `~/.ipfs` (or back it up!)
- Start the app
- See the Install IPFS screen
- Click install IPFS

An error occurs:

<img width="420" alt="screenshot 2018-03-15 16 01 49" src="https://user-images.githubusercontent.com/58871/37475289-3cba00f0-286a-11e8-96eb-54f427d8c914.png">

[2018-03-15 16:12] olizilla commented on #614
The wording on the error message could be improved.

**Failed to [do the thing]**

Please raise an issue here [issue url]

The error was recorded here [log path]

---
as a first pass.

Ideally we'd do something more like https://rauchg.com/2016/addressable-errors where each error has a link to a github issue or a wiki page, like https://twitter.com/zeithq/status/909491222175199233

[2018-03-15 16:22] hacdias opened #616 "Better Error Messages"
See https://github.com/ipfs-shipyard/ipfs-desktop/issues/614#issuecomment-373432516.

/cc @olizilla

[2018-03-15 16:26] hacdias commented on #613
Can't reproduce. Could you see if updating the deps resolves this on your PC (#615)?

[2018-03-15 16:32] #614 closed

[2018-03-15 16:36] olizilla commented on #613
Still a problem. I'm macOS 10.12.6

[2018-03-15 16:37] hacdias commented on #612
Fixed today with #615 😄
A new version will be released soon!

[2018-03-15 16:37] #612 closed

[2018-03-15 16:38] #610 closed

[2018-03-15 16:41] bedri commented on #612
I am longing for it. Thank you :)

[2018-03-15 16:56] olizilla commented on #614
Hmm also weird, my ipfs config has been initialised with the following Addresses section

[code]

the ports are all set to `0` which is weird, and it means that I can't connect to the desktop ipfs api from ipfs-companion

[2018-03-15 17:04] olizilla opened #617 "IPFS Node config initialised with `0` for all local address ports"
- Remove `~/.ipfs`
- Start IPFS Desktop
- Confirm "Install IPFS"
- Open IPFS node config

[code]

The ports are all set to 0 which is weird, and it means that I can't connect to the desktop ipfs api from `ipfs-companion`

[2018-03-15 17:18] hacdias commented on #617
@dryajov are these the default values for `node.init` on `js-ipfsd-ctl`?

[2018-03-15 17:23] olizilla commented on #617
Here https://github.com/ipfs-shipyard/ipfs-desktop/blob/42e7e15916d7fef1e8b3fe3555db2cb8a61930da/src/index.js#L191

We call `.init` on the node object returned from

https://github.com/ipfs-shipyard/ipfs-desktop/blob/42e7e15916d7fef1e8b3fe3555db2cb8a61930da/src/index.js#L211-L216

[2018-03-15 17:23] dryajov commented on #617
Yes they are. SInce once of the most frequent use cases of ipfsd-ctl is tests and the ability to run several daemons in parallel we defaulted to that.

[2018-03-15 17:26] hacdias commented on #617
Thanks @dryajov 😄

@olizilla so I just need to change them to the other "defaults". Should I use these (from go-ipfs defaults)?

[code]

[2018-03-15 17:27] olizilla commented on #617
@dryajov Is there a way to use ipfsd and have it initialised with the same defaults that you'd get if you installed go-ipfs manually, without having to copy/paste the defaults across... seems like it'll just keep getting out of sync.

[2018-03-15 17:34] dryajov commented on #617
We used to have that with `non-disposable` nodes (https://github.com/ipfs/js-ipfsd-ctl/blob/151303ce495b456188d2201421706358afcd5b5d/src/factory-daemon.js#L108), but it was removed at some point.

On the other hand, those values should not be changed frequently if at all by either go or js ipfs, setting them up once in ipfs-desctop should be OK - IMO.

[2018-03-15 17:42] olizilla commented on #617
We can init them manually for now. I'd guess that new sections get added from time to time, and it'd be nice to have a way to ask ipfsd-ctl to init with defaults, so I'll raise an issue there.

[2018-03-15 17:44] dryajov commented on #617
Thanks @olizilla!

[2018-03-16 08:34] bedri commented on #616
Please also check [#615 (comment)](https://github.com/ipfs-shipyard/ipfs-desktop/pull/615#issuecomment-373632177)

[2018-03-16 08:45] bedri commented on #542
Files added with command line ipfs (I think I had installed ipfs-go but it shouldn't matter which client user uses) does not show up in the ipfs-desktop GUI. I guess this should also go under this topic. If requested I can open a separate issue for this.

Thank you.

[2018-03-16 08:49] CPCer commented on #617
@hacdias Hello, I wonder if i can open certain file in IPFS through http://127.0.0.1:8080/ or http://127.0.0.1:5001/ or so in your reply.
It seems not working at all, and i cannot find any setting on the port...

[2018-03-16 09:34] olizilla commented on #617
HI @CPCer, we need more information to be able to help you. Are you having an issue with IPFS Desktop? Are you running it from source, or are you running official 0.3 release. If you'd like help getting set up, then irc.freenode.net#ipfs would work better for that conversation, as this your problem may not be the same as the topic in this GitHub issue.

[2018-03-16 12:46] olizilla commented on #617
@hacdias yes, I'd go ahead and initialise them from the go-ipfs defaults for now. If you have time to figure out a PR for adding a flag to let `ipfsd-ctl` do it for us, then that'd be rad too.

I'd go ahead and duplicate them in desktop first though as it's a blocker for us right now.

[2018-03-16 16:17] nothingismagick commented on #508
Don’t know if this is stale (yet), but just saw this great recipe on the quasar discord server:

Gitlab CI awesomeness with docker magick

[code]

this is an excerpt of a `package.json` where we can use electron-builder to package a Quasar Electron app in a distributable format:

[code]

[2018-03-16 19:15] hacdias commented on #542
@bedri the files we show on IPFS Desktop are the same we show on IPFS WebUI: from the Mutable File System. They should be added through `ipfs files write` and not `ipfs add`.

[2018-03-16 19:28] bedri commented on #542
@hacdias oh ok. I did not know that. I will check it.
Although I am able to see the files that I add with "ipfs add" from Web UI. I am confused at that part.
I couldn't also managed to use ipfs files write to add files but i will figure it out eventually.

[2018-03-17 11:28] hacdias commented on #542
@bedri I think the version on `/webui` address is not the same from master on IPFS-WebUI repo and they probably have some differences regarding on which files they show. 😄

About `ipfs files write`: `ipfs files write --create [path-on-mfs] [path-of-the-data-on-your-disk]`. MFS is like a file system (you can have directories and all of that. Imagine you have a file called `sec.txt` you want to add

[2018-03-17 11:40] hacdias opened #618 "Allow MFS to be mounted to the File System"
Should IPFS Desktop allow the user to mount MFS to the file system or should this feature be incorporated into js-ipfs and go-ipfs?

Ref.: https://github.com/tableflip/ipfs-fuse

/cc @ipfs-shipyard/ipfs-gui-team

[2018-03-17 14:56] bedri commented on #542
Oh got it. Thank you very much :smile:

[2018-03-17 21:50] lidel commented on #618
I feel it is worth highlighting that @alanshaw started work towards that goal:

- https://github.com/tableflip/ipfs-fuse
  - Demo:  "Mount IPFS MFS as a FUSE volume" https://youtu.be/jXkTEBdM6aA

[2018-03-18 09:23] hacdias commented on #618
@lidel yeah, I was thinking about using that package to enable/disable the mounting.

[2018-03-18 10:10] hacdias commented on #617
@olizilla just in terms of ports or everything?

[code]

[2018-03-18 20:02] dryajov commented on #617
@olizilla fyi - I'm working on the flag thingy.

[2018-03-19 11:19] lidel opened #619 "Minimize DHT bandwidth usage: switch node to `dhtclient` profile"
User installs IPFS Desktop. Has no files, but network monitor shows kilobytes of data going in and out.

### Solution

Until we have bandwidth controls in place, the `go-ipfs` node spawned by desktop app should stop acting as a DHT server. It can be done by passing the `--routing=dhtclient` flag to `ipfs daemon`.

### Y/n?

Are there any downsides to this change? It seems to make sense for "deskto

[2018-03-20 18:13] hacdias commented on #619
Yeah, but I think we should also provide a setting for this. I'll do this ASAP.

[2018-03-20 18:34] hacdias commented on #617
It's being worked on. For what I see it seems to be almost complete.

Ref.: https://github.com/ipfs/js-ipfsd-ctl/pull/220

[2018-03-20 18:35] #619 closed

[2018-03-20 19:31] hacdias commented on #589
@VictorBjelkholm could you check if you still get this weird behavior on master?

[2018-03-20 19:46] VictorBjelkholm commented on #589
Yeah, started a node via ipfs-desktop just now, will let it run for a while

[2018-03-20 20:39] VictorBjelkholm commented on #589
Been letting it run for an hour now and seems to be running fine :+1:

[2018-03-20 20:39] #589 closed

[2018-03-20 20:40] hacdias commented on #589
Thanks @VictorBjelkholm 😄

[2018-03-20 21:09] hacdias commented on #581
I'm having some troubles with this one because the system we're using right now doesn't work synchronously and there is no way to know if the logger wrote to the file before exiting the process.

[2018-03-21 00:44] nothingismagick opened #622 "IPFS-cluster integration"
Is there a way to choose an IPFS-cluster and / or create a new IPFS-cluster?

[2018-03-21 10:18] lidel commented on #613
Same problem under Debian Linux:

- uploading flat directory works fine (`screenshots`)
- uploading flat directory fails, progressbar spinner is aminating but nothing happens.
  I was able to get some debug info tho, see below:

[code]

[2018-03-21 19:21] #542 closed

[2018-03-22 23:15] lanzafame commented on #586
I am hitting a kind of related issue with workspaces, where clicking on the ipfs-desktop icon, moves me to another workspace (my guess is the one that I started the program on) and then fails to appear (more like it blinks and disappears). Though, if I stay on that workspace and click the icon again, it opens perfectly. I can open a separate issue if you like?

[2018-03-23 07:17] hacdias commented on #586
@lanzafame do that please 😄

[2018-03-24 18:25] #613 closed

[2018-03-24 18:28] hacdias opened #628 "Adding thousands of files at once (EMFILE)"
It seems that adding a directory with thousands of files on it can cause the `EMFILE: too many open files` error.

Ref.: https://github.com/ipfs-shipyard/ipfs-desktop/pull/624#issuecomment-375607420

[2018-03-24 22:45] magik6k commented on #628
Is this error returned by go-ipfs? If yes then it is likely a bug in flatfs (I think so), opened https://github.com/ipfs/go-ds-flatfs/issues/36.

Can you try this on a node with badger datastore - `ipfs init --profile=badgerds` or `ipfs config profile apply badgerds`+`ipfs-ds-convert convert --keep`?

[2018-03-26 17:15] whyrusleeping commented on #586
<img width="605" alt="screen shot 2018-03-26 at 10 13 53 am" src="https://user-images.githubusercontent.com/1243164/37921397-948a7b9e-30de-11e8-8060-efe7800b80ad.png">
bump (using the 0.4.0 release)

[2018-03-26 17:43] kyledrake opened #630 "ipfs-desktop 0.4.0 bugs with debian package"
[code]

Note the weird "0.3.0-1" versioning in the process, and the warning about a missing library. dpkg -l indicates that 0.3.0-1 is the one that was installed (forgot to change the version somewhere?)

When I run `ipfs-desktop`, an error message pops up asking me to read the error.log but the error.log has not been created yet.

Running `sudo apt-get install libgconf2-4` fixes the problem.

[2018-03-26 20:38] hacdias commented on #630
@kyledrake updated!

[2018-03-26 21:54] kyledrake commented on #630
I think it still needs to be told to install libgconf2-4 as a dependency:

[code]

[2018-03-27 07:07] hacdias commented on #630
@kyledrake I'll put that note on Release Notes

[2018-03-27 17:48] kyledrake commented on #630
@hacdias Is it possible to have that package get listed as a dependency? Debian should be installing that package automatically when the package is installed. Users shouldn't need to add it manually.

[2018-03-27 22:30] steverecio opened #631 "Hangs on OSX"
After launching, ipfs-desktop just hangs after loading in the menubar. If I drop down the GUI I see the pulsing circle loader but nothing happens and nothing shows up in the log. I can kill it by clicking the "Pin" tab which loads the "Something wrong happened" error message.

Node: v9.3.0
NPM: v5.6.0
OSX: 10.13.3

[code]

[2018-03-27 22:49] lidel commented on #630
@kyledrake are you getting the error on upt-to-date Debian stable, or something else?

`.deb` attached to Release Notes  ([ipfs-desktop_0.4.0_amd64.deb](https://github.com/ipfs-shipyard/ipfs-desktop/releases/download/v0.4.0/ipfs-desktop_0.4.0_amd64.deb)) announces dep on `libgconf2-4` in its manifest:

[code]

I tried to replicate the problem in docker with `debian:stable` image:
[code]
..but depe

[2018-03-28 01:36] kyledrake commented on #630
[code]

[code]

[code]

Never seen this issue with any other package before. It seems to recognize the dep but then doesn't install it?

[2018-03-28 07:36] hacdias commented on #630
@kyledrake since it is already on the manifest as a dependency, I don't really know what I can do to help. The package seems to be fine.

[2018-03-29 15:38] nothingismagick commented on #631
Not sure if its related, but i had a problem today too:

![screen shot 2018-03-29 at 12 39 11](https://user-images.githubusercontent.com/35242872/38098072-58eb0b4e-3377-11e8-8989-a76be61a003d.png)

[code]
P.S. "Something wrong happened" is pretty shoddy English. Just saying...

[2018-03-29 15:53] nothingismagick opened #633 "Bad UX on pinning big ipfs-pack trees"
I have a pinset (actually a folder with subfolders and lots of files from ipfs-pack) and I want to be able to ipfs-get the whole thing to my computer with ipfs-desktop... Will that work? Would it work with ipfs-cluster?

I also have tried adding the peer ID of the ipfs-pack daemon, but nothing.

I added the Pack Root Hash, but all I see is nothing and a moving yellow bar...

![screen shot 2018-03-

[2018-03-29 15:53] #622 closed

[2018-03-30 11:51] lidel commented on #630
Ok, I see now why it worked for me and not for Kyle. I was using `apt install`.

AFAIK `dpkg -i` does not install deps. It fails if any of dependencies are missing and that is _expected_ behaviour of that tool.  If you want to install missing deps automatically, you need to follow it with `apt-get -f install` or use modern `apt install`.

Starting with apt 1.1 (Ubuntu 16.04, Debian Stretch) `apt i

[2018-03-30 13:23] #630 closed

[2018-03-30 18:36] nothingismagick commented on #593
The checkmark and the green color together make it seem like it was successful before the user even interacts. It always makes me pause when I see it.

[2018-03-30 21:59] lidel commented on #633
Pinning huge data set started, but it probably takes time and the only visual feedback that something is happening is yellow spinner. Ouch. This is an important data point, thank you for reporting.

Ideally, app should detect that data fetch takes longer than a few seconds and display some kind of progress bar and ETA (like in torrent client or other download manager).

Good news is that we are de

[2018-03-30 22:13] lidel commented on #593
Ditto.  Let's redirect discussion related to pinning/adding to:

- Design: Pinning Content https://github.com/ipfs-shipyard/pm-ipfs-gui/issues/10

[2018-04-02 15:51] JanSeW opened #635 "[Suggestion] Adding the possibility of manually executing the garbage collector"
#### Components
*IPFS Desktop* is a standalone version of an IPFS node with a user-friendly UI. The application is for users who do not like or do not want to work with a CLI at all.

The *garbage collector* (part of an IPFS installation) is used to manage the local repository and deletes unpinned content from it, when it is executed or triggered by the values from the config file (normally 10 GB)

[2018-04-02 21:02] hacdias commented on #635
@JanSeW actually this is a very good idea and I don't really know why we didn't have this before. I liked it so much that there's already a PR for it (#636).

[2018-04-03 15:56] #635 closed

[2018-04-03 20:25] dryajov commented on #617
@hacdias this has been fixed in ipfsd-ctl

[2018-04-05 18:30] dryajov commented on #617
ping @diasdavid

[2018-04-06 14:15] hacdias commented on #617
Closed with a06b204. Thanks!

[2018-04-06 14:15] #617 closed

[2018-04-12 13:46] balupton opened #637 "Why is it using bandwidth when I have no files yet?"
![screen shot 2018-04-12 at 9 45 10 pm](https://user-images.githubusercontent.com/61148/38681314-ed6f25ec-3e9a-11e8-8f4b-dfa2bc78524f.png)
![screen shot 2018-04-12 at 9 45 18 pm](https://user-images.githubusercontent.com/61148/38681315-ed6f504e-3e9a-11e8-8a32-b9f4816ffc10.png)
![screen shot 2018-04-12 at 9 45 22 pm](https://user-images.githubusercontent.com/61148/38681316-ed74d0c8-3e9a-11e8-899d-2

[2018-04-13 15:38] imrehg commented on #631
Have a very similar outcome trying to run the current master (v0.4.2) on ArchLinux with `node v9.11.1` and `npm 5.8.0`

[code]

[2018-04-13 16:02] hacdias commented on #631
Could you add `desktop` to the `DEBUG` variable and send me the output? I can't reproduce that here.

[2018-04-13 16:16] imrehg commented on #631
@hacdias with some experimentation, I think the issue is, that there's a local ipfs service running in the background (a regular go-ipfs node that I have running on my machine) when `ipfs-desktop` is started, and the two of them clash...

[code]

If I stop the background ipfs service, `ipfs-desktop` starts up fine.

I'm guessing then it's more of an issue of highlighting that clash when found?

[2018-04-13 20:51] dryajov commented on #631
@hacdias

I'm not sure whether it is the case in this situation, but we've noticed that `ipfsd-ctl` would not shutdown properly on some environment because it would simply run out of time and the ipfs daemon would be killed, leaving the lock and api file behind. This is an issue with the timeout to shutdown the daemon, so I've increased it for non disposable repos in https://github.com/ipfs/js-ipf

[2018-04-14 20:51] lidel commented on #637
That looks high indeed.
- Was the "DHT client profile" (settings)  enabled by default, or did you just enable it? (it requires restart)
- Did you pin anything?
- Are you able to run `ipfs rep stat` ?

[2018-04-21 07:55] hacdias commented on #631
@dryajov I actually take that in account:

https://github.com/ipfs-shipyard/ipfs-desktop/blob/8d8c4d128d35f331d7068a63e38330a4c0b9f468/src/index.js#L83-L104

So I'm not sure what might be happening here.

@steverecio @nothingismagick @imrehg @jeffd could you try running the latest version from master with the newest dependency versions?

[2018-04-21 12:52] steverecio commented on #631
Nice! It works for me now. Was able to upload files via the GUI! 🤓

[2018-04-23 13:34] mkg20001 opened #638 "Add a PPA/repo for ubuntu"
This would allow auto-updates of the debian package.
I've create a simple repo @ https://deb.mkg20001.io/ipfs with https://github.com/mkg20001/ppa-script ([config used](https://ipfs.io/ipns/deb.mkg20001.io/config.ipfs.sh))
_(This could - and should - be moved to the IPFS infrastructure)_

Installing the PPA:
[code]

[2018-04-25 18:49] akavel opened #639 "Hangs during installation on Windows"
I tried installing on Windows (IPFS.Desktop-0.4.2.Setup.exe). I changed the "installation directory" to `d:\ipfs` (the same path that I've been using previously as IPFS_PATH with go-ipfs client). Then I click "install" and the installer seems to hang...

![issue-ipfs-desktop-installer-hang](https://user-images.githubusercontent.com/273837/39266320-00155322-48ca-11e8-96e9-7f613063b99f.gif)

Are the

[2018-04-30 18:37] BurningPixels opened #640 "When adding a pin it disapears after restarting ipfs-desktop"
When i pin something everything works fine. But when i'm restarting the software it disapears from the pin page in the ipfs-desktop app. It's still pinned to my local ipfs daemon but it's not showing up in the software itself. The system i used is an Macbook.

[2018-05-13 16:53] lidel commented on #602
There is a related UX discussion at: https://github.com/ipfs-shipyard/pm-ipfs-gui/issues/36

[2018-05-28 06:44] diasdavid opened #641 "Try it out with js-ipfs"
With Electron 2.0 and js-ipfs 0.29, ipfs-desktop should also be capable of working with js-ipfs. See more here https://github.com/ipfs/notes/issues/256#issuecomment-392434248

[2018-06-03 15:54] DonaldTsang opened #642 "Integrations with I2P/TOR"
- [ ] Orion setup guide for use with I2P/TOR (bare minimum)
- [ ] Automatic I2P/TOR installer option after IPFS install
- [ ] Automatic IPFS + TOR/I2P default setup
- [ ] "Send To" option similar to https://github.com/marcin212/ipfs-gui

[2018-06-04 05:31] rogerlzp opened #643 "property 'statusCode' of undefined: in npm install"
Hey,

There is an error happened when install it in my Env.
Env details:
MAC  High Sierra
npm: n6.1.0
node: v10.2.1

There error log:
Downloading https://dist.ipfs.io/go-ipfs/v0.4.15/go-ipfs_v0.4.15_darwin-amd64.tar.gz
/Users/zhengpingli/work/ipfs/ipfs-desktop/ipfs-desktop/node_modules/go-ipfs-dep/src/index.js:102
      if (res.statusCode !== 200) {
              ^

TypeError: Cannot read property

[2018-06-06 01:58] jigzat commented on #640
I have a similar issue, I used the go-ipfs first and pinned some files, and they show up in the command line just fine but both the webui and the desktop app fail to show the pinned files altough the size and the objects show up correctly on the info tab. I also changed the default location for the ipfs from the user folder to a separate volume.

[2018-06-06 11:36] BurningPixels commented on #640
Hey @hacdias ,

yeah i know. i found the file. The thing is the file is still there with the content of the items i pinned. For example i open ipfs desktop and pin something i find it in the file. When i restart ipfs desktop the application itself is empty but the file is still there with the content. When i know want to pin something, ipfs desktop is overwriting the file with the content i've add

[2018-06-06 12:57] hacdias commented on #640
I'll try to check out what's happening! It's strange because it never happened before, but just like you said: if there is a file, the app should be showing the files.

[2018-06-06 17:39] jigzat commented on #640
I understand the webui is a separate project but in my case the webui included with go-ipfs also failed to show the pinned files, and the UI is totally different from the video demo on the website. Keep the good work ipfs looks great.

[2018-07-28 22:50] lidel commented on #618
See also: https://github.com/piedar/js-ipfs-mount

[2018-07-29 06:48] hacdias commented on #618
Uhhh, that's cool. I'll try and see if it works on Windows with Dokany

[2018-07-30 21:31] diasdavid opened #645 "Doesn't work with Node.js 10.7 at the moment."

[2018-07-30 21:50] diasdavid opened #646 "C&P hash to clipboard is not working"
When `cmd+alt+s` setting is enabled, doing a screenshot doesn't add the `ipfs.io/ipfs/hash` to the clipboard, it just does `ipfs.io/ipfs/undefined`

[2018-07-30 22:09] diasdavid opened #647 "productName can't have spaces with latest electron-forge"
https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/package.json#L3

[2018-08-02 11:28] hacdias commented on #645
Working on PR #644 with Node 10.8 and it works. May be a dependencies issue. I won't merge it until Jenkins works again though. /cc @VictorBjelkholm

[2018-08-02 11:30] hacdias commented on #647
@diasdavid where did you find that information? I can't seem to find it.

[2018-08-02 11:36] VictorBjelkholm commented on #645
@hacdias CI runs `8.11.3` and `10.4.1` currently, which was the current versions last time we changed. Anything you need from CIs side to have this working?

[2018-08-02 12:12] hacdias commented on #645
@VictorBjelkholm it keeps saying there are incompatible modules https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fipfs-desktop/detail/PR-644/3/pipeline

[2018-08-02 12:15] hacdias commented on #645
@VictorBjelkholm it seems to run on 9.2 https://github.com/ipfs/jenkins-libs/blob/master/vars/electronForge.groovy#L48

[2018-08-02 12:24] VictorBjelkholm commented on #645
@hacdias right, my mistake, was looking at the `javascript` pipeline. Updated to `10.4.1` here https://github.com/ipfs/jenkins-libs/commit/7b47b73503bdc9532a188b36ab3b3209013f82fb and started another run: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%20Shipyard%2Fipfs-desktop/detail/PR-644/4/pipeline/13

[2018-08-02 12:30] hacdias commented on #645
Cool! Thanks!! macOS and Linux already passed. Waiting for Windows

[2018-08-02 12:43] #645 closed

[2018-08-02 14:01] diasdavid commented on #647
@hacdias try to build the app, it will error and give you that log.

[2018-08-02 14:05] hacdias commented on #647
I did and I did not receive errors. It just says:

[code]

But it doesn't fail and builds the modules successfully with spaces. But I'll try to figure out if I really need to change that.

[2018-08-04 09:05] hacdias commented on #643
Could you try the [latest release](https://github.com/ipfs-shipyard/ipfs-desktop/releases) and see if there is any error now?

[2018-08-06 07:37] diasdavid commented on #641
@hacdias can you add a mode for js-ipfs, like IPFS Companion does?

[2018-08-06 07:40] diasdavid opened #649 "Add to https://awesome.ipfs.io/"

[2018-08-06 07:46] diasdavid commented on #569
@hacdias can you own this?

[2018-08-06 07:49] daviddias opened #650 "Make it i18n friendly"
@satazor implemented this for js.ipfs.io using react-intl and it is super easy to work with. @satazor, wanna shine some light here?

[2018-08-06 08:06] hacdias commented on #569
I believe it would be better that someone with a mac took care of this because of testing and to make sure things work.

[2018-08-06 14:57] hacdias commented on #641
Will work on this, yes 😄

[2018-08-06 15:12] satazor commented on #650
Yes we used [react-intl](https://github.com/yahoo/react-intl) in js.ipfs.io, mainly because it's made for react and supports:

- messages with placeholders
- date & time
- relative dates (xxx ago)
- number formatting, including currency

The strategy we went for was to have a [intl](https://github.com/ipfs/js.ipfs.io/tree/master/intl) folder that container everything related to i18n. Contributors

[2018-08-22 09:05] #649 closed

[2018-08-23 09:41] hacdias opened #652 "Remove the pinning feature"
Some time ago (one year ago more or less), the WebUI moved from Pinning to using the MFS entirely.

Since we're going to incorporate the new WebUI in the following months on Desktop, I also suggest removing the Pinning feature from it so the users start getting more comfortable with MFS.

Feedback needed: @diasdavid @ipfs-shipyard/gui

[2018-08-23 21:12] lidel commented on #652
cc highly relevant discussion @ https://github.com/ipfs-shipyard/pm-ipfs-gui/issues/10#issuecomment-373928862

[2018-08-24 11:40] lidel commented on #652
https://github.com/ipfs/ipfs-gui/issues/10#issuecomment-415683436:

@hacdias  I am afraid if we name it "Pin" in MFS it will increase confusion even more.
People may  assume it is a permanent part of experience and that only content inside of that one directory is pinned. And we kinda want to remove the "pin" word from GUI.

I feel its safer to wait until WebUI is ready to be shipped with IPFS Des

[2018-08-24 12:30] hacdias commented on #652
@lidel actually, that might happen, yes. I like your idea to move everything when we ship WebUI with Desktop! 😄 Let's keep this opened and get back to it when it's time

[2018-08-24 16:21] thorsten-panknin opened #653 "If a local IPFS node is running before trying to start ipfs-desktop, ipfs-desktop throws an unhandled error"
Hi,

I'm on an updated Manjaro Linux, 64-Bit, and I have my own local ipfs node running fine.

I was able to install ipfs-desktop via "npm install", but running "npm start" opens up a dialog explaining that there was an unhandled error and that I should open an issue with the info from the error logs. Problem is, there are no error logs, I only have the npm error logs. Please see below.

I think I

[2018-08-27 15:42] hacdias commented on #652
As we've talked @lidel, the pinning tab has some flaws and bugs right now and it's completely unusable. There are two options:

1. Fix it, which might require rewriting the whole pinning thing for IPFS Desktop.
2. Implement the flow you suggested above and add an option to Files tab to Add by Path (easiest and the way we're doing in the future anyways).

/cc @ipfs-shipyard/gui @diasdavid

[2018-08-27 15:43] hacdias commented on #653
Hello @thorsten-panknin! Sorry for this, it will hopefully be solved with #651.

[2018-08-27 16:27] hacdias opened #654 "Save Multiple Connections"
As @diasdavid suggested, we should support having a list of connection options where we can just switch from one to another.

[2018-08-27 19:01] lidel commented on #652
I'm quite sure we  don't want to invest time in codebase that will be removed in near future (been there done that with old Firefox SDK).   Second option is a sensible way to go IMO.

@hacdias Just to clarify what you mean by (2), my understanding is that you want to:

1. remove Pinning tab from Desktop's UI
2. <del>make it possible to  open WebUI's Files screen via one click</del> (not possible y

[2018-08-27 19:40] hacdias commented on #652
@lidel Exactly that!

[2018-08-28 13:11] #641 closed

[2018-08-29 11:55] nrpalao commented on #631
Tried getting a clean checkout running on 10.12.6 Sierra (node v.8.11.4 and npm v.5.6.0), with a correct packages install and first run (`npm start`), Electron shows up but on the install (node) properties menu, the directory fields fails to display and either lets edit it.

<img width="844" alt="screen shot 2018-08-29 at 13 06 05" src="https://user-images.githubusercontent.com/5197959/44784470-13

[2018-08-29 12:50] hacdias commented on #631
@nrpalao sorry for that. Could you check the `combined.log` file? I just pushed a commit and now you'll be able to see the path where the logs are when you get the error message.

I can't reproduce that error on Windows though. With the last version of IPFS Desktop it was already filled?

On the logs path, please also check `config.json` and show us your config, please.

[2018-08-31 07:13] StepOITD opened #656 "new version, install ipfs, path error"
I was trying to understand the project, and met this at staring phase:

![1571535699484_ pic_hd](https://user-images.githubusercontent.com/14295658/44898044-5ae82980-ad30-11e8-84b6-4b140e028f3e.jpg)

[2018-08-31 07:25] hacdias commented on #631
@nrpalao could you show me the config.json? Let's keep the conversation on #656

[2018-08-31 07:28] hacdias commented on #656
Hello @StepOITD! I can see you're also using macOS. There is one more report of this issue. Are you running from the command line?

If so, could you see the logs path (given in the first log message) and see if there is a config.json file there and paste it here?

[2018-08-31 08:41] nrpalao commented on #656
[Former report on the same issue https://github.com/ipfs-shipyard/ipfs-desktop/issues/631#issuecomment-416973038]

@hacdias could you please provide some more guidance on how to retrieve the `config.json` related to the apparent path on the error view? Haven't been able to find it yet.

[2018-09-01 12:30] StepOITD commented on #656
@hacdias Hi, I think I found that file
![image](https://user-images.githubusercontent.com/14295658/44945946-11c5d180-ae25-11e8-9e35-c80ab7cafeee.png)
And I checked that this is the file mentioned in log message
![image](https://user-images.githubusercontent.com/14295658/44945966-6a956a00-ae25-11e8-8046-3da1c8c619a4.png)

I have ipfs-go installed on my mac before, but I have uninstalled and used do

[2018-09-01 21:28] lidel commented on #654
Is this about switching between different IPFS backends (eg. local go-ipfs, embedded js-ipfs, remote HTTP API, etc) ?

If so,  we plan to add similar feature to Companion (https://github.com/ipfs-shipyard/ipfs-companion/issues/491).

cc @fsdiogo  to keep everyone in the loop so our UIs do not drift too far apart :)

[2018-09-01 21:33] hacdias commented on #654
Yup @lidel

[2018-09-01 21:33] lidel commented on #650
cc https://github.com/ipfs/ipfs-gui/issues/50

[2018-09-03 04:53] roscoevanderboom commented on #654
also look at https://github.com/RHazDev/IPFS-Manager/releases .
His manager allows for creating multiple peerIDs on the fly,
adding files and easily publishing to any peerID

[2018-09-03 04:57] roscoevanderboom commented on #637
will an ipfs connection consume bandwidth, even when not browser or adding files?

[2018-09-03 05:10] roscoevanderboom commented on #602
if pinning is the way to make file links permanent, shouldn't it be part of the adding process by default?
also pinning the content of trusted peers should be as easy as browsing to their shared folder/content and one-click pin.
once our peer-to-peer connectivity is secure, I would like to "ipfs add+pin+publish+share with (private or public), all in one step.

[2018-09-05 07:49] #652 closed

[2018-09-06 05:36] StepOITD commented on #656
@hacdias solved, thanks for helping!

[2018-09-06 08:29] hacdias commented on #656
@StepOITD no problem. I guess there might be an issue with configuration migration but I'm not sure why. It would only happen if `ipfsPath` was set to `null` before.

[2018-09-06 09:03] hacdias commented on #656
For those coming here with this issue, please do as I said on https://github.com/ipfs-shipyard/ipfs-desktop/issues/656#issuecomment-418301293 and it will work. I've already pushed a fix. 😄

[2018-09-06 09:03] #656 closed

[2018-09-12 02:31] jieweili opened #658 "How to download files"
I didn't find a place where I could download files.

[2018-09-12 15:45] hacdias commented on #658
@jieweili currently we don't have a streamlined way to download files. If they are files and not folders, clicking on them will most likely work as they'll open in the web browser.

If it's a folder, you'll need to download them one by one.

It will change soon as we approach the release of the new WebUI version. We'll then work on IPFS Desktop to make it more IPFS-y and much better!

[2018-09-14 07:31] jieweili opened #659 "How to generate IPFS.20Desktop-0.5.0.20Setup.exe"
I hope I can get help.

[2018-09-14 08:50] hacdias commented on #659
You can:

1. Clone the repository.
2. Execute `npm install`.
3. `npm run make`.

And it will build the Windows binary if executed on Windows. Sorry for not having it available to download on our page, but our CI is failing on Windows and it wasn't possible to solve the issue yet.

[2018-09-15 02:46] jieweili commented on #659
![default](https://user-images.githubusercontent.com/4555301/45581641-9d833780-b8d4-11e8-8859-2983260a0389.png)

[2018-09-15 02:48] jieweili commented on #659
run as administrator
error

EPERM: operation not permitted, scandir 'C:\Users\x\AppData\Local\Temp\electron-packager\win32-x64\IPFS Desktop-win32-x64\resources\app\node_modules\abab'

[2018-09-16 10:17] TheChiefMeat commented on #640
Same thing happens to me to. If I pin something with Desktop it's fine, but if I pin something with IPFS and then restart the Desktop client, everything disappears.

Might be unrelated, but I can't seem to at all pin other peoples hashes (ipfs/ipns).

[2018-09-16 16:14] hacdias commented on #659
@jieweili try cleaning node_modules and doing everything again. NPM has some permission issues on Windows. Although I can't reproduce it here

[2018-09-16 20:28] hacdias commented on #640
Pinning is a feature we'll be removing on the future versions. We commend you to use the Files section. We haven't released a new version officially yet because we have had some issues building for Windows.

**If you're using Windows,** we recommend you to build this package from source.
**Otherwise**, I recommend you to [download the newest binary](https://ci.ipfs.team/blue/organizations/jenkins/

[2018-09-21 12:00] jieweili opened #660 "What ide should I use?"
I want to do development. What IDE  should I use?

[2018-09-21 12:03] jieweili commented on #660
vscode ? no found launch.json

[2018-09-24 08:42] hacdias commented on #660
I personally use VSCode. You can use anything you like 😄

[2018-09-24 08:57] hacdias opened #661 "Design"
This is revamp's main entry point for design ideas. See https://github.com/ipfs-shipyard/ipfs-desktop/issues/661#issuecomment-424706538.

[2018-09-24 12:34] lidel commented on #661
- Found some background on the differences between electron-forge and electron-builder: https://github.com/electron-userland/electron-builder/issues/1193

- The only ask I have is to plan on having **auto-update** mechanism from the start.
It could be github-release-based for now, but we should make sure people will follow us on the journey and won't get stuck with old dev version :)

[2018-09-24 13:01] hacdias commented on #661
@lidel so far it seems that Electron Builder can better fulfill our needs since its more customizable. We also have to take in account it supports code signing and auto updates.

I've started to create a boilerplate with the new electron version and electron builder but I haven't pushed it yet.

@olizilla @lidel do you think it's better to push it to an orphan branch or just branch out master and

[2018-09-24 13:10] lidel commented on #661
IMO I think its ok to work in PR against master.

Desktop is not as popular/mature as old webui, so we probably don't have to do `revamp` branch dance and just develop in `master`.

@olizilla any thoughts on this?

[2018-09-25 09:03] hacdias commented on #661
I now remember why I haven't used Electron Builder before: I had an issue with `electron-prebuilt-compile` I couldn't solve at that time. Now I'm committed to solve this issue: https://github.com/electron-userland/electron-builder/issues/3344

[2018-09-26 07:08] hacdias commented on #661
Some more thinking: I believe we should have three _main_ screens:

- **Welcome Screen**: welcome, bienvenue, Bem-vindo, where we show what IPFS is, how it works and what IPFS Desktop can do for you. This shouldn't ask for data to connect to an instance yet.
- **Menubar**: well, our main feature, the menubar! If the user doesn't have a 'favorite' connection or no settings to connect, we have to as

[2018-09-26 07:08] hacdias commented on #661
@olizilla I'd really like to hear your thoughts.

[2018-09-26 08:19] olizilla commented on #661
❤️ I like where this i going!

My guiding principle for this iteration is that we trim the Desktop specific codebase down to just enough code to show a menubar item, and open the Web UI.

We really want a good welcome screen, and I think some of that will be improving the one in Web UI. If we really need a Desktop specific one, then that's ok, but we should share as much as possible with the Web U

[2018-09-26 08:29] hacdias commented on #661
@olizilla yesss!

It would be awesome if we could have the Welcome Screen on WebUI!! A global variable could tell WebUI if it was inside Desktop so we could add some info about Desktop if needed.

Yes, I need to research a bit more about the Electron Builder issue with prebuilt-compile but so far it seemed to me the easiest to use and it compiles a bit faster on my machine.

As soon as I've more i

[2018-09-26 08:36] olizilla commented on #661
Great. the goal for us on this issue is to define what we want the next version of desktop to look like, and have a bullet point plan for this iteration, that we can break out into issues so we can all jump in and help deliver it as we have time.

One thing that didn't work so well on the Web UI revamp was that a lot of the plan was in my head or was just not defined until the last minute, so it f

[2018-09-26 09:43] hacdias commented on #661
Some updates on my mental idea of the structure:

**Two Screens**

- WebUI: works for welcome screen and... WebUI!
- Menubar: the famous menubar where you can open WebUI, add more connections and other simple stuff.

**Tree Structure**

- **src/** - Uhhh, the source code
	- **index.css** - css we will eventually use that isn't part of IPFS CSS
	- **index.js** - we have to start the app somewhere

[2018-09-26 13:02] hacdias commented on #661
### Two Screens

- Web UI: used for welcome screen, files, and all the other features of Web UI.
- Menubar: the masterpiece little window.

### Tree structure

Please take a look at [`src` on `new` branch](https://github.com/ipfs-shipyard/ipfs-desktop/tree/new/src).

### Features

- Add different IPFS conn configurations
- Ability to turn on, turn off, and connect/start to/a different daemon
- Abi

[2018-09-26 22:16] hacdias commented on #661
[I have been working on the main process code related to the configurations and multiple connection options. Haven't touched the UI, just moving pieces from the old to the new version that will be helpful. Then we just need to put them together with the UI]

[2018-09-27 09:10] hacdias commented on #661
![image](https://user-images.githubusercontent.com/5447088/46135596-7b2adb80-c23d-11e8-9022-5b0d86b0afdf.png)

It can run JS-IPFS, GO-IPFS nodes and connect via an API address and inject them to the WebUI. Now I think we just need an interface and make sure that shortcuts (download hash, take screenshot and others are working as they were before).

[2018-09-27 15:40] hacdias commented on #661
Shortcuts are working well.

[2018-09-27 19:17] PaulCombal commented on #661
Since it looks like Desktop will get a revamp, can anyone remind me of the goal of this GUI? Is it aimed at beginners -- eg: the IPFS daemon will start with the UI automatically, fancy UI controls and everything --, or is it aimed at developers?

I'm making a website about IPFS and wondering if I should recommend this to beginners, that's why I'd like to know that.

Also, will the new version supp

[2018-09-28 07:08] hacdias commented on #661
@PaulCombal IPFS Deslkop is intended for everyone and in our vision, it should be the entry point for new users since you get get the most without the command line. This new version will also incorporate the newest release of WebUI, support js-ipfs, multiple daemons and such.

I think IPFS Companion, the web extension, has that in the works. That's still a feature we have to handle.

[2018-10-03 09:15] hacdias commented on #661
@ipfs-shipyard/gui some ideas:

![930a0aeb-741b-4ddf-a05c-20ab5bd28e24](https://user-images.githubusercontent.com/5447088/46401539-30a1d700-c6f5-11e8-80bb-3d96ac3574cf.jpg)

[2018-10-03 10:36] lidel commented on #661
I like the use of On/Off and Settings icons: we use the same in Companion, which makes UIs feel consistent.

The part I am unsure of is the bottom "dial".
Right now it basically copies items present in current Web UI without place to grow.
What will happen when we want to add a new item there? Will we just add another row?

[2018-10-03 10:40] hacdias commented on #661
@lidel that's a good question! I think we should have an header (similar to Companion's), an overview of the current connected node, and shortcuts to Web UI's most used pages.

And I agree with you: the most thing I'm unsure about is those Web UI shortcuts: how to place them!?

[2018-10-03 12:44] fsdiogo commented on #661
I too like the on/off switch, settings and the node stats.

I get why we'd want the shortcuts, but I think we could live without them. The WebUI will be the primary focus if a user wants to interact more deeply with the app, so one click more to won't really make a difference. Instead of the shortcuts we can just have a button to open the WebUI no?

[2018-10-03 13:02] hacdias commented on #661
Note and FYI, Web UI embedded into Electron doesn't work with File Uploads because Electron sends a different file type to the event! We have to fix this

[2018-10-03 13:50] fsdiogo commented on #661
Here are some mac app menu bar apps that perhaps we can take some ideas from:

| Tripmode | Dropzone | Bitdock |
|--|--|--|
| ![tripmode](https://user-images.githubusercontent.com/33324750/46414210-8b99f500-c71a-11e8-8a0d-7fee92230ed9.jpg) | ![dropzone](https://user-images.githubusercontent.com/33324750/46414211-8c328b80-c71a-11e8-85bf-314887d9aee2.jpg) | ![bitdock](https://user-images.githubuserc

[2018-10-03 14:01] hacdias commented on #661
@fsdiogo thanks for those examples. I really like the blurred background, but I believe it would be a bit difficult to do cross-platform - it is actually something we've talked about in the past.

Here's the current state:

![image](https://user-images.githubusercontent.com/5447088/46415345-fba97a80-c71c-11e8-97ac-087ea6fa9079.png)

[2018-10-03 14:10] fsdiogo commented on #661
Yeah, I really like it too, but you're right, cross-platform don't know if it works!

I like it. I would change two tings though:
- I would put the `Open Web UI` button with full width like in the `Fastlane` example above
- I'd try to have the arrow and box like the most apps above to make it feel like a floating bar app, instead of just having the rectangle  hanging there

What do you think?

[2018-10-03 14:12] hacdias commented on #661
@fsdiogo agree with the floating+arrow thingy. I'll see if I can find a way to do it.

Just unsure about the button with full width, but we might try it!

[2018-10-03 15:54] olizilla commented on #661
full width buton looks great, but it also looks a lot less clickable... I vote we keep it looking like a regular button.

[2018-10-04 03:29] lockzero0 opened #663 "How do I increase the function of downloading files?"
How do I increase the function of downloading files?

I also hope to increase the download progress display function.

[2018-10-04 07:44] hacdias commented on #663
Hello @lockzero0! We're working on a new version with IPFS Web UI bundled with IPFS Desktop. Then, you'll have all the advantages that come from IPFS Web UI and Desktop together!

[2018-10-04 21:24] da2x opened #664 "Default install path"
Please install to `C:\Users\Terran\AppData\Local\IPFS Desktop\` instead of `C:\Users\Terran\AppData\Local\Desktop\`. The latter is quite ambiguous.

[2018-10-05 16:28] lidel opened #665 "Tweak default config of IPFS node"
Default settings of go-ipfs are not optimized for Desktop use.

Let's collect things IPFS Desktop should set during repo init.

Initial ideas:
-  [x] Enable GC - https://github.com/ipfs-shipyard/ipfs-desktop/pull/826
-  [x] We should limit on the number of connections, as it is known to choke cheap consumer routers and wifi cards. Some insight on sane  defaults is max of ~300 conns:  https://githu

[2018-10-05 16:51] lidel commented on #650
Some relevant notes: https://github.com/ipfs/i18n#adding-i18n-to-your-project
I think we won't have a lot of string in revamped version.
As soon initial UI lands,  may be a good idea to prioritize i18n and do it sooner than later, that way translation team will have more time to work on it before shipping :)

[2018-10-05 17:16] hacdias commented on #650
I can add it on the PR I'm working on. It's not that much 😄

[2018-10-07 12:35] lockzero0 opened #666 "IPFSDESKTOP demand advice"
Target: more people are willing to use it.

I think the main use of IPFSDESKTOP is SkyDrive, which can store and share files.

More people will use it if they can communicate and share.

It is recommended to refer to free download manager.

Function:

1, file upload

Upload progress is increased when files are uploaded.

2. File download

This function is very important, especially the progress of

[2018-10-09 11:55] lidel commented on #650
@hacdias as long the change set is not too big.

(Would be cool to have it in separate PR, so we can link to it as an example for other projects that want to add i18n)

[2018-10-09 13:02] hacdias commented on #650
@lidel it would probably introduce a lot of changes to the code I wrote so far, but basically just adding translation functions. We can leave it for another PR just to keep things separated. #662 is already getting really big, but it couldn't be other way since it introduces really deep changes.

[2018-10-15 09:43] hacdias opened #668 "Auto Updating"
The new IPFS Desktop version **must** support seamless auto updating of itself and auto updating of its go-ipfs/js-ipfs binaries.

- **Updating IPFS Desktop:** we can use the instructions on [Electron Builder's Auto Update page](https://www.electron.build/auto-update.html) which can be easily integrted with GitHub releases.
- **Updating Go IPFS/JS IPFS:** maybe fetching some page to check if there

[2018-10-15 09:43] hacdias opened #669 "design: wireframing"
[WIP]

[2018-10-15 10:04] hacdias opened #670 "[Revamp] Mount MFS"
[WIP]

[2018-10-15 10:05] #670 closed

[2018-10-16 22:07] hacdias commented on #669
Ping @ipfs-shipyard/gui for feedback!

[2018-10-17 00:00] lidel commented on #668
I've been thinking about this a bit and for the first iteration we should be okay-ish with using a third party HTTP update tracker if we do our own, additional validation on top of what is provided there.

For example, before we execute downloaded update, we should verify its checksum against a checksum published at http://dist.ipfs.io  and  signed by a known, hardcoded in ipfs-desktop pgp pubkey,

[2018-10-17 00:08] lidel commented on #669
I would move "Mount MFS on the File System" to postponed features.
"Way to connect to multiple backends" may also be a huge time sink if we want to get UI right, I'd say its "nice to have, but not mandatory to ship first iteration".

[2018-10-17 07:58] alanshaw commented on #669
😱 that PR is 300 files - I'm not going to be able to review that! How can we fix?

I'm super happy we have a master issue and some issues for tasks. This is a good start. We need to make sure the other tasks get tickets with context and info on what they are before we start work on them.

+1

[2018-10-18 10:29] hacdias commented on #661
Let's continue this discussion on https://github.com/ipfs-shipyard/ipfs-desktop/issues/661.

[2018-10-18 10:29] #661 closed

[2018-10-18 10:33] hacdias commented on #669
@olizilla just removed the label `revamp` and added the related issues to milestone v1.0. Design discussion was also moved to [ipfs-gui repo](https://github.com/ipfs/ipfs-gui/issues/44).

@alanshaw @lidel about postponing "Mount MFS on the File System": do you think we should do it because the 'system' isn't ready yet or because it isn't a crucial feature even though the main feature the user will

[2018-10-19 09:21] djdv commented on #618
@lidel

At this time, yes!

Since we're just exposing it as a writable filesystem, you should be able to interact with it in a standard way.
I haven't nailed everything down yet, but in theory you should be able to parse the config to find the mountpoint, and add some wrapping around it.

You can see the status of the mount implimentation here:
https://github.com/ipfs/go-ipfs/issues/5003
https://w

[2018-10-20 18:29] hacdias commented on #618
@djdv just read the whole issue and I have to say that what I read is just amazing and the progress you've made is incredible. I can't wait to be able to easily mount MFS on Windows.

Just as a side note: I was wondering if it would be possible to have an IPFS implementation independent mount that would work with any IPFS implementation - via HTTP API or connecting directly maybe. The drawback I s

[2018-10-24 23:48] 6543 commented on #611
I agree have, but faire enouth, i forgott to mentiont that my daemon is running on my nas.
and i point tools like the [ipfs companion](https://github.com/ipfs-shipyard/ipfs-companion) to this IP.

Should I open a new issue or rename this one to something like "Use Frontend with external ipfs daemon" ?

[2018-10-24 23:53] #611 closed

[2018-10-25 00:14] 6543 commented on #642
IPFS Sould get mor anon too ... but ist this more a topic for the main ipfs devs ?

Send To integration would be very nice, but this is os dependent :(

[2018-10-25 00:22] 6543 opened #671 "UI Setup Interface for external not explizit enouth"
if you choos external it asks for an API wich is for example http://10.10.10.60:5001
but it expects only the IP!

[2018-10-25 00:30] 6543 opened #672 "GUI shutdown external node on exit"

[2018-10-25 00:36] 6543 commented on #671
should i change API to IP on line112 at "src/panes/Intro.js" or is there more planed in the future for nodes with different ports?

[2018-10-25 04:04] DonaldTsang commented on #642
@6543 The IPFS devs are really acting slow on this one. @OpenBazaar already has a working implementation but it is not going upstream

[2018-10-25 18:40] craigbranscom opened #673 "Drag and drop file into menubar crashes application"
I tried dragging and dropping a .txt file into the menubar application. The GUI immediately went completely black and is unresponsive. The error messages are hidden by the black screen as well.

[code]

[2018-10-25 20:54] hacdias opened #674 "Incorporate Desktop's Settings into Web UI's"
Right now we have a set of Settings for Desktop that should be available for the user. Screenshots:

![image](https://user-images.githubusercontent.com/5447088/47529565-18f6e200-d8a0-11e8-928a-4a5e95f105cd.png)

![image](https://user-images.githubusercontent.com/5447088/47529581-1d22ff80-d8a0-11e8-85d2-082f23db2ca7.png)

For a better user experience and integration, this settings should be placed

[2018-11-01 02:35] NatoBoram opened #675 "Can't launch on Ubuntu 18.10 : Segmentation fault (core dumped)"
Hello! I just installed the `.deb` and I tried to run it.

![image](https://user-images.githubusercontent.com/10495562/47829277-f0b62a00-dd5c-11e8-904a-28e80c7b9359.png)

System info :
[code]

[2018-11-01 02:43] NatoBoram opened #676 "Can't build on Ubuntu 18.10 : Cannot read property 'toString' of null"
Hello! I tried to build it and it failed.

I ran exactly these commands :

[code]

Here's the errors :

[code]

[code]

System info :

[code]

NPM :

[code]

[2018-11-01 23:27] NatoBoram opened #677 "Can't install on Windows 10"
That's pretty much all I have. Not helpful at all, but it says to send an issue ^^

If you need more info, just tell me what I can give and I'll send it.

![1](https://user-images.githubusercontent.com/10495562/47885574-1f3f0e00-de0c-11e8-9528-bd7a2195eb94.PNG)
![2](https://user-images.githubusercontent.com/10495562/47885577-21a16800-de0c-11e8-80f2-00ebbe22c122.PNG)
![3](https://user-images.github

[2018-11-02 15:37] lidel opened #678 ""Add to IPFS" from Native File Manager"
## Summary

Installation of IPFS Desktop could register native integration that enables user to add files to IPFS (MFS) directly from operating system's file manager.

For example: a dedicated context menus in Windows and analogous UX for other OSes.

## Status

Right now we are in design stage, gathering prior art and ideas.
If you are familiar with good UX specific to your operating system, or g

[2018-11-02 15:42] lidel opened #679 "🏞 Native OS Integrations Provided by IPFS Desktop"
### Summary

This issue is an entry point for gathering prior art, feature requests and ongoing work  around native integrations for the most popular operating systems.

Comment below if something should be added to the list and/or moved to a dedicated issue.

### Status

|  | Linux/BSD | macOS | Windows |
| ---- | ---- | ---- | ---- |
| GUI for starting/stopping go-ipfs | 🐓 |🐓 | 🐓 |
| System Tray

[2018-11-03 03:54] NatoBoram commented on #678
Targeting GNOME would be a risky move since they tend to remove features quite often, with the latest removal being desktop icons. Maybe they'll follow the path of Pantheon by removing the system tray next. However, GNOME is the default of Ubuntu, the most popular distribution. I'm not really sure what DE to target.

[2018-11-03 04:13] NatoBoram commented on #676
One thing I hate about NodeJS is how inconsistent it is. I just tried to build the `new` branch, and it works. Then, I updated NPM, and I can't build it anymore. I uninstalled NodeJS and reinstalled it and I'll try to reproduce the steps and write more reports. There's definitely something fishy about the dependencies.

[2018-11-03 04:18] NatoBoram commented on #676
Okay, here's what happens.

In order to be able to build the application, I need *first* to `npm i` on the master branch. Then, I need to switch to new and `npm i` again. There I'll be able to `npm start`. But there's plenty of errors and it doesn't look like what I expected the app to look like.

Also, before I get "You're using a preview of Node.js!", know that it does the exact same thing in bo

[2018-11-03 04:52] NatoBoram commented on #677
Following #676, I also tried to build it on Windows 10.

![image](https://user-images.githubusercontent.com/10495562/47948189-5abc0400-df02-11e8-8096-e813b56a8629.png)

As with the previous attempt, only the `new` branch could build. And it's not pretty.

[code]

And now that we're at it, I might also give the errors when trying to build the `master` branch.

[2018-11-03 04:55] NatoBoram commented on #677
Here's what happens when I try to build the `master` branch.

[code]

[2018-11-05 15:42] NatoBoram opened #680 "Can't tag more than one pin"
A video is worth a thousand words :

![2018-11-05_10-40-19](https://user-images.githubusercontent.com/10495562/48008318-6ddbf900-e0e7-11e8-943f-58c1c8909198.gif)

![4](https://user-images.githubusercontent.com/10495562/47887463-dab87000-de15-11e8-9b9a-da8ba8eb303e.PNG)

[2018-11-05 15:44] NatoBoram opened #681 "Can't build on Windows 10"
I thought this had to be a separate issue from #677.

---

Following #676, I also tried to build it on Windows 10.

![image](https://user-images.githubusercontent.com/10495562/47948189-5abc0400-df02-11e8-8096-e813b56a8629.png)

As with the previous attempt, only the `new` branch could build. And it's not pretty.

[code]

And now that we're at it, I might also give the errors when trying to build t

[2018-11-07 21:59] phoniks opened #682 "Node Gyp Ursa Issue"
So I'm receiving the following error when I run NPM start:

[code]

So I've figured out that it has something to do with node-gyp and openSSL.  There were some issues on the node-gyp github where it was suggested that reinstalling xcode would solve it.  Tried that to no avail. I also attempted changing the binding.gyp file as was suggested in another issue and that did eleminate this error, but pr

[2018-11-08 17:11] phoniks commented on #682
Found my solution:

https://medium.com/@timmykko/using-openssl-library-with-macos-sierra-7807cfd47892

It seems that there's an issue with MacOS High Sierra not knowing where to look for native openssl.  Creating new symlinks allowed the build process to complete normally.

[2018-11-08 20:05] Maxzong opened #683 "Hit an error in opening ipfs-desktop"
<img width="425" alt="screen shot 2018-11-08 at 8 27 16 pm" src="https://user-images.githubusercontent.com/17782773/48224071-b0495280-e3d3-11e8-8349-4d98cdaba3c4.png">

Yesterday, I upgraded ipfs version from 0.4.15 to 0.4.18, according to the manual of IPFS- Update, finished migration job before that. Everything seemed fine before I restarted my mac this morning. There was an error msg popped up

[2018-11-08 20:33] Maxzong commented on #682
thanks dude

| |
nightrock
邮箱：nightrock@126.com
|

Signature is customized by Netease Mail Master

On 11/09/2018 04:27, John Hopkins wrote:

Reopened #682.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-08 20:42] Maxzong commented on #682
Ah~~I just realized the other same problem I got 2 days ago, just mentioned in this topic.  I updated OS X from 10.13 to 10.14.1 and updated XCode that day.

[2018-11-08 20:42] Maxzong commented on #682
Thanks, John.

[2018-11-08 20:58] Stebalien commented on #683
@hacdias is this a js-ipfs/go-ipfs interop issue?

[2018-11-09 19:35] hacdias commented on #683
Probably the latest binary of IPFS Desktop uses an older version of IPFS thus the error. We're now working on a newer, simpler version and hopefully those issues will be addressed easily.

[2018-11-09 19:37] hacdias commented on #681
To build on windows, you need [`windows-build-tools`](https://www.npmjs.com/package/windows-build-tools). I can assure you it will work since it's the platform I use 😄

[2018-11-09 19:39] hacdias commented on #677
We're working on a new version which will address this issue! 😄 Sorry for the trouble

[2018-11-09 19:46] hacdias commented on #678
@djdv do you happen to have that code public somewhere? 😄 I really want to add that feature to Windows, but haven't taken a look at it yet.

[2018-11-10 09:43] hacdias opened #685 "Support multiple connections"
With the version 1.0 being worked on #662, we're leaving this app as simple as it can be so there won't be an option to have different and multiple daemons.

This issue should be used as a future reference to create this functionality.

[2018-11-11 13:41] Mikaela opened #686 "Submit to Flathub.org for Flatpak"
* https://github.com/flathub/flathub/wiki/App-Submission

Flatpak is popular universal (on Linux) package manager for GUI apps and I would like to see IPFS GUI there to try it as I am not sure on installing app without being sure that it will get updates like the other installed apps.

Reading the issue tracker, you already have something Flatpak related, but I don't see an issue explicitly reques

[2018-11-12 04:50] NatoBoram commented on #681
Can this be mentioned in the [README.md](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/README.md#install-from-source)?

[2018-11-12 11:59] lidel opened #687 "Hangs if repo requires an update (missing flag for automatic migration)"
## Bug

If `IPFS_PATH` points at repo created with go-ipfs in version older than one bundled with ipfs-desktop, it will hang and never show tray icon:

<details>
  <summary>Click to expand debug log</summary>

[code]

</details>

## Fix

The fix is to enable automatic migrations by always starting  `ipfs daemon` with `--migrate=true` parameter.

[This is what Docker image is already doing](https:/

[2018-11-12 12:00] lidel opened #688 "Missing support for external daemon already running"
## Bug

ipfs-desktop fails to start when API port is already in use   (no error, no UI is shown, it just hangs)

<details>
  <summary>Click to expand debug log</summary>

[code]

</details>

[2018-11-12 12:00] lidel opened #689 "Fails to start when ~/.ipfs/api exists"
## Context

I often run go-ipfs in docker or use remote node, so I only have `~/.ipfs/api` with multiaddr in it (eg. `/ip4/127.0.0.1/tcp/5001` for local docker, or [a port of ssh tunnel to a remote node](https://gist.github.com/Kubuxu/0cafd6dc71114349875827c2c379fa1f))

## Bug

ipfs-desktop failed to start because it did not recognize `~/.ipfs/api`

<details>
  <summary>Click to expand debug log</

[2018-11-14 08:22] royforu opened #690 "fail to build source code"
hello everyone,
Sorry to bother. When I build source code, I encounter one problem. can not find file: openssl/rsa.h
C:\Users\royhsu\ipfs-desktop>npm start

√ Checking your system
√ Locating Application
× Preparing native dependencies: 6 / 7

An unhandled error has occurred inside Forge:
�b���ѨM��פ��@���ظm�@�ӱM�סC�Y�n�ҥΥ���ظm�A�зs�W "/m" �ѼơC
  ursaNative.cc
  win_delay_load_hook.cc
c:\users\royhs

[2018-11-14 12:50] diasdavid commented on #601
Will it come on #662 ?

[2018-11-14 15:08] hacdias commented on #601
@diasdavid nope, not yet. We decided not to have that feature on the first version and keep it as simple as possible. That will be added afterwards. 😄

[2018-11-14 19:29] hacdias commented on #529
@olizilla please check if this is still an issue with `master`.

[2018-11-14 19:29] #598 closed

[2018-11-14 19:29] #584 closed

[2018-11-14 19:29] #581 closed

[2018-11-14 19:29] #586 closed

[2018-11-14 19:30] #633 closed

[2018-11-14 19:30] hacdias commented on #633
Closing as unrelated to the newer version.

[2018-11-14 19:30] hacdias commented on #593
Closing as unrelated to the newer version.

[2018-11-14 19:30] #593 closed

[2018-11-14 19:30] hacdias commented on #639
Closing as unrelated to the newer version.

[2018-11-14 19:30] #639 closed

[2018-11-14 19:30] hacdias commented on #647
Closing as unrelated to the newer version.

[2018-11-14 19:30] #647 closed

[2018-11-14 19:30] hacdias commented on #643
Closing as unrelated to the newer version.

[2018-11-14 19:30] #643 closed

[2018-11-14 19:31] #582 closed

[2018-11-14 19:32] #671 closed

[2018-11-14 19:32] hacdias commented on #671
Closing as unrelated to the newer version.

[2018-11-14 19:32] hacdias commented on #672
Closing as unrelated to the newer version.

[2018-11-14 19:32] #672 closed

[2018-11-14 19:32] hacdias commented on #673
Closing as unrelated to the newer version.

[2018-11-14 19:32] #673 closed

[2018-11-14 19:33] hacdias commented on #681
Done!

[2018-11-14 19:33] #681 closed

[2018-11-14 19:33] hacdias commented on #690
To build on windows, you need [`windows-build-tools`](https://www.npmjs.com/package/windows-build-tools). I can assure you it will work since it's the platform I use 😄  Do not forget though that `new` isn't finished.

[2018-11-14 19:33] #690 closed

[2018-11-14 19:34] hacdias commented on #683
Closing as we know what the problem is.

[2018-11-14 19:34] #683 closed

[2018-11-14 20:29] #658 closed

[2018-11-14 20:29] #659 closed

[2018-11-14 20:30] #664 closed

[2018-11-14 20:30] #660 closed

[2018-11-14 20:31] hacdias commented on #666
Closing due to inactivity.

[2018-11-14 20:31] #666 closed

[2018-11-14 20:33] hacdias opened #691 "📦 Stores and Package Managers"
### Summary

Many users want to see IPFS Desktop binaries distributed across many stores and package managers. This issue will be used to address those and new requests should be done here for now.

### Status

| Package Manager   | Status | How to |
|-------------------|--------| ---- |
| Homebrew (macOS)  |    🐓   | `brew cask install ipfs` |
| Chocolatey (Windows)       |    🐓  | `choco install

[2018-11-14 20:33] hacdias commented on #638
Closing in favour of #691.

[2018-11-14 20:33] #638 closed

[2018-11-14 20:33] hacdias commented on #686
Closing in favour of #691.

[2018-11-14 20:33] #686 closed

[2018-11-14 20:33] hacdias commented on #569
Closing in favour of #691.

[2018-11-14 20:33] #569 closed

[2018-11-14 20:55] mkg20001 commented on #691
I'd also add snaps (snapcraft.io) to the list as it's also a fairly common distribution method and can be easily integrated (build.snapcraft.io)

[2018-11-14 23:13] NatoBoram commented on #676
After following the additional information found in https://github.com/ipfs-shipyard/ipfs-desktop/issues/681#issuecomment-437471738, I tried to build it again on Ubuntu. The result is different. The problem now seems to be `API.HTTPHeaders key has no attributes`.

[code]

It is also worth noting that the program will crash if there's an active node on the system. Might want to check that.

[code]

[2018-11-16 02:59] Maxzong opened #693 "Mac OS X Mojave 10.14.1, can't start up ipfs-desktop"
Following the steps in https://github.com/ipfs/fs-repo-migrations/blob/master/run.md I finished ipfs update and migration, killed ipfa daemon process and open IPFS-Desktop. but there's some warning popped up.

**Some unexpected error occurred and we couldn't handle it. Please check /Users/maxzong/Library/Application Support/ipfs-desktop/logs/error.log for the latest logs and open an issue on https

[2018-11-16 14:56] hacdias commented on #693
Hello! Did you download from releases? It doesn't have the latest version from master so you might experience issues. We're working towards a new version so keep tuned!

[2018-11-18 17:00] zricethezav commented on #542
Any plans to have cli `ipfs add` populate files in the gui by default?? Otherwise i think the their needs to be a disclaimer in the gui.

[2018-11-19 11:14] hacdias commented on #542
@zricethezav the GUI shows your MFS (Mutable File System) and not files added by `ipfs add`. That command only adds files to your repo temporarily unless you pin them. If you add something to MFS (through `ipfs files write/cp/mv`), it will be automatically pinned and won't be removed by the garbage collector.

We recommend you to use the MFS so you can see the files on the UI and you also have the

[2018-11-19 15:43] machawk1 opened #699 "docs(README): Usage section missing despite ToC link"
The README Table of Contents section links to a `Usage` section, which does not exist in the README.md document.

It looks like @hacdias's refactoring in 21e4545dcbf52bd6adf8cade538968013cb8fdca "toward 1.0" removed this but left the entry in the ToC.

[2018-11-19 16:42] #687 closed

[2018-11-19 17:19] #699 closed

[2018-11-19 17:19] hacdias commented on #699
@machawk1 thanks for noticing that 😄

[2018-11-19 17:21] hacdias opened #700 "CI: Travis + AppVeyor"
Set up Travis and AppVeyor (for Windows) and auto-deploy the latest binaries to a GitHub pre-release.

**EDIT:** Travis now seems to support Windows! https://blog.travis-ci.com/2018-10-11-windows-early-release

[2018-11-20 10:12] hacdias commented on #700
Questions:
- Shall we move to Travis? Or stick with Jenkins?
- Shall we publish every push to master as a pre-release?
- Does Jenkins have secret management? Or at least some way to set an env variable with an API key?

/cc @ipfs-shipyard/gui

[2018-11-21 07:32] olizilla commented on #542
@zricethezav yes, very much so. Right now, `ipfs add` does the job of adding files to the IPFS universe... chunking and hashing them to calculate the CID (Content ID). What it doens't do _yet_ is update your local file-system view of the repo (internally referred to as the Mutable File System, as it's the view of your files that you can edit). It's a significant UX issue that we are working on!

@

[2018-11-21 09:44] daviddias commented on #700
great convo on CI happening here https://github.com/ipfs/infrastructure/issues/442

[2018-11-22 09:25] HelloWorldJackLiu opened #703 "build error in windows environment(win10/win7)"
excuse me, i got a problem.
when i perform npm start,it seems the problem is
 Error: failed to get config value:"API.HTTPHeaders key has no attributes"
 the following is the whole message:
===================================================
C:\Users\jackliu\ipfs-desktop>npm start

superagent: Enable experimental feature http2
2018-11-22T07:43:46.895Z info: Logger set up. Logs can be found on C:\Us

[2018-11-22 16:43] #674 closed

[2018-11-22 16:47] hacdias commented on #682
I'll close this issue. Let's keep the conv on #684.

[2018-11-22 16:47] #682 closed

[2018-11-22 16:48] hacdias commented on #677
I'll close this issue as this error is not presented anymore. Now there's more details 😄

[2018-11-22 16:48] #677 closed

[2018-11-22 16:48] #616 closed

[2018-11-22 16:49] hacdias commented on #669
@ipfs-shipyard/gui should we aim to get **signed** binaries?

[2018-11-22 17:06] olizilla commented on #669
Yes! That is how we will honour the `1.0` release!

[2018-11-22 19:35] phoniks commented on #693
I can confirm that the prepackaged binary works on my machine but the clone of the repo does not launch the menubar icon.  It does seem to start the IPFS daemon, however.  Looking forward to the new version!

[2018-11-22 20:38] hacdias commented on #693
Which error do you get? Or you don't simply have any error?

/cc @olizilla can you reproduce this?

[2018-11-23 01:53] phoniks commented on #601
@daviddias @hacdias What would it entail to enable js-ipfs support exactly? I'd like to contribute if it's something I can tackle.

[2018-11-23 08:09] hacdias opened #705 "Binary signing for Windows"
Right now, on Windows, when trying to execute the binary, the user get this screen:

![image](https://user-images.githubusercontent.com/5447088/48933218-698d4980-eef7-11e8-9e64-171d3cf69ed8.png)

They will need to click on **More Info** and then a button **Run anyway** will show up, like this:

![image](https://user-images.githubusercontent.com/5447088/48933206-61350e80-eef7-11e8-9758-31a3992b0757

[2018-11-23 08:10] daviddias commented on #601
Awesome, thank you for showing up @phoniks :)

js-ipfs exposes exactly the same API that the client lib (js-ipfs-api) for go-ipfs exposes, so it is just a question of spawning the right daemon.

IPFS Desktop uses https://github.com/ipfs/js-ipfsd-ctl/ which gives a way to spawn an js-ipfs node too

I believe the missing piece is the UI parts, which we need a switch to go from go to JS and then back

[2018-11-23 09:45] hacdias commented on #601
@daviddias @phoniks hey! It is really straightforward to let IPFS Desktop use JS-IPFS. You only have to do three things:

- `npm install ipfs`
- Remove [these 3 lines](https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/src/utils/daemon.js#L12-L14) where we explicitly block anything that isn't go.
- On your config, change type to 'js'.

Why aren't we adding js-ipfs right now? We just want to

[2018-11-23 09:57] daviddias commented on #601
Yes, because dogfooding :)

[2018-11-23 11:12] olizilla commented on #601
Hey, this is great! @hacdias is right, we're focusing on make the new user experience as clear as possible. Desktop is going to be opinionated on what that looks like. But, we can add an option to our brand new settings page that lets you toggle between go-ipfs and js-ipfs, so folks can try out both. It'll need some good copy to explain it.

I'll write up a more specific issue for it and link back