[2020-06-11 10:47] TMladenic commented on #1534
Can you try the newer version. I've had that error with older ones.

[2020-06-12 07:05] anaelleltd commented on #1534
Hi,

Thanks for the suggestion.
I already tried connecting with the newer version aftee unstalling
everything. I still got the same message.

Any other options?

Cheers.
Ana.

Le jeu. 11 juin 2020 à 18:47, TMladenic <notifications@github.com> a écrit :

[2020-06-13 06:49] jayschwa commented on #1522
I experience this issue only when using the snap package. The tray icon menu works when using the Debian package.

[2020-06-13 06:49] jayschwa commented on #1525
I experience this issue only when using the snap package. The daemon starts when using the Debian package.

[2020-06-14 04:50] ghost opened #1549 "bug: OS-level protocol handler (Ubuntu/Windows): opens the app but does nothing"
- OS: Linux (Ubuntu 20.04)
 - Version of IPFS Desktop [e.g. 0.11.1]
1b58b62
**Describe the bug**
Using the dweb/ipfs link from https://winworldpc.com/download/4112c2a0-7118-c39a-11c3-a4e284a2c3a5 doesn't have any effect or feedback from the IPFS desktop app.

(They're also hiding the IPFS link with Javascript, but that's a different problem)

**To Reproduce**
Steps to reproduce the behavior:
Open

[2020-06-15 02:45] chenguoliangclub opened #1550 "go-ipfs binary not found, it may not be installed or an error may have occured during installation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-15 12:07] lidel commented on #1514
Thank you for letting us know @TheMageKing!

@rafaelramalho19 I believe this is the upstream bug described in https://github.com/electron-userland/electron-builder/issues/4815

We could detect running on Windows and implement workaround described in https://github.com/electron-userland/electron-builder/issues/4815#issuecomment-606613523 (others already shipped it, for example [this app here](https

[2020-06-15 13:45] rafaelramalho19 commented on #1546
This was fixed with #1509, please make sure you update to the latest version now 😄

[2020-06-15 13:45] #1546 closed

[2020-06-15 15:51] bertrandfalguiere opened #1551 "Restore snap publishing on snapcraft"
This is a placeholder for me to tackle this.
Snap publishing was removed because of https://github.com/ipfs-shipyard/ipfs-desktop/pull/1547 : it was at the wrong place and it unpolitely interrupted testing.

[2020-06-15 21:10] Dr-Chronosphere commented on #691
Could someone add WinGet to the list of package managers? It's still in active development, but I feel like Microsoft is going to make a larger push for it in the future.

[2020-06-18 02:18] delgyd opened #1553 "authentication"
When adding files, it is best to add a simple authentication parameter

[2020-06-19 11:29] ilmtr opened #1554 "Crash on open"
IPFS Desktop keeps crashing when i try to open it. I have tried uninstalling and reinstalling it, but the issue returns.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.11.4
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-06-19 13:59] rafaelramalho19 commented on #1554
Have you tried deleting both `C:\Users\User\AppData\Local\Programs\IPFS Desktop\` and `'C:\Users\User\.ipfs-desktop\` and reinstalling?

[2020-06-19 15:00] ilmtr commented on #1554
I have deleted these folders, and in addition also the _"C:\Users\User\AppData\Roaming\IPFS Dekstop"_ folder. Then uninstalled and reinstalled IPFS Desktop, and also selected install for all users, instead of just me.

IPFS Desktop now opens and runs without crashing now, thank you!

[2020-06-19 15:00] #1554 closed

[2020-06-25 19:06] jessicaschilling commented on #1389
Survey analysis here: https://docs.google.com/document/d/1V5sDSxMqhhplpcB8u8CffiGWHUvw-t4p_sn5vigdR90/edit#heading=h.9bdsxkml3rtd

TL;dr: While justification may exist for decoupling the standalone Web UI and re-envisioning Desktop as a tray/menubar tool (backed by daemon launch at launch), we have bigger opportunities for improvement right now.

[2020-06-26 13:33] #1514 closed

[2020-06-27 16:03] iav opened #1561 "Possibility to insert filessystem subtree without data copying"
Add a UI to allow to insert into IPFS a filesystem folder without copying into IPFS internal storage.
It works with "--nocopy" ipfs command line option
(https://weekly-geekly.github.io/articles/331010/index.html)

[2020-06-29 16:41] jessicaschilling commented on #1561
Thanks, @iav -- is this something you might be interested in working on?

[2020-06-29 17:55] iav commented on #1561
Unfortunately I do not know the art of programming :(

[2020-06-29 17:58] jessicaschilling commented on #1561
@iav - no worries, just wanted to ask!

The core team is pretty deep into a different kettle of work at the moment, so this will likely stay on ice for a bit unless a (beloved) community member wishes to pick it up. Please know it's been noted in the backlog, though!

[2020-06-30 16:07] wilkovanderveen opened #1562 "Update to 0.11.4 fails"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.11.3
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-06-30 17:29] jessicaschilling commented on #1562
@rafaelramalho19 Is this anything you've seen in other update issues?

[2020-07-01 08:14] olizilla commented on #789
IPFS updates over IPFS! This issue shows how to pull the logic for fetching the update zip into our code, and then just pass the electron / squirrel update framework the zip and an artisinal, smol batch, locally made UPDATE manifest.

https://github.com/electron/electron/issues/5020#issuecomment-477636990

How to signal when a update is ready needs deciding on, but we could then attempt to fetch t

[2020-07-01 16:21] jessicaschilling commented on #1553
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:22] jessicaschilling commented on #1551
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:23] jessicaschilling commented on #1551
@bertrandfalguiere - do you mind adding the appropriate labels to this issue when you get a chance? You can see details of the labeling system here: https://github.com/ipfs/community/blob/master/ISSUE_LABELS.md
Thanks!

[2020-07-01 16:23] jessicaschilling commented on #1550
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:23] jessicaschilling commented on #1549
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:23] jessicaschilling commented on #1543
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:24] jessicaschilling commented on #1542
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:24] jessicaschilling commented on #1534
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:25] jessicaschilling commented on #1525
@lidel @rafaelramalho19 or @olizilla -- might you be able to triage? Thank you!

[2020-07-01 16:56] bertrandfalguiere commented on #1551
I don't mind, but I think I don't have the right for it?

I think this could be
priority/P2
kind/enhancement or king/maintenance
need/community-input
dif/easy
effort/hours
status/in-progress
topic/package-manager

I can be assigned too, but I don't think I have the rights either.

[2020-07-01 17:48] jessicaschilling commented on #1551
@bertrandfalguiere, I'm sorry about the permissions! Thanks for that list. I added the labels and assigned you. 😊

[2020-07-01 18:11] olizilla commented on #1553
@delgyd could you give some more information on the problem you are seeing, or feature you are proposing?

[2020-07-01 18:14] olizilla commented on #1550
@chenguoliangclub it looks like your hitting a problem trying to install ipfs-desktop. Could you add more information about what happned? What OS are you using? Did you installl the app manually, or via a package manager like homebrew? Do you have any screenshots? The more you can walk us through what happened, the more likely it is we can help you.

[2020-07-01 18:18] olizilla commented on #1549
@voltagex thanks for this detailed report! I'll take a look. Thanks for the note about the issue template too. The advanced menu is only accessible on linux flavours that show a dock / task bar icon like thing. We need a solution for that too, see #1153

[2020-07-01 18:21] olizilla commented on #1543
Thanks for the report @prashant-anand. IPFS Desktop tries to restart the ipfs daemon process when it detects that the network has changed, but it should not crash, that's a bug, i'll take a look, but it may be difficult to recreate. Did the crash happen just one time, or does it crash for you every time you change network?

[2020-07-01 18:44] olizilla commented on #1534
@hacdias this looks like a file permissions issue on windows, can you take a look?

[2020-07-02 04:02] delgyd commented on #1553
ipfs add -auth password file.txt   ( file.txt:123456)
hash：xxxxxxxxxxxxxx
ipfs cat xxxxxxxxxxxxxx    -> (asgjewrjwfslf)
ipfs cat -auth password xxxxxxxxxxxxxx    --->(123456)

[2020-07-02 07:59] olizilla commented on #1553
That looks like a proposal for encrypting files as you add them to IPFS. It's a good idea. The discussion for that is over here https://github.com/ipfs/notes/issues/270

This issues on this repo (https://github.com/ipfs-shipyard/ipfs-desktop) are for discussing bugs and features with the desktop app. Encrypting files / password protecting would need to be supported by the core implementations (go-

[2020-07-02 07:59] #1553 closed

[2020-07-02 08:18] hacdias commented on #1534
Just made a fresh install of Windows 10, installed IPFS Desktop and no errors popped up. There's definitely something different with this user's permissions.

Out of curiosity: did you do a user install or system wide install?

[2020-07-02 08:27] anaelleltd commented on #1534
Hi hacdias,

Thanks you for this.

I did a system-wide (all users) install. I have checked that the ipfs app is allowed through my windows firewall, and it is.
I have just tried again now, but I still get the same error.
My windows 10 is up-to-date and I have not done any OS "customisation" at all.

Cheers,
Ana.

[2020-07-02 10:21] hacdias commented on #1534
Hmmm... that's odd anyway. I tried with a system-wide installation and it still worked. Can you try manually removing `C:\Users\atale\.ipfs-desktop` and starting IPFS Desktop again?

[2020-07-02 11:38] anaelleltd commented on #1534
Hi,

Icopied and followed the filepath (C:\\atale\.ipfs-desktop\FILEPATH), but
it only launches the app which gives.the same error message.

When I looked into the actual C:\\atale\ folder, the ".ipfs-desktop" folder
does not appear. I set up my files explorer to display hidden folders, but
the ".ipfs-desktop" folder still doesn't show up.

My guess is that this is temp folder that links to the ac

[2020-07-02 11:45] rafaelramalho19 commented on #1534
Hi Ana,

Can you try and delete `C:\Users\User\AppData\Local\Programs\IPFS Desktop\`, `C:\Users\User\AppData\Roaming\IPFS Dekstop` and `C:\Users\User\.ipfs-desktop\` and reinstalling?

[2020-07-02 12:15] anaelleltd commented on #1534
Something strange happened.
I couldn't find the folders that you said I should delete. I then used the cmd/Powershell to install ipfs desktop through chocolatey. The app launched (with a port error!) and the folders suddenly appeared.

I have unistalled everything from the choco version, and re-installed the latest v0.11.4. Now I am able to see these folders again.
But there is another issue: IPFS

[2020-07-02 12:40] anaelleltd commented on #1534
Error log file in C:\Users\User\AppData\Roaming\IPFS Dekstop\

2020-07-02T12:19:13.241Z error: [ipfsd] start daemon Error: Initializing daemon...
go-ipfs version: 0.5.1
Repo version: 9
System version: amd64/windows
Golang version: go1.13.10
Found outdated fs-repo, migrations need to be run.
  => Looking for suitable fs-repo-migrations binary.
  => None found, downloading.
  => Running: C:\Users\at

[2020-07-02 16:43] prototype99 commented on #691
I cannot find support Gentoo (portage) yet.

[2020-07-03 15:39] TekBear opened #1565 "Which version of windows"
Reading main page and I cannot determine what OS versions you support - perhaps you could fix that if not already covered.
Which versions of Windows OS will run IPFS -desktop and is the answer the same for the command line ?

[2020-07-03 16:11] jessicaschilling commented on #1565
Hi @TekBear -- apologies for any runaround, but this is a great question for the forums: https://discuss.ipfs.io/
Mind asking there? Thanks!

[2020-07-03 16:11] #1565 closed

[2020-07-06 16:48] TekBear commented on #1565
@jessicaschilling ok I have just posted question. This is my first look at your project and I think you should be precise about which windows version are supported on your main page -  https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/README.md the majority of projects do this. This is a documentation issue that needs fixing.

[2020-07-06 19:51] Luflosi opened #1568 "No macOS binary for 0.12.0"
Previous releases had a pre-built binary for macOS but 0.12.0 does not: https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.11.4 vs https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.12.0.
I guess this is not intentional?

[2020-07-06 19:53] jessicaschilling commented on #1568
@olizilla and/or @rafaelramalho19 -- can you please triage? Thank you!

[2020-07-06 20:38] Evanito opened #1569 "ipfs-desktop 0.12.0 uses go-ipfs 0.5.1"
- OS: Windows 10, 64-bit
 - Version of IPFS Desktop 0.12.0

**Describe the bug**
UI states that despite upgrading my IPFS Desktop today using the autoupdater, I am still using go-ipfs 0.5.1

**To Reproduce**
Steps to reproduce the behavior:
1. Update from ipfs-desktop 0.11.4 to 0.12.0 on Windows 10
2. Go to Status page on webui
3. See go-ipfs version, observe out of date

**Expected behavior**
I e

[2020-07-06 20:58] jessicaschilling commented on #1569
@olizilla, might you be able to triage this? Thanks!

[2020-07-07 03:10] lzsaver commented on #1569
No, all ipfs-desktop 0.12.0 releases for all platforms contain the ipfs 0.5.1 binary.

I also want to note that the release for freebsd contains the binary for linux instead of freebsd one.

[2020-07-07 05:00] lzsaver commented on #1569
No, all ipfs-desktop 0.12.0 releases for all platforms contain the ipfs 0.5.1 binary.

------

Also I want to note that the release for freebsd contains a binary for linux instead of freebsd one.
But the package contains the word "_linux_" in its name, so not sure how this is designed to work.
If you know that this was done by mistake - feel free to create a separate PR for this problem.

[2020-07-07 06:30] andrew commented on #1568
This also breaks auto-updating for mac as it tries to download `https://github.com/ipfs-shipyard/ipfs-desktop/releases/download/v0.12.0/latest-mac.yml` which doesn't exist, causing this error:

![Screenshot 2020-07-07 at 07 29 35](https://user-images.githubusercontent.com/1060/86727762-a0a86400-c023-11ea-85da-ef85a72411a9.png)

[code]

[2020-07-07 12:28] lidel commented on #1568
This is because notarization failed once again thanks to apple asking us to sign more paperwork:

https://travis-ci.com/github/ipfs-shipyard/ipfs-desktop/jobs/358083565#L533:

[code]

@olizilla are you able to help?
We need to fix this and release v0.12.1 ASAP

[2020-07-07 13:14] olizilla commented on #1568
More checkboxes have been checked. For posterity, I have to log into both the following sites with Safari and click through the new notification banners.
- https://developer.apple.com/account/
- https://appstoreconnect.apple.com/agreements

[2020-07-07 14:00] lidel commented on #1569
This happened before, but we assumed human error.
Seems there is a bug in our CI flow, build for v0.12.0 indeed included go-ipfs 0.5.1:

* https://travis-ci.com/github/ipfs-shipyard/ipfs-desktop/jobs/358080971#L226

[2020-07-07 15:22] Evanito commented on #1569
No longer experiencing in 0.12.1

[2020-07-07 15:22] #1569 closed

[2020-07-07 15:23] rafaelramalho19 commented on #1568
Fixed, but you need to upgrade to 0.12.1

[2020-07-07 15:23] #1568 closed

[2020-07-07 17:39] demdante commented on #1514
Not sure why this was closed before verifying that it worked, because, when I initiated the auto update to ipfs-desktop 12.0, **the exact same issue occurred once again.**  Program was uninstalled, not re-installed, and the installation files were located in the %USERPROFILE%\Appdata\local\ipfs-desktop-updater.  I did notice that there were 2 executable files in the directory though (I don't recal

[2020-07-07 17:41] demdante opened #1570 "Auto-update broken on Windows"
This issue is directly related to issue #1514 .  Not sure why this was closed before verifying that it worked, because, when I initiated the auto update to ipfs-desktop 12.0, the exact same issue occurred once again. Program was uninstalled, not re-installed, and the installation files were located in the %USERPROFILE%\Appdata\local\ipfs-desktop-updater. I did notice that there were 2 executable f

[2020-07-07 18:00] jessicaschilling commented on #1570
CC @rafaelramalho19 -- thank you!

[2020-07-07 21:15] rafaelramalho19 commented on #1570
@demdante Thank you for the detailed and long description of the issue. However, the fix that we actually shipped will only be executed in the next version update.

What happened is that your current auto-update was performed with the code from v0.11.4, not with the one from v0.12.1. Therefore, this fix will only be visible from this version onwards.

Sorry if I didn't give this explanation before

[2020-07-08 03:03] demdante commented on #1570
@rafaelramalho19 I just want to make sure I understand this correctly, as well as offer a correction to my original statement.  The correction being that the issue is not **exactly** the same as it was before: it is worse now.  I initially had installed version 0.12.0 on my machine, and when I initiated the auto-update to update to version 0.12.1, but now nothing at all happens: IPFS-desktop close

[2020-07-08 13:27] rafaelramalho19 commented on #1570
@demdante The version 0.12.0 was broken because the build used for the deployment was actually the same as 0.11.4 (weird pipeline bug that happened once before). Therefore, if you actually open the ipfs-desktop application on that version, you'll see that go-ipfs is still using 0.5.1, while if you open in 0.12.1 you'll see that it uses 0.6.1

If this happens again while upgrading to 0.12.2/0.13.0,

[2020-07-08 13:41] rafaelramalho19 commented on #1534
@anaelleltd sorry for the late response, but looking that the logs, the path `C:\Users\atale.ipfs/version` appears to be invalid, I think it should be `C:\Users\atale\ipfs\version` 🤔

Just to be clear, this only happens when you install via chocolatey? Have you tried the `.exe` in releases? (https://github.com/ipfs-shipyard/ipfs-desktop/releases/download/v0.12.1/IPFS-Desktop-Setup-0.12.1.exe)

[2020-07-08 14:06] anaelleltd commented on #1534
Hi Rafael,

You are correct in saying the path to \ipfs\ wasn't valid (hence why I couldn't find it!), and I spent the past few days going through individual hidden folders on my drive to find it.

I was able to remove all files from my drive and I have just re-run the Powershell command for chocolatey ipfs desktop (v.0.10.4) and... the installation works! :)

All my files have been erased in the

[2020-07-08 14:11] anaelleltd commented on #1534
Please ignore my last question: I am operating with a different Qmhash. 👍

[2020-07-08 14:13] rafaelramalho19 commented on #1534
Happy that it's fixed now 😄

I'll check in the near future why chocolatey only has up to version 0.10.4, you should use our latest (0.12.1) for increase go-ipfs performance and webui features 😄

[2020-07-08 14:27] anaelleltd commented on #1534
I'm getting it now.
Thanks!

[2020-07-09 13:40] #1534 closed

[2020-07-10 07:59] hacdias commented on #1534
@rafaelramalho19 I'mn pretty sure Chocolatey needs to be manually updated after each release, just like brew.

[2020-07-10 10:19] rafaelramalho19 commented on #1534
@hacdias I saw that, that's why I'm going to (try) automate the build process to also publish to Chocolatey and Brew 👍

[2020-07-10 15:53] olizilla commented on #1551
The lowest friction route here seems to be adopting a snapcraft.yml file into this repo, and letting the snapstore build infra build out the snap files for us, and then promote new releases to the stable channel via the snapstore ui. I love full automation, but the periodic build failure from stale credentials will get annoying.

[2020-07-11 03:27] zhyuzh3d opened #1576 "Failed to download fs-repo-migrations"
## Cant Start...

[code]

[2020-07-11 14:24] jessicaschilling commented on #1576
@olizilla, can you kindly triage?

[2020-07-12 08:57] olizilla commented on #1576
@zhyuzh3d are you able to open https://ipfs.io/ipfs/Qmdo5m6bpQXCayzfGghyvgXJdVHSsXsCKDUo9vWktDKq3K/fs-repo-migrations/versions in a browser? it should show a list of version numbers.

The error was go-ipfs tried to automatically update an existing ipfs repo, but failed to fetch the update tool. This is an error that could happen due to local network issues, or if the gateway is down, so we should

[2020-07-13 13:16] polonia commented on #1570
Dear @rafaelramalho19  and @demdante

This bug is also present in the lastest ipfs version available for download: 0.14.1
When installed for all users (with admin permisions), the application says it will upload the last version, downloads the update from the internet into%userprofile%\AppData\Local\ipfs-desktop-updater the installer of 0.14.1 and it empty all the contents of C:\Program Files\IPFS

[2020-07-14 03:05] 197788 opened #1578 "Upgrade Restart Error"
Would not upgrade to 0.12.1 with doing a restart. Had to do a full shutdown. Then complained about the ipfs.exe being gone from where it was, do i want to delete the shortcut.

Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.12.1
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-07-14 03:23] jessicaschilling commented on #1578
@olizilla, could you kindly triage? Thank you!

[2020-07-14 03:38] 197788 commented on #1578
Well, it's fixed now because I downloaded 11.4 from start, reinstalled, and then it did do the upgrade after restarting. So I suppose you can close it. Thanks.

Jul 13, 2020 10:23:47 PM Jessica Schilling <notifications@github.com>:

[2020-07-14 03:58] #1578 closed

[2020-07-15 15:15] lidel commented on #1551
We are already publishing generic `.tar.xz` at well-known URLs:
- https://github.com/ipfs-shipyard/ipfs-desktop/releases/download/v0.12.1/ipfs-desktop-0.12.1-linux-x64.tar.xz

I believe we could go https://snapcraft.io/docs/pre-built-apps route and reuse prebuilt `.tar.xz`
That way Snap would be just thin wrapping on top of original artifact built by us.

[2020-07-15 17:40] bertrandfalguiere commented on #1551
@olizilla slayed the snap dragon for go-ipfs in https://github.com/ipfs/go-ipfs/issues/7250#issuecomment-658791975
 🛡🗡🐉!

Now it's a matter of time to install ipfs-desktop from the default app store of Ubuntu, right?

[2020-07-17 15:32] rafaelramalho19 commented on #1570
@demdante we just released a new version of desktop. Can you confirm this issue is fixed?

[2020-07-17 21:51] JamesCarnley opened #1585 "IPFS having trouble updating"
Please describe what you were doing when this error happened.

IPFS modal asking for a restart to update popped up. Click restart. IPFS never started up again. Launching IPFS again triggers same popup and IPFS quits. Launching IPFS and selecting Check for updates produces this error.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.12.1
- **Electron Version**: 8.2.5
- **Chrome Ve

[2020-07-17 21:54] JamesCarnley commented on #1585
Additionally clicking restart on the modal popup triggered this error

[code]

[2020-07-17 22:42] jessicaschilling commented on #1585
@rafaelramalho19, do you mind having a look when you're back "at the office"? Thanks!

[2020-07-17 22:58] InSimpleTermsJordan commented on #1585
Same with Windows 10 Home, 64-bit. Same issue occurred with 0.12.0 as well when 0.12.1 came out, IIRC.

[2020-07-18 16:02] rafaelramalho19 commented on #1585
Thank you for creating the issue @JamesCarnley.

I couldn't replicate this with a normal installation of 0.12.1 and updating. Also clicked "check for updates" and worked without any issues 🤔

If you don't mind doing a "reboot" on ipfs-desktop (you can lose data by doing this, so watch out 😄), can you please delete `C:\Users\User\AppData\Local\Programs\IPFS Desktop\`, `C:\Users\User\AppData\Roaming

[2020-07-18 17:53] JamesCarnley commented on #1585
Deleting the folders and reinstalling did fix it. Sorry I couldn't provide more details.

[2020-07-18 23:24] kallisti5 opened #1586 "IPFS Desktop Applet "remote mode""
**Is your feature request related to a problem? Please describe.**

Is it possible to configure a remote ipfs node in the desktop application?  I'm running IPFS on my NAS, and exposing all the correct ports from there.

Running the local desktop client, and adjusting the ipfs config to point at it doesn't seem to cover this. Adding files to IPFS locally puts them into ~/.ipfs and doesn't seem to l

[2020-07-18 23:37] jessicaschilling commented on #1586
@olizilla, would you be able to triage? Thanks!

[2020-07-20 18:55] #1585 closed

[2020-07-21 04:26] kidcdf opened #1587 "repo.lock: someone else has the lock ,can not run desktop"
- OS: [macOS
]
 - Version of IPFS Desktop [0.12.2]

can not run ipfs desktop....

2020-07-21T03:50:50.137Z error: [ipfsd] start daemon Error: Initializing daemon...
go-ipfs version: 0.5.1
Repo version: 9
System version: amd64/darwin
Golang version: go1.13.10

 Error: lock /Users/chendifeng/IPFS001/.ipfs/repo.lock: someone else has the lock

 Command failed with exit code 1: /Applications/IPFS Desk

[2020-07-21 04:41] jessicaschilling commented on #1587
@rafaelramalho19 - are you able to triage? Please also see https://github.com/ipfs-shipyard/ipfs-webui/issues/1549. Thank you!

[2020-07-21 14:14] olizilla commented on #1586
No. IPFS Desktop is designed to control the local ipfs daemon that it installs.

You may be able to get the remote control behaviour you want by using the webui... if you update your ipfs config on your `192.168.1.10` node with the changes you show above, and include a CORS allow-origin header for the api like

[code]

then you could load the webui on your local network via http://192.168.1.10:500

[2020-07-21 14:14] #1586 closed

[2020-07-21 15:30] rafaelramalho19 commented on #1587
Seems like you setup desktop to use the same ipfs directory as another go-ipfs instance. Are you sure you're not running go-ipfs in your shell without noticing?

You can also view what's locking by doing `ps aux | grep ipfs`

[2020-07-21 18:24] lidel commented on #1312
Could this be in the tooltip that is displayed when user hovers over the icon (without clicking on it)?
I think that would be more useful than adding it to menu which requires a click.

[2020-07-21 18:27] jessicaschilling commented on #1312
What about doing both? Just from generalized user testing, someone's tendency to actually use hover hints is a pretty personal trait.

[2020-07-22 07:12] penismonsters opened #1589 "Can I delete blocks in order to save disk storage space?"
Hi, I'm new to using IPFS, I currently IPFS Desktop 0.12.2 on Windows 10. i was attracted to IPFS because I heard that you could store large datasets on it. So I started using it and I uploaded a 1GB file. I then went to my .ipfs file and saw the blocks folder I took a look and it appears that there is data stored in individual 257KB file. Now obviously if I am to add more data these will accumula

[2020-07-22 11:06] lidel commented on #1525
@jayschwa does the issue still occurs with [`ipfs-desktop-0.12.2-linux-amd64.snap`](https://github.com/ipfs-shipyard/ipfs-desktop/releases/download/v0.12.2/ipfs-desktop-0.12.2-linux-amd64.snap)?

[2020-07-22 12:12] Azulan commented on #1522
I also have the same issue using the snap package on Lubuntu 20.04.

[2020-07-22 13:06] jessicaschilling commented on #1522
@lidel and/or @rafaelramalho19 - FYI, thanks!

[2020-07-22 15:35] jessicaschilling commented on #1589
Hi there -- we're actually using the IPFS forums at https://discuss.ipfs.io/ for questions of this nature. Can you please post your question there? Thank you!

[2020-07-22 15:35] #1589 closed

[2020-07-22 21:38] penismonsters opened #1590 "Program continuously fails to start."
- OS: WINDOWS 10
 - Version of IPFS Desktop [0.12.2]

**Describe the bug**
The program will not start when I open it. restarting does not fix this problem, nor does closing and trying it again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to IPFS Desktop
2. See error, that it will not start

**Expected behavior**
It is supposed to start properly.

[2020-07-22 21:44] jessicaschilling commented on #1590
@olizilla and/or @rafaelramalho19, are you able to triage? Thank you!

[2020-07-23 15:03] rafaelramalho19 commented on #1590
Can you provide the error logs?

If you don't mind doing a "reboot" on ipfs-desktop (you can lose data by doing this, so watch out 😄), can you please delete C:\Users\User\AppData\Local\Programs\IPFS Desktop\, C:\Users\User\AppData\Roaming\IPFS Dekstop and C:\Users\User\.ipfs-desktop\ and reinstall the app?

[2020-07-23 22:13] ryankrage77 commented on #1570
There is a workaround - changing the 'false' to 'true' in %USERNAME%\appdata\local\ipfs-desktop-updater\pending and then running the 0.12 installer manually. At least, this worked for me.

[2020-07-24 00:53] jayschwa commented on #1525
No, it appears to work with the 0.12.2 snap. I will close this issue. Do you plan to publish new builds to the Snap Store?

[2020-07-24 00:53] #1525 closed

[2020-07-25 17:20] gyuri-lajos commented on #1570
I also had the same issue on and off for the past several weeks.
It works now. But that happened before and then the issue reoccurred.
The number of peers are growing, steadily The highest I seen so far was 262.

Rely on it, and build around it.

![image](https://user-images.githubusercontent.com/1477865/88462482-da92ba80-ceab-11ea-941e-6441a946a340.png)

Let's hope this issue won't come back.

Th

[2020-07-26 09:31] dickvangelder opened #1592 "The desktop app asked to update to a new version. From there everything went wrong."
- OS: Windows 10
 - Version of IPFS Desktop latest

After installing the update to the latest version, it could not connect anymore and asked to modify lines in the config file?

So I uninstalled the application and reinstalled the latest version.
I attached the error Log

[error.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/4977392/error.log)

[2020-07-26 13:25] jessicaschilling commented on #1592
@rafaelramalho19, can you please triage? Thank you!

[2020-07-27 06:12] kidcdf commented on #1587
I got this：
chendifeng@kid-5 ~ % ps aux | grep ipfs
chendifeng        1134   0.0  0.0  4434520  14744   ??  S    一03下午  16:53.51 /Applications/IPFS Desktop.app/Contents/Resources/app.asar.unpacked/node_modules/go-ipfs-dep/go-ipfs/ipfs daemon --migrate --enable-gc --routing dhtclient
chendifeng       91788   0.0  0.0  4258992    336 s000  R+    2:09下午   0:00.00 grep ipfs

[2020-07-27 09:27] dickvangelder commented on #1592
I made a second attempt this morning.
the IPFS-desktop version is 0.12.2
the go-ipfs version is 0.6.0
![image](https://user-images.githubusercontent.com/2052313/88526236-f907cb80-cffb-11ea-9568-b0092c92c357.png)

new error.log
[error.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/4981131/error.log)

[2020-07-27 16:01] rafaelramalho19 commented on #1592
Hi @dickvangelder, seems like you closed the issue. Were you able to fix this?

[2020-07-27 16:04] rafaelramalho19 commented on #1587
@kidcdf if seems like go-ipfs is being runned in the background for some reason. Can you try and stop it?

One way to do it is `by doing `killall ipfs` or in your specific case `kill 1134`

[2020-07-27 18:51] dickvangelder commented on #1592
If I gave the impression that the issue is closed, i’m sorry.

No I still face the problem that although it the app seems to load, the icon is greyed out and tells me that it has errored.

[2020-07-28 15:07] rafaelramalho19 commented on #1592
I'm sorry this is happening to you.

Can you try what I described here? https://github.com/ipfs-shipyard/ipfs-desktop/issues/1585#issuecomment-660503103

[2020-07-29 14:04] dickvangelder commented on #1585
I read the above suggestion from @rafaelramalho19 to 'reboot'.

C:\Users\User\AppData\Local\Programs\IPFS Desktop\ : There is no IPFS Desktop folder the Programs folder.
C:\Users\User\AppData\Roaming\IPFS Dekstop  : I renamed this folder.
C:\Users\User\.ipfs-desktop\ : I renamed this folder.

There is also a C:\Users\User\.ipfs folder : I did not rename or delete this one.

I uninstalled version 0

[2020-07-29 15:00] MicahZoltu opened #1595 "localhost:8080/ipfs/<CID> redirects to <CID>.ipfs.localhost:8080 which fails on Windows."
- OS: Windows
 - Version of IPFS Desktop: 0.12.2

**Describe the bug**
Navigating to `localhost:8080/ipfs/<CID>` redirects me to `<CID>.ipfs.localhost:8080` (this is a very good thing for security!), but that address doesn't actually work in my browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Install IPFS Desktop on Windows 10.
2. Navigate to http://localhost:8080/ipfs/QmQy6xmJhrcC5Q

[2020-07-29 15:17] jessicaschilling commented on #1595
@lidel and/or @rafaelramalho19 -- are you able to triage? Thank you!

[2020-07-29 15:21] MicahZoltu commented on #1595
It appears this works correctly in Chrome, but not in Firefox.

[2020-07-29 15:25] lidel commented on #1595
Closing this, as we already have upstream issue (more details there): https://github.com/ipfs/go-ipfs/issues/7527

Workaround for Firefox users is to install IPFS Companion: https://addons.mozilla.org/en-US/firefox/addon/ipfs-companion/ → @MicahZoltu give it a try!

[2020-07-29 15:25] #1595 closed

[2020-07-29 16:13] rafaelramalho19 commented on #1592
@dickvangelder it's really weird that you're still having errors...

Can you access https://ipfs.io/ipfs/Qmdo5m6bpQXCayzfGghyvgXJdVHSsXsCKDUo9vWktDKq3K/fs-repo-migrations/versions in your machine?

[2020-07-29 18:13] dickvangelder commented on #1592
Can you guide me in which folder i should look for this?

[2020-07-29 20:47] lidel commented on #1592
@dickvangelder Just try to open [this](https://ipfs.io/ipfs/Qmdo5m6bpQXCayzfGghyvgXJdVHSsXsCKDUo9vWktDKq3K/fs-repo-migrations/versions) link in your web browser – does it work (you should see list of versions)?
Is your machine or network running firewall that could block traffic to https://ipfs.io?

[2020-07-31 06:29] SvenMeyer commented on #1522
**System** : Manjaro / Arch Linux + cinnamon
**Version** : ipfs-desktop 0.11.3-1 (from AUR)

During the last weeks I had strange router chrashes and freeze-ups, spent hours with ISP support, but only after I installed "Net Activity Viewer", I realized that there were still 3 IPFS destops, ~30 ipfs processes running, and 300 open network connections made by IPFS (so it looks like the cheap ISP rout

[2020-07-31 13:49] lidel commented on #1153
https://github.com/electron/electron/pull/23674 got merged and backported to 8.x: https://github.com/electron/electron/pull/23674#issuecomment-637876725

It seems to be the [lesser evil](https://github.com/electron/electron/pull/23674#issuecomment-639304297).

@rafaelramalho19 I believe upgrading to electron [v8.4.1](https://github.com/electron/electron/releases/tag/v8.4.1) should include the abov

[2020-07-31 13:52] lidel commented on #1522
Correct, Electron team broke tray support by merging Chromium changes, then backed out of them,  in the meantime some distros and desktop environments introduced workaround and patches, some did not, tray icon UX and DX in Linux ecosystem is beyond bad right now.

We are tracking this already in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1153#issuecomment-634293717

----

However,  I bel

[2020-07-31 19:13] dickvangelder commented on #1592
v1.0.0
v1.1.0
v1.1.1
v1.2.0
v1.2.1
v1.2.2
v1.3.0
v1.4.0
v1.5.1
v1.6.1
v1.6.2
v1.6.3

[2020-08-01 14:11] mPiotrek commented on #1153
@lidel Some time ago Cinnamon implemented this differently and that "support for indicators" option is now gone from the settings.
(see https://github.com/linuxmint/cinnamon/commit/eb7f2235debcd3baf36d2d94a23465158b8bdafc)
Since your [comment](https://github.com/ipfs-shipyard/ipfs-desktop/issues/1153#issuecomment-596780147) is linked from the [readme](https://github.com/ipfs-shipyard/ipfs-desktop/

[2020-08-04 12:36] lidel commented on #1551
@bertrandfalguiere yes, but it's a low priority for the team (limited bandwidth).

If anyone has time to create a PR to try approach from https://github.com/ipfs-shipyard/ipfs-desktop/issues/1551#issuecomment-658828753 I'd be happy to test and review.

[2020-08-04 12:43] lidel commented on #1525
@jayschwa for snap publishing, see https://github.com/ipfs-shipyard/ipfs-desktop/issues/1551#issuecomment-658828753

[2020-08-04 23:18] jessicaschilling commented on #1312
https://github.com/ipfs-shipyard/ipfs-desktop/pull/1599 stubs out how this would appear in both locations:

![image](https://user-images.githubusercontent.com/1507828/89353637-09f7b300-d674-11ea-9c90-54920221e87c.png)

![image](https://user-images.githubusercontent.com/1507828/89353655-1714a200-d674-11ea-9b23-c9e5bbd9737f.png)

That said, I'm afraid I'll need some help getting the peer count out o

[2020-08-05 06:50] hacdias commented on #1312
@jessicaschilling you can probably get the ipfsd object via context after everything is initialized via `ctx.getIpfsd()` if I'm not wrong. From that, you have to use the API. Something like `ipfs.swarm.peers()` should give a list of the peers i think.

[2020-08-05 13:32] lidel commented on #1312
Note that `src/daemon/index.js` emits status change event only when daemon starts/stops, and that triggers menu refresh.

IIUC to have the peer count available for tooltip and menu we would have to periodically poll the `/api/v0/swarm/peers` endpoint, count unique PeerIds and emit the latest count, then update tooltip+tray menu in response to that event (IPFS Companion does something like this eve

[2020-08-07 09:50] duxiaofeng-github opened #1600 "bug: 0.12.2 is unusable at macOS 10.15.5 (19F101)"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.12.2
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-08-07 09:56] duxiaofeng-github commented on #1600
Version 0.11.4 is working perfectly. but it force me to update to 0.12.2. i press the restart and update button and it stucks.

[2020-08-07 09:57] duxiaofeng-github commented on #1600
also, i downgrade to 0.12.1. it still don't work

[2020-08-07 10:10] duxiaofeng-github commented on #1600
well, i found some package called fs-repo-migrations in the log above. and it can't be downloaded and installed automatically. so, i [download](https://dist.ipfs.io/#fs-repo-migrations) and run it myself and restart ipfs desktop and it works.

[2020-08-07 10:11] #1600 closed

[2020-08-10 16:42] ghost opened #1602 "TypeError while tray.setImage to off-big.png"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: linux
- **IPFS Desktop Version**: 0.11.4
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-08-10 16:43] jessicaschilling commented on #1602
@rafaelramalho19 and/or @lidel, could you please triage? Thank you!

[2020-08-11 11:55] lidel commented on #1602
https://github.com/ipfs-shipyard/ipfs-desktop/blob/v0.11.4/src/tray.js#L306 could be related to https://github.com/ipfs-shipyard/ipfs-desktop/issues/1153

@WildeGeist please update to [v0.12.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.12.2) and let us know if that helped.
If not, let us know what is your Linux distro and Desktop Environment.

[2020-08-12 09:40] rajaroy43 opened #1604 "ipfs installtion error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.11.4
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-08-12 10:51] rafaelramalho19 commented on #1604
Can you please describe what were you doing during the error occurrence?

[2020-08-13 15:20] jessicaschilling commented on #1488
Is this something worth addressing in our current batch of small Desktop changes? Not sure if either @lidel or @rafaelramalho19 would have time for it?

[2020-08-13 15:40] jessicaschilling commented on #1042
@lidel @rafaelramalho19 This sounds like it could be a pretty valid unboarding unblocker - thinking specifically about new users who assume their relevant ports are open, but they're actually not. Is it worth prioritizing?

[2020-08-14 13:57] lidel commented on #1042
Hm.. dial check would improve onboarding of  new users, but we should avoid using centralized services for the check.

AFAIK go-ipfs ships with [AutoNAT](https://github.com/libp2p/go-libp2p-autonat) enabled to determine if node should be DHT server or only a DHT client:

In simpler words, go-ipfs asks publicly dialable peers to check if it is publicly dialable too.

So in theory, decentralized sol

[2020-08-14 18:09] ksnyde opened #1607 "Error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.12.2
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-08-14 18:11] jessicaschilling commented on #1607
@lidel or @rafaelramalho19, can you please have a look when you get the chance?

[2020-08-17 01:35] devzyf opened #1608 "error when check update"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.12.2
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-08-18 02:40] ywl125 opened #1609 "error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.9.0
- **Electron Version**: 6.0.7
- **Chrome Version**: 76.0.3809.139

**Error**

[code]

[2020-08-18 02:46] jessicaschilling commented on #1609
When you get the chance, @lidel or @rafaelramalho19, can you please take a look? Thank you!

[2020-08-18 10:41] lidel commented on #1609
@ywl125 would need more logs to provide meaningful help, but on the surface it looks like you are running old version and it was not able to reach API, perhaps node did not start correctly?

:point_right: Please upgrade to IPFS Desktop [v0.12.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.12.2) and reopen if the issue is still there.

[2020-08-18 10:41] #1609 closed

[2020-08-18 10:46] lidel commented on #1607
@ksnyde I assume this happens when you enabled NPM integration?
It installs additional packages, meaning this was either a network error on your end, or https://registry.npmjs.org being down.

Trying again after an hour or so should fix the issue.

Feel free to reopen if the issue is still present, and let us know if you are able to download https://registry.npmjs.org/aws-sdk/-/aws-sdk-2.728.0.tgz

[2020-08-18 10:46] #1607 closed

[2020-08-18 14:14] ksnyde commented on #1607
@lidel I setup the integration a long while back (maybe a year ago or so). Sadly I don't remember with high resolution what triggered this message to come up except to say that I didn't actually type the npm command being stated here (aka, `npm install -g ipfs-npm`). I mean I did a year or so ago when I first installed it of course but not when reporting this error. Is it possible that the process

[2020-08-18 17:56] jessicaschilling commented on #1587
Closing this issue due to inactivity, but please feel free to open a thread on discuss.ipfs.io if any more troubleshooting is needed. Thank you!

[2020-08-18 17:56] #1587 closed

[2020-08-18 17:57] jessicaschilling commented on #1590
Closing this due to inactivity, but please feel free to open a thread at discuss.ipfs.io if you need more troubleshooting help.

[2020-08-18 17:57] #1590 closed

[2020-08-18 18:01] jessicaschilling commented on #1608
Thank you for bringing this to our attention! It's been flagged for review at the next weekly triage meeting.

[2020-08-18 18:09] jessicaschilling commented on #1255
Closing due to inactivity, but please open a thread on discuss.ipfs.io if further troubleshooting is needed. Thank you!

[2020-08-18 18:09] #1255 closed

[2020-08-18 18:16] jessicaschilling commented on #1348
Closing due to inactivity; however, please feel free to open a thread on discuss.ipfs.io if further troubleshooting is needed. Thank you!

[2020-08-18 18:16] #1348 closed

[2020-08-19 20:01] lidel commented on #1607
Kinda: if you opted-in to the  "npm on ipfs" experiment, then `npm install -g ipfs-npm` is executed every 12 hours by ipfs-desktop behind the scenes:  https://github.com/ipfs-shipyard/ipfs-desktop/blob/v0.12.2/src/npm-on-ipfs/index.js#L12-L14

[2020-08-20 08:26] SvenMeyer opened #1611 "stop daemon using UI or Linux tray icon"
On linux , I have the option to "close" ipfs-desktop, but that only closes the UI, the daemon is still running in the background (what is causing problems in my case). There should be an option to stop the daemon as well , and also stop the service from automatically re-starting after a reboot

[2020-08-20 08:26] SvenMeyer commented on #1522
https://github.com/ipfs-shipyard/ipfs-desktop/issues/1611

[2020-08-20 16:34] jessicaschilling commented on #1611
Thanks, @SvenMeyer -- as you've seen, we're discussing this in #1522. Closing this issue in favor of that already-open one.

[2020-08-20 16:34] #1611 closed

[2020-08-20 21:15] bloxster opened #1612 "Upgrade error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.12.2
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-08-20 21:31] jessicaschilling commented on #1612
Thanks, @bloxster! We'll bring this up in our next weekly triage meeting.

[2020-08-25 15:43] jessicaschilling commented on #1612
Hi @bloxster -- can you please try disabling the 'npm on IPFS' experiment under the cube menu? This should take care of the issue in the immediacy. We're aware of the underlying issue, so I'll close this, but please let us know if you continue to have issues.

![image](https://user-images.githubusercontent.com/1507828/91196245-2311e380-e6b7-11ea-9238-52c7c64d4441.png)

[2020-08-25 15:43] #1612 closed

[2020-08-25 22:03] thibaultmol opened #1617 ""add" should say "import""
It's a silly small thing. But in the desktop client it refers to 'add', but the button is called Import
![image](https://user-images.githubusercontent.com/1010226/91232565-9f480d80-e72f-11ea-9c67-d3a3edd20acc.png)

[2020-08-25 23:02] jessicaschilling commented on #1617
Hi @thibaultmol -- thanks for noticing this! It's actually been fixed upstream in [this PR](https://github.com/ipfs-shipyard/ipfs-webui/pull/1571#issue-459655075), but we're waiting for a few other changes before cutting a new release of Web UI (which in turn feeds IPFS Desktop). Watch this space!

[2020-08-25 23:02] #1617 closed

[2020-08-28 12:37] hansen033 opened #1621 "Maybe Taiwan is not a province of China?"

[2020-08-28 14:00] jessicaschilling commented on #1621
Hi - where are you seeing this? Can you please provide a screenshot?

[2020-08-28 14:07] hansen033 commented on #1621
![圖片](https://user-images.githubusercontent.com/32165157/91577130-df4f0080-e97a-11ea-9e14-6bbf54406b3b.png)

[2020-08-28 17:27] jessicaschilling commented on #1621
Moving to the ipfs-webui repo, since the Peers page lives upstream there.

[2020-09-01 17:13] dchoi27 opened #1623 "Erroneous error message when pinning files"
- OS: MacOS 10.15.3
 - Version of IPFS Desktop: 0.12.2

**Describe the bug**
When I pin a file in the Files tab, an error message appears: "Failed to process your request. Please try again." The file still gets a pin icon next to it, and appears when I run `ipfs pin ls`. If I unpin the file in the Desktop UI, I get the same error message, and the pin icon next to the file name disappears. This hap

[2020-09-01 17:32] jessicaschilling commented on #1623
Thanks, @dchoi27 -- we will get this into our next triage session!

[2020-09-02 21:34] humm0 opened #1625 "error"
Please describe what you were doing when this error happened.
Searching the web
**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.9.0
- **Electron Version**: 6.0.7
- **Chrome Version**: 76.0.3809.139

**Error**

[code]

[2020-09-02 21:38] jessicaschilling commented on #1625
Thanks, @humm0 - we'll queue this up in our next weekly triage session.

[2020-09-03 12:06] gohub12 opened #1627 "IPFS Desktop - Folders not uploading"
- OS: macOS, Catalina 10.15.6
 - Version of IPFS Desktop 0.12.2

**Describe the bug**
The desktop downloads and installs. Importing individual files one at a time seems to work fine. I was also able to upload a couple of folders but then I continually get the message "Failed to add files to IPFS. Please try Again.

<img width="647" alt="Screen Shot 2020-09-02 at 7 34 21 AM" src="https://user-image

[2020-09-03 16:00] jessicaschilling commented on #1627
Hi @gohub12 - thanks for flagging this. A few quick questions:
- Are you able to add files/directories successfully [via the command line](https://docs.ipfs.io/reference/cli/#ipfs-add)?
- Are you trying to add particularly large files/directories? There's a known issue in Desktop with items over 2GB, but a fix is very near.

[2020-09-03 18:46] gohub12 commented on #1627
Hi Jessica,

The size of the folders I have been trying to move are 750 MB and 2.2 GB. I just tried a small folder (750 KB) and it copied no problem.

I have not tried the command line but I will and let you know if that works for larger folders.

Thanks.

Rob Harper (gohub12)
Tel: (416)451-3509
Email: rob.harper550@gmail.com

On Sep 3, 2020, at 12:00, Jessica Schilling <notifications@github.com>

[2020-09-03 21:03] jessicaschilling commented on #1627
@gohub12 -- thanks for the info. I'm ccing @lidel and @rafaelramalho19 for more context, but we may be running into the large-file issue here. Let us know how you get by with the command line, and apologies for the inconvenience; it'll be temporary!

[2020-09-05 22:29] sduensin opened #1630 "IPFS Desktop stuck at "IPFS is Starting" on Windows 10"
Please describe what you were doing when this error happened.

Just trying to install and use it.  Stuck on "IPFS is Starting".  Tried rebooting.  Tried reinstalling.  Tried updating.  When I tried to update, it crashed with the following:

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.12.2
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-09-06 00:04] jessicaschilling commented on #1630
Thank you - we'll include this in our next weekly triage.

[2020-09-06 17:28] #1053 closed

[2020-09-07 16:18] lidel commented on #1623
This should be addressed by https://github.com/ipfs-shipyard/ipfs-webui/pull/1599 and ipfs-webui v2.11 (when released)

[2020-09-07 16:22] lidel commented on #1625
@humm0 thank you  for reporting the issue.
We noticed you are running very old version (0.9.0), please upgrade to the latest version ([0.12.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.12.2)) and  reopen if this is still the case.

[2020-09-07 16:22] #1625 closed

[2020-09-07 16:25] lidel commented on #1627
This was fixed in https://github.com/ipfs-shipyard/ipfs-webui/pull/1534 and  is scheduled to be fixed in v2.11

[2020-09-07 16:25] #1627 closed

[2020-09-07 17:09] lidel commented on #1630
@rafaelramalho19 sending this one your way :gift:

[2020-09-08 16:51] olizilla opened #1631 "Typo in IPFS config property Discovery.MDNS.Enabled"
`Enabled` should start with a capital `E` in `Discovery.MDNS.Enabled`, as per https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#discoverymdnsenabled

Currently ipfs-desktop sets the property name to be `enabled`
https://github.com/ipfs-shipyard/ipfs-desktop/blob/c387c4f4b2acd2cdc616cc326a9bbfb092d1c3da/src/daemon/config.js#L55

as discovered by @daviddias

![image(3)](https://user-images.

[2020-09-08 16:56] jessicaschilling commented on #1631
@rafaelramalho19 and/or @lidel, please have a look if we want to prioritize this above the weekly triage. Thanks!

[2020-09-08 17:02] rafaelramalho19 commented on #1631
Thanks for opening the issue @olizilla, will address this now

[2020-09-11 15:32] jessicaschilling commented on #1528
@rafaelramalho19 @lidel just a bump on this as we prepare to release Desktop.

[2020-09-11 15:37] NatoBoram opened #1639 "Downloading a file results in a corrupted archive"
- OS: Windows 10 Pro x86_64
 - Version of IPFS Desktop: 0.12.2

**Describe the bug**

Downloading a file results in a corrupted archive.

**To Reproduce**

1. Download something
2. Open it

**Expected behavior**

1. The downloaded file shouldn't be compressed
2. The downloaded file should be usable
3. It would be nice to have progress reporting via https://github.com/ipfs/go-ipfs/issues/7672 🤗

**

[2020-09-11 15:38] jessicaschilling commented on #1639
Thanks @NatoBoram - we will bring this up in our next weekly triage.

[2020-09-14 12:18] #1631 closed

[2020-09-14 16:32] rafaelramalho19 commented on #1639
@NatoBoram I had issues in the past with 7-zip and tar.gz files, maybe try decompressing it with winrar or similar software?

Anyway, we discussed the possibility of creating a setting that disables/enables compression on downloaded files, so it can be a possible fix for your issue in future versions of webui.

[2020-09-14 16:39] NatoBoram commented on #1639
Issues with 7-zip can be reported [here](https://sourceforge.net/p/sevenzip/bugs/).

I also found the downloaded archive to all have the same size despite representing different files, so I'm not sure if any program could open it.

[2020-09-14 16:40] jessicaschilling commented on #1639
Hi @NatoBoram -- we just added https://github.com/ipfs-shipyard/ipfs-webui/issues/1629 for discussion/implementation of improving Web UI handles download of multiple files/folders.

Closing this issue with that in mind -- however, if you're able to try @rafaelramalho19's suggestion above and confirm that using another decompression tool results in usable files, that would be helpful. If you are in

[2020-09-14 16:47] jessicaschilling commented on #1623
@dchoi27 - can you please try this with 2.11 at your leisure and see if issue is resolved?

[2020-09-14 19:59] lidel commented on #1153
Heads up: we are planning to switch to Electron 9 in the next release, and it will include change described in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1153#issuecomment-634293717

[2020-09-14 20:03] lidel commented on #1602
Unable to replicate, but assuming switch to Electron 9 in v0.13 fixes this bug.
Feel free to reopen if the issue is still occuring after the update.

[2020-09-14 20:03] #1602 closed

[2020-09-15 14:14] NatoBoram commented on #1639
Tested with `tar`.

[code]

Tested with `7z`.

[code]

* ipfs://bafybeieo32rknzpc76mubirgsh6benjjthrzgq2wctvcgrego3ae4ewjlu
* [Test.tar.gz](https://github.com/ipfs-shipyard/ipfs-desktop/files/5225463/Test.tar.gz)

[2020-09-15 16:48] lidel commented on #1639
Ok, the problem here is that your browser (Electron renderer) does not handle `405 - Method Not Allowed` error properly, and instead downloads the error under the name `Test.tar.gz` - I think that is an undesired behavior of Electron.

Good news is that this bug will be fixed in next release when https://github.com/ipfs-shipyard/ipfs-desktop/pull/1638 is merged, so all you need to do is wait for n

[2020-09-15 19:04] lidel opened #1646 "Improve onboarding via OS-level protocol handler"
Right now,  IPFS Desktop installs system-wide protocol handlers (dweb, ipfs, ipns) which converts `ipfs://<cid>` URI to gateway URL and opens that in default browser.

It is fine, but  may be confusing on the first use.

We could improve this behavior and show a dialog window, where user can choose how to open IPFS resource via radio-button-like selector:

- open from public gateway in the default

[2020-09-15 19:05] lidel commented on #862
Somehow related: https://github.com/ipfs-shipyard/ipfs-desktop/issues/1646

[2020-09-16 10:33] lidel opened #1647 "Menu items for enabling pubsub and automatic GC"
I was looking into starting go-ipfs with additional flags: [`--enable-pubsub-experiment`](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#ipfs-pubsub) (pubsub) and  [`--enable-namesys-pubsub`](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#ipns-pubsub) (IPNS over pubsub) and the main concern I've found was use of resources:

So if we want pubsub

[2020-09-16 18:00] jessicaschilling commented on #1646
This is also a good opportunity to emphasize on first use that Desktop is acting as the intermediary - otherwise, the flow is like this:
- user types `ipfs://QmY7Yh4UquoXHLPFo2XbhXkhBvFoPwmQUSa92pxnxjQuPU` into their browser bar
- they get a "do you want to open this in IPFS Desktop?" dialog, and click "OK"
- but then they just stay in their browser and see their requested resource in a new tab
Th

[2020-09-16 18:13] jessicaschilling commented on #1646
Quick mockup of menu item mentioned above:

![image](https://user-images.githubusercontent.com/1507828/93375818-f19fba00-f815-11ea-92d2-c1d37cb8b56c.png)

[2020-09-16 18:43] jessicaschilling commented on #1646
Quick mockup of choice modal (note this could appear over whatever screen the user currently has open in Desktop):
![image](https://user-images.githubusercontent.com/1507828/93378732-1f86fd80-f81a-11ea-8066-3128916223b7.png)

[2020-09-16 18:54] lidel commented on #1646
Thank you, yes, this would do the trick.

nit: this modal is specific to Desktop app, so I think it should not be part of WebUI, but a separate window that loads the modal page.

[2020-09-16 18:58] jessicaschilling commented on #1646
You mean a browser tab just with this dialog on it? Confused.

[2020-09-18 09:02] shaikh-shahid commented on #1647
I think if we have a UI based switch to turn on/off the flags such as Pubsub and GC etc then that would be better for end users as well. I am currently working on a framework that does require IPFS in the backend and needs the PUBSUB to be enabled. Since the framework also consists of demos for general public as well, it's difficult for users to find the configuration and update the flags.

[2020-09-18 13:29] strelok899 opened #1648 "implement cluster-follow"
it much more user friendly and conviniet to have the ability to join cluster and help to redistribute IPFS from windows PC's
and it can be easily implemented by community.

[2020-09-18 14:51] jessicaschilling commented on #1648
Thanks, @strelok899! We'll discuss in our next weekly triage.

[2020-09-21 12:59] lidel commented on #1647
@shaikh-shahid that is very useful feedback, thank you.

I think we could avoid enabling pubsub by default by adding  on/off checkbox settings for pubsub (and automatic GC) to the Desktop app menu. Toggling would automatically restart the deamon with the new setting.

[2020-09-21 16:38] jessicaschilling commented on #1648
Issue https://github.com/ipfs/ipfs-gui/issues/59 already exists - closing this one for the sake of consolidation.

[2020-09-21 16:38] #1648 closed

[2020-09-21 16:50] jessicaschilling commented on #1647
Note: Added mockup of menu item placement in [original comment](https://github.com/ipfs-shipyard/ipfs-desktop/issues/1647#issue-702650415).

Unless @aschmahmann or @autonome have objections, I believe this is ready to work.

[2020-09-21 19:54] #1623 closed

[2020-09-22 05:16] irinazheltisheva opened #1654 "запрос функций"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-22 16:10] jessicaschilling commented on #1654
Hi @irinazheltisheva - I think this issue may have been added by mistake, but please comment if not!

[2020-09-22 16:10] #1654 closed

[2020-09-22 17:18] NatoBoram commented on #1499
Not *yet*! https://github.com/ipfs/go-ipfs/issues/4028

[2020-09-28 05:38] MicahZoltu opened #1656 "Store files in the proper location on Windows."
- OS: Windows
 - Version of IPFS Desktop: 0.12.2

**Describe the bug**
Installing IPFS Desktop on Windows results in folders in %USERPROFILE% as well as cache and DB files in the roaming profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Install IPFS Desktop on Windows
2. Notice that you have a `.ipfs` and `.ipfs-desktop` folder in `%USERPROFILE%` and `%APPDATA/IPFS Desktop` contains c

[2020-09-30 11:02] #1639 closed

[2020-09-30 16:17] jessicaschilling commented on #1656
Thanks, @micahzoltu - we'll bring this up in our next weekly triage.

[2020-10-02 14:16] lidel commented on #1530
Thank you for reporting this @NatoBoram (apologies we missed this report until now)

Quick thoughts:

1. check what is the max length of URL accepted by github
   - based on the length that was linkified above, I'd say its 2704, so setting limit at 1999 sounds sensible
2. Ensure link in https://github.com/ipfs-shipyard/ipfs-desktop/blob/v0.12.2/src/dialogs/errors.js#L75 is shorter
   -  `.substrin

[2020-10-02 15:11] lidel commented on #1389
For the record, we successfully decoupled codebases :partying_face:
- Desktop settings were removed from WebUI and are now in tray icon's menu (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1640, https://github.com/ipfs-shipyard/ipfs-webui/pull/1628)
- Also removed special-casing for  folder import  Electron (https://github.com/ipfs-shipyard/ipfs-webui/pull/1628), regular Web API is used now.

[2020-10-02 15:22] rafaelramalho19 commented on #1389
Not quite true, it could still impact something "taskbar related" and still needs tests in desktop, but for the most part I agree with that.

I really don't like losing control of the release cycle and waiting for go-ipfs to ship the version, I think it will lead to go-ipfs being overwhelmed with our work.

Personally, I like your last option `specified by DNSLink (webui.ipfs.io.ipns.localhost:808

[2020-10-02 15:35] lidel commented on #1389
Not always. Users in specific countries may have `ipfs.io` blocked at DNS level against their will, which will produce error page.
However, in those cases, :wrench:  we _could_ detect lack of subdomain support and/or lack of DNSLink and use `:5001/webui` as a fallback.

Nothing comes to mind, need additional research. Mind that removal of Electron is a nuclear option at this point: it means we nee

[2020-10-02 15:36] jessicaschilling commented on #1389
Agree with @rafaelramalho19's 💭  bubbles above, but might prefer the solution to use a different version **specified by CID**. The address bar URL might be awful, but in our world of CIDs we're consistently throwing users long ugly strings. The DNS/offline benefits seem more important than beauty in this case.

That said, agree with your TLDR, @lidel: also remember that the [surveys](https://docs.

[2020-10-02 16:14] lidel opened #1659 "Decrease package sizes"
Our packages ballooned in size:

- ipfs-desktop-0.12.2-linux-x64.tar.xz 77.6 MB
- ipfs-desktop-0.13.0-linux-x64.tar.xz - 295 MB

The main offender is `app.asar`, which in the past had similar size to  `app.asar.unpacked`:

[code]

and now seems to have more than it should:

[code]

For some reason `app.asar` includes entire project root, not just `node_modules/go-ipfs`

Need to look into both, and

[2020-10-02 19:59] #1659 closed

[2020-10-02 20:52] lidel commented on #1528
We decoubled Desktop from webyui (#1389) and I believe with webui v0.12.2 and https://github.com/ipfs-shipyard/ipfs-desktop/commit/60df053eb678a62decd391257ccce85526c32c96 we should be in a better place.  If explorer is still outdated, it will get bubbled up to ipfs-desktop with new version of ipfs-webui eventually.

[2020-10-02 20:52] #1528 closed

[2020-10-02 21:23] lidel opened #1661 "Smoke-testing IPFS Desktop v0.13.0"
## Help us by doing a quick test of IPFS Desktop v0.13.0

If you have spare time between now and Monday (~5min):

1. Install IPFS Desktop using package listed below
2. Go to _Files_ and _Import_ a folder with some cat pictures
3. You should be able to see successfully imported files in your _Files_ screen
4. Comment on this issue with package name and if it went smoothly or  if you had any issues.

[2020-10-02 21:42] jessicaschilling commented on #1661
Mac here. All worked as expected for importing both via `Import > Folder` and just drag/drop, except the drawer gave me an "NaN" while uploading:

![image](https://user-images.githubusercontent.com/1507828/94972025-887e9e80-04c5-11eb-9cea-99e078603e8d.png)

[2020-10-02 22:42] lidel opened #1662 "Electron 10"
This is a placeholder for switching to Electron 10.

## TODO / Blockers

- [ ] We are unable to switch to Electron 10.x yet because E2E tests require Spectron 12.x which does not work with out setup.
  - Upstream issue https://github.com/electron-userland/spectron/issues/720

[2020-10-02 22:48] Gozala commented on #1389
My general sentiment is electron window wrapper just hides ugly url, and I would much rather try to address that core problem instead of hiding it with dedicated window.

Here is where I wish and hope we can end up one day:

- webui.ipfs.io (or some other address) is a canonical place to access your IPFS node.
- webui.ipfs.io uses service worker so that it continues to work after first load even i

[2020-10-02 22:49] lidel opened #1663 "Fix menu → Take screenshot"
Right now a screenshot is taken and added to IPFS and a link is copied to clipboard, but not added to _Files_.

## TODO

- [x] seems that copied link is broken right now (and uses share.ipfs.io atm)
  - I was testing and copied link was `https://share.ipfs.io/#undefined`, but that could be due to Electron 10 tests - needs analysis
  - copied link should be `https://ipfs.io/ipfs/<cid>?filename=<nam

[2020-10-03 00:47] lidel commented on #1528
..continued in https://github.com/ipfs-shipyard/ipld-explorer-components/pull/281 :rocket:

[2020-10-03 09:18] bertrandfalguiere commented on #1661
Tested .deb on Ubuntu 20.04 stock version.

Import button and dragging on Files screen both work as expected, except I got cheese NaNed like @jessicaschilling .
![image](https://user-images.githubusercontent.com/8818223/94987824-7d7d4a00-0569-11eb-9378-1c221ca8062d.png)

(Fur your infurmation, it wasn't a cat picture pur say, so your mileage meow vary.)

[2020-10-03 10:06] bertrandfalguiere commented on #1661
Snap: same story
![image](https://user-images.githubusercontent.com/8818223/94988864-ad7c1b80-0570-11eb-969c-8f5a0491d570.png)

Worth noting: My previously addded files and folders are not available.
I think it's because snap sets up its own repository, isolated from other apps...

[2020-10-03 14:35] olizilla commented on #1661
`IPFS-Desktop-0.13.0.dmg` - it went smoothly.

- Importing a directory worked but showed `Imported NaN Items` as mentioned above, for both import via menu option and import via file drop.

<img width="805" alt="Screenshot 2020-10-03 at 15 31 01" src="https://user-images.githubusercontent.com/58871/94994163-d5c64300-058d-11eb-80ca-cb0be54102b8.png">

[2020-10-03 17:13] Etherum7 opened #1664 "Error when inspecting file history in windows"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scre

[2020-10-03 17:14] #1664 closed

[2020-10-03 17:26] Etherum7 opened #1665 "Type Error when inspecting files in windows app"
- OS Windows
 - Version of IPFS Desktop 0.12.2

When inspecting a file for peers after 2, 3 clicks it will show type error can not iterate over undefined.

Steps to reproduce the behavior are shown in the video attached
[https://ipfs.io/ipfs/QmP91rLTnpW3R2kerLDhCX5b9nKWxWd5oj4fohBoaahunL?filename=ipfsError.mp4](url)

I expected to see some more peers but it resulted in an error, if no peers existe

[2020-10-03 20:25] jessicaschilling commented on #1665
Thanks for reporting! We'll discuss in our next weekly triage.

[2020-10-04 05:26] Etherum7 commented on #1665
Great @jessicaschilling  ;-)

[2020-10-05 13:57] lidel commented on #1661
I managed to get hold on Windows 10 laptop  and both  installing for single user and globally on the OS seems to work as expected. Binary is signed.

[2020-10-05 14:02] johnnymatthews commented on #1661
Worked fine on Windows 10 (1809). Got a message saying **Imported NaN items** after adding a file, but apart from that everything was fine.

[2020-10-05 14:20] lidel commented on #1661
Thank you all! :pray:

I've filled https://github.com/ipfs-shipyard/ipfs-webui/issues/1659 for the `NaN` thing. It is not related to Electron, but  a ux bug in webui (confirmed it in Firefox).

While `NaN` looks bit awkward, it is shown only when more than one file was imported.
I don't think this small UX nit should block the release that ships go-ipfs 0.7.0.

@jessicaschilling Let's discuss this

[2020-10-05 15:25] bertrandfalguiere commented on #1661
Just tested .AppImage on Ubuntu 20.04

It worked once perfectly with import. Even without the NaN problem:
![image](https://user-images.githubusercontent.com/8818223/95098368-e5c95880-072e-11eb-8e79-b66ae90a1fde.png)

But most of the time there is the NaN/ 0/ 1 problem:
One dragged file:
![image](https://user-images.githubusercontent.com/8818223/95098504-0abdcb80-072f-11eb-8a3e-5651097560a1.png)

[2020-10-05 16:28] jessicaschilling commented on #1665
Hi @Etherum7 -- do you mind sharing the CID of the item you were trying to inspect? We're having problems viewing your video.

[2020-10-05 16:35] jessicaschilling commented on #1661
Update: @Gozala is troubleshooting - ideally we'd patch this before releasing a new Desktop, as it's a highly visible UX flaw even if it's not breaking functionality.

[2020-10-05 16:58] lidel commented on #1153
@bertrandfalguiere thank you for testing across different distros in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1661 :heart:
Do you know how does the tray icon behave now? Which desktop environment were you using for tests?

[2020-10-06 08:01] bertrandfalguiere commented on #1153
@lidel The tray icon behave nominally now on my system with v0.13.0 :).
I tested with Ubuntu 20.04. I don't know which app indicator I'm using. I think the default one, which should be Gnome Shell?
I haven't tested on other distros (and probably won't).

[2020-10-06 12:05] lidel commented on #1153
@bertrandfalguiere that is enough, thank you! I was mostly worried about Ubuntu, as historically they used custom stuff and hid tray indicators. Seems that Electron 9.x correctly supports whatever Ubuntu uses these days, so all good :+1:

[2020-10-06 19:25] lidel commented on #1661
@Gozala  fixed the`NaN` bug (https://github.com/ipfs-shipyard/ipfs-webui/pull/1660), and we switched to webui v2.11.3 (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1666).

@jessicaschilling @johnnymatthews @bertrandfalguiere @olizilla
please repeat the test using RC2 version from [ipfs-desktop-0.13.0-rc2/](https://bafybeiamxdw3qlecv2mryeojfn46kv32t3nt2a6zajm6wotjadznrtvutm.ipfs.dweb.link/ipf

[2020-10-06 19:43] jessicaschilling opened #1668 "Make room for window controls in left nav"
It's fine in Web UI, but in Desktop's standalone Electron window, the IPFS cube is too close to the window control buttons on a Mac. Margins were tightened to accommodate small screens in Web UI, so look into whether it's possible to restyle just for Electron standalone or if we need to add some additional margin universally.

![image](https://user-images.githubusercontent.com/1507828/95252165-d6e

[2020-10-06 19:51] jessicaschilling commented on #1661
`IPFS Desktop-0.13.0.dmg`: `NaN` issue is gone.

Note that I've filed https://github.com/ipfs-shipyard/ipfs-desktop/issues/1668 for less-than-ideal placement of Mac window controls vis-a-vis IPFS cube.

[2020-10-06 21:39] lidel commented on #1668
@rafaelramalho19 just removed Electron-specific code in https://github.com/ipfs-shipyard/ipfs-webui/pull/1628, so I'd vote for adding margin everywhere.

Perhaps narrow margin around logo could be maintained for small screens with something like  `@media only screen and (max-height: SOMEpx)`?

[2020-10-07 00:06] jessicaschilling commented on #1668
https://github.com/ipfs-shipyard/ipfs-webui/pull/1663 should take care of this (cc @lidel)

[2020-10-07 02:33] NukeManDan opened #1669 "Can't preview image file -- download in menu appends `.txt` file extention"
- OS: Linux
 - Version of IPFS Desktop https://github.com/ipfs-shipyard/ipfs-webui/commit/7a8f695

**Describe the bug**
I am looking at the Apollo archive (listed in the explore tab) at this image (on my local gateway)

http://127.0.0.1:8080/ipfs/QmSnuWmxptJZdLJpKRarxBMS2Ju2oANVrgbr2xWbie9b2D/albums/QXBvbGxvIDEwIE1hZ2F6aW5lIDM1L1U=/21328560323_6b33f5d4c3_o.jpg

In the explore tab I also navigated

[2020-10-07 02:39] NukeManDan commented on #1669
I figured these were minor enough as I discovered them to group here, I can parse into separate issues if you see fit 🙏🏼

[2020-10-07 02:44] NukeManDan opened #1670 "README needs more details on Features"
**Describe the bug**
https://github.com/ipfs-shipyard/ipfs-desktop#features

On the readme, I am so excited by the fatures laid out to start/stop a node, and automatically get the ipfs CLI and keep it updated 🤩 ... but I don't see anything in the GUI that reflects these features... It would be very good to expose this more in the readme and docs (https://docs.ipfs.io/install/ipfs-desktop/) 🙏🏼

[2020-10-07 02:45] NukeManDan commented on #1670
Note: I am on linux, so this may be partly the issue?

[2020-10-07 02:48] jessicaschilling commented on #1670
Good point that the Linux tray issue could benefit from being explicitly noted. Thank you!

[2020-10-07 07:52] bertrandfalguiere commented on #1661
AppImage: OK
.deb: OK
.snap: must be installed with the `--dangerous` flag (I guess it won't be needed once on the snapstore?). Files are in a different place than with other installs, and the peer ID is different. Otherwise, OK

[2020-10-07 11:44] #1668 closed

[2020-10-07 12:46] lidel commented on #1661
@bertrandfalguiere thank you! Yes, `--dangerous` won't be needed when it lands on snapstore. Snap has its own philosophy regarding paths, so those discrepancies are expected.

@jessicaschilling  I've switched to webui [v2.11.4](https://github.com/ipfs-shipyard/ipfs-webui/releases/tag/v2.11.4) with fix for https://github.com/ipfs-shipyard/ipfs-desktop/issues/1668. Electron had a bunch of security f

[2020-10-07 14:05] rafaelramalho19 commented on #1661
@lidel tested on MacOS and looks good 👍

[2020-10-07 14:34] lidel commented on #1656
Did some spelunking on borrowed Windows 10 laptop and (`$user` is the name of my user):

- `%USERPROFILE%` is `C:/Windows/Users/$user/`
- `%APPDATA%` is `C:/Windows/Users/$user/AppData/Roaming/`
  - specific for every user and when joined to a windows domain (eg. in enterprise setting), synchronized over the network
- `%LOCALAPPDATA%` is `C:/Windows/Users/$user/AppData/Local/`
  - same, but data s

[2020-10-07 14:50] #1479 closed

[2020-10-07 16:18] bertrandfalguiere opened #1671 "Error: ENOENT: no such file or directory, open '/opt/IPFS Desktop/resources/app-update.yml"
- OS: Ubuntu 20.04
 - Version of IPFS Desktop : v0.12.1

**Describe the bug**
When using a .appImage, the app is updated as expected.
If I use an other install method (.tar.xz, .deb, .snap), the app fails to update. I think the problem would be the same on Fedora for .rpm installs.

**To Reproduce**
Steps to reproduce the behavior:
1. Install IPFS Desktop v0.12.1
2. Click on About/Check for update

[2020-10-07 16:48] jessicaschilling commented on #1661
@lidel @rafaelramalho19 Confirmed OK on MacOS here as well.

[2020-10-07 17:09] lidel commented on #1661
Thank you all for help! Shipping it to autoupdate channel.

[2020-10-07 17:09] #1661 closed

[2020-10-07 17:11] lidel commented on #1661
[v0.13.0](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.0) :ship: :dash:

[2020-10-07 17:23] lidel commented on #1570
It seems https://github.com/ipfs-shipyard/ipfs-desktop/pull/1556 does not work as expected (or there is a new regression  in electron-builder).

@rafaelramalho19 I think the issue is still present. Are able to confirm?

I got the update error no matter if I install for a single user or all users.

1. Install [0.12.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.12.2)
2. click on t

[2020-10-07 17:31] jessicaschilling commented on #1570
Quick note: auto-update from 0.12.2 to 0.13 functions as expected on Mac.

[2020-10-07 18:29] lidel commented on #1671
Snap uses third-party update mechanism, and the upstream one won't work.
As a temporary mitigation, I've manually pushed 0.13.0 to Snap store.

----

Afraid this is blocked by upstream: https://www.electron.build/auto-update lists only three targets.
Right now, the official auto-update  works only for Windows, macOS and AppImage.

Unfortunately our bandwidth is limited and we can't maintain packag

[2020-10-07 18:55] lidel opened #1674 "Automate Chocolatey updates"
@hacdias I tried to update the [Chocolatey package](https://chocolatey.org/packages/ipfs-desktop) manually via https://www.onitato.com/post/running-chocolatey-on-linux/ but it fails with

[code]

Do you have a working setup around? What am I missing?
I'd like to automate this, perhaps via [manual Github Action trigger with `workflow_dispatch`](https://github.blog/changelog/2020-07-06-github-action

[2020-10-07 19:00] lidel commented on #1153
I believe this should be fixed in [v0.13](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.0), but please reopen if you experience any tray problems (include info about your distro and DE/WM/tray setup)

[2020-10-07 19:00] #1153 closed

[2020-10-07 19:23] jessicaschilling opened #1676 "Advanced → "Open [..] directory" cause fatal crash"
I'm repeatedly killing Desktop when trying to select the following options under `Advanced`:
- `Open Logs Directory`
- `Open Repository Directory`
- `Open Configuration File`

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-07 19:29] lidel commented on #1676
I can confirm the same error on Linux.

**Specifications**

- **OS**: linux
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-07 19:35] NeoGe-IPFSMain opened #1677 "Auto-generated report: errors occurred upon startup"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-07 19:38] jessicaschilling commented on #1677
Thanks, @NeoGe-IPFSMain. Are you able to successfully run Desktop despite this error?

[2020-10-07 19:47] NeoGe-IPFSMain commented on #1677
Hi, @jessicaschilling. No, I am not able to run it with this error.

[2020-10-07 20:09] gyuri-lajos commented on #1570
Update destroyed IPFS Desktop again.
Windows 10

[2020-10-07 20:36] jessicaschilling commented on #1677
@NeoGe-IPFSMain Thanks for the context -- please accept apology for having to run an earlier version in the meantime. @lidel and @rafaelramalho19 -- can you please have a look? Related to https://github.com/ipfs-shipyard/ipfs-desktop/issues/1570 perhaps?

[2020-10-07 20:40] lidel commented on #1677
@NeoGe-IPFSMain which menu item are you clicking before this error occurs?

[2020-10-07 20:43] lidel commented on #1676
Potential duplicate: https://github.com/ipfs-shipyard/ipfs-desktop/issues/1677

[2020-10-07 20:53] gyuri-lajos opened #1680 "Update faild so resintalled from here, added file clicked on noticiation"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-07 20:56] NeoGe-IPFSMain commented on #1677
@jessicaschilling No worries!

@lidel This is happening without any interactions. I double-clicked the IPFS Desktop shortcut on my desktop, but it refused to open. Right-click the icon on my taskbar, it shows "IPFS has Errored".

It's been a while since the last time I used IPFS Desktop. I tried the restart and reinstall (not clean), this error remains.

[2020-10-07 20:58] jessicaschilling commented on #1677
@NeoGe-IPFSMain We're actively triaging this right now - are you OK in the meantime using the CLI, or the CLI as daemon plus webui.ipfs.io?

[2020-10-07 21:01] jessicaschilling commented on #1680
Thanks, @gyuri-lajos - we're working on this in master issue https://github.com/ipfs-shipyard/ipfs-desktop/issues/1570 so will reference your report there, and close this issue.

[2020-10-07 21:01] #1680 closed

[2020-10-07 21:08] jessicaschilling commented on #1570
See https://github.com/ipfs-shipyard/ipfs-desktop/issues/1680 from @gyuri-lajos with error info.

[2020-10-07 21:09] lidel commented on #1570
Confirmed this is a regression limited to Windows and autoupdate orchestration provided by [electron-builder](https://github.com/electron-userland/electron-builder).
We are working on a fix in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1679.

## Temporary workaround for IPFS Desktop v0.13.0 on Windows

1. Uninstall old IPFS Desktop
2. Install manually from [IPFS-Desktop-Setup-0.13.0.exe](h

[2020-10-07 21:18] NeoGe-IPFSMain commented on #1677
@jessicaschilling CLI works fine. IPFS Desktop would be up running without an issue if I manually use any shell to run the IPFS daemon. But once I close the shell, IPFS Desktop will stop running and reporting the error.

[2020-10-07 21:20] jessicaschilling commented on #1677
@NeoGe-IPFSMain Thanks for the details - just wanted to make sure you weren't completely blocked while we worked on a fix.

[2020-10-07 21:22] NeoGe-IPFSMain commented on #1677
@jessicaschilling No worries, thanks!

[2020-10-08 03:33] MicahZoltu commented on #1656
A `.` prefix on Windows does not alter visibility and it causes some mild annoyances in Windows Explorer since you cannot *set* a folder to that name in some contexts.  However, applications are free to do whatever they want within their subfolders of `%LOCALAPPDATA%` so if for some reason having a folder without a leading `.` is difficult then letting it stay I think is fine and still respects Wi

[2020-10-08 07:54] hacdias commented on #1674
I don't recall the full procedure, but I remember I only needed two commands:

- `choco pack` to build the .nuspec file
- and `choco push` to upload it to the server

I never had that error in my life. Maybe try using GitHub Actions with Windows for that?

[2020-10-08 15:41] lidel commented on #1674
Thanks. Yes, I think we should do something similar to https://github.com/ipfs-shipyard/ipfs-desktop/pull/1678

[2020-10-08 17:04] #1570 closed

[2020-10-08 17:05] #1551 closed

[2020-10-08 23:36] NukeManDan opened #1683 "electron-updater errors on Linux"
- OS: Linux
 - Version of IPFS Desktop v0.13.0

**Describe the bug**
I get a non-fatal error when trying to update as described below.

Ported from [this web-ui issue](https://github.com/ipfs-shipyard/ipfs-webui/issues/1665)

**To Reproduce**
1. right click tray icon
2. About...
3. Check for updates....
4. Error (see attached files)

**Expected behavior**
Updating the GUI and CLI :pray:

**Additio

[2020-10-08 23:51] lidel commented on #1683
@NukeManDan what package type are you using?

On Linux only `AppImage` uses `app-update.yml`, everything else assumes third-party package manager is used.
Unless this is a bug in `AppImage`, the bug here is that we should disable auto update mechanism in packages other than `AppImage`.

[2020-10-08 23:59] lidel opened #1684 ""Add to IPFS" OS-level integrations are broken"
https://github.com/ipfs-shipyard/ipfs-desktop#easy-add-to-ipfs states:

Unfortunately, it seems that functionality is broken in v0.13.0:

[code]

Most likely got broken due to JS AP change (async iterator + introduction of `addAll`)

@rafaelramalho19 as you have access to both macOS and Windows, mind taking a look?

[2020-10-09 00:03] NukeManDan commented on #1683
.deb via Gdebi 0.9.5.7+nmu3

Would it be possible to have other install options correctly use the update feature? :pray:

[2020-10-09 00:10] lidel commented on #1683
Sadly not feasible.
On Linux you need to use package manager that comes with your distribution, and ping maintainer of `ipfs-desktop` package to update it to the latest `.deb`

[2020-10-09 00:20] lidel commented on #1630
I suspect this could be caused by autoupdate check, which was blocking for some reason.
Should be fixed by #1682 (we made initial update check async)

[2020-10-09 00:25] lidel commented on #1492
I believe this is done, migrated new secrets from Travis to Github Actions.

[2020-10-09 00:25] #1492 closed

[2020-10-09 10:08] EmbALL opened #1685 "Error while adding file"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-09 10:40] EmbALL opened #1686 "Crash when click to "advanced -> open repository folder""
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-09 10:47] EmbALL commented on #1686
Maybe link to the folder is wrong:
_C:\Program Files\IPFS Desktop\resources\app.asar\src_ - **doesn't exist**
_C:\Program Files\IPFS Desktop\resources\app.asar.unpacked\src_ - **this path exist**

[2020-10-09 12:19] jessicaschilling commented on #1685
Hi - this is a known issue and is being worked in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1687.

[2020-10-09 12:19] jessicaschilling commented on #1686
Hi - this is a known issue and is being worked in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1687.

[2020-10-09 12:58] lidel commented on #1656
Thank you @MicahZoltu, that is very useful feedback.

Did some digging and there are two separate topics here, each can be tackled separately:

## On replacing `%APPDATA%` with  `%LOCALAPPDATA%`

Main concern here is the _cost of fixing Electron's shortcomings in our code_ over time.

We tried doing that many times in the past, and then when `electron` or `electron-builder` finally fixed the probl

[2020-10-09 14:15] Hyperpolymath opened #1688 "multiple errors on install of ipfs-npm: will not install through desktop client, cannot direct error report, alternative doesn't work either?!!?"
Please describe what you were doing when this error happened.

Tryng to install the ipfs-npm module via the IPFS desktop client, and then tried to do the report (BUT this then says the link is too long, and cannot be shortened by bit.ly or other link shortener)...

The tried to follow advice to install direct using the npm install -g approach, and that fails too.

**Specifications**

- **OS**: win

[2020-10-09 14:50] jessicaschilling commented on #1688
Hi @Hyperpolymath - this is a known issue and is being actively worked in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1687.

[2020-10-09 20:38] #1530 closed

[2020-10-09 20:38] #1676 closed

[2020-10-09 20:38] #1677 closed

[2020-10-09 20:38] #1685 closed

[2020-10-09 20:38] #1686 closed

[2020-10-09 20:38] #1688 closed

[2020-10-09 20:48] lidel commented on #1515
@HulaCloud please upgrade to the latest Snap (`v0.13.0`) and reopen if the issue still occurs.

[2020-10-09 20:48] #1515 closed

[2020-10-09 20:51] lidel commented on #1688
@Hyperpolymath
We fixed log preview and error reporting in #1687 which will ship with v0.13.1 ships next week.
This should make it easier to see what went wrong with npm-on-ipfs.

If the problem with ipfs-npm experiment remains, see if your error is the same as in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1504 before filling a new issue.

[2020-10-09 20:55] lidel commented on #1504
The error suggests you are missing `npm` command.
Make sure you have Node.js and `npm`  (https://nodejs.org/en/) installed on your system and available on `PATH` (available in cmd.exe).
Let us know if that helped.

[2020-10-10 12:30] MicahZoltu commented on #1656
I submitted an issue to get `go-homedir` library fixed: https://github.com/mitchellh/go-homedir/issues/30

I believe there are other similar libraries that better support different data types so if the author of `go-homedir` is resistant to this change, perhaps switching `go-ipfs` to a different library would be the right course of action long term.  Either way, migration will need to be handled s

[2020-10-10 13:41] SAMYEL06 opened #1692 "Changed the API address and can't reset .."
Hello,

Changed the API address and made a mistake.
Impossible to restart or reset IPFS Desktop now..

Tried ipfs config edit, but editor issue = impossible to change again the API..

How can I edit and change the API address ? Is there a json somewhere that would allow that ?

Thanks !

[2020-10-10 14:10] jessicaschilling commented on #1692
Hi @SAMYEL06, to clarify: can you still run the IPFS Desktop app itself, but you see "can't connect" errors?

If that's the case, I suspect you're running an older version of Desktop that doesn't include the ability to change the API in-app as easily. Try opening webui.ipfs.io in a browser **while Desktop is still also running** and see if you get an error on that page that gives you the option to

[2020-10-10 14:17] SAMYEL06 commented on #1692
As I started it here, I'll end it here but next times, I'll start it there (didn't know about it, kinda new to IPFS)

The app runs.

No way of editing the json part of the params in the software.

No way to edit from CLI..

I'm on Windows 10.. Basically I've put :

**/ip4/[localip]tcp/5001**

instead of

**/ip4/[localip]/tcp/5001**

I missed one "/" ... So the desktop app is accessible, runs, but

[2020-10-10 14:19] jessicaschilling commented on #1692
Try opening webui.ipfs.io in your browser and looking for the api config option.

[2020-10-10 14:24] SAMYEL06 commented on #1692
Opening it gives me the same interface as the desktop app.

Issue is that the json editor under "Use CLI as tutorial" option isn't showing...

https://imgur.com/5FbOihR

And since the /ip4/192.168.0.23tcp/5001 isn't valid, can't either put it in there

https://imgur.com/ltDxIM0

Hope it helps.. :(

[2020-10-10 14:28] jessicaschilling commented on #1692
You should be able to put the correct api address in that api box you screenshotted and get things running again.

[2020-10-10 14:38] SAMYEL06 commented on #1692
I've put the exact same address that "ipfs config show" in the cmd says, but since the IP address is "glued" with tcp, it's not valid I guess and validating won't change the screen (like it has no effects) :/

[2020-10-10 15:12] jessicaschilling commented on #1692
So are you saying that entering
/ip4/192.168.0.23/tcp/5001
(with correct slash) in that box still fails? The value entered in the box still updates custom api address even if you can't get to the config file. If there is an api available at /ip4/192.168.0.23/tcp/5001, it will connect to it if that value is entered in that box.

Default value for api is
/ip4/127.0.0.1/tcp/5001
so you may also want

[2020-10-10 15:23] SAMYEL06 commented on #1692
That's exactly what I'm saying..

I've entered the default value, validated and then restarted : still in error.
I've tried the one with the ipv4 of the machine (192.168.0.23), validated, restarted and.. error as well :/

So kind of lost on how to fix that :/

[2020-10-10 15:26] SAMYEL06 commented on #1692
Ok, nevermind, found the solution :

I ran this in the cmd :

And then restarted, it's working ! ^^

Thanks for the help !!

[2020-10-10 15:31] jessicaschilling commented on #1692
Glad you are up and running again! I'm concerned you weren't able to do that from webui, so will leave this issue open to investigate that we don't have a bug in there - I'm not on windows so will need someone else on the team to look more closely next week.

In any case happy your problem is solved!

[2020-10-10 15:34] rafaelramalho19 commented on #1692
@SAMYEL06 I believe you didn't press ENTER after editing the API. I was looking at the code and it's required to press ENTER in order to actually change the API port.

@jessicaschilling maybe we could change the UI to reflect that the API port is not changed until the user "submits the input form", and maybe add a button too?

[2020-10-10 15:39] jessicaschilling commented on #1692
@rafaelramalho19 there IS a button, this is why I'm concerned 😊
![image](https://user-images.githubusercontent.com/1507828/95659135-3993c300-0adc-11eb-9eb0-a44cdd0bed3e.png)

@SAMYEL06 Can you confirm that you hit the "Valider" button after entering a valid API address (such as `/ip4/127.0.0.1/tcp/5001`), but still didn't get things working?

[2020-10-10 15:40] rafaelramalho19 commented on #1692
Yes, sorry, I mean reflect that the button needs to be clicked in order to be submitted*

[2020-10-10 15:44] SAMYEL06 commented on #1692
Well I swear to you,

I added "/ip4/127.0.0.1/tcp/5001" in the Desktop app and the Webui, several times. I tried hitting enter, then clicking on Validate. I tried just with validate as well, and it never changed it ?

Anyway, the good point is that it's working again so no big deal ^^"

[2020-10-10 15:46] jessicaschilling commented on #1692
@SAMYEL06 Thanks for the additional info 😊

@rafaelramalho19 I can't replicate a condition in which that API entry box doesn't "take" what I enter - that's my bigger concern.

I'm going to close this issue, but let's keep an eye out for anything that would suggest a recurrence.

[2020-10-10 15:46] #1692 closed

[2020-10-11 01:13] arronpitman opened #1693 "Error when opening repo dir"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-11 01:14] jessicaschilling commented on #1693
Thanks @arronpitman - this is a known issue and we are expecting to ship a fix early next week! Thanks.

[2020-10-12 12:52] lidel commented on #1693
Closed in #1676

[2020-10-12 12:52] #1693 closed

[2020-10-12 12:58] #1684 closed

[2020-10-12 12:59] #1630 closed

[2020-10-12 14:58] TSS-LauKY opened #1694 "ipfs-on-path experiment causes Error: spawn EPERM"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.0
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-12 16:06] jessicaschilling commented on #1694
Thanks, @TSS-LauKY! We'll investigate deeper as soon as time permits.

[2020-10-12 17:51] lidel commented on #1683
Continued in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1671#issuecomment-705116856

[2020-10-12 17:51] #1683 closed

[2020-10-12 17:52] lidel commented on #1663
Fixed in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1689, released in [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)

[2020-10-12 17:52] #1663 closed

[2020-10-12 17:54] lidel commented on #1522
This should be fixed in [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2).
If there are any new issues with tray, please open a new issue.

[2020-10-12 17:54] #1522 closed

[2020-10-12 17:55] lidel commented on #1604
@rajaroy43 a lot changed since 0.11.4, including electron update to 9.x.
Please update ipfs-desktop  to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2). If you experience this issue again, feel free to reopen.

[2020-10-12 17:55] #1604 closed

[2020-10-12 17:57] lidel commented on #1592
Autoupdate issues on Windows 10 were fixed in [v0.13.1](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.1), you can use it for testing upgrade to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2).

[2020-10-12 17:57] #1592 closed

[2020-10-12 17:59] lidel commented on #1562
This was fixed in [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2), we now use upstream functionality for autoupdates on windows. Please upgrade.

[2020-10-12 17:59] #1562 closed

[2020-10-12 18:00] lidel commented on #1542
This should be fixed in [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2), or at least you should be able to attach logs to your error report if similar issue happens again. Please update to the latest version.

[2020-10-12 18:00] #1542 closed

[2020-10-12 18:00] lidel commented on #1543
See https://github.com/ipfs-shipyard/ipfs-desktop/issues/1542#issuecomment-707266266

[2020-10-12 18:00] #1543 closed

[2020-10-12 18:04] lidel commented on #1550
Sadly not enough details.
Please update to the latest version ([v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)).

[2020-10-12 18:04] #1550 closed

[2020-10-12 18:08] lidel commented on #601
Since this issue was filled js-ipfs and go-ipfs removed the guarantee of flatfs repo interop,
and js-ipfs is slowly switching focus to web browser contexts.

This means js-ipfs has different strengths and is no longer a drop-in replacement for go-ipfs.
I am closing this, as there is no benefit to the user to use js-ipfs instead of go-ipfs here, and we have no bandwidth for maintaining such thing,

[2020-10-12 18:08] #601 closed

[2020-10-12 18:10] lidel commented on #1432
Assuming it was fixed long time ago. If not, please upgrade to the latest version ([v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2))

[2020-10-12 18:10] #1432 closed

[2020-10-12 18:12] lidel commented on #1482
We switched to the latest ipfsd-ctl in  [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2) – please upgrade.

[2020-10-12 18:12] #1482 closed

[2020-10-12 18:13] lidel commented on #1486
Please upgrade to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)

[2020-10-12 18:16] lidel commented on #1561
Ref. Filestore is still an experimental feature in go-ipfs:
https://github.com/ipfs/go-ipfs/blob/v0.7.0/docs/experimental-features.md#ipfs-filestore

I don't believe we should suport this before it gets promoted to stable.

[2020-10-12 18:18] rajaroy43 commented on #1604
A lot of bugs in the windows ipfs desktop i think you must fix these buges.
Let take an example if i upload some Image on Ipfs and share that link with
you then it some time work and sometime not it's not what we expect from
ipfs

On Mon, Oct 12, 2020, 11:25 PM Marcin Rataj <notifications@github.com>
wrote:

[2020-10-12 18:19] lidel commented on #785
This got fixed in [v0.13.x](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2) where we switched to Electron 9.x which has a backported fix for https://github.com/electron/electron/issues/12337

[2020-10-12 18:19] #785 closed

[2020-10-12 18:21] jessicaschilling commented on #1604
@rajaroy43 Please download and try out [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2) - many things have been tweaked and improved. Thank you!

[2020-10-12 18:32] rajaroy43 commented on #1604
new version is 0.13 ...i see on github

On Mon, Oct 12, 2020, 11:51 PM Jessica Schilling <notifications@github.com>
wrote:

[2020-10-12 18:37] lidel commented on #1390
Did you try to drag&drop something on the dock icon?
Anyway, please upgrade to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2), it should be fixed there.

[2020-10-12 18:37] #1390 closed

[2020-10-12 18:39] lidel commented on #1350
@bluelovers was this request specifically about adding portable version for MS Windows 10?
(Linux already has `.tar.xz` version which together with setting `IPFS_PATH` does this)

[2020-10-12 18:43] lidel commented on #1301
@alphanmoon is this still a problem with [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)?

[2020-10-12 18:45] lidel commented on #1306
This was upstream issue with go-ipfs (https://github.com/ipfs/go-ipfs/issues/6197), please upgrade to the latest ipfs-desktop [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)

[2020-10-12 18:45] #1306 closed

[2020-10-12 18:47] lidel commented on #1122
Fixed in the latest ipfs-webui, please upgrade ipfs-desktop to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2) :robot:

[2020-10-12 18:47] #1122 closed

[2020-10-12 18:49] lidel commented on #958
Blocked: support for proxying p2p connections need to land in go-ipfs first.

[2020-10-12 18:53] lidel commented on #1041
When you use CLI, the `ipfs add` pins added data, so it is protected against GC.
You can remove pins via `ipfs pin rm $CID`, or disable automatic pinning by executing `ipfs add --pin=false`

ps. adding big files should be MUCH faster in [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)

[2020-10-12 18:53] #1041 closed

[2020-10-12 18:55] lidel commented on #1097
We revamped the way file import works when HTTP API is used (eg. in IPFS Desktop) adding many files, or adding a big file (4GB+) should work much better now.

Please upgrade to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2).

[2020-10-12 18:55] #1097 closed

[2020-10-12 18:57] lidel commented on #961
Is this still a problem with [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)?
Linux support is experimental, but if someone using DE submits a patch, I'm happy to review!

[2020-10-12 19:05] lidel commented on #1646
This is a significant UX improvement, bumped a priority a bit.

ps. I suspect protocol handler does not work everywhere (eg. https://github.com/ipfs-shipyard/ipfs-desktop/issues/1549).

[2020-10-12 19:06] lidel commented on #862
Continued in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1646

[2020-10-12 19:06] #862 closed

[2020-10-12 19:27] bluelovers commented on #1350
use `IPFS_PATH` not mean portable green

and yes, for windows

[2020-10-12 19:35] lidel commented on #1537
Please upgrade to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2), feel free to reopen if the problem still occurs.

[2020-10-12 19:35] #1537 closed

[2020-10-12 19:35] lidel commented on #1532
Please upgrade to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2), feel free to reopen if the problem still occurs.

[2020-10-12 19:35] #1532 closed

[2020-10-12 19:36] lidel commented on #1529
Continued in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1504

[2020-10-12 19:36] #1529 closed

[2020-10-12 19:37] lidel commented on #1549
@voltagex is this still a problem on Ubuntu after you update to [v0.13.2](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.2)?

[2020-10-12 23:18] voltagex commented on #1549
Will spin up a VM and test tonight.

On Tue, 13 Oct 2020, at 06:37, Marcin Rataj wrote:

[2020-10-13 00:20] JoeyTWhite commented on #1486
Same problem.

Marcin Rataj <notifications@github.com> 于2020年10月13日周二 上午2:14写道：

[2020-10-13 10:53] MicahZoltu opened #1695 "Allow ignoring auto-updates on Windows."
**Is your feature request related to a problem? Please describe.**
I was trying to use IPFS Desktop, but an update was available.  I was not in a position where updating at the moment would be convenient, but there was no way to cancel/delay the auto-update, it was forced on me if I wanted to continue using IPFS Desktop.

**Describe the solution you'd like**
When an update is available, I should b

[2020-10-13 12:07] lidel commented on #1695
This behavior changed in [v0.13.1](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.1). Starting with that version Windows users are no longer forced to apply update when it arrives, you only get a notification that the update will be applied when the app exists.

You can test by manually installing [v0.13.1](https://github.com/ipfs-shipyard/ipfs-desktop/releases/tag/v0.13.1) and w

[2020-10-13 14:12] jessicaschilling commented on #1695
That Settings menu wording sounds good.

[2020-10-13 21:24] lidel commented on #1486
I and was unable to reproduce. I thought this could be related to custom path and installed IPFS Desktop to `c:\IPFS Desktop`, but it works fine.

@JoeyTWhite are you able to provide us with steps how to reproduce this error?
Sharing contents of `combined.log` from `Advanced` → `Open Logs Directory` would also help.

[2020-10-14 11:27] #1674 closed

[2020-10-14 14:56] lidel commented on #1350
Did quick check and `electron-builder` supports `portable` target.
Enabling it won't be enough, we also need to disable codebase and disable some features when `PORTABLE_EXECUTABLE_DIR` env variable is present (add `IS_WIN_PORTABLE` check to [consts.js](https://github.com/ipfs-shipyard/ipfs-desktop/blob/v0.13.2/src/common/consts.js))

Low priority right now, but I'll be happy to review PR if someo

[2020-10-15 04:34] voltagex commented on #1549
Getting back to this - yes, there's still no indication that anything happened with the link on v0.13.2.

[2020-10-15 04:37] voltagex commented on #1549
@lidel I can also reproduce this on Windows. After installing the desktop app and using the dweb link I originally posted, I get this:
![image](https://user-images.githubusercontent.com/159567/96077694-347bad00-0efc-11eb-8094-25859154a603.png)

It's not easy for me to take an Ubuntu screenshot, but it's not blank there (still no feedback though)

[2020-10-15 11:39] lidel commented on #1549
Thank you @voltagex! This is very useful.

We will prioritize fix for this, could be done as a part of https://github.com/ipfs-shipyard/ipfs-desktop/issues/1646

[2020-10-15 12:01] lidel opened #1699 "Shareable links should get preloaded by default"
When user takes a screenshot or imports files via OS integration, we copy a shareable link to clipboard.
However, the content is not present on gateway node until someone requests it.

IPFS Companion sends `HTTP HEAD` request to trigger data preload. Desktop could do the same.

This should be enabled by default, but there needs to be an option to disable preload,
in case user wants to avoid non-IP

[2020-10-15 18:55] jessicaschilling commented on #1699
"Preload Shareable Links" in the prefs menu could look like below. Note that this mockup also contains the other cube menu amendments currently outstanding in the Desktop issue queue ... that menu is getting a bit lengthy but doesn't seem criminal.

![image](https://user-images.githubusercontent.com/1507828/96173668-78af8300-0ee5-11eb-910a-0ed408b583a9.png)

[2020-10-15 19:36] jessicaschilling commented on #1695
Could look like this in the prefs menu -- note that this mockup also includes other amendments to prefs currently in the issue queue, so that menu is starting to get lengthy.

![image](https://user-images.githubusercontent.com/1507828/96177488-312bf580-0eeb-11eb-86f8-95943cd02097.png)

[2020-10-15 20:03] corviato1 opened #1700 "transfer my files to a new ipfs shipyard"
Hi, not sure where else to ask this.   What would be the best way to transfer my shipyard to a new drive?

[2020-10-15 20:47] jessicaschilling commented on #1700
Hi @corviato1 -- this is a great question for the forums at https://discuss.ipfs.io/. Closing this issue, but please ask it there! Thanks.

[2020-10-15 20:47] #1700 closed

[2020-10-16 13:18] daviddias opened #1701 "Better time series visualization"
I’ve been taking the time to use IPFS Desktop more and more to monitor my IPFS node and it just dawned on me that probably we don’t want a bandwidth graph since the dawn of time, otherwise it makes it look very spiky

![image](https://user-images.githubusercontent.com/1211152/96262991-c817b100-0fc2-11eb-850d-6601906e287e.png)

Note that this window of time is just a span for 2:30h hours, which is

[2020-10-16 15:47] jessicaschilling commented on #1701
NB: moving to ipfs-webui since this is an upstream discussion.

[2020-10-17 05:06] Madeindreams opened #1702 "Null PID error might be caused by sleep mode?"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-17 06:30] jessicaschilling commented on #1702
Thank you, @Madeindreams ! We'll look into this in our next weekly triage.

[2020-10-21 22:04] jessicaschilling commented on #1670
https://github.com/ipfs-shipyard/ipfs-desktop/pull/1703 should ameliorate a lot of this.

Note: Once that PR is approved/merged, I'll add some highlights (primarily features list) to https://docs.ipfs.io/install/ipfs-desktop/ in a separate PR in the docs repo.

[2020-10-22 18:06] lidel commented on #691
@agnelvishal definitely, but we need to migrate autoupdate mechanizm to support that first – see my notes in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1263#issuecomment-558416578

[2020-10-22 19:18] #1670 closed

[2020-10-22 19:53] jessicaschilling commented on #1670
NB: The PR for adding features summary to docs is at https://github.com/ipfs/ipfs-docs/pull/525.

[2020-10-24 03:10] snakyjake1 opened #1704 "go-ipfs Error: strconv.Atoi: parsing "": invalid syntax"
### Error Message:
Could not connect to the IPFS API

### Steps:
1)  New install of IPFS on Linux.
ipfs-desktop-0.13.2-linux-x86_64.AppImage

2)  Open AppImage

3)  IPFS Desktop opens.

4)  Receive the error message above.

### Combined.log

[code]

### error.log

[code]

[2020-10-24 03:58] jessicaschilling commented on #1704
Thank you - we will look into this in our next weekly triage.

[2020-10-26 06:49] tonuonu opened #1705 "TypeError: ctx.manualCheckForUpdates is not a function"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-26 14:33] jessicaschilling commented on #1705
Thanks, @tonuonu - we'll look into this in our next weekly triage.

[2020-10-26 16:06] jessicaschilling commented on #1702
Note: duplicate here https://github.com/ipfs-shipyard/ipfs-webui/issues/1670

[2020-10-26 16:17] jessicaschilling commented on #1705
Hi @tonuonu -- quick question. What were you doing when this error happened?

[2020-10-30 09:16] DoDoENT opened #1706 "Crash on system wake"
Please describe what you were doing when this error happened: I just waked my mac after being asleep for the night.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-10-30 15:26] lidel commented on #1704
@snakyjake1 I was unable to reproduce (the  latest AppImage package works fine on my end).

I believe this is not a bug in IPFS Desktop, but a problem with your configuration file.
The error comes from go-ipfs:
[code]

Some ideas:

- Check if your  `~/.ipfs/config` (or `$IPFS_PATH/config` if you used custom path) exists and is a valid JSON
  - If missing, can you create a file in that directory ma

[2020-10-30 15:26] #1704 closed

[2020-10-30 19:59] jessicaschilling commented on #1702
Note: another duplicate here https://github.com/ipfs-shipyard/ipfs-desktop/issues/1706

OS: darwin
IPFS Desktop Version: 0.13.2
Electron Version: 9.3.2
Chrome Version: 83.0.4103.122

[2020-10-30 19:59] jessicaschilling commented on #1706
Hi @DoDoENT -- thank you for filing this! It's a known issue and we are tracking under https://github.com/ipfs-shipyard/ipfs-desktop/issues/1702, so will close this to avoid duplication.

[2020-10-30 19:59] #1706 closed

[2020-10-31 09:23] huwentao1 opened #1707 "ipfs is always starting?"
![image](https://user-images.githubusercontent.com/43719888/97775622-191bcd80-1b9d-11eb-94b7-ae4ccf15e254.png)

I can’t access the software, I can only see that it has been starting up, I don’t know what went wrong！

Below is the ipfs node information I manually installed and started。
[code]

I think it may be that the ipfs node information I manually installed conflicts with the ipfs desktop vers

[2020-10-31 15:07] jessicaschilling commented on #1707
Hi @huwentao1 - sorry you are having issues! Can you please ask in the forums instead? They are at discuss.ipfs.io - thank you!

[2020-10-31 15:07] #1707 closed

[2020-11-02 16:10] jessicaschilling commented on #1705
Hi @tonuonu -- just checking in about previous question, thanks!

[2020-11-02 17:08] tonuonu commented on #1705
Hi! Sorry about delay. Was overworking and then missed flight and now have jet lag.

I been thinking long how to help you because I do not remember much about what I was exactly doing. And such accurate input is crucial. So my best as I remember:

1. This is brand new Mac, IPFS daemon was possibly installed separately before IPFS Desktop.
2. Everything was stock setup and my aim was to command ove

[2020-11-02 17:10] jessicaschilling commented on #1705
@tonuonu - that's a great start, thanks!

@lidel and @rafaelramalho19 - any ideas?

[2020-11-09 16:18] jessicaschilling commented on #1705
Hi @tonuonu - we're unfortunately unable to reproduce this and can't get much further without the config that it sounds like you've deleted. Closing for now, but please be in touch if you experience any similar problems.

In case anyone reading this runs across this issue again - please reply and attach/excerpt your config file.

[2020-11-09 16:18] #1705 closed

[2020-11-09 18:10] tonuonu commented on #1705
Thank You! I try to report if I know something.

On Mon, 2020-11-09 at 08:18 -0800, Jessica Schilling wrote:

[2020-11-13 18:02] ksnyde opened #1709 "no known trigger event, just noticed this"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-11-13 18:03] ksnyde commented on #1709
However, running`npm install -g ipfs-npm` from the command line I get the following:

[code]

[2020-11-13 18:04] jessicaschilling commented on #1709
Thanks, @ksnyde - we'll take a closer look at our next triage session!

[2020-11-13 19:10] ksnyde commented on #1709
nevermind ... this appears to be related to an issue with my version of `npm`; i have fixed this now and the install did work.

[2020-11-13 19:10] #1709 closed

[2020-11-17 06:38] FruityWelsh commented on #961
I haven't tried in a while, but I will do so again for the testing branch of KDE/manjaro.

[2020-11-17 11:10] smehmetoglu opened #1710 "Moving Repository"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-11-17 16:57] lidel commented on #1710
@smehmetoglu Q: did you install IPS Desktop for a Single User or All Users?

[2020-11-23 15:57] jessicaschilling commented on #1710
Hi @smehmetoglu — just checking in again. Did you install IPS Desktop for a Single User or All Users?

[2020-11-23 17:32] smehmetoglu commented on #1710
I install it again but is installed for single user not all users.

Selahattin MEHMETOGLU

From: Jessica Schilling<mailto:notifications@github.com>
Sent: 23 Kasım 2020 Pazartesi 18:57
To: ipfs-shipyard/ipfs-desktop<mailto:ipfs-desktop@noreply.github.com>
Cc: Selahattin MEHMETOGLU<mailto:smehmetoglu@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [ipfs-shipyard/ipfs-desktop] M

[2020-11-24 20:36] james2mid opened #1711 "Failure loading XKCD example"
I attempted to view the XKCD example directory and it crashed.

**Specifications**

- **OS**: darwin
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-11-24 20:42] jessicaschilling commented on #1711
Thanks, @james2mid -- we will look into this in our next weekly triage!

[2020-11-25 02:18] yeehi opened #1712 "IPFS-desktop licence appears to be proprietary"
- OS: Ubuntu 20.04.1
 - Version of IPFS Desktop [v2.11.4]

**Describe the bug**
The .deb file informs us that the licence is proprietary, whereas in fact ipfs-desktop is released under the permissive MIT licence.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/ipfs-shipyard/ipfs-desktop#install'
2. Download ipfs-desktop for GNU+Linux .deb file
3. Open the file with

[2020-11-25 02:20] jessicaschilling commented on #1712
Thanks, @yeehi -- we'll discuss this in more detail in our next weekly triage.

[2020-11-30 16:14] jessicaschilling commented on #1712
This may be an issue of dual licensing (Apache and MIT) not being recognized. @Gozala, can you please investigate?

[2020-11-30 16:43] jessicaschilling opened #1713 "Investigation: 'Cannot read property 'pid' of null'"
We're seeing a variety of reports of `TypeError: Cannot read property 'pid' of null` in Desktop but no clear root cause. Need to investigate whether the crash reports we are seeing are actually a side effect of something else. Collating all current/closed reports of this error here for the sake of beginning an investigation:

https://github.com/ipfs-shipyard/ipfs-webui/issues/1670
https://github.c

[2020-11-30 16:44] jessicaschilling commented on #1702
Closing due to moving this into larger issue investigating `Cannot read property 'pid' of null` errors: https://github.com/ipfs-shipyard/ipfs-desktop/issues/1713

[2020-11-30 16:44] #1702 closed

[2020-11-30 16:45] jessicaschilling commented on #1711
Closing due to moving this into larger issue investigating `Cannot read property 'pid' of null` errors: https://github.com/ipfs-shipyard/ipfs-desktop/issues/1713

[2020-11-30 16:45] #1711 closed

[2020-12-01 00:07] johnnymatthews commented on #1710
Hi @smehmetoglu. I just tried to recreate your issue, but didn't run into any errors. Here's what I did:

1. Installed IPFS Desktop for _just this user_.
1. Added a few files.
1. Moved the IPFS repository by clicking on the IPFS tray icon, selecting **Advanced** > **Move Repository Location**.
1. Uninstalled IPFS Desktop.
1. Reinstalled IPFS Desktop but this time for _all users_.
1. Opened IPFS De

[2020-12-03 17:02] Madeindreams opened #1714 "Crashed on restart."
Please describe what you were doing when this error happened.

I was trying to connect to my ipfs node using node js.  Changed the API ip adress to 0.0.0.0 and back to 127.0.0.1. When i selected restart from the tray icon menu IPFS Desktop crashed.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[

[2020-12-03 17:03] jessicaschilling commented on #1714
Thanks, @madeindreams - we're investigating this particular error already in #1713, so closing this issue and mentioning your report there!

[2020-12-03 17:03] #1714 closed

[2020-12-12 01:11] tkeriduN commented on #1316
This just happened to me on Windows 10. Well, actually it didn't _just start_ happening now, I see in the error logs that it's been happening for three months.

[error.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/5682257/error.log)

[2020-12-12 01:12] tkeriduN opened #1717 "error: [ipfsd] start daemon Error: multiaddr " " must start with a "/""
This just happened to me on Windows 10. Well, actually it didn't _just start_ happening now, I see in the error logs that it's been happening for three months.

[error.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/5682257/error.log)

_Originally posted by @tkeriduN in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1316#issuecomment-743568051_

[2020-12-12 01:14] jessicaschilling commented on #1717
Thank you - we will have a closer look in our next weekly triage.

[2020-12-12 07:12] shahoob commented on #1316
Update: Delete the folder `.ipfs`
This will lose access to your original files stored on your peer
In fact, Your peer will be reset.

[2020-12-14 16:14] jessicaschilling commented on #1717
@tkeriduN - are these happening in conjunction with your machine sleeping/hibernating?

[2020-12-14 21:15] tkeriduN commented on #1717
@jessicaschilling Answer negative. These errors are always. I remember updating, or trying to update, the ipfs desktop app and ever since I get this error. It doesn't matter if the computer is freshly rebooted or been running for days. I can't get it running ever since that update attempt (I can't remember if it completed fully, or which version it was). I'll try uninstalling and reinstalling the

[2020-12-14 22:26] jessicaschilling commented on #1717
Thanks, @tkeriduN - a fresh reinstall would be a great extra data point.

[2020-12-15 10:02] bluesteal opened #1718 "IPFS How To View Files"
Trying to use IPFS Desktop on Linux to view files. How can you view the actual file contents; Do you need to use the IPFS gateway?

[2020-12-15 10:55] jessicaschilling commented on #1718
Hi - please direct usage questions to the forums at discuss.ipfs.io so the community as a whole can see and contribute. Closing this issue - thank you!

[2020-12-15 10:55] #1718 closed

[2020-12-16 11:06] ruifortes opened #1719 ""system interrupts" process goes through the roof"
Hi.
Can't figure out what triggers it but it happens when "IPFS Companion" is running and stops when I close it.
The "system interrupts" process goes 100% (or whatever proportional percentage...) and pretty much slown the system to a crawl.
Any tests I could do?

 - OS: Windows 10
 - Browser: Brave
 - Version: v0.13.2

[2020-12-17 11:15] tkeriduN commented on #1717
@jessicaschilling I got to reinstalling today. Unfortunately the error persists.. The logs seem to have stuck around too. This is my error.log now, and the last entry is from after reinstalling ipfs desktop completely.
[error.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/5708914/error.log)

[2020-12-17 14:34] jessicaschilling commented on #1717
@lidel can you please investigate? He's totally blocked on using Desktop by this issue.

[2020-12-17 15:09] lidel commented on #1717
Hm.. as per usual, Windows was hiding some special characters (`^@` is just a representation of non-ASCII codes in vim):

[code]

turns out multiaddr is just a bunch of zeroes:

[code]

For some reason IPFS Desktop is trying to connect to invalid multiaddr, most likely the value is broken in the configuration file.
This could be due to manual edition (copying&pasting something from the web, with a

[2020-12-23 21:50] tmladek commented on #1507
Yup, having the same issue, also with the repo being on a SMB share.

I can read, create, delete, remove and files all fine, the permissions are all correct - is there something else that `fs-repo-migrations` is doing?

[2020-12-23 21:57] jessicaschilling commented on #1507
@tmladek - as some core team members are away for winter holidays, I'd suggest checking and/or asking in the forums at discuss.ipfs.io to see if other folks in the larger community using NAS have experienced similar, or solved. Thanks!

[2020-12-23 22:01] notramo opened #1720 "IPFS adoption by non-techie people is hard"
When I say to anyone to download IPFS Desktop, I can't expect them to read all the webpage, then find the download link on Microsoft Github.
**They aren't interested in what features the protocol has to showcase. They aren't interested in how it works. They simply want to download the app to be able to get my files I put on IPFS for them.**

#### Currently:
- user lands on ipfs.io
- finds no downl

[2020-12-23 22:13] jessicaschilling commented on #1720
Hi @notramo - we are actually currently working on an improved download flow for the main ipfs.io site, for implementation in Q1. As you noted, it'll include a direct download pathway, including OS and/or browser (in the case of IPFS Companion) detection to help new users download the best option for them.

The work isn't in GitHub issues just yet, but when implementation starts you can follow alo

[2020-12-23 22:13] #1720 closed

[2020-12-25 22:49] yeehi opened #1721 "Bulk copy/paste hashes of files in ipfs-desktop"
**Is your feature request related to a problem? Please describe.**
If we use ipfs-desktop to look at a folder of files we are pinning, how can we easily copy all the hashes of the files in that folder, so that we can later on paste or share them elsewhere?

At the moment, if you use the tick box to “select all”, a pop-up appears with a “Share” option, and it provides a hash for all the selected fi

[2020-12-25 22:58] jessicaschilling commented on #1721
Thanks - we will discuss in our next triage session.

[2020-12-28 11:59] lsji07 opened #1722 "Crashing on startup when updating to new version"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.11.3
- **Electron Version**: 8.2.5
- **Chrome Version**: 80.0.3987.165

**Error**

[code]

[2020-12-28 14:09] jessicaschilling commented on #1722
Thank you - do you have any details on what you were doing when this happened? Are you able to start Desktop again?

[2020-12-28 14:40] lsji07 commented on #1722
I hadn't run shipyard for a while. A popup appear saying I had to restart IPFS due to an update and then it closed. I did it 3 times to check it was consistently failing. I opened Desktop in the end by running as administrator and that imo gave the additional permission to carry out the update required before opening the Desktop.

IPFS Shipyard now is running fine (once that update was completed)

[2020-12-28 14:42] lsji07 commented on #1722
Suggest a request for additional admin permission on update, if required.

[2020-12-28 14:59] jessicaschilling commented on #1722
This sounds consistent with some other behavior we've seen. Do you remember if you originally installed for one user or all users?
Anyway, glad to know you are up and running again!

[2020-12-29 11:27] jjv360 opened #1723 "IPFS Desktop stuck on "IPFS is Starting""
It never gets past IPFS is Starting for me, unless I run `ipfs daemon` in a terminal window first...

This error also happens when pressing Check for Updates, while in this "IPFS is Starting" stuck state...

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2020-12-29 11:28] jjv360 commented on #1713
Hi, I'm getting this error on IPFS Desktop on Windows 10 (version 0.13.2)... Steps to reproduce:
- Run `ipfs daemon` from a terminal window
- Start IPFS Desktop
- Close the terminal that was running `ipfs daemon`
- Press Restart from the tray menu
- Wait about 10 seconds

I assume IPFS desktop can't handle switching from a manual `ipfs daemon` to it's own built-in one... But I have to run it this

[2020-12-29 15:04] jessicaschilling commented on #1723
Thank you for reporting this. The core team is temporarily in a minimal state due to winter holidays but will add to triage upon return - in the meantime you may also wish to repost to https://discuss.ipfs.io/ for community support.

[2020-12-29 15:06] jessicaschilling commented on #1723
Thank you for reporting this. The core team is temporarily in a minimal state due to winter holidays but will add to triage upon return - in the meantime you may also wish to repost to https://discuss.ipfs.io/ for community support.

Question: Did you originally install Desktop for all users of this machine? Are you running as a different user than the one that installed Desktop?

[2020-12-29 17:35] moemurdock opened #1724 "IPFS shared links to .MP4 files and not playing correctly in a new browser window..."
- OS:  Mac OS10.14.6
- Version of IPFS Desktop [e.g. 0.11.1]: IPFS Desktop 0.13.2

**Describe the bug**
-Please note that I am new to using IPFS so this might not actually be a bug- please see the following for what I am experiencing
1. When I upload an mp4 file for sharing and delivery of a video project to another user, the shared link retrieved from the IPFS desktop portal does not play in any

[2020-12-29 17:45] jessicaschilling commented on #1724
Hi @moemurdock - wondering if this is more of an issue involving browser support for mp4 in general - see https://developer.mozilla.org/zh-TW/docs/Web/HTML/Supported_media_formats for a few details. I'd suggest asking the recipient to download the file from the share link (as you've done) and open in their machine's video player app(s) as appropriate.

The core team can look into this a bit more b

[2020-12-29 19:53] jjv360 commented on #1723
I installed it via chocolatey, so I'm not sure if it's installed for all users or not... My machine only has one user on it though.

[2020-12-29 20:44] moemurdock commented on #1724
Hi Jessica, - first off thanks so much for the quick response - I super appreciate it. Secondly that solution is simple and elegant (I should have thought of it myself). Blame it on me being new to IPFS (hah).
Thanks so much for the note , just wanted to make sure that I was using things correctly.

Have a great day!

[2020-12-29 20:44] #1724 closed

[2020-12-29 20:49] jessicaschilling commented on #1724
Thanks @moemurdock - and hope you have fun using IPFS!

[2020-12-30 14:42] yeehi commented on #1712
According to @b:

[code]

https://meta.getaether.net/t/aether-flagged-as-proprietary-when-installing-deb/480/3?u=highlandgnu

[2020-12-31 00:52] legallyfree opened #1725 "Please dark mode :/"
**Is your feature request related to a problem? Please describe.**
My eyes, I go blind at night when I see the screen, this window is very bright.

**Describe the solution you'd like**
They could place a selection of themes to change the colors to suit one.

**Describe alternatives you've considered**
use the colors used by gtk / kde apps and use those colors / themes

**Additional context**
try t

[2020-12-31 01:05] jessicaschilling commented on #1725
Thanks @legallyfree - it's on our radar for future releases, so thanks for the additional vote.

[2020-12-31 23:21] msfeldstein opened #1726 "Preview link broken if using non default port"
- OS: macOS 10.15.6
 - Version of IPFS Desktop: 0.13.2

**Describe the bug**
If IPFS Desktop is not using the default port (8080) the link to preview it still uses 8080, which is incorrect.  I'm running another service that's holding port 8080 (nginx) so IPFS will use 8081 instead.  I see `"Gateway": "/ip4/127.0.0.1/tcp/8081",` in my config file.  When i click the link below it opens `http://local

[2020-12-31 23:23] jessicaschilling commented on #1726
Thanks - we will look deeper in our next weekly triage.

[2021-01-04 16:50] lidel commented on #1726
I suspect we read port from config during HTTP API client initialization, and we never update it again.

@msfeldstein can you confirm the issue goes away if you fully Quit via menubar and start IPFS Desktop again?

[2021-01-04 17:27] andrew commented on #1647
Here to eco @shaikh-shahid's comment, I'm working on a project that needs pubsub to be enabled and if they are using ipfs desktop, it's is not a friendly user experience.

[2021-01-04 17:40] msfeldstein commented on #1726
No it still persists.
The steps i just took were

- Close IPFS desktop via menubar icon -> quit
- Start up a webserver to hog port 8080 `PORT=8080 yarn start` in a
create-react-app app
- Launch IPFS Desktop
- It asks if i want to use 8081 instead, and i say yes
- Open my pinned files and open one, i still get port 8080
- Close IPFS desktop via menubar icon -> quit
- Launch IPFS Desktop
- There is

[2021-01-04 18:05] jessicaschilling commented on #1721
Issue moved to [ipfs-shipyard/ipfs-webui #1703](https://github.com/ipfs-shipyard/ipfs-webui/issues/1703) via [**ZenHub**](https://www.zenhub.com/)

[2021-01-04 18:05] #1721 closed

[2021-01-04 18:45] jessicaschilling commented on #1726
Just to confirm, I've seen the same behavior @msfeldstein describes above - specifically the same annoyance in doing some sort of webdev work in an application that defaults to port 8080.

[2021-01-04 18:50] jessicaschilling commented on #1722
@lsji07 - one other question. The issue you're describing (admin permissions) should be solved in version 0.13.2 - can you please confirm that you've been able to successfully update to that version? Thank you!

[2021-01-04 19:03] jessicaschilling commented on #1719
@ruifortes - when you say "disabled Chrome extension" do you mean one of the following? And if so, which one?
- Turned "off" IPFS Companion via the "power button" in browser menu (![2020-12-16--18-32-09](https://user-images.githubusercontent.com/157609/102384474-0cc4c600-3fcd-11eb-8936-d1596f22df75.png))
- Disabled IPFS Companion extension entirely via `brave://extensions/`

[2021-01-04 19:06] jessicaschilling commented on #1723
@rafaelramalho19 - are you able to investigate further on your Windows machine? Thank you.

[2021-01-07 09:40] ruifortes commented on #1719
I just turned it off via "power button".
I'm gonna disable the extension now and then get back to you

[2021-01-07 12:25] ruifortes commented on #1719
Same thing with companion extension disabled.
After a while "system interrupts" goes berserk and all send OS to a crawl.
Didn't do anything to IPFS, just started it. Didn't add any files nor even opened the GUI
Trying now without karspersky

[2021-01-07 13:30] ruifortes commented on #1719
ipfs.exe just started to consume lots of resources (disk and cpu) without me having any interaction with it.

[2021-01-07 13:41] ruifortes commented on #1719
and now it stopped... there was some activity "bucker refresh" activity in "ipfs stats dht" but I don't think I have any publically accessable resources

[2021-01-08 03:00] aihy opened #1728 "Text coding error in Chinese"
Text coding error in Chinese

1. Click on Download
![image](https://user-images.githubusercontent.com/16832365/103969249-7ab17700-51a0-11eb-87e9-718363789d3b.png)
2. See two buttons text error
![image](https://user-images.githubusercontent.com/16832365/103969287-8d2bb080-51a0-11eb-93c7-d55382b5bbd8.png)

at macOS Big Sur 11.1
ipfs-desktop 0.13.2

[2021-01-08 11:29] lidel commented on #1719
@ruifortes thank you for debugging this, this is very useful!

You confirm my suspicion that the problem is not originated in IPFS Desktop codebase, but go-ipfs daemon (`ipfs.exe`) running DHT client for a while on Windows 10 platform.

Do you mind closing this issue and opening a new Bug Report in https://github.com/ipfs/go-ipfs/issues/new/choose?   :pray:

[2021-01-08 14:27] ruifortes commented on #1719
Hi.
Running IPFS desktop without Kaspersky took more time but eventually also got the "system interrupts" problem

[2021-01-08 14:30] ruifortes commented on #1719
@lidel sure, I'll post there and link to this issue

[2021-01-08 16:14] lidel commented on #1719
Thanks! Let's continue in https://github.com/ipfs/go-ipfs/issues/7854 with go-ipfs team.

[2021-01-08 16:14] #1719 closed

[2021-01-08 18:05] jessicaschilling commented on #1728
https://github.com/ipfs-shipyard/ipfs-desktop/pull/1729 should fix this.

[2021-01-08 20:10] #1728 closed

[2021-01-11 15:22] jessicaschilling commented on #1710
@smehmetoglu - checking on @johnnymatthews' question above?

[2021-01-11 15:23] jessicaschilling commented on #1717
@tkeriduN Just checking in on @lidel's question above?

[2021-01-11 15:24] jessicaschilling commented on #1722
@lsji07 - just checking in to make sure you were able to successfully update to Desktop version 0.13.2?

[2021-01-11 19:41] rafaelramalho19 commented on #1723
@jjv360 I installed ipfs-desktop through chocolatey and it works fine, I tried multiple aways to downgrade and upgrade to try and reproduce your error but I'm unable to.

Would you mind trying a fresh install of ipfs-desktop and see if that helps?

[2021-01-12 03:02] ValZapod commented on #1724
To play mp4 file over the internet, you must place the moov atom at the beginning of the file for efficient seeking or for it to work at all in many cases.
Something like that `ffmpeg -i input.mp4 -c:a copy -c:v copy -movflags +faststart output.mp4
`

[2021-01-12 20:06] lidel commented on #1647
@andrew I don't think we can enable it by default when its marked as experiment in go-ipfs, but we could prioritize adding the opt-in via menu visible in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1647#issue-702650415.
Would that work for you?

[2021-01-13 00:28] andrew commented on #1647
Yeah not asking for it on by default but for a user to be able to set the option via desktop

[2021-01-14 21:51] NorseGaud commented on #1723
Having this happen on macOS using brew install --cask ipfs

[2021-01-14 21:54] NorseGaud commented on #1723
Confirmed it's also the case with the DMG installer.

[2021-01-14 22:03] lidel commented on #1723
@jjv360 @NorseGaud  sadly we are unable to reproduce, need more information.

Did you do any of below by any chance?

- Set custom `IPFS_PATH` anywhere?
- Moved your repo to different location than the default?

If possible:
1. From the "IPFS icon" menu in your menubar/system tray, go to `Advanced` → `Open Logs Directory`
2. Find `*.log` files
3. Attach `error.log` and `combined.log` to this issue

[2021-01-14 22:05] NorseGaud commented on #1723
[combined.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/5817224/combined.log)

error.log is empty

This is my first time ever looking at IPFS, so I haven't changes anything from defaults :)

[2021-01-14 22:13] NorseGaud commented on #1723
Just got this:
<img width="1439" alt="Screen Shot 2021-01-14 at 5 13 20 PM" src="https://user-images.githubusercontent.com/5896030/104655568-e22d6200-568b-11eb-82e6-ac3a371e114d.png">

[2021-01-14 22:22] lidel commented on #1723
Sadly Desktop logs did not help.

@NorseGaud  Are you able to Quit IPFS Desktop and then start it in terminal, to see if there is any output from go-ipfs daemon that does not end up in logs? I suspect there is an issue related to daemon startup.

Not sure how to do it (not a macOS user),  perhaps something like:

[code]

You should see startup + then logs from go-ipfs similar to this:

[code]

[2021-01-14 22:25] NorseGaud commented on #1723
Yep, actually was already trying that:

[code]

I see that STDOUT, but I can't access the webui at localhost:5001/webui.

[code]

[2021-01-14 22:27] NorseGaud commented on #1723
Oh, it actually looks like ipfs daemon is stuck...
I never see the
[code]

[2021-01-15 14:21] NorseGaud opened #1730 "macOS 11.1: IPFS Desktop stuck with "IPFS is Starting""
- OS: macOS
- 0.13.2 & go-ipfs 0.7.0
- Both DMG install and brew have been tried.

**Describe the bug**

Desktop shows "IPFS is Starting" indefinitely, though the UI does show a failure after a long wait.

This is my first time ever looking at IPFS, so I haven't changed anything from defaults :)
**macOS Firewall is off**

[code]

[combined.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/5

[2021-01-15 14:22] NorseGaud commented on #1723
Moving my comments to https://github.com/ipfs-shipyard/ipfs-desktop/issues/1730

[2021-01-15 14:41] jessicaschilling commented on #1730
The fact that you're experiencing issues running the daemon from the terminal with or without Desktop suggests an issue outside Desktop itself. Since it sounds like you just started using IPFS and therefore don't have a big files repo to preserve, suggest uninstalling as cleanly as possible - both Desktop and any traces Brew might have left in its installation - and starting again. There may also

[2021-01-15 14:44] NorseGaud commented on #1730
I rebooted my laptop and it's working now. *shrug*

[2021-01-15 14:44] #1730 closed

[2021-01-15 14:45] jessicaschilling commented on #1730
Chalking this one up to gremlins. Hope you have fun with IPFS!

[2021-01-16 14:14] bruno-anjos commented on #1683
I think I'm experiencing a very similar error on macOS (Big Sur). I tried both installing via homebrew and using the .dmg. Both behave the same. I click the icon and nothing happens. IPFS Desktop and the daemon start running in the background but no UI. I launched via the terminal and I get this:

[code]

[2021-01-16 15:49] ShadowJonathan opened #1731 "Clicking on anything under "Advanced" in status closes the dropdown view"
- OS: Linux (PopOS 20.10)
- Version of IPFS Desktop: `v2.11.4`

**Describe the bug**
When clicked on the "Advanced" button on the `Status` view, and then clicking (more specifically, releasing mouse1) on anything that pops open via that dropdown, it'll close the Advanced dropdown instantly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open IPFS desktop
2. Go to Status
3. Open "Advanced"
4

[2021-01-16 15:58] jessicaschilling commented on #1731
Thank you, @ShadowJonathan! This is a known issue under https://github.com/ipfs-shipyard/ipfs-webui/issues/1693, so will close this as a duplicate, but thank you for the prioritization - we have been occupied on a large project and will push this up in the queue for when that's done.

Please note that in the meantime, you can edit the API address under the Settings screen.

[2021-01-16 15:59] #1731 closed

[2021-01-16 16:02] ShadowJonathan commented on #1731
oh, sorry for the duplicate then, i wasn't aware that was a seperate project, i searched for it on here before i posted it, but apparently i was in the wrong spot, then

thanks for marking as duplicate! i'll follow and sub to the webui issue

[2021-01-16 16:07] jessicaschilling commented on #1683
@bruno-anjos This looks like it may be something different. Can you please open as a separate issue and we will look more closely in our next triage? Also, any other info you can provide would be helpful, like:
- is this a brand new install or an upgrade?
- does it get as far as adding the cube-logo menu to your top system menubar?
- if you do see that menu, there is an item for opening logs. Can

[2021-01-16 19:57] bruno-anjos commented on #1683
@jessicaschilling of course, i only replied on this issue since it had the two first errors in common and i wasn't sure if it was really the same or not. I'll open a new issue and provide the extra info you requested. Thank you very much

[2021-01-18 21:09] bruno-anjos opened #1733 "No UI when launching IPFS-Desktop"
- OS: macOS
 - Version of IPFS Desktop 0.13.2

**Describe the bug**
Can't start IPFS Desktop. No UI. The daemon starts running in the back so as the IPFS-Desktop process, but nothing happens. Tried both the .dmg from releases and through homebrew.

**To Reproduce**
Steps to reproduce the behavior:
1. Run IPFS-Desktop from the terminal

**Expected behavior**
Start the UI

**Terminal Output**
[code]

[2021-01-18 21:22] jessicaschilling commented on #1733
@bruno-anjos Does the "IPFS cube" icon appear in your menu bar at the top of your screen? Just curious if you're seeing any UI at all.

[2021-01-19 01:12] Unke0m opened #1734 "IPFS API/Updating error"
Trying to get IPFS to run, but app says it could not connect to the IPFS API even after uninstalling and reinstalling.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2021-01-19 01:29] jessicaschilling commented on #1734
@lidel and/or @rafaelramalho19 (because this issue is Windows), can you please take a quick look? Thank you!

[2021-01-19 09:56] bruno-anjos commented on #1733
@jessicaschilling yes it does

[2021-01-19 10:02] bruno-anjos commented on #1733
Ok so after digging a bit I figured that I can open the status or the files through the menu bar icon and that indeed opens the UI, but it seems counter intuitive that when launching the application it doesn't open the UI. I'm not sure if this is the desired behaviour.

[2021-01-19 16:25] andrew commented on #1647
Opened a pull request to add the pubsub option: https://github.com/ipfs-shipyard/ipfs-desktop/pull/1735

If that goes well then I'll open another with the automatic GC option.

[2021-01-19 17:19] writingpoli opened #1736 "Error Report: Error: spawn npm.cmd ENOENT"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2021-01-19 18:51] jessicaschilling commented on #1733
@bruno-anjos FWIW, you can set Desktop to automatically open the UI on launch (I'm on a Mac, so forgive any visual differences in this screenshot):
![image](https://user-images.githubusercontent.com/1507828/105079250-65640480-5a4c-11eb-8ddc-ff8bbb2ba22d.png)
Thanks for sharing your thoughts on default behavior for this setting. We're currently evaluating a number of UI details in IPFS Desktop, so

[2021-01-19 18:51] #1733 closed

[2021-01-19 18:59] jessicaschilling commented on #1736
@writingpoli Can you please describe what you were trying to do when this error happened? Are you still able to use Desktop?

[2021-01-19 19:35] writingpoli commented on #1736
I just clicked npm on IPFS Desktop and this is the result. May need to add software, but thought I'd share the error message.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, January 19th, 2021 at 1:00 PM, Jessica Schilling <notifications@github.com> wrote:

[2021-01-19 21:05] jessicaschilling commented on #1736
Thanks - if you're trying to enable the "npm on IPFS" function (see screenshot for location, pardon that I'm on a Mac so the UI is slightly different), your OS will prompt you to confirm whether you'd like to install the `ipfs-npm` package locally. Looks like the error you experienced may have happened upon clicking 'Cancel' - I'll close this issue on that assumption, but if you have problems enab

[2021-01-19 21:05] #1736 closed

[2021-01-19 23:22] jessicaschilling commented on #1723
@jjv360 - per @rafaelramalho19's comment above, would you mind trying a fresh install of ipfs-desktop and see if that helps?

[2021-01-19 23:41] jessicaschilling commented on #1734
This is actually a duplicate of https://github.com/ipfs-shipyard/ipfs-desktop/issues/1723 - will close this issue for efficiency.

[2021-01-19 23:41] #1734 closed

[2021-01-19 23:41] jessicaschilling commented on #1723
Note that https://github.com/ipfs-shipyard/ipfs-desktop/issues/1734 is a duplicate error under Windows.

[2021-01-19 23:42] lidel commented on #1647
Two thoughts:
- We should keep pubsub items under Experiments section (its still listed as an experiment in go-ipfs docs)
- There is a separate experiment called  "IPNS over PubSub" ([docs](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#ipns-pubsub)),  but I think it should this be a separate flag, as it comes with additional overhead (afaik subscriptions are not purged)

[2021-01-20 06:29] gimyjendirx opened #1737 "Hi"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-20 12:06] bruno-anjos commented on #1733
Oh my god I'm so sorry 🤦 . I didn't understand this was not supposed to be a default config. As a user, I believe the behaviour is a bit misleading. In my case it was even worse because, like you, I'm a macOS user and I have Dozer to hide icons in my menu bar, so the IPFS icon actually didn't appear. I understand that the menu bar icon is indeed referenced in the README (multiple times) but I stil

[2021-01-20 14:11] jessicaschilling commented on #1737
Looks like this may have been opened by mistake.

[2021-01-20 14:11] #1737 closed

[2021-01-20 18:42] jessicaschilling opened #1741 "Default "Open Web UI at Launch" to on for all OSes"
Suggesting that we change the default setting of `Preferences`->`Open Web UI at Launch' to `true` across all OSes. Right now we make this so for Linux, since some desktop envs don't have a tray for our "cube menu" to live in. However, this doesn't account for users on other OSes who may have extensions for decluttering system menus/trays, and thus have no initial "way in" to Desktop upon install.

[2021-01-20 18:43] jessicaschilling commented on #1733
@bruno-anjos Don't apologize! You bring up a really good point. Just opened https://github.com/ipfs-shipyard/ipfs-desktop/issues/1741 if you'd like to keep an eye on it. 😊

[2021-01-22 07:20] jjv360 commented on #1723
Sorry for the delay! I have uninstalled ipfs-desktop via chocolatey and installed 0.13.2, 0.13.1, 0.13.0 versions manually and they all get stuck the same way. I don't have a IPFS_PATH environment variable set. I deleted the logs and then started the app again, and when it got stuck error.log was empty, and combined.log showed this:

[code]

Pressing "Check for Updates" still crashes with that `ct

[2021-01-22 13:46] rafaelramalho19 commented on #1723
The `Pressing "Check for Updates" still crashes with that ctx.manualCheckForUpdates is not a function error as well.` part sounds especially weird, since I'm able to click the button in both my windows machines without any errors.

Also looking at the codebase there shouldn't really be an issue with the manual check for updates...

Are you able to provide us with your configuration file?
![image](

[2021-01-22 13:54] andrew commented on #1647
PRs for the other to menu items mentioned here: https://github.com/ipfs-shipyard/ipfs-desktop/pull/1739 and https://github.com/ipfs-shipyard/ipfs-desktop/pull/1740

[2021-01-22 20:29] bluelovers opened #1743 "wrong i18n"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

![image](https://user-images.githubusercontent.com/167966/105541914-7ace7c80-5d33-11eb-9c13-76cb2e16983e.png)

![image](https://user-images.githubusercontent.com/167966/105541890-730ed800-5d33-11eb-9cf9-3ac53565ac65.png)

**Describe the bug**

![image](https://user-images.githubusercontent.com/167966/105541820-52df1900-5d

[2021-01-22 20:38] jessicaschilling commented on #1743
This was fixed in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1729 and will be included in the next release. Thanks!

[2021-01-22 20:38] #1743 closed

[2021-01-22 23:02] ygboucherk opened #1744 "I tried adding ipfs to path (for running daemon)"
I had an error that said daemon wasn't running, so I tried adding ipfs to path for adding it to CLI, but I got this error.

If it's hard to fix, I suggest adding an in-gui method for launching daemon !

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.9.7
- **Electron Version**: 6.0.12
- **Chrome Version**: 76.0.3809.146

**Error**

[code]

[2021-01-23 00:33] jessicaschilling commented on #1744
We'll go over this in our next triage session, but any other details you could provide could be great - namely how you went about adding IPFS to path? What exactly did you do?

[2021-01-23 07:59] jjv360 commented on #1723
I've tried the same install process (via chocolatey) on a virtual machine and it worked fine, so it's definitely something wrong on my machine only...

However I did notice that if you click Check for Updates during the 5 or so seconds that "IPFS is Starting" you do get the same crash.

Is there a way to see the full commandline to ipfs.exe that IPFS Desktop is trying to run? Then I can try run it

[2021-01-23 08:07] jjv360 commented on #1723
I just noticed `ipfsOnPath` was `false` on my own machine but `true` on the virtual machine... I changed it to `true` on my own machine but it made no difference...

[2021-01-23 13:39] UnKnoWn-Consortium commented on #1723
I have encountered the same issue. The desktop app stuck at the starting loop unless I manually start an IPFS daemon at CLI. It appears the desktop app fails to invoke and spawn an ipfs.exe binary.

I have cloned the repo and tried to see if the app has failed to locate the binary. The answer is negative. The app does successfully locate the bundled binary. My current bet is that the `ipfsd-ctl` p

[2021-01-23 13:46] UnKnoWn-Consortium commented on #1723
https://github.com/ipfs-shipyard/ipfs-desktop/blob/6dbfa13bfa0f80c490696818bbb5c4c42aeb22fe/src/index.js#L72
https://github.com/ipfs-shipyard/ipfs-desktop/blob/6dbfa13bfa0f80c490696818bbb5c4c42aeb22fe/src/index.js#L73

The startup process is stuck at the `setupDaemon` right before `setupAutoUpdater`. The method `manualCheckForUpdates` is exactly defined at `setupAutoUpdater`. So I guess it is not

[2021-01-23 19:20] UnKnoWn-Consortium commented on #1723
Okay further investigation suggests it is a rather complicated matters as there are a couple of things interleaving with each other...

Before the `start` method of the `ipfsd-ctl` controller instance is called, a `checkPorts` function is called to determine if the ports required by ipfs are available.

https://github.com/ipfs-shipyard/ipfs-desktop/blob/6dbfa13bfa0f80c490696818bbb5c4c42aeb22fe/src

[2021-01-23 20:06] ygboucherk commented on #1744
I wanted to enable daemon for contributing to IPFS. So I wanted to add ipfs to path for running the `ipfs daemon` command !

[2021-01-23 20:11] UnKnoWn-Consortium commented on #1723
Okay. Now, with the `checkIfAddrIsDaemon` finally resolving, the program proceeds and it determines that my setup needs an alternative port and offers me 5002 in the following prompt which is the expected behavior.

![2021-01-24_032117](https://user-images.githubusercontent.com/9733856/105611903-43270980-5df3-11eb-82f9-d8a6b6b9f5b4.png)

I clicked the "Use port 5002 instead". But the app is still

[2021-01-23 20:21] UnKnoWn-Consortium commented on #1723
@jjv360 I think you can try checking if the port 5001 is occupied by other application. If yes, maybe you can try changing the `config` and `api` file in .ipfs folder at your home folder and see if it works. Good luck.

[2021-01-24 10:22] jjv360 commented on #1723
Yes, thank you so much! I have AirServer running which also uses port 5001, if I close that then IPFS Desktop starts without any issues. I changed those files to port `5005` and now I can run both apps at the same time as well.

I did have to change IPFS Companion's settings to that port as well (the Chrome extension) but it seems to be working fine...

[2021-01-24 13:29] promeneur opened #1745 "add a dark theme or better use the system theme"
Please add a dark theme or better use the system theme.

Thanks

openSuse 15.2
kde apps 20.12.1
plasma 5.20.5
frameworks 5.78.0

[2021-01-24 13:57] RubenKelevra commented on #691
Flatpak would be nice!

[2021-01-24 14:25] jessicaschilling commented on #1745
Thanks - this is already open upstream in https://github.com/ipfs-shipyard/ipfs-webui/issues/1702, so closing to avoid duplication.

[2021-01-24 14:25] #1745 closed

[2021-01-24 16:55] NatoBoram commented on #691
Looks like I was completely ignored even thought `winget` was added to the list. Here's a reminder that I commented.

It's important to not discriminate package managers. If this issue is not taken seriously, then please consider closing it.

[2021-01-24 17:17] karawitan commented on #1311
Please tell how to reproduce the issue

[2021-01-24 17:39] hacdias commented on #691
@NatoBoram added to the list!

[2021-01-24 19:53] ojej opened #1746 "fedora"
I need fedora packahe and redhat

[2021-01-24 20:40] jessicaschilling commented on #1746
You can see full information on install instructions for various operating systems and what package managers are currently supported here:

https://github.com/ipfs-shipyard/ipfs-desktop/issues/691

https://docs.ipfs.io/install/command-line/

[2021-01-24 20:40] #1746 closed

[2021-01-24 22:09] duc811997 opened #1747 "Bug report"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scre

[2021-01-24 22:10] jessicaschilling commented on #1747
Looks like this may have been opened by mistake. Please feel free to file an issue if not.

[2021-01-24 22:10] #1747 closed

[2021-01-25 04:12] jayenashar opened #1748 "ERR_STREAM_DESTROYED on first launch"
Please describe what you were doing when this error happened.
- installed ipfs-desktop from debian deb
- ran ipfs-desktop from command line
- maybe hit ctrl-z, ran `bg`, and closed the terminal?  not really sure but found this old issue so maybe i did: #1255
- ipfs desktop seemed to be running fine.  closed it with alt+f4
- saw an error message (was probably behind ipfs desktop.  was probably not

[2021-01-25 04:15] jessicaschilling commented on #1748
Are you able to run Desktop successfully?

[2021-01-25 04:19] jayenashar commented on #1748
yes.  it seemed to be running fine when i saw the error, and it is running fine after i started it again.  i'm not sure why reporting the error caused it to exit.

[2021-01-25 04:20] jessicaschilling commented on #1748
Strange - will discuss in our next triage, but glad you're up and running.

[2021-01-25 14:44] #1647 closed

[2021-01-25 15:27] #1723 closed

[2021-01-25 16:29] jessicaschilling commented on #1726
Note from triage: purge cache of local gateway port when changing/saving config is likely to solve this.

[2021-01-25 16:34] rafaelramalho19 commented on #1744
@ygboucherk if I understand correctly, you replaced your whole windows variable paths to add ipfs and you removed powershell from it?

It doesn't make much sense that powershell.exe is not available in your windows machine.

Can you specify what steps you followed and what caused this error?

[2021-01-25 16:40] jessicaschilling commented on #1722
Closing due to inactivity, but feel free to open if needed.

[2021-01-25 16:40] #1722 closed

[2021-01-25 16:41] jessicaschilling commented on #1710
Closing due to inactivity, but feel free to open if needed.

[2021-01-25 16:41] #1710 closed

[2021-01-25 16:41] ygboucherk commented on #1744
I didn't remove powershell from path, and it's running perfectly from `powershell` command, and I almost never use powershell (I use CMD)

[2021-01-25 16:42] #1748 closed

[2021-01-25 16:42] ygboucherk commented on #1744
And I tried adding it to path from GUI button

[2021-01-25 16:42] ygboucherk commented on #1744
Without manually editing `PATH`

[2021-01-25 16:42] jessicaschilling commented on #1717
Closing due to inactivity, but feel free to re-open if necessary.

[2021-01-25 16:42] #1717 closed

[2021-01-25 17:02] rafaelramalho19 commented on #1744
Alright, thanks for clearing that up. Apparently it can happen that you don't have powershell in the path.

Can you try following these steps and try again?

[code]

[2021-01-25 18:00] jessicaschilling commented on #691
@NatoBoram - note that Scoop has been listed in the docs at https://docs.ipfs.io/install/ipfs-desktop/#package-managers for a while now. Will update CLI instructions per your comment under https://github.com/ipfs/ipfs-docs/pull/615.

[2021-01-25 19:14] UnKnoWn-Consortium commented on #1723
@jessicaschilling I think you had better take a look at the two issues I identified. Otherwise they will keep coming back and haunt other users. They are specifically:
1. Promise returned by `checkIfAddrIsDaemon` function at `config.js` does not resolve when the target address is occupied by another service that may or may not be responding to the test POST request; and
2. Selecting an alternative

[2021-01-25 19:30] jessicaschilling opened #1749 "Potential hang on "IPFS is Starting""
Per @UnKnoWn-Consortium, two conditions exist that can result in Desktop hanging on "IPFS is Starting" - original issue is https://github.com/ipfs-shipyard/ipfs-desktop/issues/1723 for background:

1. Promise returned by `checkIfAddrIsDaemon` function at `config.js` does not resolve when the target address is occupied by another service that may or may not be responding to the test POST request; a

[2021-01-25 19:31] #1671 closed

[2021-01-25 19:31] jessicaschilling commented on #1723
Apologies - you got there before I did. Thanks for the tidy summarization. Issue is https://github.com/ipfs-shipyard/ipfs-desktop/issues/1749.

[2021-01-25 19:54] ygboucherk commented on #1744
Okay, thanks

[2021-01-25 19:58] ygboucherk commented on #1744
but, what's `cmd+q` ?
I'm on windows, not on a mac !

[2021-01-25 19:58] ygboucherk commented on #1744
Should I edit registry (with `regedit`) ?

[2021-01-25 23:38] lidel commented on #1749
## (1)

It  should  be mitigated by fix from  https://github.com/ipfs-shipyard/ipfs-desktop/pull/1750 where I added 3s timeout for POST request used for port testing.
  - Thank you  @UnKnoWn-Consortium, info from https://github.com/ipfs-shipyard/ipfs-desktop/issues/1723#issuecomment-766165256 saved us a lot of time :raised_hands:
  - It sounds like some Windows firewall thingy swallowing request w

[2021-01-26 02:13] UnKnoWn-Consortium commented on #1749
@lidel
Oh yeah. I think I may have killed the daemon process manually a few times to test and investigate the issue. Aha mystery solved. On the other hand, I am wondering, will it disrupt the lifecycle of the .ipfs folder or the daemon if a cleanup script that runs when the app starts up is added?

[2021-01-26 13:21] ojej commented on #1746
fedora nie istnieje na tej liści. pod adresem https://docs.ipfs.io/install/command-line/
nie ma informacji o fedorze. sama nie przeczytałaś a podajesz link.

[2021-01-26 15:01] rafaelramalho19 commented on #1744
Sorry, I meant CTRL + Q (or just press the windows icon for the search to activate)

[2021-01-28 04:17] amackenzie opened #1751 "Change default gateway for shareable links?"
**Is your feature request related to a problem? Please describe.**
Currently, the shareable links default to using ipfs.io to resolve the content. It would be nice if we were able to set which gateway we'd like to use (whether another public gateway or our own).

**Describe the solution you'd like**
Ideally, there's a box somewhere I can enter a gateway URL to be used whenever I copy from a sharea

[2021-01-28 19:28] lidel commented on #1751
This is a good idea.

- MVP:  define default gateway URL in the config file (`src/common/store.js`)  and use value from the  config when copying link
- Better: allow user to set value in config via UI (prompt for gateway URL + validate it is correct by loading test CID and comparing payload)

I'm happy to review a PR if someone wants to take a stab at this.

[2021-01-28 19:32] jessicaschilling commented on #1751
@amackenzie In the meantime, you can specify public gateway (for your own fallback, and for shareable links) in [IPFS Companion](https://github.com/ipfs-shipyard/ipfs-companion)'s prefs.
![image](https://user-images.githubusercontent.com/1507828/106188840-b8cd0580-6164-11eb-9934-868a51108172.png)

[2021-01-28 19:44] jessicaschilling commented on #1751
(moving to ipfs-webui repo, since this work would happen upstream)

[2021-01-29 15:25] tkeriduN commented on #1717
Sorry I've been so slow to try this. I did it now and it works! Let's hope it stays working. If not I'll try this again :)

[2021-01-29 15:36] jessicaschilling commented on #1717
@tkeriduN Thanks for the detailed info! This will be helpful for future reference. Glad that you are back up and running!

[2021-01-29 17:03] lidel opened #1753 "Apple Notarization Weltschmerz"
Notarization fails with the usual message:

[code]

The https://appstoreconnect.apple.com/agreements/#/ page has Free Apps agreements marked as green and Active. AFAIK we don't have any Paid Apps..  ¯\_(ツ)_/¯

Emailed Apple asking why is notarization failing:

:no_mouth:
(will comment below if any updates)

----

[![](https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Cutting_the_Stone_%28B

[2021-01-30 13:53] Sky2883 opened #1754 "brave"
support

[2021-01-30 14:39] jessicaschilling commented on #1754
We don't use GitHub for support, but you can get info and ask questions here:
https://docs.ipfs.io/install/ipfs-companion/ for info
https://discuss.ipfs.io for forums

[2021-01-30 14:39] #1754 closed

[2021-02-01 11:01] arturios opened #1755 "Error with proxy?"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2021-02-01 19:02] jessicaschilling commented on #1755
What were you doing when this error happened?

[2021-02-07 10:41] hardcore-sushi commented on #1349
For Linux releases, it would be great to sign binaries with a PGP key. You could still use github or amazon but authenticity will be guaranteed. The PGP key could be retrieved from ipfs.io, keyservers, or directly on IPFS (available via a gateway).

[2021-02-07 20:19] insign commented on #165
ARM looks like a trend. Trying to run in my Pi4. Maybe from souce. Just saying that this is important.

[2021-02-11 01:29] #1741 closed

[2021-02-13 01:09] sutartmelson commented on #1312
I spent some time working on this. The primary hurdle being, as discussed in https://github.com/electron/electron/issues/12633#issuecomment-381872869 and specified in the [electron docs](https://www.electronjs.org/docs/api/menu-item#menuitemlabel), menu labels cannot be dynamically changed.

I believe a workaround might be rebuilding the menu each time the peer count is pulled, but I assume rebuil

[2021-02-13 01:13] jessicaschilling commented on #1312
A tooltip alone would be better than nothing 😊 as long as it's not too expensive ...

@lidel, any thoughts?

[2021-02-13 01:56] lidel commented on #1312
The tooltip is not worth  it imo: rebuilding menu is not really much more work than the polling itself (sending HTTP request to go-ipfs and parsing response), so if we poll, then it is ok to rebuild menu.

But IPFS DEsktop is already heavy, and I would like to avoid constant polling for a value that the user will see maybe once a day, or once a week.

@sutartmelson are we able to rebuild menu afte

[2021-02-14 11:20] chrisdebian commented on #678
Rather than looking at Desktop Environments (DEs), would a better approach be to look at the most used File Managers, as that's what this issue pertains to? We can then raise feature requests against each file manager, to incorporate this functionality. As of 14 Feb 2021, this looks like a fairly representative list of most used file managers:

https://www.ubuntupit.com/linux-file-manager-reviewed

[2021-02-15 09:29] jingyuexing opened #1760 "Installation failed on windows?"
- OS: WINDOWS
 - Version of IPFS Desktop 0.12.2,0.13.2

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Double-click the installation package
2. next (Administrator install or just install as yourself)
3. SEE ERROR(the message is **'Installation aborted'**)

**Expected behavior**

**Screenshots**
I![图片](https://user-ima

[2021-02-15 15:21] jessicaschilling commented on #1760
Hi @jingyuexing - requesting that you please take this question to the forums at https://discuss.ipfs.io/c/help/13. If this uncovers a bug in IPFS Desktop itself, we can re-open this issue. Thank you!

[2021-02-15 15:21] #1760 closed

[2021-02-17 19:22] dwebfan commented on #1576
same here, seems like ipfs can not start after upgrading to the latest version at MAC OS

[2021-02-18 07:06] kidcdf commented on #1587
great, solve it!

[2021-02-18 13:55] Matthiasc opened #1761 "fail to start"
installing IPFS-Desktop-Setup-0.13.2 successfully and starting the app right after.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2021-02-18 13:59] jessicaschilling commented on #1761
@Matthiasc - suggesting that it may be better to take this issue to the forums at discuss.ipfs.io for more active troubleshooting, as core team members are diverted at the moment and may not be able to troubleshoot quickly. Thank you!

[2021-02-18 22:23] lidel commented on #678
@chrisdebian sadly I am not familiar with graphical FMs to advise here, but if you want to look into this, I believe each file manager would have to somehow:

1. Detect that IPFS Desktop is installed  (check if  its `.desktop` file present or something)
2. If present, then add the option to "Import to IPFS" that executes `ipfs-desktop --add="/path/to/file.jpg"`

[2021-02-19 16:37] #1662 closed

[2021-02-19 18:22] lidel opened #1762 "0.14.0-rc1 it fails to start on Windows 10"
@mvdan reported  0.14.0-rc1 it fails to start on Windows 10:

[2021-02-19 18:27] jessicaschilling opened #1763 "(Mac) Force Files screen refresh when clicking on drag/drop success notification"
_Note: Only tested on Mac, so not sure about impact on other OSes._

To reproduce problem:
- Drag/drop multiple items onto the MacOS menubar icon
- Wait until the "click here to view your files" notification pops up
- Click it and get sent to the Files screen, which doesn't yet reflect the existence of the new files even though they're there. Refreshing or clicking away/back from Files screen show

[2021-02-20 20:29] AbakumovAlexandr opened #1764 "Open app window with double-click on tray icon"
Usually, single or double-click on a tray icon opens the main app window.

**Describe alternatives you've considered**
With IPFS Desktop to open the app window, we have to open a tray icon menu and click on a certain item.

Can we have the same behavior in IPFS Desktop: when double-clicking on the tray icon - open the app window on the last 'activity' for faster access to the app via the tray icon

[2021-02-22 16:24] promeneur opened #1765 "Automatically detect/update if local gateway port changes in config"
**Describe the bug**
when ipfs local gateway changes the port 8080 to 8081 then FF ipfs companion does not change port 8080 to 8081

**To Reproduce**
Steps to reproduce the behavior:
1. launch vlc using port 8080 for remote control
2. launch ipfs-desktop
3. ipfs-desktop offers to change to 8081
4. i accept
5 i launch FF then i click on ipfs companion
6. i see that local gateway port is still 8080

[2021-02-23 16:07] lidel commented on #1764
The behavior depends on platform. Some patters are only valid on Windows or Linux, but not macOS.

If someone wants to adjust behavior on specific platform, PRs welcome!
Just make sure to familiarize yourself with limitations listed on https://www.electronjs.org/docs/api/tray

[2021-02-23 16:16] lidel commented on #1764
Actually, this may be easy to clean up as part of #1762.
I'll look into this.

[2021-02-23 16:50] lidel commented on #1749
I believe that would work, as long the script implements heuristic described in https://github.com/ipfs-shipyard/go-ipfs-desktop/issues/3#issuecomment-771789008.
We want to do cleanup only when multiaddr in  `$IPFS_PATH/api` is truly down.
If someone submits PR I'll be happy to review.

[2021-02-23 17:26] AbakumovAlexandr commented on #1764
I'm talking about Windows. Thank you!

[2021-02-23 19:22] #1762 closed

[2021-02-23 19:22] #1764 closed

[2021-02-23 20:39] lidel commented on #1761
I am afraid the only fix here is to find `IPFS Desktop/config.json` and manually set:
[code]
We will be deprecating this feature (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1768), if you want `ipfs` on your `PATH`   follow https://docs.ipfs.io/install/command-line/

[2021-02-23 20:39] #1761 closed

[2021-02-23 20:39] lidel commented on #1301
I am afraid the only fix here is to find `IPFS Desktop/config.json` and manually set:
[code]
We will be deprecating this feature (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1768), if you want `ipfs` on your `PATH`   follow https://docs.ipfs.io/install/command-line/

[2021-02-23 20:39] #1301 closed

[2021-02-23 20:39] lidel commented on #1694
I am afraid the only fix here is to find `IPFS Desktop/config.json` and manually set:
[code]
We will be deprecating this feature (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1768), if you want `ipfs` on your `PATH`   follow https://docs.ipfs.io/install/command-line/

[2021-02-23 20:39] #1694 closed

[2021-02-23 20:41] lidel commented on #1755
I am afraid the only fix here is to find `IPFS Desktop/config.json` and manually set:
[code]
We will be deprecating this feature (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1768), if you want `ipfs` on your `PATH`   follow https://docs.ipfs.io/install/command-line/

[2021-02-23 20:41] #1755 closed

[2021-02-23 20:52] lidel commented on #1712
Thank you @yeehi, sounds like this is not something we can fix in IPFS Desktop,  this needs to be tackled upstream.

[2021-02-23 20:52] #1712 closed

[2021-02-23 21:08] lidel commented on #1713
I believe this was caused by the bug fixed in https://github.com/ipfs/js-ipfsd-ctl/pull/554
We bumped `ipfsd-ctl` to new version in https://github.com/ipfs-shipyard/ipfs-desktop/pull/1735#pullrequestreview-571756458
and now restarting multiple times and switching back and forth seems to work as expected.

I am closing this, assuming it will be fixed in next release (0.14.0)

[2021-02-23 21:08] #1713 closed

[2021-02-23 21:11] #1763 closed

[2021-02-23 21:13] lidel commented on #1744
I am afraid the only fix here is to find `IPFS Desktop/config.json` and manually set:
[code]
We will be deprecating this feature (https://github.com/ipfs-shipyard/ipfs-desktop/pull/1768), if you want `ipfs` on your `PATH`   follow https://docs.ipfs.io/install/command-line/

[2021-02-23 21:13] #1744 closed

[2021-02-24 01:11] lidel commented on #1764
@AbakumovAlexandr please update to 0.14.0 and let us know if the double-click behavior is correct.

[2021-02-24 10:13] bertrandfalguiere opened #1770 "Automatic upgrade unpins the app from Windows taskbar"
- OS: Windws 10 Pro
 - Version of IPFS Desktop update from 0.13.2 to 0.14.0

**Describe the bug**
I pinned the IPFS-Desktop to the Windows taskbar at the bottom for easy access:
![image](https://user-images.githubusercontent.com/8818223/108983745-762d1900-768f-11eb-862a-a31b9c0cc24b.png)

When upgrading to 0.14.0, the shortcut was removed from the taskbar.

Using the desktop shortcut :

![image](h

[2021-02-24 15:17] lidel commented on #1770
This is an upstream bug either in electron (we updated from 9.x to 11.x) or electron-builder (because of its track record).

Based on  https://github.com/signalapp/Signal-Desktop/issues/2529, https://github.com/electron-userland/electron-builder/issues/2514, https://github.com/electron-userland/electron-builder/pull/5312 I assume this was fixed  in electron-builder, and future releases should not

[2021-02-24 15:17] #1770 closed

[2021-02-24 17:18] AbakumovAlexandr commented on #1608
Not sure if it's due to the same issue - let me know if I'd have to create a separate one.

- > IPFS Desktop Version: 0.13.2
- > OS: Windows 10

I'm getting an error when going to `right click on the tray icon` -> `About` -> `Check for updates`:

![image](https://user-images.githubusercontent.com/6968009/109038492-cad59180-7699-11eb-94b1-fddee5f37bae.png)

I actually have Internet on my computer,

[2021-02-24 17:47] AbakumovAlexandr commented on #1764
@lidel Thank you double click is working!

However, for me there are still 2 minor issues:
1. Double click always opens the app on the `STATUS` screen. It would be great if it would open it on the last screen I was on before closing the window.

2. Single click with left mouse button still opens the context menu even when doing double click. So, the first left click quickly opens the menu until th

[2021-02-25 00:05] lidel commented on #1764
@AbakumovAlexandr Thanks! Do you mind filling those as two new issues? :pray:

[2021-02-25 01:43] AbakumovAlexandr opened #1771 "Open app on a last used screen"
**Describe the solution you'd like**
Double click on pp's tray icon always opens the app on the `STATUS` screen.

It would be great if it would open it on the last screen it was on before closing the window.

It would be even nicer if the app started on the last screen which was opened before quitting the app.

[2021-02-25 01:53] AbakumovAlexandr opened #1772 "Ignore single left click on tray icon"
- OS: Windows
 - Version of IPFS Desktop: 0.14.0

**Describe the bug**
After implementing opening of app's window on a double click on tray icon, a single click with left mouse button still opens the context menu even when doing double click. So, the first left click quickly opens the menu until the second left click is done.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a left click on

[2021-02-25 01:55] AbakumovAlexandr commented on #1764
@lidel  Sure, I'm happy to do so. Please see ##1771 and ##1772.

[2021-02-25 02:14] yagamiraku opened #1773 "failed update: failed to find latest fs-repo-migrations: net/http: TLS handshake timeout"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-02-25 08:38] apunkt opened #1774 "ipfs not found after snap updated to latest"
- OS:  Linux Ubuntu 20.04
 - Version of IPFS Desktop 0.14.0

No connection to IPFS-API

**To Reproduce**
Steps to reproduce the behavior:
1. Start IPFS-Desktop

**Expected behavior**
It connects successfully to the IPFS daemin

**Additional context**
Automatic update failed and leads to permission error and missing binaries for ipfs daemong

`2021-01-25T08:28:02.610Z error: [updater] Error: ENOENT

[2021-02-25 13:38] apunkt commented on #1774
Reverting back to 0.13.2 with _snap revert ipfs-desktop_ as a workaround until 0.14 is fixed

[2021-02-27 02:49] lidel commented on #1773
@yagamiraku are you able to attach logs?

1. Find `IPFS Desktop/*.log` files (usually `C:/Windows/Users/$user/AppData/Roaming/IPFS Desktop/`)
2. Attach `error.log` and `combined.log` to this issue.

[2021-02-27 02:56] lidel commented on #1774
Thank you @apunkt, do you know if anything changed recently in Snap ecosystem?
Our config did not change since 0.13.2:

https://github.com/ipfs-shipyard/ipfs-desktop/blob/0f49825c78c9f4d288d6ca51b9586c39da878789/electron-builder.yml#L66-L74

[2021-02-27 04:26] yagamiraku commented on #1773
[error.log](https://github.com/ipfs-shipyard/ipfs-desktop/files/6053729/error.log)

[2021-02-27 10:23] lidel commented on #1773
Thank you! I see it fails because it is unable to fetch `fs-repo-migrations`:

[code]

I believe this is a new variant of https://github.com/ipfs-shipyard/ipfs-desktop/issues/1576 but ot fails at TLS handshake level.

@yagamiraku
Are you running any firewall/antivirus software than could be responsible for intercepting web traffic?
Or behind something like The Great Firewall of China?

[2021-02-27 10:33] lidel commented on #1576
@dwebfan this new error looks exactly the same as #1773.
Are you running any firewall/antivirus software than could be responsible for intercepting web traffic?
Or behind something like The Great Firewall of China?

[2021-02-28 00:37] djamayaofficial commented on #1774
For what it's worth, I can confirm this issue with the snap package exists on Manjaro Linux as well. A friend and I both had the same exact issue when the update dropped.

I can also confirm reverting fixes it, _AND_ also, **the Appimage appears to work flawlessly** though with the most recent version so that's also a workaround. I'm not sure what the difference is, but appears to be specifically

[2021-02-28 07:51] yagamiraku commented on #1773
Great Firewall, Yes.
I can't open that version URL with out proxy,
Have any way to use socks5 proxy?

Thank you for your patience

[2021-03-01 08:06] apunkt commented on #1774
I am not aware of changes in snap ecosystem. I just experience this problem with this snap on two different systems, both systems run unattended-upgrades.
I also can confirm, that manually upgrading the snap to 0.14.0 will make it work, but also it will stop working again after some time (2-4h) and only reverting it back to 0.13.2 will make it work again.
0.13.2 will however show AGENT: go-ipfs v0

[2021-03-01 15:51] apunkt commented on #1774
Trying to add a file in reverted snap (013.2) through ipfs-desktop or even through API will crash the snap without any line in the error log.
Updating to snap 0.14 and adding a file through ipfs-desktop or via API will make the API inaccessible:

'EACCES: permission denied, unlink '/home/andreas/snap/ipfs-desktop/23/.ipfs/api'

No way to fix this other than reverting back.

[2021-03-02 23:19] lidel commented on #1773
@yagamiraku sadly no built-in socks5 support in ipfs-desktop nor go-ipfs at this time. We are determined to improve the upgrade mechanism, so it does not break for users behind the Great Firewall, but for now you need to fix it manually.

I think the way to fix things for you is to:
1. Download  [fs-repo-migrations_v1.7.1_windows-amd64.zip](https://ipfs.io/ipfs/QmYRLRDKobvg1AXTGeK5Xk6ntWTsjGiHbyNK

[2021-03-03 00:46] exaos commented on #1576
The same error here. I' behind the GFW of China. :-(

[2021-03-03 02:00] yagamiraku commented on #1773
It worked, thank you.

[2021-03-04 13:13] lidel commented on #1576
@exaos please try workaround described in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1773#issuecomment-789294333
(I'm closing this issue as duplicate, lets continue in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1773)

[2021-03-04 13:13] #1576 closed

[2021-03-04 14:09] lidel commented on #1608
@AbakumovAlexandr  Those are separate issues. Please fill a separate one (and write down if you installed as a single user of for all users).

[2021-03-04 14:10] lidel commented on #1608
@devzyf please reopen if you still experience the  issue described in https://github.com/ipfs-shipyard/ipfs-desktop/issues/1608#issue-679875055 with the latest version (0.14.0)

[2021-03-04 14:10] #1608 closed

[2021-03-04 18:42] dwebfan commented on #1576
Neither any firewalls/antivirus software nor GFW

[2021-03-07 09:30] tmladek opened #1777 "A GitHub login dialog pops up; on cancellation, IPFS Desktop announces an update error"
Every once in a while, a random GitHub login dialog pops up. When I cancel it, I get an error from IPFS desktop that updating has failed, with a button for reporting the error that takes me here:

![obrazek](https://user-images.githubusercontent.com/5217341/110255817-f3149880-7f95-11eb-9607-0d3dd6d5e0cc.png)

**Specifications**

- **OS**: win32 (Windows 10)
- **IPFS Desktop Version**: 0.14.0
- **E

[2021-03-08 14:18] lidel commented on #1777
@tmladek please disable NPM on IPFS experiment (via menu or by editing config.json)
It causes issues like one you describe, and is deprecated in favor of https://github.com/forestpm/forest.

[2021-03-08 14:18] #1777 closed

[2021-03-10 12:09] ehyuman opened #1778 "ipfs can't start"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-03-10 12:17] #1778 closed

[2021-03-10 15:22] NatoBoram opened #1779 "IPFS Desktop installs itself at arbitrary location"
- OS: Windows
- Version of IPFS Desktop [e.g. 0.11.1] : 0.14.0

**Describe the bug**
When IPFS Desktop updates, it installs itself at an arbitrary location then adds itself to start-up programs. This causes problems with package managers and users' setup. For example, while I do want the IPFS Desktop entry in the Task Manager, if another one is added at a different location, then there's unexpecte

[2021-03-11 14:22] zerotrzy opened #1780 "please add this music to explore"
Please put music ipfs://bafybeic3g2ot2hucvi5ytrppjo2l6hnj7rp6q3o23mq7ghio554ekojv3e/
to show how easy is play music from ipfs

[2021-03-12 07:42] 0xtrzy commented on #1780
Not only web page as example

[2021-03-12 08:19] ojej opened #1781 "HaikuOS when?"
When Haiku os version?

[2021-03-13 07:57] sp00ck commented on #1781
Good idea.

[2021-03-13 07:59] sp00ck commented on #1780
ipfs is good for big files?
Meybe add small filesystem to desktop browser? for example put album to filesystem like as one mp3 file and mounting this file and play from it?

[2021-03-13 11:27] ojej commented on #1780
sorry ipfs is not for big files. Better use bittorent.
I put 20G file and can receive it from other location

[2021-03-14 10:41] tmladek commented on #1777
@lidel Sorry, what do you mean by "IPFS experiment"? I looked around for an "experimental" version of IPFS Desktop, but couldn't find any. Also, what would be the config.json setting? I tried googling "ipfs config json disable npm" and variations, but found no help either.

Thank you for your response!

[2021-03-15 07:37] arturios opened #1784 "Error at init"
**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-03-17 11:00] davidfsol5 opened #1785 "Error reported by IPFS Desktop"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.13.2
- **Electron Version**: 9.3.2
- **Chrome Version**: 83.0.4103.122

**Error**

[code]

[2021-03-21 02:51] slhodak commented on #1211
I get the "Is an app downloaded from the internet" warning, and click open, and Activity Monitor says the following processes are running, but there is no ipfs window, nor a dot next to the icon in the dock.
ipfs
IPFS Desktop
IPFS Desktop Helper (Renderer)
IPFS Desktop Helper (GPU)

## System
Catalina 10.15.7

I do have two graphics card (one additional) but am not sure if that's related:
NVIDIA G

[2021-03-21 03:04] slhodak commented on #1211
After trying it out, I think I should mention here that I've run IPFS from the command line and it seems to work fine, including the local browser UI.

[2021-03-21 09:45] dragonheadbrother opened #1786 "an error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-03-22 04:08] luismene opened #1787 "M"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scre

[2021-03-24 00:00] nickkeane opened #1789 "Feat: Minimize on Start Option"
The app currently starts up w/ a full window on system startup in Windows 10.
An option/config to minimize to system tray on app launch would be appreciated.

[2021-03-25 05:08] coracobra opened #1790 "problem"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scre

[2021-03-25 17:28] DaBaiTuuu opened #1791 "how to install ipfs on respberry pi3"
how to install ipfs on respberry pi3? Is tt possible to install ipfs desktop on respberry pi? if yes how?

[2021-03-26 13:24] hsanjuan commented on #1507
A discussion about this problem has been started here: https://discuss.ipfs.io/t/error-cannot-acquire-lock-lock-fcntlflock-of-path-to-repo-repo-lock-failed-operation-not-supported/10620/3

This is not an ipfs-desktop issue per se, and it has yet another duplicate here: https://github.com/ipfs/go-ipfs/issues/8005. Thus, closing.

[2021-03-26 13:24] #1507 closed

[2021-03-26 14:35] lidel commented on #1790
No info, closing.
@coracobra please fill contents before you submit your bug report next time.

[2021-03-26 14:35] #1790 closed

[2021-03-28 15:06] bam80 commented on #618
That repo has been archived:

So what's next? Were these efforts continued, and where to track the status now?

[2021-03-29 17:49] pirate commented on #618
I know it's just a drop in the bucket, but I'd be willing to chip in $150 into any kind of gittip/bounty/donation system towards this feature. A mutable FUSE mount for IPFS one of the biggest things I'm waiting for that would allow us to easily integrate IPFS everywhere in our internet archiving stack over at ArchiveBox.io.

[2021-03-30 17:57] lidel commented on #618
IIUC FUSE turned out to be [pretty problematic part of go-ipfs](https://github.com/ipfs/go-ipfs/issues?page=2&q=is%3Aissue+is%3Aopen+fuse),  each platform/filesystem (linux, windows, macos) having own issues, making the entire thing too brittle for production use, and fixing myriad of fuse problems was stealing dev time and burning our devs in the process.  It is unlikely to be fixed any time soon

[2021-03-30 18:07] pirate commented on #618
I have no particular love for FUSE either, NFS/SMB/WebDAV, any mountable mutable filesystem works for me.

[2021-03-31 04:42] Stebalien commented on #1791
(closing as you've asked on discuss.ipfs.io).

[2021-03-31 04:42] #1791 closed

[2021-03-31 05:37] luismene opened #1792 "https://m.facebook.com/login/?next=%2Flaura.santoyo3&refid=17"
Hackeo

[2021-04-01 17:09] 0kalekale opened #1794 "RPM for OpenSUSE Linux"
- OS: OpenSUSE tumbleweed
 - Version of IPFS Desktop UI v2.11.4 Revision 69cd414

**Describe the bug**
A clear and concise description of what the bug is.
The rpm package provided will not install on opensuse because of how the dependecy is named
libuuid on opensuse is libuuid1
nss on opensuse is mozilla-nss

**To Reproduce**
Steps to reproduce the behavior:
1. ```rpm -i {packagename}.rpm```
2. ``

[2021-04-01 17:35] 0kalekale commented on #1794
also here is the rpm package i build after modifying the dependency names

https://ipfs.io/ipfs/QmZgyDf2iyrTfcs2LWeJi8Z9Mz35GHgkPNZraAWzxMy63A

[2021-04-01 21:24] MHRANN opened #1795 "mhrann"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scre

[2021-04-01 23:18] #1795 closed

[2021-04-02 08:39] 547176052 opened #1796 "无法连接到IPFS API"
![image](https://user-images.githubusercontent.com/26636842/113398937-f56de500-93d1-11eb-943c-1d9d05176e9a.png)
无法连接到IPFS API

[2021-04-03 07:18] icreator opened #1797 "bug on load file"
I browse file:
QmRkp4PuZTr7sY6Fc7UVC89A6d7JCXri14VjjB824ZF6Av

then see Info and click Load - then screen set:

![image](https://user-images.githubusercontent.com/5246904/113471568-eafd2b00-9465-11eb-8afe-b37ae402828a.png)

then it frozen ((

I use windows .exe

[2021-04-05 14:55] Stebalien commented on #1796
Please use discuss.ipfs.io for support (and don't file issues in multiple repos).

[2021-04-05 14:55] #1796 closed

[2021-04-07 05:12] MicahZoltu commented on #1656
As an intermediate step, can we get a configuration option added that will allow me to tell IPFS Desktop where to write?  It seems that Electron has no intention of fixing this (going on 5 years open bug with no activity) and IPFS is probably the worst offender if you actively use it and pin with it (I'm looking at 2GB of "cache data" in my .ipfs folder right now).

[2021-04-07 05:17] MicahZoltu commented on #1656
Note: I tried setting `%USERPROFILE%\.ipfs-desktop\IPFS_PATH` to point somewhere else and I also tried setting an environment variable for IPFS_PATH.  In the first case, it just overwrote my `IPFS_PATH` file on startup.  In the second case, it didn't do anything.

[2021-04-07 06:54] MicahZoltu commented on #1656
It seems that after first launch the path is stored in `%APPDATA%/IPFS Desktop/config.json` and reconstituted from there.  Unfortunately, there doesn't appear to be any way to tell it to not write the `.ipfs-desktop` folder to %USERPROFILE%.

[2021-04-08 01:26] DancGo opened #1798 "IPFS-Desktop-Windows启动失败"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-04-08 12:08] bobinson opened #1799 "After selecting to share a pin, there is no way to go back"
- OS: [ Windows 10]
 - Version of IPFS Desktop [ 0.14.0]

**Describe the bug**
After selecting share pins, there is no way to go back

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pins
2. Click on one of the pins - in this case a simple file
3 Click on the right side button to select more options
4. Select the Share Pin option
5. A screen with no options to go back or escape is prese

[2021-04-09 03:21] Mr-Tieguigui opened #1800 "lnstaller integrity check has failed.Common causes includeincomplete download and damaged media. Contact theinstaller's author to obtain a new copy. 完整性检查失败。常见原因包括下载不完整和媒体损坏。联系安装程序的作者获得一个新的副本。"
- OS: [e.g. macOS, Windows, Linux]
 - Version of IPFS Desktop [e.g. 0.11.1]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scre

[2021-04-09 18:44] artiface opened #1801 "Trying to download a file leads to stuck interface"
I'm new to IPFS, just trying to understand how it works, so its very possible I did something incorrectly.

I was trying to download the quick-start file in the pins that were installed with the application.   After I selected download the application goes to just a white screen, and there is no way out.  Even after restarting the application it is now just a white screen.

![2021-04-09 14_35_17-_

[2021-04-12 23:45] king612 opened #1802 "The MacOS security blocker is back"
- OS: Mac
 - Version of IPFS Desktop [e.g. 0.11.1] latest from your website

**Describe the bug**
After following your instructions carefully, running 'ipfs' from the command line, even with sudo, I get the dreaded 'can't run this app because it cannot be verified'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-04-15 08:11] DancGo opened #1803 "IPFS Desktop run fail"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-04-18 06:55] renzhengwei opened #1804 "Failed to modify warehouse storage path 修改仓库存储路径失败"
Sufficient storage space, but failed to modify the warehouse storage path.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-04-18 07:15] renzhengwei commented on #1804
It's solved!
Do not create a new warehouse Path in the IPFs desktop installation directory.
I create a new warehouse Path folder outside the main installation directory, and then modify it successfully.

问题解决了！
不要在IPFS桌面应用的安装目录中创建新的仓库路径。
我在主安装目录外创建了一个新的仓库路径文件夹，然后修改仓库路径成功。

[2021-04-18 07:18] #1804 closed

[2021-04-19 21:51] MysticRyuujin opened #1805 "ipfs cli command missing"
- OS: Linux Mint 10
 - Version of IPFS Desktop: 0.14.0

**Describe the bug**
Disclaimer, first time trying to use any ipfs tools.

First I tried using the AppImage. After running the app I thought I would try to check out the cli, but `ipfs` command was not found. So, I tried to install the `ipfs` tool. First, I tried to install it via snap (yes I have snaps enabled on Linux Mint) but that resulte

[2021-04-19 22:06] MysticRyuujin commented on #1805
I don't know in what order of operations I did to get this fixed, but I think that installing ipfs-desktop from the `deb` put the repo into `~/.ipfs` and now manually installing the go-ipfs binary into `/usr/local/bin` has it working...but I don't know why installing the `deb` didn't include the `ipfs` binary...

[2021-04-20 22:10] slowaways commented on #1789
This is really annoying.
"minimize to system tray on app launch". Yes, please.

[2021-04-20 22:49] mnadeau2021 commented on #1789
I noticed that IPFS services don't get added to the Windows 10 services, if this was done, under Windows services, an administrator could set IPFS services to start at Windows startup and not have to launch the desktop app. So, IPFS should move away from desktop apps and only add IPFS services and use web applications for IPFS display of Status, files, explore, peers and settings.

[2021-04-21 15:26] bes-ptah opened #1806 "unknown error"
Please describe what you were doing when this error happened.

**Specifications**

- **OS**: win32
- **IPFS Desktop Version**: 0.14.0
- **Electron Version**: 11.2.3
- **Chrome Version**: 87.0.4280.141

**Error**

[code]

[2021-04-22 14:47] artemmolotov commented on #1801
Same problem.

[2021-04-22 20:30] lidel commented on #1753
[here we go again](https://github.com/ipfs/ipfs-desktop/pull/1807/checks?check_run_id=2413941867#step:8:644)

[code]